[2020-03-25 09:22] sbueringer commented on #499
@jichenjc can we close this issue?

[2020-03-25 09:23] sbueringer commented on #519
@jichenjc  Can you test if there's an issue with v0.3.0? For me everything works

[2020-03-25 09:23] #487 closed

[2020-03-25 09:26] jichenjc commented on #499
yes, we can close

[2020-03-25 09:26] #499 closed

[2020-03-25 09:32] jichenjc commented on #519
I will test and close it this later

[2020-03-25 09:49] dims commented on #484
@sbueringer yes at least one already released branch and master.

[2020-03-25 09:55] sbueringer commented on #484
@dims Just that I get it correctly, not sure how the release branches are handled in k/k.
There are the following branches:
* master (latest development version)
* release-1.18 (almost released version (1.18 rc))
* release-1.17 latest stable released version

So in this case it would be good to test at least master and release-1.18 in my opinion. The question is if it also makes sense to test rele

[2020-03-25 12:19] dims commented on #484
at this point in time, yes adding jobs for. release-1.17 + release-1.18 + master make sense. As of today when 1.18.0 will get released, so it would be good to make sure CAPO works with 1.17 and 1.18 released versions and master as well

[2020-03-25 12:22] sbueringer commented on #484
Okay thx.

[2020-03-26 12:49] jichenjc opened #525 "AZ usage of v1alpha3"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
my cloud actually have more than 1 az, and I noticed that current behavior is to create vm on random az , I checked cluster-api code and seems their az is try to find in a set of domains then pick fewest one

but openstack az is not such concept as far

[2020-03-26 12:50] jichenjc commented on #525
@sbueringer @ncdc
could you please help to provide some insight? thanks

[2020-03-26 14:30] sbueringer commented on #525
I think Openstack availability zones are just like azs in other clouds and you can use them the same way as failure domain. If you don't want to you can pin the az in the openstackmachinetemplate of the kubeadmcontrolplane.

[2020-03-26 14:36] jichenjc commented on #525
some cloud has az concept and openstack is different to that
https://docs.openstack.org/nova/latest/admin/availability-zones.html
https://www.mirantis.com/blog/the-first-and-final-word-on-openstack-availability-zones/

[2020-03-26 17:58] sbueringer commented on #525
Jup. But as far as I know it depends on your Openstack. Our Openstack availability zones use different physical hosts and locations. So imho you can use azs in Openstack pretty similar to real clouds.

[2020-03-27 04:01] jichenjc commented on #519
# kubectl --kubeconfig kubeconfig get machines
error: the server doesn't have a resource type "machines"
root@jck8s4:~/go/src/sigs.k8s.io/cluster-api-provider-openstack# kubectl --kubeconfig kubeconfig get nodes
NAME                                  STATUS   ROLES    AGE     VERSION
capi-quickstart-control-plane-w2l6d   Ready    master   3m17s   v1.17.1
capi-quickstart-md-0-xljvr            Ready

[2020-03-27 04:20] jichenjc opened #526 "OPENSTACK_CLOUD_CACERT_B64 generate incorrect"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I noticed with cert, my control pane created with failure :

[code]

then checked the content of /etc/cert/cacert and find the format incorrect
[code]

it should be

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will

[2020-03-27 05:19] jichenjc opened #528 "source templates/env.rc contains error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc

[2020-03-27 05:47] sbueringer commented on #519
If you don't pivot the capi control plane to your workload cluster it will stay on your initial cluster (probably kind). That's not a bug 😃

[2020-03-27 05:53] sbueringer commented on #526
Yup that happend because I'm not using and therefore testing without a cacert :)

[2020-03-27 05:54] jichenjc commented on #519
ah.... you are right, I totally forget this :(
thanks for point out

[2020-03-27 05:58] sbueringer commented on #528
If the error is just the call to basename. Can you just replace it with the hardcoded name of the script and check if that was the error?
I don't get this error with:
[code]

[2020-03-27 06:34] jichenjc commented on #528
#529  addressed

[2020-03-27 06:34] #528 closed

[2020-03-27 07:05] jichenjc commented on #525
here's the detail analysis so far:

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/controllers/openstackcluster_controller.go#L294

will get *all* az and return as failureDomain and all az will be marked as ControlPlane

https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha3/cluster_types.go#L213
will not filter any az because all set ControlPlan abo

[2020-03-27 07:10] jichenjc commented on #525
will add doc on how to pin this later with other doc changes

[2020-03-27 07:12] sbueringer commented on #525
@jichenjc see the comment at the PR. I think your requirement is okay. But let's just make it possible to also pin it to multiple AZs not just one of them. So in your case you can pin it to one. In my case I could just 3 out of 5.

[2020-03-27 07:30] #526 closed

[2020-03-30 12:24] jichenjc commented on #519
I can run this
clusterctl init --kubeconfig kubeconfig --config ./out/clusterctl.yaml --infrastructure openstack

after that I can move (still some error , but should be my internal issue)

[2020-03-30 12:24] #519 closed

[2020-04-02 05:07] sbueringer commented on #484
@dims
Test results are now available here: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-openstack#capo-conformance-stable-k8s-master
Job is run twice a day. For now periodic tests are only testing against master. I still have some stability issues which I'm trying to fix (when the tests are run in one specific OpenLab cluster they consistently fail, not sure yet why but looks

[2020-04-02 10:50] dims commented on #484
excellent! thanks @sbueringer !

[2020-04-02 10:51] dims commented on #484
@sbueringer do you have at least 2 worker nodes in that configuration? (looks like the one conformance test failure may be because we need at least 2 nodes)

[2020-04-02 11:00] sbueringer commented on #484
@dims Makes sense. I had them "all" green again but that was with parallel and that's a serial test. I'll add another worker node

[2020-04-03 16:27] #525 closed

[2020-04-06 15:10] AllaeddineEL opened #543 "disableServerTags: true is not working"
/kind bug

**What steps did you take and what happened:**
I'm trying to provision Kubernetes Cluster on Top of our OpenStack Provider, which it doesn't support port tags.
I've disabled the server tags `disableServerTags: true` in the `OpenStackCluster` config and I have no tags in the `OpenStackMachineTemplate`

**What did you expect to happen:**
Create OpenStack cluster without tags

**Anything e

[2020-04-06 19:02] sbueringer commented on #543
@AllaeddineEL Yup looks like you're right:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/services/compute/instance.go#L153-L158

I'm not sure why exactly the disableServerTags flag was added I guess because some version of the Nova API doesn't support tagging. This seems to be the same for Neutron? (I guess ports are added via Neutron)

@jichenjc @hidekazu

[2020-04-06 23:57] hidekazuna commented on #543
@sbueringer  support server tagging is 2.52 which is [documented](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/docs/configuration.md#tagging) 😄
Actually OpenStack Nova REST API Version History said so: https://docs.openstack.org/nova/latest/reference/api-microversion-history.html#id48

[2020-04-07 01:41] jichenjc commented on #543
yes, @hidekazuna is correct,  maybe we need fix this by checking the version
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/manila/manilaclient/builder.go#L114
has some sample

@AllaeddineEL can you help to provide your openstack version?

[2020-04-07 03:32] hidekazuna commented on #543
@jichenjc  If disableServerTags is false, micro version is set to 2.52, Otherwise, no setting:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/services/compute/instance.go#L199-L206

Guarding by disableServerTags is better than checking version.

[2020-04-07 03:48] jichenjc commented on #543
but

seems it doesn't take effect.. need check this @hidekazuna

[2020-04-07 03:55] sbueringer commented on #543
The code I linked (https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/services/compute/instance.go#L153-L158) doesn't handle the disableServerTags, I guess because a port is not a server :). That's why I'm confused. I wasn't aware that ports also need a minimum version (of probably Neutron?) to support tagging.

[2020-04-07 03:59] sbueringer commented on #543
I assume that's the endpoint which is used: https://docs.openstack.org/api-ref/network/v2/?expanded=replace-all-tags-detail#replace-all-tags

[2020-04-07 04:47] AllaeddineEL commented on #543
@sbueringer yes the port is created, I guess the problem is related to tagging of the port as our openstack cloud provider maybe not supports  tagging.
BTW, it's neutron version 2
[code]

[2020-04-07 04:48] hidekazuna commented on #543
@sbueringer Thanks, I misunderstood.

[2020-04-07 05:06] sbueringer commented on #543
So then the question is which neutron version is required to tag ports. Does anybody know how to find out?

[2020-04-07 05:23] hidekazuna commented on #543
standard-attr-tag seems to be introduced in Pike:
https://bugs.launchpad.net/neutron/+bug/1682775

[2020-04-07 05:29] AllaeddineEL commented on #543
I guess it's more related to the neutron API extensions rather than not only to the version as what this link says https://docs.openstack.org/neutron/pike/contributor/internals/tag.html
"The ‘tag-ext’ extension supports subnets, ports, routers, and subnet pools"

[2020-04-07 05:36] sbueringer commented on #543
So I assume that extension is not enabled. Can you ask your provider if they can support tagging? It seems to be a standard feature. I would really like to avoid adding another flag like `disableNeutronTag`

[2020-04-07 05:51] AllaeddineEL commented on #543
@sbueringer yes, I will try to ask about the possibility to enable this extension.
But why would you need to have `disable*Tag` at first place? I guess it will make more sense if there are no tags (explicitly) in the `MachineTemplate` no tags will be created for all resources

[2020-04-08 02:51] jichenjc commented on #543
original code comes from here, from the commit message seems the purpose is to tag all the resources created from cluster api
in practice it only created server with tags but didn't do that for neutron and other stuffs

commit a5ecff518263a0552f3965878593dd5e72ba05fc
Author: Emilio Garcia <iamemilio@users.noreply.github.com>
Date:   Wed Apr 10 10:30:20 2019 -0400

    Clearer tagging UI: Create ta

[2020-04-08 02:54] jichenjc commented on #543
@sbueringer the resource not found usually occur when you post some request t o URL that doesn't exist, this can be true if the API is not eabled or even not implemented..

so how about use same flag to control this logic ?
[code]

[2020-04-08 04:34] sbueringer commented on #543
I think @AllaeddineEL has a point here. Why are we adding these tags at all? We're not really using them we're just setting them. I think there is no need to magically add some tags. So I would propose:

* Only add tags when they are explicitly defined in the cluster or machine resource
* no magical adding of some additional tags
* if somebody wants the flags we're currently adding they can be add

[2020-04-12 07:03] sbueringer commented on #484
@dims Increasing the worker count fixed the issue. So the only remaining problem is that if the tests are run on the wrong OpenLab cluster they don't work. There seems to be a difference in the used CPU (for more details see: https://github.com/theopenlab/openlab/issues/504)

[2020-04-16 10:04] prankul88 opened #544 "Update confugation doc"
/kind documentation

The current doc is not updated to match the needs of CAPI v1Alpha3. For eg, it still refers to example/generate.sh script to generate YAML files. There are prerequisites that are not required anymore.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
-

[2020-04-16 10:04] prankul88 commented on #544
/assign

[2020-04-17 02:33] #544 closed

[2020-04-20 12:29] gdetal opened #547 "Unable to use an existing network and `managedAPIServerLoadBalancer: true`"
/kind bug

**What steps did you take and what happened:**

I created a cluster using:
 - an existing OpenStack network/subnet
 - `managedAPIServerLoadBalancer` enabled

The manifest I use is:

[code]

`192.168.50.180` is an existing _unassigned_ floating address. And `private-net/subnet` are existing Network/Subnet.

Then no load balancer are created and thus the control plane node cannot initiali

[2020-04-20 12:35] jichenjc commented on #547
@gdetal are you planning to fix this by yourselves? or leave to other folks to check?

[2020-04-20 12:36] gdetal commented on #547
@jichenjc I can try to fix it

[2020-04-24 14:10] #547 closed

[2020-04-28 09:06] jichenjc commented on #489
I tried to follow CCMO doc

[code]

[2020-04-28 09:13] jichenjc commented on #489
so I think we need consider move to external cloud provider soon or later

maybe
1) create controller plane with external cloud flag
2) create deployment as external cloud provider in controller plane
3) join controller by using external flag

[2020-04-28 14:29] sbueringer commented on #489
@jichenjc I think we should talk to the main ClusterAPI project how this should be solved and I wouldn't want to implement it in our code. Of course setting the external flags can be done via the CRDs, but not so sure about the cloud controller manager deployments..

[2020-04-29 00:57] jichenjc commented on #489
yes, that's a good suggestion, I will open an issue and discuss there.. thanks

[2020-05-13 06:32] hidekazuna opened #553 "Can not access applications via LoadBalancer"
/kind bug

**What steps did you take and what happened:**
I deployed a web application using LoadBalancer type service on kubernetes cluster deployed by cluster-api-provider-openstack with Octavia. The application can not be accessed via loadbalancer.

**What did you expect to happen:**

The application can be accessed via loadbalancer.

**Anything else you would like to add:**
The application cou

[2020-05-13 06:33] hidekazuna commented on #553
/assign @hidekazuna

[2020-05-13 06:37] jichenjc commented on #553
reasonable suggestion :) so by default we should update security group to honor the ports listed

[2020-05-13 11:17] ITD27M01 opened #554 "AvailabilityZone support for Cinder Volumes and RootVolume when Instance spawned on cinder"
/kind feature

**Describe the solution you'd like**
In the case of real clouds there are multiple availability zones for different services (Nova/Neutron/Cinder). For the consistency provided by cloud services in some datacenter this services are marked by availabilty_zone attribute.

There is no support for availability zones of cinder volumes and as a result we cannot create instances on the cin

[2020-05-13 16:08] ITD27M01 commented on #554
https://github.com/gophercloud/gophercloud/issues/1965

[2020-05-13 17:35] sbueringer commented on #553
Sounds reasonable. Should we make this configurable as the service port range can be customized?

[2020-05-15 00:57] hidekazuna commented on #553
Ideally it should be, but I do not need it currently. I suggest first update with no customization, after that make configurable if some one need it.

[2020-05-15 05:30] sbueringer commented on #553
@hidekazuna Fine for me. We're customizing our nodePort range but we probably won't use the CAPO security groups.

[2020-05-15 05:42] jichenjc commented on #554
are you suggesting cluster-api-provider openstack honor the changes you provided? as I don't fully understand the requirements here..

@sbueringer FYI

[2020-05-22 13:02] ITD27M01 commented on #554
@jichenjc My apologies for the delay. Yes, I would to suggest to allow specify AvailabilitZone for created volume.

[2020-05-25 04:29] jichenjc commented on #554
@ITD27M01 as gophercloud/gophercloud#1965 indicated, there is no way to create volume from choose az when do boot from volume

so please
1) make sure the purpose of using cluster-api-provider-openstack, it's helping you define k8s cluster and it need some input from customer some
2) there is a gap currently in the code, which is you need input the cinder volume ID
https://github.com/kubernetes-sig

[2020-06-09 14:27] eratnch opened #556 "Security Group Rules are not updated"
/kind bug
Cluster API is not able to reach control plane end point of the openstack.

**What steps did you take and what happened:**
I have set up devstack on a VM running in public cloud.
I followed the quick start guide to initialize the and configure my management cluster running on kind.
I used cluster-template-without-lb.yaml to generate the workload manifest.
I had to manually add managedSec

[2020-06-10 05:31] sbueringer commented on #556
If we expose new properties via `clusterctl`, everybody has to set them. There is no such way as optional properties right now (afaik there is some ongoing work). So I'm leaning towards not making everything configurable via env variables right now, if not strictly necessary, as the list of mandatory properties gets longer and longer.

[2020-06-10 08:21] jichenjc commented on #556
is this related to #555 ?

[2020-06-10 12:46] jsen- opened #557 "do not fail deleting router if it does not exist"
/kind bug

**What steps did you take and what happened:**
 - deleted router from openstack
 - deleted cluster

**What did you expect to happen:**
 - CAPO to realize that router does not exist and continue cleaning up remaining resources

**Anything else you would like to add:**
[code]

**Environment:**

- Cluster-api version: v0.3.0
- Minikube/KIND version
- Kubernetes version: (use `kubectl versi

[2020-06-11 01:49] jichenjc opened #558 "BYO security group consideration"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
this comes from
https://github.com/kubernetes-sigs/cluster-api/issues/3174

https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1137

we are creating security groups while we don't know which CNI is used so that the port is unclear
need a way to provide a way to specify

[2020-06-11 01:52] jichenjc commented on #557
just to confirm, the question you are having is the router is created by cluster-api
then you delete the router through openstack API (out of cluster-api control)
then finally when deleting the cluster the delete action failed due to the router is gone?

[2020-06-11 05:54] jichenjc commented on #557
@jsen- which version are you using ?
latest version it has the check here already
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/services/networking/router.go#L177

[2020-06-11 08:17] qvicksilver opened #559 "DisablePortSecurity implementation causes incompatitibily issues"
/kind bug

**What steps did you take and what happened:**
I'm trying to provision Kubernetes Cluster on Top of our OpenStack platform, which does not have the port security extension enabled. However the provider fails to provision the network due to the missing extension.

[code]

**What did you expect to happen:**
Successfully provisioning a working Kubernetes cluster running on our OpenStack pl

[2020-06-11 08:24] jsen- commented on #557
then you delete the router through openstack API (out of cluster-api control)
then finally when deleting the cluster the delete action failed due to the router is gone?

yes

cluster-api version: 0.3.6
openstack provider version 0.3.0

[2020-06-12 05:22] jichenjc commented on #557
@jsen- can you help to add a log at following line
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/78939acc1471c7b53b01b2421e7948f92a757d04/pkg/cloud/services/networking/router.go#L282

and indicate what's the error returned?

I suspect we need do something simliar to
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/ope

[2020-06-12 06:00] AllaeddineEL commented on #543
@sbueringer @jichenjc do you have any update regarding this issue?

[2020-06-12 06:03] hidekazuna commented on #553
In addition to NodePort services,  we need bidirectional BGP and IP-in-IP for calico, and Kubelet API for metrics-server.
FYI

- Cluster API now support only Calico CNI
  https://github.com/kubernetes-sigs/cluster-api/issues/3174

- AWS security groups implementation
  https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/securitygroups.go#L368-L488

[2020-06-12 06:09] hidekazuna commented on #556
I want to make clear your expectation.
If
[code]
, generated security groups are added the instances and creating cluster ended with successfully, right?

[2020-06-12 06:14] hidekazuna commented on #558
If `managedSecurityGroups: false` and create security groups manually and add them to `securityGroups` in yaml, CNI other than Calico would be deployed.

[2020-06-12 18:21] sbueringer commented on #557
@jichenjc Did we even delete the router with 0.3.0: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/v0.3.0/controllers/openstackcluster_controller.go#L110 ?

[2020-06-12 18:22] sbueringer commented on #543
@AllaeddineEL Not really. I assume we're open to contributions for this but nobody implemented it yet

[2020-06-12 18:28] sbueringer commented on #558
Yeah I guess that's always the solution if we don't provide the exact right security groups

[2020-06-14 20:30] eratnch commented on #556
if managedSecurityGroups: true
  disablePortSecurity: false then security groups are created, however they don't get attached to the instances. I further noticed that port 6443 is not opened in the rules of the security groups.

[2020-06-15 01:57] #559 closed

[2020-06-15 02:13] #553 closed

[2020-06-15 02:14] jichenjc commented on #557
@sbueringer @jsen- I am confused... v0.3.0 doesn't have delete Router function
the delete Router function is added after 0.3.0, so how can we have Delete Router failure function at that code... @jsen- please help to check whether you are really using 0.3.0 or some other version
@sbueringer from code line in the log, looks like @jsen- might using latest code, so this might still be a valid bug

thi

[2020-06-15 06:22] hidekazuna commented on #556
@eratnch Opening port 6443 was fixed by #534. Remaining issue is attaching generated security groups to the instances. I am not sure it is by design or not. @sbueringer @jichenjc Is it by design? I want to fix it, if it is OK to fix.

[2020-06-16 05:36] hidekazuna opened #562 "Login to the nodes using the bastion node like AWS"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Securely login to the nodes using the bastion node like AWS.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/accessing-instances.md#accessing-nodes-via-ssh

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2020-06-16 06:15] sbueringer commented on #556
@hidekazuna I would have thought that they are used per default as they are configured in the [template ](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/templates/cluster-template.yaml#L125)

If they are not used for the created VMs, that sounds like a bug to me

[2020-06-16 06:25] hidekazuna commented on #556
@sbueringer [v0.3.0 template](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/v0.3.0/templates/cluster-template.yaml) does not have `securityGroups`. We need bug fix release.

[2020-06-17 04:09] jichenjc commented on #562
if I understand this correctly (I didn't go to AWS implemention detail)
guess what we might do is we will create another VM automatically and assign a floating ip to it then
guide user to ssh from that VM, correct?

[2020-06-17 05:13] hidekazuna commented on #562
@jichenjc Yes, that is correct.

[2020-06-17 14:30] hidekazuna opened #565 "Get openstackcluster outputs no ENDPOINT"
/kind bug

**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

ENDPOINT is shown.

**Anything else you would like to add:**
The following line seems not work.
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/config/crd/bases/infrastructure.cluster.x-k8s.io_openstackclusters.yaml#L39

**Environment:**

- Cluster-api version:
- Min

[2020-06-17 14:33] hidekazuna commented on #565
/good-first-issue

[2020-06-18 05:25] jichenjc commented on #565
@hidekazuna maybe you can describe the `openstackcluster ` about its status, I doubt
openstackcluster `.status.network.apiServerLoadBalancer.IP` is not created at all

[2020-06-18 05:27] hidekazuna commented on #565
@jichenjc `.status.network.apiServerLoadBalancer.ip` is created 😃

[2020-06-18 05:32] jichenjc commented on #565
then it's weird :)
guess it's because of the priority=1 thing..

[2020-06-18 07:36] hidekazuna opened #566 "Discover external network, create floating IP, and add it"
/kind feature

**Describe the solution you'd like**

Discover external network, create floating IP, and add to load balancer or controller node if
`OPENSTACK_EXTERNAL_NETWORK_ID` and `OPENSTACK_CONTROLPLANE_IP` are not given.

**Anything else you would like to add:**

[2020-06-18 07:44] hidekazuna opened #567 "Who manages ssh key?"
/kind bug

**What steps did you take and what happened:**

After cluster was created successfully, I logged in to the machine with user capo.
But the key was not ssh key pair on OpenStack, I am confused at first.

**What did you expect to happen:**

Ssh key should be managed by OpenStack.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-06-18 09:00] prankul88 opened #568 "Kustomize does not get built in MakeFile"
/kind bug

**What steps did you take and what happened:**
When I try to run `make release-manifests` I expect the `kustomze` binary to be downloaded. But the command fails with

bash: hack/tools/bin/kustomize: No such file or directory
Makefile:315: recipe for target 'release-manifests' failed
make: *** [release-manifests] Error 127

**What did you expect to happen:**
The command should build the

[2020-06-18 09:00] prankul88 commented on #568
/assign

[2020-06-18 09:24] jichenjc commented on #567
from current code looks like you should be able to use openStackMachine.Spec.SSHKeyName
to ssh ,correct?

in templates/cluster-template-without-lb.yaml
sshAuthorizedKeys:
      - "${OPENSTACK_SSH_AUTHORIZED_KEY}"

how about remove the section

[code]

in template and replace it with openstack key ?

so seems we have 2 ssh keys

[2020-06-18 09:29] jichenjc commented on #565
can you help to paste the out of `kubectl describe openstackcluster`?

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#additional-printer-columns

seems indicated priority=1 should be enough..

[2020-06-18 10:57] hidekazuna commented on #567
Yes. But I do not want 2 ssh keys.

In template, remove the following.

[code]
Instead of the above, add `sshKeyName`  in OpenStackMachineTemplate like the following.

[code]
We need to introduce ${OPENSTACK_SSH_KEY_NAME}, but do not change the go code.

[2020-06-19 06:15] jichenjc commented on #567
@hidekazuna the problem is CI ,check `hack/ci/e2e-conformance.sh`

[code]

@sbueringer I think we need avoid 2 ssh settings and only keep one , use openstack keypair concept only, agree?

[2020-06-19 11:39] hidekazuna commented on #567
@jichenjc `OPENSTACK_SSH_PRIVATE_KEY_PATH` is not related to `OPENSTACK_SSH_AUTHORIZED_KEY`.

The key pair used in hack/ci/e2e-conformance.sh is generated at
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/hack/ci/e2e-conformance.sh#L257-L261

[2020-06-19 11:45] jichenjc commented on #567
@hidekazuna I knew , the problem is our CI seems need ssh and run something there

we set OPENSTACK_SSH_AUTHORIZED_KEY here

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/hack/ci/e2e-conformance.sh#L280

and run ssh
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/hack/ci/e2e-conformance.sh#L123

so if we remove the template, how can we

[2020-06-22 02:17] hidekazuna commented on #567
@jichenjc We can create ssh key pair before creating cluster like AWS.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/hack/ci/e2e-conformance.sh#L421

[2020-06-22 05:27] jichenjc commented on #567
agree, this is the right way IMHO

[2020-06-22 07:20] #565 closed

[2020-06-22 15:48] #568 closed

[2020-06-24 04:02] hidekazuna commented on #566
/assign @hidekazuna

[2020-06-26 19:29] eratnch opened #572 "Unable to create target cluster with Octavia"
/kind bug

Running kind cluster as CAPI management cluster
Devstack running on  a VM with Octavia installed
Trying to deploy a 1 control plane and 1 worker node target cluster on devstack
using cluster-api-quick start guide (v1alpha3)
[A clear and concise description of what the bug is.]

In the capo-controller logs following error message appears

r" "name"="k8s-clusterapi-cluster-default-tgtclus

[2020-06-27 08:36] jichenjc commented on #572
`rule:create_floatingip and rule:create_floatingip:floating_ip_address) is disallowed by policy`

is your openstack cloud doesn't allow such activity? e.g policy forbid such action? I understand we need provide more info about what's needed and what's recommended , just to ask for info..

[2020-06-28 02:40] eratnch commented on #572
@jichenjc  I created floating ip on my openstack and provided that in the manifest section that I mentioned above. I normally do openstack floating ip create <public n/w name> and that seems to work fine all the time. It assigns a floating ip from the pool.
 My understanding is that Octavia maps the floating ip to its vip. CAPI should simply use the float ip, not sure why it's trying to create the

[2020-06-29 19:42] sbueringer commented on #556
@hidekazuna Yup we can create a release. Maybe close the current PRs make sure master is stable and then create the release?

[2020-06-29 19:46] sbueringer commented on #566
@hidekazuna Is it possible to not set these flags? As far as I know all variables are mandatory via clusterctl (not sure if that changed in the meantime)

[2020-06-29 19:49] sbueringer commented on #567
I'm not sure which way is better. If we require that the ssh key is already there in OpenStack, somebody has to create it. As far as I know this has to be done per OpenStack tenant. So you end up either doing it manually or creating another controller to do that?

Not sure if we have to necessarily drop one of the ways to set it. It will always be possible to set the ssh key via the Kubeadm CRD be

[2020-06-29 19:54] #556 closed

[2020-06-29 19:56] sbueringer commented on #572
Yup usually it just uses the floating ip if it already exists. Maybe the floating ip is not accessible for CAPO (because it's e.g. in the wrong OpenStack tenant/project) ?

That's the code which checks for the existence of the floating ip:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/services/loadbalancer/loadbalancer.go#L77-L91

So I suppose `checkIfFloa

[2020-06-29 21:36] hidekazuna commented on #572
@eratnch I found I added load-balancer_member role to the no admin user. Please try
[code]

[2020-06-29 22:18] hidekazuna commented on #566
@sbueringer I found AWS provider template does not have these flags. Challenging is that `controlPlaneEndpoint` have to be set in the openstackcluster_controller.go. Please take a look #573 .

[2020-06-29 22:38] hidekazuna commented on #556
@sbueringer For completely following [capi quickstart](https://cluster-api.sigs.k8s.io/user/quick-start.html), current master is good condition, because including #534 and #550 is mandatory and enough for bug fix. we do not need to wait current unmerged PRs.

[2020-06-29 23:01] hidekazuna commented on #567
Actually I was asked from @eratnch https://kubernetes.slack.com/archives/CFKJB65G9/p1591417063096900?thread_ts=1590866877.082500&cid=CFKJB65G9.

I admit ssh key via kubeadm is useful to tenant wide key. This is better creating many clusters on many tenants as administrator, for example. But typical OpenStack cloud user recognize ssh key pair as their own manner.

[2020-06-29 23:14] #557 closed

[2020-06-30 02:34] jichenjc commented on #567
so the conclusion looks like we make it as it is for now , have both ssh key and ssh injection ?

[2020-06-30 03:35] jichenjc commented on #572
yes, so seems the check has some problem, maybe need add some logs to check what's really happen there
maybe add some V.4 or ask @eratnch to add logs at https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/07aede71b47be724dfe14dfb3131736b9268cbb6/pkg/cloud/services/loadbalancer/loadbalancer.go#L473 ?

[2020-06-30 03:40] jichenjc commented on #566
sorry, maybe I missed some info , is this talking about create floating ip etc and add to existing LB ?
should this need some doc update later on? maybe that will be helpful

[2020-06-30 04:57] sbueringer opened #574 "Release v0.3.1"
Hi,

as suggested by @hidekazuna [here](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/556) I would create a v0.3.1 release.

@jichenjc @prankul88 Okay for you? Does the current master work in your environments?

[2020-06-30 04:59] sbueringer commented on #566
@hidekazuna I didn't mean mandatory in a sense that every provider has them. I meant if we have these properties in our templates it's mandatory to fill them and there's no way to leave them empty when generating the YAMLs via clusterctl

[2020-06-30 05:43] jichenjc commented on #574
I have not created a cluster for a few weeks and I think nothing has big impact recently, so should be fine

[2020-06-30 05:51] prankul88 commented on #574
@sbueringer Perfectly good for me

[2020-06-30 16:17] eratnch commented on #572
@hidekazuna @jichenjc  @sbueringer
Thanks for your comments/responses.
Just wanted to give some updates.
I had to add the "admin" role to the "demo" user to make it work. Is this a pre-requisite for capo to create clusters?
Other than this I noticed that disablePortSecurity has to be set to false, otherwise CAPI doesn't create the cluster. The default is "true", so I assume this should work. Is it

[2020-07-01 05:06] jichenjc commented on #572
this means by default normal user not allow to perform this action, only admin user can do
I guess it's a good way to indicate this is needed into doc ?
e.g under this configuration you must be able to perform xxx action

[2020-07-01 05:22] hidekazuna commented on #572
Could you teach me your OpenStack Octavia version? My environment is Octavia Stein ubuntu package.
User creating cluster has only member and load-balancer_member roles. Octavia user has admin role.

I want to know the reason too. I like `disablePortSecurity` default is false.

[2020-07-01 05:29] hidekazuna commented on #566
@jichenjc

Yes, you are right. If floating IP is not given, capo creates floating ip.

Sure,  I will update doc later.

[2020-07-01 05:31] hidekazuna commented on #566
@sbueringer Sure, I will remove `apiServerLoadBalancerFloatingIP`, `apiServerLoadBalancerPort`, and `externalNetworkId`.
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/573/files#diff-a13d5b9325a3022286a0a671bc66b2cb

[2020-07-03 10:32] hidekazuna commented on #574
@sbueringer Please merge doc update #576 in v0.3.1.

[2020-07-03 22:35] hidekazuna opened #577 "E2E test using Cluster API test framework"
/kind feature

**Describe the solution you'd like**

We can update E2E test to use Cluster API test framework.

**Anything else you would like to add:**

Cluster API test framework is guided in [The Cluster API Book](https://cluster-api.sigs.k8s.io/developer/e2e.html).

[2020-07-03 23:08] hidekazuna opened #578 "Use Keystone application credential"
/kind feature

**Describe the solution you'd like**

Currently we use only user name and password for authentication with OpenStack Keystone.
Moreover,  we can use  [Keystone application credential](https://docs.openstack.org/keystone/latest/user/application_credentials.html).

**Anything else you would like to add:**

External OpenStack cloud provider already implemented.
https://github.com/kuber

[2020-07-04 09:07] jichenjc commented on #578
https://github.com/kubernetes/cloud-provider-openstack/pull/426/files

we can refer to this PR

[2020-07-04 22:57] hidekazuna commented on #578
/good-first-issue

[2020-07-05 08:02] zufardhiyaulhaq commented on #578
Hi, I want to take this issue, what is the expected time to finish this?

[2020-07-05 10:13] sbueringer commented on #574
@hidekazuna Yup I'll wait for #575 and #576. And will review you're other PR after the v0.3.1.

@hidekazuna @jichenjc I only found a few nits in your PRs. As soon as they are corrected and the PRs merged I would create the release

[2020-07-05 10:16] sbueringer commented on #578
@zufardhiyaulhaq I assume as long as you're actively working on it it's fine.

@hidekazuna Correct me, if I'm wrong.

[2020-07-05 11:36] hidekazuna commented on #578
@zufardhiyaulhaq Thanks for taking this issue! This issue is no time limit, and no dependency.

[2020-07-06 20:31] eratnch commented on #572
@hidekazuna my octavia version is installed using https://docs.openstack.org/devstack/latest/guides/devstack-with-lbaas-v2.html guide. Devstack version is victoria.

[2020-07-07 17:30] sbueringer commented on #574
@jichenjc can you approve? https://github.com/kubernetes/k8s.io/pull/1001
Afterwards I would publish the Github release

[2020-07-08 00:28] hidekazuna commented on #574
@sbueringer I can not /lgtm due to not member of kubernetes orgs.

[2020-07-08 00:37] jichenjc commented on #574
@sbueringer done

[2020-07-08 02:44] sbueringer commented on #574
Ah right.

Okay release is published here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/tag/v0.3.1

Would be nice if somebody could do a final test with clusterctl if it works

[2020-07-08 04:58] hidekazuna commented on #574
I tested manually by following quick start, ended successfully. ✨

[2020-07-08 07:40] sbueringer commented on #574
Perfect thx:)

[2020-07-08 07:40] #574 closed

[2020-07-09 18:02] eratnch opened #580 "Kubernetes service type LoadBalancer doesn't assign external IP"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I deployed a workload ha cluster with 3 control plane and 1 worker machines on devstack with octavia.
Everything looks fine in the target cluster.
However when i started creating a service of type load balancer the service gets created but the external ip is always pending.

Here are ou

[2020-07-10 03:34] jichenjc commented on #580
my understanding is we are working on providing a cluster here
then how to manage the internal of the cluster depends on https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-octavia-ingress-controller.md ?
so it's a bigger step if we want to integreate those?

[2020-07-10 05:06] eratnch commented on #580
@jichenjc  I have followed https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/expose-applications-using-loadbalancer-type-service.md guide to create a load balancer service. But the external IP is always pending. I am trying to make sure that my workload cluster is capable of supporting LB. I would appreciate if any documentation or pre-requisite is available to make it work s

[2020-07-10 05:33] jichenjc commented on #580
@hidekazuna I always tried non-Lb case before, can you provide some insight here?

[2020-07-10 06:58] hidekazuna commented on #580
@jichenjc This issue comes from discussion https://kubernetes.slack.com/archives/CFKJB65G9/p1594346254144700?thread_ts=1590866877.082500&cid=CFKJB65G9

### Problem

For using the OpenStack load balancer as service type LoadBalancer, the [LoadBalancer] section must be written in the `cloud.conf` like the following.
[code]

The cloud.conf content is created by [env.rc](https://github.com/kubernetes-

[2020-07-10 07:02] hidekazuna commented on #580
I hope someone will find a better solution 😃

[2020-07-10 15:04] jsen- opened #581 "failed to reconcile security groups (Ocata)"
/kind bug

**What steps did you take and what happened:**
[code]

[code]

[2020-07-10 15:12] jsen- commented on #581
the security groups actually get created
[code]
...but not security group rules
[code]

[2020-07-11 09:16] jichenjc commented on #581
don't have ocata env, from the error seems this is due to wrong param 'description'
quick search neutron API doc https://docs.openstack.org/api-ref/network/v2/#create-security-group-rule seems it's allowed (optional)
one reason might be it's newly added after O release... n

[2020-07-11 10:24] jichenjc opened #582 "wrong settings in security group not reported correctly"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

we allow such settings
[code]

however, we don't report if `allow-ssh` not exist

if `allow_ssh` not exist, we should report this kind of error
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2020-07-11 10:24] jichenjc commented on #582
/assign

[2020-07-12 06:10] sbueringer commented on #580
@hidekazuna Noboy is forced to use the env var `OPENSTACK_CLOUD_PROVIDER_CONF_B64` calculated by the env.rc. You can always just set it by ourselves. Obviously it would be better if it just works out of the box :)

[2020-07-13 02:00] eratnch opened #584 "Does CAPI Openstack support bypassing Octavia LB"
Hi,
Is it possible to not use Octavia as the load balancing solution for CAPI openstack? In the cluster-template.yaml the following section mentions the load balancer ip, network and port details.

`apiVersion: infrastructure.cluster.x-k8s.io/v1alpha3
kind: OpenStackCluster
metadata:
  name: tgtcluster
  namespace: default
spec:
  apiServerLoadBalancerAdditionalPorts:
  - 22
  apiServerLoadBalance

[2020-07-13 12:20] #582 closed

[2020-07-14 10:04] jichenjc commented on #584
yes, it allows, I actually created a env without LB last week

[2020-07-14 10:05] jichenjc commented on #584
some FYI
[code]

[code]

[2020-07-14 10:09] jichenjc opened #588 "can't make controlplane ready now"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

it works fine last week but when I rebuild the cluster suddenly reach this error

[code]

it will always be provisioning because the name check here will NOT be satisifed because of
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/controllers/openstackcluste

[2020-07-15 05:17] hidekazuna commented on #588
@jichenjc  I am creating cluster every time creating new PR, but I have never encountered the issue. Could you show us commit ID?

[2020-07-15 05:27] jichenjc commented on #588
@hidekazuna the latest one , it works for last week but yesterday suddenly have issue..

[2020-07-15 05:41] hidekazuna commented on #588
@jichenjc using cluster-api v0.3.7?

[2020-07-15 05:47] jichenjc commented on #588
my cluster is using  `image: us.gcr.io/k8s-artifacts-prod/cluster-api/cluster-api-controller:v0.3.7-rc.1`
but I don't have a good one to compare..

[2020-07-15 05:52] hidekazuna commented on #588
I will try v0.3.7.

[2020-07-15 09:58] pierrecregut opened #590 "Wrong parameter for a user provided network crashes the controller"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Tried to specify in openstack cluster a network (which was wrong). Not only the deployment failed but the container crashed.

**What did you expect to happen:**
Just a failed deployment.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2020-07-15 10:01] jichenjc commented on #590
@pierrecregut do you have any logs can be shared?

[2020-07-15 10:19] hidekazuna commented on #590
@pierrecregut @jichenjc

I investigated from
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/controllers/openstackcluster_controller.go#L300

If wrong network name was given,

[code]
did not return error, so reached

[code]

networkList[0].ID can not be found and crashed.

[2020-07-15 10:38] pierrecregut commented on #590
Yes exactly, sorry if it was not clear.

[2020-07-15 10:55] hidekazuna commented on #590
@pierrecregut Don't worry. Thanks for raising the issue!

[2020-07-15 18:42] sbueringer commented on #590
Yup this should be fixed. I would propose checking it separately with two if conditions because in case of `err != nil` we want to append the error in case of `len(networkList) == 0` there is no error to append

[2020-07-16 00:54] hidekazuna commented on #590
/good-first-issue

[2020-07-16 03:22] jichenjc commented on #588
ok, I tried again and seems it works ..not sure what happened
I need more test to see what happened

[2020-07-16 03:38] jichenjc commented on #584
[code]

[code]

above output shows only 2 VMs for master/worker existing..

[2020-07-16 04:02] jichenjc commented on #584
ok, @eratnch you might want to refer to https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/templates/cluster-template-without-lb.yaml

[2020-07-16 05:53] eratnch commented on #584
Thanks @jichenjc .

My scenario is to use multiple masters(not 1 master) but with an external LB such as ha-proxy or metalLB.

Can I use https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/templates/cluster-template-without-lb.yaml to deploy more than 1 master? I haven't tried this before. I know I can deploy > 1 worker. If this is possible then how does the load balancin

[2020-07-16 05:59] jichenjc commented on #584
this is some question you might ask at  https://github.com/kubernetes-sigs/cluster-api
I think it's not supported at cluster-api-provider-openstack now...

[2020-07-16 06:37] jichenjc commented on #584
um.. give another thought, actually there is a param in KubeadmControlPlane
`replicas: 1` ,seems this is something we can adjust to create 1+ control pane
but how to make those control pane represent  one cluster need further check

[2020-07-16 07:12] jichenjc commented on #584
a quick test  make replica to 3 and only got 2 master
so there are some thing wrong, and basically, the requirement is to delegate the LB from internally to outside, so if we can create 3 Floating ip, they belongs to same cluster
and ask external LB to connect to those 3 ,we should be good
will dig more here
[code]

[2020-07-16 18:23] pramchan commented on #590
/assign pramchan

[2020-07-17 04:03] jichenjc opened #591 "create event when create security group"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

we create event for router/network, but we didn't create it for security group
thus don't know what's created and what's not..

so we need event the creation of seucrity group for easier tracking what happened for security group

[2020-07-17 07:41] #591 closed

[2020-07-20 01:50] jichenjc commented on #584
checking https://github.com/kubernetes-sigs/cluster-api/issues/1250
for further info, seems cluster-api not support it yet so provider openstack need wait for that to be ready. .

[2020-07-20 03:28] jichenjc commented on #578
@hidekazuna @sbueringer @zufardhiyaulhaq

I did some test and I think it's not that easy...

so the application ID is eligible to be used to be auth, you need modify 2 places
one is

`capi-openstack-cloud-config` ,you need update the Secret to contains correct clouds.yaml
my test shows it's easy to do so and I can successfully create a `machine` after the modification

however, we need modify `Kub

[2020-07-20 17:56] pramchan commented on #590
I edited and split the if len zero and err separate with two ifs to avoid the cash as asked. Is this good enough to create pull request or do i need to uses existing pull#590 to submit the patch?
               if len(networkList) == 0 {
			return errors.Errorf("failed to find any network: %v", err)
		}
		if err != nil {
			return errors.Errorf("failed to find network: %v", err)
		}
		if len(netwo

[2020-07-21 00:04] hidekazuna commented on #590
@pramchan Please submit the patch as PR so that we can review.

[2020-07-21 00:27] hidekazuna commented on #578
@jichenjc Thanks for investigating. It is not expected..

I found cluster-api-provider-azure has [external cloud provider option](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/topics/external-cloud-provider.md), seems not difficult to follow. If you does not try external cloud provider, I will try #489.

[2020-07-21 00:45] pramchan commented on #590
I though I did but seems something is wrong, it did not connect to right PR590 some mistake - may be need to resubmit
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/commit/a3188f458a3d6b9f32dfeb85703b780ddce2f

[2020-07-21 01:00] jichenjc commented on #578
yes, please :) , I don't know the azure implementation ~

[2020-07-21 01:55] hidekazuna commented on #489
/assign @hidekazuna

I will follow [cluster-api-provider-azure case](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/topics/external-cloud-provider.md).

[2020-07-22 17:46] pramchan commented on #590
hidekazuna - I got stuck due to some system issues and resubmitted back to my personal github after stashing and updated the fork I had in my repo  https://github.com/pramchan/cluster-api-provider-openstack. Question I have is do i need to create new pr# to submit this back?

[2020-07-23 10:09] sreber84 commented on #543
@sbueringer is https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/560 somehow related and something that could provide relief to this issue?

[2020-07-24 08:10] jichenjc commented on #578
after https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/595 is done,
we should be able to solve this problem ,I can use application id based on 595 .

[2020-07-24 08:46] jichenjc commented on #543
@sreber84 not sure as #560 is for security group...

[2020-07-24 08:49] jichenjc commented on #543
I tested on my system and the port created does have tags with cluster name...
[code]

[2020-07-24 08:50] jichenjc commented on #543
instead of tags, maybe update description is a good way

[2020-07-24 08:58] jichenjc commented on #543
so the plan is to
1) avoid add tags at instance create stag
2) add description when the port is created so we know the port is created by capi

[2020-07-24 14:47] jichenjc commented on #543
@AllaeddineEL @sbueringer @hidekazuna @sreber84 please check proposed PR

[2020-07-27 03:40] #489 closed

[2020-07-31 00:58] hidekazuna opened #601 "Update CAPI to v0.3.7"
/kind feature

**Describe the solution you'd like**

CAPI v0.3.7 has been [released](https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.3.7).
We catch up with the release.

**Anything else you would like to add:**

[2020-08-04 00:17] hidekazuna commented on #601
[v0.3.8 has been released](https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.3.8).

[2020-08-04 00:28] hidekazuna opened #603 "E2E test should be run as non admin user"
/kind bug

**What steps did you take and what happened:**

Currently E2E test run as admin user.
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/.zuul/playbooks/run.yaml#L56-L73

**What did you expect to happen:**

E2E test should be run as non admin user. Our use case is non admin user creates kubernetes cluster using CAPO.

**Anything else you would like to add:**

[2020-08-04 00:39] hidekazuna opened #604 "Update OpenStack version using e2e test to Ussuri"
/kind feature

**Describe the solution you'd like**

Update OpenStack version from Train to Ussuri.

**Anything else you would like to add:**

Currently E2E test runs on OpenStack train.
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/.zuul/playbooks/run.yaml#L28

The Next version Ussuri has been [released](https://www.openstack.org/software/ussuri/) on May 13, 2020.

[2020-08-04 01:40] jichenjc commented on #604
good point, maybe a quick update to make it U and check result?

[2020-08-04 01:42] jichenjc commented on #603
yeah, this is valid test requirement.. and the potential policy failure might help us in finding what's allowed  and what's not

[2020-08-05 02:58] #566 closed

[2020-08-08 23:42] hidekazuna opened #612 "e2e test should target Kubernetes official release"
/kind bug

**What steps did you take and what happened:**

e2e test runs against Kubernetes CI version. Sometimes e2e test fails due to the unstable version.

**What did you expect to happen:**

e2e test runs against Kubernetes offitial version.

**Anything else you would like to add:**

CI version is installed by [preKubeadmCommands](https://github.com/kubernetes-sigs/cluster-api-provider-opensta

[2020-08-12 13:46] eratnch opened #614 "Cert Manager times out when initializing the workload cluster with capi components"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I am using capo v0.3.1 release and i successfully created 1 master and 3 worker node target cluster on devstack.

I could see that all nodes are in ready state. So far so good.

Next I tried to initialize the target cluster with capi and capo components. My intention is to do a clusterc

[2020-08-13 03:57] jichenjc commented on #614
have you tried to check the pod status at step 6 and including the logs ? those info might be helpful to know what happened..

[2020-08-13 04:45] eratnch commented on #614
@jichenjc ,

Here are some commands I ran.

**kubectl --kubeconfig ostgt.kubeconfig get po -A (don't see capo namespace)**

NAMESPACE                     NAME                                                               READY   STATUS              RESTARTS   AGE
capi-webhook-system   capi-controller-manager-7b8cc8b59d-cvd7k                 0/2     ContainerCreating   0          8m44s
cert-manager

[2020-08-13 09:56] #601 closed

[2020-08-13 10:00] jichenjc commented on #614
not sure it's related to capi 0.38...

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/615
bump the version to 0.38 just now

[2020-08-13 10:01] jichenjc commented on #614
seems the error is related to
[code]

it's out of capo scope, maybe wait for bump to 0.38 then give another try? and if doesn't work, maybe need go to cluster-api for help..

[2020-08-13 10:38] #612 closed

[2020-08-13 15:46] eratnch commented on #614
I bumped up the capi to 0.3.8, but encountered same issue.
Do I need to open an issue with cluster-api? Please confirm.
- Thanks

[2020-08-14 01:32] #567 closed

[2020-08-14 01:32] jichenjc commented on #614
please help to open a bug against capi (and link it to here), then we can joint comment here and the new issue , thanks a lot

[2020-08-14 02:40] eratnch commented on #614
@jichenjc  done.
https://github.com/kubernetes-sigs/cluster-api/issues/3485 is opened and linked here.

Thanks.

[2020-08-16 12:41] hidekazuna commented on #604
Fixed by #605

[2020-08-16 12:41] #604 closed

[2020-08-16 12:47] hidekazuna commented on #562
/assign @hidekazuna

[2020-08-17 09:15] #588 closed

[2020-08-18 04:27] hidekazuna commented on #603
This is fixed by #606

/close

[2020-08-18 04:27] #603 closed

[2020-08-19 06:51] #578 closed

[2020-08-20 22:57] #543 closed

[2020-08-26 13:46] hidekazuna opened #621 "Floating IP remains after deleting cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Automatically created floating IP remains after deleting cluster.

**What did you expect to happen:**

I expect floating IP to be deleted when I do not specify floating IP for endpoint explicitly.

**Anything else you would like to add:**
[Miscellaneous information that will assist in s

[2020-08-27 02:21] jichenjc commented on #621
yeah .. this is reasonable thing to do ,we have several cases:
maybe check `openStackCluster.Spec.APIServerLoadBalancerFloatingIP` or `openStackCluster.Spec.ControlPlaneEndpoint.Host` is empty or not then we can go ahead and delete the created FP?

[2020-08-27 04:59] hidekazuna commented on #621
`openStackCluster.Spec.ControlPlaneEndpoint.Host` must be set for creating cluster, even if we do not specify floating IP. This is requirement from CAPI.
We need to create new status variable to delete floating IP if when only specified floating IP.

[2020-08-27 05:45] jichenjc commented on #621
yes, agree, we need create a variable..

[2020-08-27 07:24] hidekazuna commented on #621
I was wrong..
When HA, use `openStackCluster.Spec.APIServerLoadBalancerFloatingIP`. so `openStackCluster.Spec.ControlPlaneEndpoint.Host` is set. Check `openStackCluster.Spec.APIServerLoadBalancerFloatingIP` is empty and delete floating IP.

When Non HA, use `openStackCluster.Spec.ControlPlaneEndpoint.Host` directly. we can not recognize floating IP is given not not.

[2020-08-27 15:27] eratnch opened #622 "Target cluster deployment fails with leader election error"
/kind bug

**What steps did you take and what happened:**
A target cluster of 1 master and 1 worker node is being deployed on devstack.
Following error appears in capo-controller-manager logs

[code]
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

The target cluster is deployed with 2 machines.

**Anything else you would like to add:**
[Miscellaneous info

[2020-08-28 01:44] jichenjc commented on #622
I created a cluster yesterday and no problem encoutnered

do you remember any actions or any special setting you made?
and if you try again , what happen?

[2020-08-28 10:04] jichenjc opened #626 "cluster cloud secret not moved to target cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
`clusterctl move` need move objects from bootstrap cluster to target cluster

found the cloud-config (cloud secret) not moved and lead to target cluster has error
asked https://github.com/kubernetes-sigs/cluster-api/issues/3542 and seems
we need consid

[2020-08-28 10:04] jichenjc commented on #626
/assign

[2020-08-29 01:52] eratnch commented on #622
@jichenjc , this issue is intermittent in nature, but I have seen it occur multiple times. It happens frequently if a cluster creation fails for any reason the first time and if I try to run the same steps again in succession. Yesterday I ran into this issue and tried 3-4 times again and again but no luck. Then I changed the  control plane machine replica count in the target manifest, ran the exac

[2020-08-31 01:06] jichenjc commented on #622
ok, so you are saying when capo first occur error, then next try will encounter same error?
as change replica count seems not reasonable to impact the functionalities

[2020-08-31 02:05] jichenjc opened #628 "create v0.3.2 release"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

to make recent changes reflect in `cluster init` functions

[2020-09-01 12:33] eratnch commented on #622
Yes, that's what happened in my case. I have seen this error happening before also but was not able to pinpoint how to reproduce. What I described above is the exact steps I did and ran into the error.
I am not sure what could be the root cause of the leader election loss issue. i would think when there are > 1 masters then capo is trying to select a leader as master.  But I have been successfully

[2020-09-02 02:21] jichenjc commented on #622
yes, that's reasonable , I have multiple masters privisoined before ...
have you deploy multiple masters before successfully?

[2020-09-02 14:06] eratnch commented on #622
Yes I have deployed clusters with > 1 master node before.

[2020-09-02 20:03] eratnch commented on #622
Ran into the same issue again today. Changing the replica count didn't make any difference this time.

Here is the complete log https://pastebin.com/4gb56jeR

[2020-09-03 06:53] jichenjc commented on #622
@eratnch other projects seems have similar problems
https://github.com/kubedb/project/issues/581
https://github.com/kubernetes/kubernetes/issues/76069

they mentioned it's related to network instablity and ask for increase the timeout etc..
how about disable leader election? not sure that will be helpful here as I didn't do it myself before

[2020-09-03 18:29] eratnch commented on #622
@jichenjc  where should I add the following lines in the capo-manifest.yaml?
[code]
Would it be under OpenstackCluster or KubeadmControlPlane or any other section? Can you please provide a sample?

Thanks.

[2020-09-04 06:24] jichenjc commented on #622
sorry, I don't this as well , if we have to , I think best way is to consider
disable leader election to give a try or use something like --leader-election-timeout/renew then to configure it
[code]

https://github.com/kubernetes/client-go/blob/master/tools/leaderelection/leaderelection.go
defined how to do the configuration
but currently capo is using
https://github.com/kubernetes-sigs/controller-

[2020-09-14 02:28] #562 closed

[2020-09-14 10:35] sumitKash commented on #622
This has affected me as well...
I have created kubernetes cluster v1.18.8.... I have Kubeapi loadbalancer in between so any request meant for kube-api will be loadbalanced through Kube-api Loadbalancer.
The problem is, the Kube-schedular and Kube-controller restarts after 6-7 days, weired right?... I see below error in logs:

Kube-Controller:
2020-09-13T07:32:42.371644764Z stderr F E0913 07:32:42.

[2020-09-14 12:14] jichenjc commented on #622
yes, this is weird and listed above in some issues I found in other projects

I only saw it's related to api handling and timing issue etc.. didn't find a way to go deeper further

[2020-09-14 14:57] eratnch opened #634 "Creating CAPI VM image in ubuntu results in error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Followed instructions to build CAPI compatible image for openstack https://image-builder.sigs.k8s.io/capi/providers/openstack.html

following make commands don't work

[code]

[code]
Logs below:

[code]

**What did you expect to happen:**

qemu-20.04 image is built successfully.

**Anyt

[2020-09-14 21:05] eratnch commented on #634
Found a solution for both the issues.

For ubuntu 2004, make sure the ansible version is >=2.8.0 and packer version is >=1.6.0

For 1804, the image url http://cdimage.ubuntu.com/releases/18.04/release/ubuntu-18.04.4-server-amd64.iso no longer exists.
This needs to change to `http://cdimage.ubuntu.com/releases/18.04/release/ubuntu-18.04.5-server-amd64.iso`
And the checksum also needs to updated to

[2020-09-15 04:10] jichenjc commented on #634
@eratnch the issue seems related to image builder project
but anyway, good reference here

[2020-09-22 10:00] jichenjc commented on #628
created a v0.3.2 tag just now

[2020-09-22 10:00] #628 closed

[2020-09-24 13:21] prankul88 commented on #634
@eratnch Thankyou for raising this issue. Have pushed a patch for here in https://github.com/kubernetes-sigs/image-builder/pull/388

[2020-09-28 07:14] ITD27M01 commented on #554
as gophercloud/gophercloud#1965 indicated, there is no way to create volume from choose az when do boot from volume

[2020-09-28 07:14] #554 closed

[2020-10-05 05:18] hidekazuna commented on #577
/remove-lifecycle stale

[2020-10-06 02:05] hidekazuna opened #643 "Events deleting resources"
/kind feature

**Describe the solution you'd like**

To observe OpenStack resources deletion, I want to get events about deleting resources such as router, network, subnet, and security groups.

**Anything else you would like to add:**

Currently only deleting instances are recorded.

[2020-10-07 00:15] eratnch commented on #634
This works with latest build.
/close

[2020-10-07 00:15] #634 closed

[2020-10-07 00:17] eratnch commented on #572
/close

[2020-10-07 00:17] #572 closed

[2020-10-09 10:23] jichenjc commented on #643
that's a reasonable thing to be added :)

[2020-10-10 00:39] #484 closed

[2020-10-12 01:20] #626 closed

[2020-10-14 05:43] hidekazuna commented on #621
/assign @hidekazuna

[2020-10-14 06:45] hidekazuna opened #647 "Bastion remains once created"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

- Deployed a cluster with bastion by the manifest `bastion.enabled: true`
- Applied the manifest  `bastion.enabled: false`
- Bastion remains

**What did you expect to happen:**

I expected bastion is deleted by  `bastion.enabled: false`

**Anything else you would like to add:**
[Miscell

[2020-10-15 05:43] eratnch opened #649 "Add support for Tilt based dev"
/kind feature

Capo should provide a Tiltfile and tilt-provider.json file to make use of Tilt based dev and test.
Providers such as Capz, Capa support this feature.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-10-15 06:22] jichenjc commented on #649
I remember this used to be supported (Tilt), but tilt-provider.json is brand new to me..
and yes, we need check capo doc..

[2020-10-15 07:00] #643 closed

[2020-10-15 11:46] prankul88 opened #651 "Reference latest version of CAPO in Makefile"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/Makefile#L319
`make create-cluster` command refer to old CAPO version.

**What did you expect to happen:**
This should be changed to v0.3.1

**Anything else you would like to add:**
[Miscellaneous information t

[2020-10-15 11:46] prankul88 commented on #651
/assign

[2020-10-21 08:10] #590 closed

[2020-10-22 13:03] hidekazuna commented on #651
The directory name must follow the semantic versioning: vX.Y.Z.
We are developing master branch so it is OK the name is v9.9.9 for example.

[2020-10-29 00:55] #621 closed

[2020-11-02 07:10] #651 closed

[2020-11-02 08:02] jichenjc opened #661 "0.3.2 release being blocked"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I created release 0.3.2
but failed to start due to
`us.gcr.io/k8s-artifacts-prod/capi-openstack/capi-openstack-controller:v0.3.2: not found`

not sure how to push images to the location (I am not authorized)
do you happen to know ? @hidekazuna @sbueringer ?

**What did you expect to hap

[2020-11-02 11:07] prankul88 commented on #651
@hidekazuna Sorry I must have missed the conversation.

Ohh okay, got your point. I just saw the PR for the same got merged. Is there something that needs to be changed now?
Thanks for helping

[2020-11-02 23:44] hidekazuna commented on #651
@prankul88 It is ok to be merged 😄  I do not know the best.

[2020-11-03 00:50] hidekazuna commented on #661
@jichenjc Sorry I do not know.

[2020-11-03 00:58] jichenjc commented on #661
ok, I'll see what I can do ..

[2020-11-03 07:41] prankul88 commented on #649
@eratnch Will work this.

[2020-11-03 07:41] prankul88 commented on #649
/assign

[2020-11-03 13:39] hidekazuna commented on #661
@jichenjc I think you have to do the image promotion (PR creation) process defined [here](https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io#image-promoter).

[2020-11-04 02:56] jichenjc commented on #661
thanks :), I will check what I can do there ~

[2020-11-05 03:55] jichenjc commented on #661
https://github.com/kubernetes/k8s.io/pull/1397

[2020-11-05 08:34] prankul88 commented on #649
@eratnch Seeing other providers implementation I have a few pointers:

- Providers like Azure, metal3 have separate TiltFile conf in their repo and use `tilt up` command  from provider's repo to spin up the dev setup through that. That way they have "Tilt for dev in CAPO/CAPZ/Metal3"

- CAPI already has a TiltFile and we just need to integrate with it (adding tilt-provider.json). Providers like CA

[2020-11-05 08:35] prankul88 commented on #649
^^ /cc @jichenjc

[2020-11-06 02:10] eratnch opened #667 "Is clusterctl move supported for capo"
Hi @jichenjc  @hidekazuna ,

Is `clusterctl move` command supported for capo?
If so, could you please point me to the documentation/steps that need to be done to do the move?

When I tried last time, it failed at the `clusterctl init` stage for the target cluster where `cert-manager` didn't get initialized. This is the previous step before the `clusterctl move` can be run.
Does it work for you?

[2020-11-06 02:13] eratnch commented on #649
Thanks @prankul88.
Both the approaches you mentioned seem fine to me.

[2020-11-06 02:16] jichenjc commented on #667
@eratnch check this
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/docs/mover.md

[2020-11-06 13:36] eratnch commented on #667
@jichenjc thanks for the link.
Which template file you used in the `clusterctl config` command to generate target cluster manifest?
I was using the `cluster-template.yaml` file with capo 0.3.1 release and faced the cert-manager problem.

[2020-11-06 16:19] sbueringer commented on #661
Sorry was away for a while here :)

@jichenjc did you figure it out, any open questions? It should all be documented here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/RELEASE.md

[2020-11-08 12:01] jichenjc commented on #667
it's not related to LB I guess ..
I am using cluster-template-external.yaml
I am little bit confused , whch issue you are having ? init or move ? seems the issues's title is about move while you also talked about init ... please help to confirm, thanks

[2020-11-08 12:04] jichenjc commented on #661
@sbueringer thanks :) I should search internal first about this ...
seems the image is merged recently and let's see whether it works or not

[2020-11-08 12:19] jichenjc commented on #661
[code]

[2020-11-09 13:22] jichenjc commented on #661
@sbueringer can you help to guide me why
[code]

I think the image not uploaded successfully, the kubernetes/k8s.io#1397 merged and what's next I need to do to make a release (create the image ...) thanks

[2020-11-09 13:47] prankul88 commented on #649
@eratnch Great. For now lets go by integrating with CAPI

[2020-11-09 20:51] eratnch commented on #667
Hi @jichenjc , so the move workflow is like below:
- create kind ephemeral cluster
- deploy control plane machines in target cluster (using external cloud e.g. devstack)
- deploy worker machines in target cluster
- initialize target cluster with capi core components (this is through cluster init --kubeconfig target-cluster-kubeconfig)
- cluster move

I get error in the initialize target cluster st

[2020-11-10 03:12] jichenjc commented on #667
@eratnch what I did is:

1) kind create cluster;clusterctl init --infrastructure=openstack
this will create kind cluster and init the control pane on `temp` cluster
2) kubectl apply -f capi-quickstart.yaml.external
this will create VMs from openstack and create a workload cluster
3) now the machineset and capi resource is inside temp cluster and there is no capi resource in target workload cluster

[2020-11-10 04:13] jichenjc commented on #667
[code]

[code]

I have VMs now
[code]

create kubeconfig
[code]

get pods
[code]

do configuration
[code]

now apply all external cloud provider CRDs

[code]

I got
[code]

then init on the target cluster
[code]

move the cluster
[code]

make sure the machines got moved
[code]

[2020-11-10 04:16] jichenjc commented on #667
please note I am still on 0.3.1 version (so some variables might be different) but mostly it should works..

[code]

[code]

[2020-11-10 04:17] jichenjc commented on #667
I will upgrade to v0.3.2 once the image is ready

[2020-11-10 14:23] eratnch commented on #667
Thanks a lot @jichenjc , this certainly helps.
I'll try out once again to see if I get error at the same place.

[2020-11-10 14:35] eratnch commented on #667
Wanted to add that I am using capo v0.3.1 and my yaml looks a little different from yours. Can you please take a look at the following?

[code]
I am using octavia LB so set those parameters to true. Do I need to change any parameter?

[2020-11-11 01:20] jichenjc commented on #667
@hidekazuna you use LB frequently ,can you help to take a look?

@eratnch I think it's less likely the issue regarding the cert-manager is related to LB.. but not 100% sure

[2020-11-11 02:40] jichenjc commented on #661
@sbueringer any guide and comments?

[2020-11-11 04:00] hidekazuna commented on #667
@eratnch Please show us your commands and logs as @jichenjc did.

[2020-11-11 05:50] hidekazuna commented on #661
@jichenjc I checked SHA digest value and have a question. Merged sha digest value in [images.yaml](https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml#L7) is:

[code]
but in my understanding, [The staging repository](https://console.cloud.google.com/gcr/images/k8s-staging-capi-openstack/GLOBAL/capi-openstack-controller@sha256:cfdd7a67771e7a3fd9

[2020-11-11 06:03] jichenjc commented on #661
ok, I don't know what wrong I did, let me update the sha and try again, thanks for point me that

[2020-11-11 07:37] hidekazuna opened #668 "Floating IPs not related to k8s cluster are deleted"
/kind bug

**What steps did you take and what happened:**

- I created highly available k8s cluster without specifying floating IP.
- I deleted the cluster.
- Automatically created floating IP for k8s cluster was deleted.
- Floating IP with the OpenStack VM used as management cluster also removed.

**What did you expect to happen:**

Only Automatically created floating IP for k8s cluster is delete

[2020-11-12 00:14] jichenjc commented on #661
[code]

[2020-11-12 00:14] #661 closed

[2020-11-12 02:44] #668 closed

[2020-11-12 09:20] jichenjc opened #670 "Bastion is gone after cluster creation for a while"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
[code]

no BASTION showing after cluster creating for a while
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster API Provider OpenStack version (Or `git rev-p

[2020-11-12 12:17] hidekazuna commented on #670
Bastion was shown in my environment. Was bastion shown just after the cluster was created?

[2020-11-12 23:57] jichenjc commented on #670
yes, it show up but after a while it's gone
the  issue occurs on my v0.3.2 env

[2020-11-13 03:44] hidekazuna commented on #670
Only bastion status was deleted or floating IP disassociated?
Anyway try latest code,please.

[2020-11-13 03:47] jichenjc commented on #670
v0.3.2 is latest .. I will build a new image and try again

[2020-11-13 03:48] #649 closed

[2020-11-13 09:05] hidekazuna opened #674 "V0.3.2 Template missing clusterctl.cluster.x-k8s.io/move: "true" label"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[released v0.3.2 cluster-template.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/download/v0.3.2/cluster-template.yaml) does not have `clusterctl.cluster.x-k8s.io/move: "true"` label.

**What did you expect to happen:**

**Anything else you would like t

[2020-11-16 01:34] jichenjc commented on #670
@hidekazuna I used latest and seems the result is same...

[2020-11-16 01:50] jichenjc commented on #674
@hidekazuna master branch has those labels ..
maybe you want to release v0.3.3?

[2020-11-16 04:39] hidekazuna commented on #670
@jichenjc Can you show me your manifest?

[2020-11-16 04:41] hidekazuna commented on #674
@jichenjc Yes, I want. Do you know the reason why this happened? We should avoid the same situation.

[2020-11-16 04:46] hidekazuna opened #676 "Need logging policy"
/kind feature

**Describe the solution you'd like**

Some user feels "Creating Machine" log message is confusing #673 . But actually currently create or delete resource start message is not logged. such messages are recorded as event. We need consistent log message policy.

**Anything else you would like to add:**

- Kubernetes [Logging Conventions](https://github.com/kubernetes/community/blob/mas

[2020-11-16 05:11] jichenjc commented on #674
I guess I used wrong commit since this is the first time make release.. so let's create v0.3.3 and give a try

[2020-11-16 14:36] sbueringer commented on #676
I think it would probably also make sense to take a look at how other cluster api providers are doing this

[2020-11-16 14:43] #670 closed

[2020-11-16 14:47] sbueringer commented on #674
@jichenjc If I guess correctly you just uploaded the incorrect file? As the file on the release just does not match the one of the tag I would suggest just exchanging the file on the release (just delete and upload the right one)

[2020-11-16 14:52] sbueringer commented on #581
Yeah probably just some attributte not supported in Ocata. To be honest, I don't think we should aim to support old OpenStack versions like Ocata (officially unmaintained by the OpenStack project since 06/2020: https://releases.openstack.org/)

[2020-11-17 01:57] jichenjc commented on #674
@sbueringer thanks for pointing out :)

Just updated the release and please check whether it works for you @hidekazuna

[2020-11-17 02:06] jichenjc commented on #676
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/controllers/awsmachine_controller.go#L430

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/controllers/awsmachine_controller.go#L601

I think we might follow their pattern

[2020-11-17 04:38] hidekazuna commented on #676
This is just you wanted to avoid.

[2020-11-17 04:45] hidekazuna commented on #674
@jichenjc Honestly I expected new release includes #668 😅 . Deleting cluster cause the management cluster with floating IP not to be connected due to removing floating IP.

[2020-11-17 05:59] jichenjc commented on #674
that's new stuffs.. we need a new release then (above action just update the template file which is wrong)

[2020-11-18 00:05] jichenjc opened #678 "Create v0.3.3 release"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
on behalf of https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/674

[2020-11-18 00:06] jichenjc commented on #674
#678 created to track

[2020-11-18 00:06] #674 closed

[2020-11-18 00:07] jichenjc opened #679 "test v1.19+ of k8s"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
our test stated v1.17 and we need upgrade to latest one to avoid deprecation ..

[2020-11-20 00:13] hidekazuna opened #681 "Bump CAPI to v0.3.11"
/kind feature

**Describe the solution you'd like**

**Anything else you would like to add:**

https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.3.11

[2020-11-20 05:11] hidekazuna opened #684 "v0.3.2 release includes unnecessary archive file"
/kind bug

**What steps did you take and what happened:**

I found unnecessary release file. Please remove this file.
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/download/v0.3.2/cluster-api-provider-openstack.tgz

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environm

[2020-11-21 01:54] hidekazuna opened #685 "v0.3.2 infrastructure-components.yaml is wrong"
/kind bug

**What steps did you take and what happened:**

- I created cluster using v0.3.2.
- I deleted cluster.
- Bastion node failed to be deleted.

**What did you expect to happen:**

Bastion node is deleted sucessfully.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Bastion status does not have id which is key for deleting bastion

[2020-11-24 06:22] hidekazuna commented on #678
@jichenjc Could you release using the pre-release option?

[Release document](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/RELEASE.md#process) says:
11. Publish release. Use the pre-release option for release candidate versions of Cluster API Provider OpenStack.

[2020-11-24 07:55] #681 closed

[2020-11-24 09:00] sbueringer commented on #678
@hidekazuna @jichenjc That's meant to be used for releases like `v0.3.3-rc.0`. If you want to release a RC that's fine. I wouldn't use pre-release for `v0.3.3`

[2020-11-24 12:18] hidekazuna commented on #678
@sbueringer OK, I understand.
@jichenjc Please release v0.3.3.

[2020-11-25 02:44] jichenjc opened #687 "Makefile need to update git describe method"
/kind bug
[code]

we should add --tags in build

[2020-11-25 04:04] hidekazuna commented on #678
@jichenjc I completely followed quick start guide and ended successfully. Deleting cluster is also fine.

/close

[2020-11-25 04:04] #678 closed

[2020-11-25 09:20] #687 closed

[2020-11-26 08:49] prankul88 opened #689 "Align flag names with upstream Kubernetes components."
/kind feature

**Describe the solution you'd like**
https://github.com/kubernetes-sigs/cluster-api/pull/3934 brought changes to the flags so as to allign with k8s upstream. Should probably be carried to CAPO directory too.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-11-26 08:49] prankul88 commented on #689
/assign

[2020-11-27 00:52] #689 closed

[2020-11-27 09:13] hidekazuna opened #691 "Can not apply manifest using cluster-template-external-cloud-provider.yaml"
/kind bug

**What steps did you take and what happened:**

The manifest generated from cluster-template-external-cloud-provider.yaml is applied and error occurred.

[code]

**What did you expect to happen:**

The manifest is applied successfully.

**Anything else you would like to add:**

We missed removing  field `disableServerTags` from cluster-template-external-cloud-provider.yaml in the commit

[2020-11-27 09:14] hidekazuna commented on #691
/assign @hidekazuna

[2020-12-01 10:49] TeutoNet opened #694 "missing SecurityGroup on neutron API-Loadbalancer"
/kind bug

Hi.

**What steps did you take and what happened:**
I deployed an an k8s-cluster via the openstack-api-provider and external-cloud-provider with the following configuration:

[code]

The loadblanacer and corresponding pools, members, monitors and listeners were created and the first control-plane-node starts  and bootstraps successfully. But my kind based bootstrap-cluster can't reach t

[2020-12-01 13:53] hidekazuna commented on #694
@TeutoNet I am personally using Octavia, have never used `useOctavia: false`.
Which OpenStack version do you use? Because Neutron LBaaS has now been retired in Train release cycle:https://docs.openstack.org/releasenotes/neutron/train.html#relnotes-15-0-0-stable-train-deprecation-notes

[2020-12-01 15:11] hidekazuna opened #695 "Remove using Neutron LBaaS v2"
/kind feature

**Describe the solution you'd like**

Since  [Neutron LBaaS has now been retired in Train release cycle](https://docs.openstack.org/releasenotes/neutron/train.html#relnotes-15-0-0-stable-train-deprecation-notes), let's stop using it.

**Anything else you would like to add:**

OpenStack maintenance status is here: https://releases.openstack.org/

This comes from #694

[2020-12-01 15:56] sbueringer commented on #695
I think we should wait with major breaking changes like this until 0.4.x. Not sure if we should really break compatibility in a big way like this in patch releases.

[2020-12-02 00:10] hidekazuna commented on #695
@sbueringer I agree with you. After release-0.3 is created, we will stop using Neutron LBaaS v2 in master branch.

[2020-12-02 00:10] #691 closed

[2020-12-02 00:53] jichenjc commented on #695
agree as this will break some user who is using older openstack
if we need do the change, only to specific branch..

[2020-12-02 01:31] jichenjc commented on #694
@hidekazuna what's the difference between use Neutron LBaaSv2 and Octavia?
if it's Neutron LBaaSv2 only issue ,then maybe we can suggest to move to Octavia and if it's a just a minor change to capi code, maybe we can consider take it for users who is still using LBaaSv2 a chance so it's still functional and more time to migrate to Octavia.. your suggestion?

[2020-12-02 04:55] hidekazuna commented on #694
@jichenjc I tested external-cloud-provider with Octavia. it works fine; creating deployment,pod, and LoadBalancer type of Service.

[2020-12-02 05:08] hidekazuna commented on #694
@TeutoNet One more question to clarify the issue.
The security group k8s-cluster-default-cluster name-secgroup-controlplane was created, but it did not have the rule  6443/tcp, right? If so, no rule was added to the group?
Can you provide the log of `kubectl logs -l control-plane=capo-controller-manager -c manager -n capo-system`?

[2020-12-02 06:33] daydrim opened #698 "invalid memory address or nil pointer dereference capi-controller crash"
/kind bug

**What steps did you take and what happened:**
1. We created new cluster with yaml and cluster creates Successfully. State Provisioned - capi-quickstart
2. We tried to create second cluster but there is an error (YML misconfiguration) - then cluster stuck in provisioning state capi-multimaster
3. We tried to delete second cluster with kubectl delete cluster capi-multimaster - Cluster st

[2020-12-02 07:27] sbueringer commented on #695
Just have to think about when we want to start a release-0.3 branch as this means additional effort cherry-picking stuff from master to release-0.3.

Not sure if we want to create a 0.4 release just to get rid of the Neutron support or there is some kind of upcoming beta4 for ClusterAPI anyway where we can do this (I"m not really up-to-date with the project)

[2020-12-02 07:29] TeutoNet commented on #694
Hi,

we are using openstack queens, but we are able to enable octavia. But octavia uses a lot more resources per loadblancer and i don't know excactly, but if we enable octavia per project and the clusters uses the cloud-provider, one octavia will be createt per service, except if we are use https://github.com/kubernetes/cloud-provider-openstack/blob/master//docs/octavia-ingress-controller/using-o

[2020-12-02 07:38] TeutoNet commented on #694
I just had a quick look to the code and i can't estimate how many changes are needed ;) . I can give octavia a try and look into it. But the usage of octavia has a much bigger footprint instead of using a haproxy in an namespace. Additionally there is the configuration and mgmt-overhead when using octavia (certificate-handling and so on)

I also tried to deploy the clusters without using the api-l

[2020-12-02 07:41] TeutoNet commented on #694
No, all needed groups were created, but the internal openstack-port of the load-balancer has only the default-security-group and therefor the access of port 6443 is denied from inside and outside, because no one is in that group and if we come from outside, e.g. from the mgmt-cluster access is denied in any case.

[2020-12-02 09:02] hidekazuna commented on #695
I think it is better to create 0.4 release for CAPI v0.4.x (Alpha4 API) where in removing Neutron LBaaS support.

[2020-12-02 09:21] hidekazuna commented on #694
@TeutoNet
I am not sure OpenStack Queens Octavia works nice. But yes, you can try.

Multiple controller nodes without using LoadBalancer for API Server is not supported. If you want to deploy the cluster without using LoadBalancer, use [non-HA template](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/templates/cluster-template-without-lb.yaml) which is single controll

[2020-12-02 09:31] sbueringer commented on #695
Sounds good to me

[2020-12-02 10:12] jichenjc commented on #695
then we need claim 0.4 will only support openstack start from some releases
thus we force user to upgrade their openstack version if they want to use CAPO...
not sure it will impact our potential user

[2020-12-02 10:15] sbueringer commented on #695
It will affect potential users, but on the other hand it's not sustainable for us to try to support versions which are sometimes years out of support. Currently the official maintained releases start with Train (https://releases.openstack.org/)

[2020-12-02 10:19] jichenjc commented on #695
yes, pros and cons ... with current resource we have ,I agree it's reasonable to do break changes :) thanks ~

[2020-12-02 23:56] hidekazuna commented on #695
CAPI v4.x will implement Load Balancer Provider.
https://kubernetes.slack.com/archives/CFKJB65G9/p1603728602008100

[2020-12-03 02:29] jichenjc commented on #695
https://github.com/kubernetes-sigs/cluster-api/issues/1250 is the issue
I think they are talk external provider which is different topic than ours ?

[2020-12-03 07:34] TeutoNet commented on #694
Hi, thanks for the response. I will have to discuss this internally and how we will proceed. Is there a chance that you implement that, or that we can make a pull-request to get that feature in. Or, because of the neutron-lbaas-obsolescence that feature will not be integrated in any way?

Thanks for the help.

Regards
Tino

[2020-12-03 07:54] sbueringer commented on #695
Nope, that is the same topic. Last time I looked at it the idea was to have a explicit concept for LoadBalancers and not just implementing the loadbalancer creation/update/deletion it in the cluster controller.

[2020-12-03 07:58] jichenjc commented on #694
I vote to add it and clearly document it's only useful until some version..
maybe you can help to push a PR..

[2020-12-03 09:34] hidekazuna commented on #694
@TeutoNet Unfortunately I do not have Neutron LBaaS v2 working environment so that I would not create PR. I can help you to create a PR, of course. Now we know what to do;create security group and add it to vip_port if useOctavia: false.

FYI: We are discuss when we stop using Neutron LBaaS v2 in #695 .

[2020-12-03 09:41] TeutoNet commented on #694
Hi,

we decide to switch to octavia and maybe updating our old openstack-deployments if needed.

Thanks for your support.

Regards
Tino

[2020-12-03 09:41] #694 closed

[2020-12-03 13:25] hidekazuna commented on #698
Is this fixed by #693 ?

[2020-12-03 19:38] zoltan0907 opened #699 "PR: SecurityGroup on NeutronLoadbalancerPort"
/kind feature

**Describe the solution you'd like**
As decribed in here https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/694 i would like make a pull request for that feature. Should i simply create a pull request to the master branch, and/or what are the requirements to make a pull request.

Regards
Tino

[2020-12-03 23:57] jichenjc commented on #699
you don't need create a new issue, just create a PR then link the PR to the issue should be good enough

[2020-12-04 06:51] zoltan0907 commented on #699
I made a pull request. I had to do this from my personal github-account and with our company-account which i used in #694

[2020-12-04 06:51] #699 closed

[2020-12-04 11:25] lelvisl commented on #698
Need to test. Are you planing to release trivial version? Or we ned to build from current master state?

[2020-12-04 14:17] hidekazuna commented on #698
we can use gcr.io/k8s-staging-capi-openstack/capi-openstack-controller repository.
https://console.cloud.google.com/gcr/images/k8s-staging-capi-openstack/GLOBAL/capi-openstack-controller

[2020-12-07 00:57] hidekazuna opened #701 "SecurityGroupInUse error"
/kind bug

**What steps did you take and what happened:**
- Try to create a cluster
- Creating a worker machine is in Provisioning phase for a long time due to Quota exceeded for cores
- Try to delete the cluster
- Failed to delete the cluster, continued to be Deleting phase
- Deleted the port created for the worker node manually
- Wait for deleting the cluster for minutes
- The cluster has been d

[2020-12-07 01:25] jichenjc commented on #701
Failed to create a worker machine due to Quota exceeded for cores
Try to delete the cluster

just to clarify , so our expecation is when do the 'delete' action, the whole cluster should be deleted instead of pending and in deleting phase and manual actions should be avoided, correct?

[2020-12-07 01:35] jichenjc commented on #698
latest release is 0.3.3
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/

[2020-12-07 01:52] hidekazuna commented on #701
Yes, I want. Because explicitly I run clusterctl delete cluster mycluster.

[2020-12-08 12:51] jichenjc opened #704 "machine stick to Provisioned"
/kind bug

master code

before move action
[code]

move action
[code]

VM will be `provisioned` all the time,
[code]

[2020-12-08 12:55] jichenjc commented on #704
oops, submit too fast, turn out to be some configuration not done ...

[2020-12-08 12:55] #704 closed

[2020-12-09 08:12] #580 closed

[2020-12-10 01:29] #558 closed

[2020-12-10 06:32] #701 closed

[2020-12-15 15:15] alexpilotti opened #713 "env.rc not reading domain_name and domain_id"
/kind bug

**What steps did you take and what happened:**

When running _source ./env.rc /path/to/clouds.yaml <cloud>_, if the domain name in clouds.yaml's auth section is set in _domain_name_ instead of _user_domain_name_, it is ignored due to yq returning an empty string and not "null".

**What did you expect to happen:**

_env.rc_ should pick the domain name from _domain_name_ in case _user_dom

[2020-12-16 07:06] #713 closed

[2020-12-16 15:02] #581 closed

[2020-12-17 04:15] #584 closed

[2020-12-22 20:55] alexpilotti opened #715 "ca-file not set correctly by env.rc in cloud.conf"
/kind bug

**What steps did you take and what happened:**

When using _cacert_ in _cloud.yaml_, the local CA certificate path is set also in the OpenStack VM's _/etc/kubernetes/cloud.conf_, while the certificate is always copied in _/etc/certs/cacert_

This causes the deployment to fail as the certificate file cannot be found:

[code]

**What did you expect to happen:**

When using a CA certificat

[2020-12-23 01:44] #715 closed

[2020-12-30 17:14] alexpilotti opened #717 "env.rc fails with yq >= 4.0.0"
/kind bug

**What steps did you take and what happened:**
_env.rc_ fails with versions of yq >= 4.0.0, which is what gets installed now on at least Ubuntu (_snap install yq_) and Macos (_brew install yq_).

[code]

The reason is that yq v4 breaks the CLI compatibility with v3, see: https://mikefarah.gitbook.io/yq/v/v4.x/upgrading-from-v3

Here's an example of the required change:

yq < 4.0.0
`CAPO

[2020-12-31 10:36] jichenjc commented on #717
/assign

[2020-12-31 15:17] alexpilotti opened #718 "Deleting router fails if the router interface is not present"
/kind bug

**What steps did you take and what happened:**
`
kubectl delete cluster capi-quickstart
` gets stuck on a loop while trying to delete the router if the interface was already deleted:

`E1231 15:04:46.539212       1 controller.go:257] controller-runtime/controller "msg"="Reconciler error" "error"="failed to delete router: unable to remove router interface: Resource not found" "controller

[2021-01-04 03:30] jichenjc commented on #717
I reproduced above issue, so we need fix it

[2021-01-04 05:36] jichenjc commented on #718
yes, this is something we tried to fix before and guess this one is not covered at that time..

[2021-01-05 09:35] jichenjc opened #721 "expose CLUSTER_API_OPENSTACK_INSTANCE_CREATE_TIMEOUT`"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

in slack channel we are asked whether CLUSTER_API_OPENSTACK_INSTANCE_CREATE_TIMEOUT` is something we can expose

maybe put into template so that it will be easier to consume ..

[2021-01-05 09:37] jichenjc opened #722 "Create floating IP for compute nodes"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

this is asked in slack channel, seems a reasonable use case

[2021-01-06 04:48] rustycl0ck opened #723 "OpenStack 'port' does not get deleted if VM failed to create"
/kind bug

**What steps did you take and what happened:**
* I created a cluster but had forgotten to create the openstack `keypair` beforehand.
* This led to VM not being created with error: `Invalid key_name provided` from openstack.
* Thus, deleted the cluster with `kubectl delete cluster <my-cluster>`.
* This resulted in errors in the controller-manager pod, complaining that the security group

[2021-01-06 07:57] jichenjc commented on #723
yes, this is valid bug and should be addressed, do you intend to fix this ?
basically, anything created on the fly should be removed if the operation is failed as you pointed out
the VM is not created and the resource which is created for the VM should be removed before the VM is clean up

[2021-01-06 08:05] rustycl0ck commented on #723
Sure, I can make an attempt to fix this.

[2021-01-11 05:04] #614 closed

[2021-01-14 13:05] #718 closed

[2021-01-22 04:07] jichenjc opened #726 "openstack provider ID is inconsistent to cloud provider openstack format"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/cloudprovider/providers/openstack/openstack_instances.go#L304
is the format of provider `///` but we only set `//`

which means we will cause issue https://github.com/kubernetes/au

[2021-01-22 06:08] hidekazuna opened #728 "Update kube-rbac-proxy to v0.8.0"
/kind feature

**Describe the solution you'd like**

Current kube-rbac-proxy version is v0.4.1. But It seems better to update kube-rbac-proxy to v0.8.0.

**Anything else you would like to add:**

Cluster API uses v0.8.0.
https://github.com/kubernetes-sigs/cluster-api/blob/master/config/manager/manager_auth_proxy_patch.yaml

[2021-01-22 08:03] #726 closed

[2021-01-25 04:51] sbueringer opened #730 "v0.3.4 release"
Hi,

what do you think about releasing a v0.3.4 version with the latest fixes?

@hidekazuna @jichenjc

[2021-01-28 03:22] jichenjc opened #731 "clusterctl move wait for 20 min to get cluster ready"
/kind bug

run this command
`./clusterctl move --to-kubeconfig capi-openstack-3.kubeconfig -v 10`
to move cluster from kind to production env

it started 2.47.41
[code]

then keep seeing this logs (hundreds lines)
[code]

and keep seeing this
[code]

then see the logs
[code]

at last , the cluster is ready
[code]

[2021-01-28 03:22] jichenjc commented on #731
the question is why we need 20 min to become ready ..

[2021-02-03 04:37] hidekazuna commented on #730
@sbueringer It is good release cadence to me. #732 and #733 are on the way to the v0.3.4.

[2021-02-03 10:01] nakkoh opened #734 "Deployment fails behind proxy environment"
/kind bug

I failed k8s deployment behind proxy environment.
How can I deploy clusters behind proxy environment?

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deploy k8s cluster on OpenStack with [Quick Start](https://cluster-api.sigs.k8s.io/user/quick-start.html).

**What did you expect to happen:**

The Cluster status is "Provisioned".

[c

[2021-02-03 10:37] hidekazuna opened #735 "${NAMESPACE} is missing in template files"
/kind bug

**What steps did you take and what happened:**

- Run `clusterctl config cluster` command with `--target-namespace`  flag.
- `namespace` is in the manifest in spite of no `${NAMESPACE}` variable in the template file.

**What did you expect to happen:**

`${NAMESPACE}` variable should be in template files explicitly.

**Anything else you would like to add:**

Cluster API recommend `${NAM

[2021-02-03 10:38] hidekazuna commented on #735
/good-first-issue

[2021-02-03 11:08] hidekazuna commented on #734
Please try setting `http_proxy` and `https_proxy` in images/capi/packer/config/common.json and re-build your image for CAPO.
https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/config/common.json#L6-L7

[2021-02-04 01:56] nakkoh commented on #734
@hidekazuna Thank you. I can configure proxy settings with your method.
But users must create QCOW2 images each proxy settings.
Is it possible to configure http(s) proxy settings dynamically?
Can I configure http(s) proxy using userdata & cloud-init?

[2021-02-04 02:49] jichenjc commented on #734
https://cloudinit.readthedocs.io/en/latest/topics/examples.html is the guide of cloud-init configuration on proxy..

I think mostly it's out of CAPI scope .. not sure worthy a doc

[2021-02-04 03:30] nakkoh commented on #734
OK. Thanks.
I close the issue.

[2021-02-04 03:30] #734 closed

[2021-02-07 09:56] sbueringer commented on #730
@hidekazuna Sounds good to me

[2021-02-09 06:54] hidekazuna opened #738 "LoadBalancerMember cannot be reconciled"
/kind bug

**What steps did you take and what happened:**

I tried to create workload cluster using external-cloud-provider flavor.
When creating loadbalancer member, subnet not found error occurred.

[code]

**What did you expect to happen:**

loadbalancer members are created successfully.

**Anything else you would like to add:**

**Environment:**

- Cluster API Provider OpenStack version (Or `g

[2021-02-09 07:35] prankul88 commented on #735
/assign

[2021-02-09 09:44] hidekazuna commented on #738
Few days ago I updated Octavia ubuntu package and [Validate resource access when creating loadbalancer or member](https://opendev.org/openstack/octavia/commit/e719a4725f6617546b49cc13bd6c9dadae513404) was introduced. Now octavia checks if new subnet can be seen from octavia context. Then subnet not found error occurred.

We can avoid the error by add the following setting in `octavia.conf`.

[code

[2021-02-11 14:20] #622 closed

[2021-02-15 04:37] #735 closed

[2021-02-15 06:13] nakkoh opened #741 "Can not delete cluster due to SecurityGroupInUse"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1. Create a workload cluster
2. Delete the workload cluster

**What did you expect to happen:**

Deleting the cluster is not completed.
OpenStack instances is deleted.
But the following resources are not deleted.

 * network
 * security groups

**Anything else you would like to add:**
[

[2021-02-15 08:39] hidekazuna commented on #741
Did you create workload cluster successfully? If not, check out #701 , please.

[2021-02-15 08:55] hidekazuna commented on #731
This issue may be resolved by #736 . Since original AWS code was introduced due to speeding up cluster move.
https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/96a146b993e0b25a1c782ad5574a02316ed50b89

[2021-02-15 09:29] nakkoh commented on #741
@hidekazuna Yes. I succeeded.

[2021-02-16 07:46] nakkoh commented on #741
I tried deleting cluster again and the operation succeeded.
So I close the issue.
I'm sorry for upsetting you.

[2021-02-16 14:37] MPV opened #742 "LoadBalancerMember cannot be reconciled: network.APIServerLoadBalancer is not yet available in openStackCluster.Status"
/kind bug

**What steps did you take and what happened:**

Creating a cluster. It got stuck in reconciliation, with errors like this:

`controllers/OpenStackMachine "msg"="Error state detected, skipping reconciliation" "cluster"="prod-1-cluster-1" "machine"="prod-1-kubeadm-control-plane-1-zglwk" "namespace"="prod-1" "openStackCluster"="prod-1-os-cluster-1" "openStackMachine"="prod-1-machine-tmpl-c

[2021-02-17 10:16] hidekazuna commented on #742
502 is server side error code. Please check Load Balancer service or 'The proxy server' which recorded in the log.

[2021-02-18 02:02] #738 closed

[2021-02-18 02:40] jichenjc commented on #741
I think it might be neutron port and neutron security rules/groups has dependency
What command you used? @nakkoh , I assume the first delete removed some rules and next
it will delete the groups? I think worthy another look as 2nd try success doesn't mean it's user's fault

[2021-02-18 05:11] jichenjc commented on #742
yes, it's likely a capi issue, might be openstack services related

[2021-02-18 05:51] sbueringer commented on #730
@jichenjc can you then give feedback here (regarding: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/736#issuecomment-781024027)

[2021-02-18 06:03] jichenjc commented on #730
@sbueringer I am not sure when I can verify ..maybe early next week,
we can go ahead and create 0.3.4 if you think it's ok

[2021-02-18 10:04] sbueringer commented on #730
@jichenjc Early next week is absolutely fine for me. If you don't have the time until then, I will test it locally in our env, no problem.

[2021-02-18 15:33] nakkoh commented on #741
Yes. I said about neutron port.
I deleted the ports applied the security group for worker nodes using `openstack port delete <port-id>`.
Security group for control plane was deleted ithout problems.

[2021-02-19 00:02] hidekazuna commented on #731
@jichenjc I confirmed moving is done very fast by #736. Check out on your environment,please.

[2021-02-19 01:04] jichenjc commented on #741
so you are saying `openstack port delete <port-id>` is manually executed after your first failure?
and after the command execution then 2nd try succeed?

[2021-02-19 03:06] nakkoh commented on #741
Yes. I manually deleted the ports after your first failure.
After port deletion, the security group was automatically deleted.
I didn't have to execute `cluster delete` command again.

[2021-02-19 06:00] jichenjc commented on #731
@hidekazuna thanks, my local devstack env has some unexpected issue now ,so I will close this one based on your result or @sbueringer 's further test

[2021-02-19 06:00] #731 closed

[2021-02-19 06:02] jichenjc commented on #730
@sbueringer please go ahead the release of 0.3.4 w/ or w/o the verfication, my devstack env is broken and
not sure I can get it back soon

[2021-02-19 19:00] sbueringer opened #745 "v0.4.0 (v1alpha4)"
/kind feature

v1alpha4 implementation is on the main branch now. This issue will provide an overview of open tasks until the v1alpha4 release:
* [x] Implement cluster infra contract change externally managed: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/859
* [x] we might have to make some changes to the way we retrieve the cloud secret: https://github.com/kubernetes-s

[2021-02-19 19:00] sbueringer commented on #745
/assign

[2021-02-19 19:02] sbueringer commented on #742
I assume we should be able to handle a single 502, because I would have expected that we will retry the cluster reoncilation. Of course we cannot progress further when retries are not able to create the loadbalancer as the following steps depend on a working lb.

[2021-02-19 19:04] sbueringer commented on #741
You probably don't have to re-execute the delete command because the first time you ran it he deletionTimestamp was set. This means that the cluster is in `Terminating` so the capo controller should retry the cluster deletion until it works.

So when you fix the blocking issue in the meantime it's expected that the CAPO controller will succeed on the next retry.

[2021-02-19 19:05] sbueringer commented on #685
@hidekazuna is this issue still there? Or was it already fixed on master / v0.3.3?

[2021-02-19 19:07] sbueringer commented on #684
@hidekazuna I deleted the file

/close

[2021-02-19 19:07] #684 closed

[2021-02-19 19:08] sbueringer commented on #698
@lelvisl  Is the issue resolved?

[2021-02-19 19:13] lelvisl commented on #698
sorry, i didn't checked. i think you can close this issue.

if it will happens again i will open new issue and link this.

[2021-02-19 19:16] sbueringer commented on #698
No problem

/close

[2021-02-19 19:17] #698 closed

[2021-02-19 23:14] hidekazuna commented on #685
@sbueringer This is the issue of release v0.3.2 asset.

[2021-02-20 05:52] sbueringer commented on #685
Yup, just thinking about how we can resolve this issue.

It sounds like, e.g. a known issue in 0.3.2 which was then fixed in 0.3.3?

I don't really like patching an already released release artifact to fix a bug in 0.3.2

(I don't really know the details of this issue/bug)

[2021-02-20 06:20] hidekazuna commented on #685
I will test v0.3.2 and v0.3.3 follows the steps in this issue, give me hours.

[2021-02-20 06:21] sbueringer commented on #685
Yeah no problem, take your time ;)

[2021-02-20 08:08] sbueringer commented on #730
I got it working here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/746
and in my local environment. I would continue/start with the release process. I'll try to talk to the main
CAPI project, maybe we're able to improve the CI situation (which is a disaster :/)

[2021-02-20 08:44] sbueringer commented on #730
@jichenjc image promotion PR is open here: https://github.com/kubernetes/k8s.io/pull/1687

[2021-02-21 00:01] hidekazuna commented on #685
I tested whether bastion can be deleted or not by `clusterctl delete`

### v0.3.2

bastion can not be deleted. Cluster PHASE remains Deleting. I found the following error.

[code]

### v0.3.3

bastion was deleted successfully.

### Note

Bastion deletion was fixed in #641 which includes API change before v0.3.2 release.
Actually v0.3.2 source code archive has this change, but infrastructure-compon

[2021-02-21 00:03] hidekazuna commented on #685
@jichenjc PTAL

[2021-02-21 05:53] sbueringer commented on #685
@hidekazuna I think we should just add a note to the 0.3.2 release that there was an error in the release process
and that the version 0.3.3 (or 0.3.4) should be used instead.
It already doesn't really look like the other releases: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/tag/v0.3.2

[2021-02-21 15:37] sbueringer commented on #577
/assign

[2021-02-21 15:38] sbueringer commented on #667
will close due to lack of feedback. feel free to reopen if necessary
/close

[2021-02-21 15:38] #667 closed

[2021-02-21 23:48] hidekazuna commented on #685
@sbueringer I agree and really said so: https://kubernetes.slack.com/archives/CFKJB65G9/p1605924023022900

[2021-02-22 02:00] jichenjc commented on #730
@sbueringer the promotion PR is merged, so I think we are good now?

[2021-02-22 02:04] jichenjc commented on #685
@hidekazuna as our latest 0.3.3 is good , I agree with you and @sbueringer that we only need doc somewhere
about 0.3.2 and as people use latest one to test, it should be a minor problem now

[2021-02-22 05:35] sbueringer commented on #685
Alright. I'll add a short note on the release page and close this issue

/close

[2021-02-22 05:35] #685 closed

[2021-02-22 05:38] sbueringer commented on #730
@jichenjc Yes, thank you. I published the release: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/tag/v0.3.4

/close

[2021-02-22 05:38] #730 closed

[2021-02-22 07:54] MPV commented on #742
It's worth noting that we think we have a workaround: deleting each `OpenStackMachine` for the control plane so it recreates a new one (only one at a time). Then we don't see this error again, and reconciliation isn't paused.

After doing the above, we haven't seen this issue again yet (which showed up directly after creation of new clusters, which we haven't done again yet). Soon we will create n

[2021-02-22 07:54] MPV commented on #742
I agree. 👍

I see the error is being logged from here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/1358307c47d97b5dd502b3317ddbc689c4b0983e/controllers/openstackmachine_controller.go#L328

Any ideas on what would need changing to keep retrying reconciliation?

[2021-02-22 08:01] sbueringer commented on #742
@MPV Is that the first error you get?
I would have guessed that the first error leads to a machine in error state and from that one it hits this line.

So the question might be, what should we do the first time we're hitting this issue. Right now I think the
machine get's in error state and then there will be no further retries

[2021-02-22 09:11] MPV commented on #742
Ah, my bad, in my last comment I was referring to the newest line (newest on top in the issue description).

The oldest log line was the one with `controller-runtime/controller "msg"="Reconciler error" "error"="failed to reconcile load balancer: Expected HTTP response code [200 204 300] when accessing`, so from here instead: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/13

[2021-02-22 13:49] Xenwar opened #749 "capo-controller-manager crashing and not recovering due to wrong network UUID"
/kind bug

**What steps did you take and what happened:**
When creating a OpenStackMachineTemplate with an invalid network uuid, the controller crashes.

[code]

**What did you expect to happen:**
That specific request fails and the capo-controller pod keeps running.

[code]

[code]

**Environment:**

- Cluster API Provider OpenStack version: v0.3.4
- Kubernetes version: v1.19.1

[2021-02-22 16:17] sbueringer commented on #745
@jichenjc @hidekazuna
If you want and have some time. The v1alpha4 PR is ready for review: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/748

I'm still fighting a bit with OpenLab but I already had green conformance test and only had a minor issue left regarding cluster delete. But now it fails, imho because of random reboots of OpenLab servers. But I think fixing those is

[2021-02-23 01:47] jichenjc commented on #749
/assign

[2021-02-23 09:57] MPV opened #752 "Support rootVolume for bastion"
/kind feature

**Describe the solution you'd like**
Today it's possible to configure `rootVolume` for machines (via `OpenStackMachineTemplate`), but we'd like to be able to do the same for the **bastion** as well.

**Anything else you would like to add:**

i.e. the equivalent of this:

It would alleviate this error we're currently getting:

`controller-runtime/controller "msg"="Reconciler error" "

[2021-02-23 10:25] jichenjc commented on #752
@MPV thanks for report this , yes this is a feature gap, @hidekazuna as you created the bastion, do you want to add this ? Thanks

[2021-02-23 10:44] MPV opened #753 "Support failureDomain (availability zone) for bastion"
/kind feature

**Describe the solution you'd like**

Today it's possible to set `failureDomain` on OpenStack machines (via `MachineDeployment`).

We'd like to be able to set this for the **bastion** too.

[2021-02-23 10:47] MPV commented on #753
@hidekazuna as you created the bastion, what are your thoughts on this?

[2021-02-23 10:52] MPV commented on #753
Opening this issue since after working around #752 by creating a custom OpenStack flavor with a root disk, our bastion couldn't start because it tries to schedule into our provider's default availability zone (which is a HyperV hypervisor, not our preferred KVM hypervisor in our non-default AZ).

Today our bastion can't start, we only get: `Exceeded maximum number of retries. Exceeded max scheduli

[2021-02-23 12:35] jichenjc commented on #753
I think it's reasonable to add this option ..

[2021-02-23 19:27] jsen- opened #754 "CAPO trying to create floating IP with FQDN"
/kind bug

**What steps did you take and what happened:**
CAPO is trying to create floating IP with value of  `openStackCluster.Spec.ControlPlaneEndpoint.Host`, this is wrong when `Host` is a DNS name not an IP address

**What did you expect to happen:**
CAPO trying to create floating IP from `openStackCluster.Spec.APIServerFloatingIP`

**Environment:**

- Cluster API Provider OpenStack version (O

[2021-02-24 03:29] hidekazuna commented on #752
I do not need this feature personally, but it is OK to be add.

[2021-02-24 03:31] hidekazuna commented on #753
@MPV Current bastion creation is implemented from minimal requirement. Adding az option is reasonable.

[2021-02-24 06:22] jichenjc commented on #749
I tried following but I can't reproduce the issue
[code]

[code]

[code]

[code]

@Xenwar can you help to provide what's the ID you input? I think got 409 is correct because my devstack

[2021-02-24 08:57] jichenjc commented on #731
@hidekazuna I rebuild my test env now and yes, the move is very fast and I can see the
[code]

right after move action

[2021-02-24 12:02] sbueringer commented on #731
nice!

[2021-02-24 17:29] sbueringer commented on #742
@MPV
Just that I get the timeline correctly:
* cluster controller was able to create the lb
* machine controller tried to add lb member for a new machine, got a 502 from OpenStack and the machine went into "error state"

The problematic thing is:
* machine error state (afaik we're triggering by setting `FailureReason` and `FailureMessage` is a terminal state
* that means once the machine is in thi

[2021-02-25 04:27] jichenjc commented on #753
it should not be that hard
let's add one input field of AZ to Bastion

then put into create param of Bastion

[2021-02-25 04:27] jichenjc commented on #753
/assign

[2021-02-25 06:59] #754 closed

[2021-02-26 00:43] hidekazuna commented on #647
/remove-lifecycle stale

[2021-02-26 00:44] hidekazuna commented on #647
/remove-lifecycle rotten

[2021-02-26 00:44] hidekazuna commented on #647
/assign @hidekazuna

[2021-02-26 03:36] jichenjc commented on #752
@hidekazuna I gave another thought here

can we reconsider your bastion definition to
[code]
so that we will inherit all fields from Instance so that we can specify and utilize it?

[2021-02-26 03:36] jichenjc commented on #752
if so, I can update my exisitng PR to this way ...

[2021-02-27 15:55] MPV commented on #647
I noticed this yesterday also.
Any ideas on solutions? 😍

[2021-02-28 06:57] sbueringer commented on #577
/remove-lifecycle rotten

[2021-03-01 01:01] jichenjc commented on #647
guess 2 logics we need support? delete the openstackcluster need delete the bastion and then if update from bastion:true to false should do same job?

[2021-03-01 01:49] hidekazuna commented on #647
@MPV I will copy CAPA code here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/services/ec2/bastion.go#L48-L58

[2021-03-02 01:47] jichenjc opened #760 "make image stuck time to time when download start.sh and restart.sh"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

build stuck here time to time though I can access internet..
I searched and didn't found start.sh and restart.sh usage .. so can we remove them?
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving th

[2021-03-03 06:38] jichenjc opened #763 "image should be optional in openstackmachinespec"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]
failed apply due to
[code]

the cause is image should be `optional` and because if we go boot from volume, this field is optional
**What did you expect to happen:**

[code]

just above should work ,without the `image:`
**Anything else you would like to add:**
[Miscellaneous infor

[2021-03-03 06:42] jichenjc opened #764 "no CI check job for doc and non-code file changes"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

avoid conformance and CI check jobs for doc related non-code file changes

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-03-05 05:13] hidekazuna commented on #695
/remove-lifecycle stale

[2021-03-07 17:16] wuli-jessica opened #769 "update yq commands in scripts file"
/kind feature

**Describe the solution you'd like**
YAML processor yq have released V4 which is quite different from previous versions. We'd like to update the code of create_cloud_conf.sh and env.rc to support both new and old versions of yq.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-03-08 05:27] #760 closed

[2021-03-08 05:51] #753 closed

[2021-03-08 07:31] chrischdi opened #771 "Improve security group reconcilation"
/kind feature

Currently the security groups get reconciled by deleting all existing rules and creating all wanted rules if only a single rule does not match (see https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/services/networking/securitygroups.go#L111).

If in future the hardcoded security groups get changed and capo reconciles it will delete and recreate

[2021-03-08 07:32] chrischdi commented on #771
I would be happy to contribute the improvement if it is considered good :-)

[2021-03-08 07:34] jichenjc commented on #771
I think it's a reasonable change :) please go ahead

@hidekazuna FYI

[2021-03-08 08:51] hidekazuna commented on #771
Since ReconcileSecurityGroups only runs `openStackCluster.Spec.ManagedSecurityGroups: true`, we can avoid the situation by the following.

1. Update `openStackCluster.Spec.ManagedSecurityGroups` to `false` to stop running ReconcileSecurityGroups.
2. Update security groups following new hardcoded security groups manually.
3. Update CAPO
4. Update `openStackCluster.Spec.ManagedSecurityGroups` to `tr

[2021-03-08 13:10] chrischdi commented on #771
Yes, this would have the result but needs manual actions to have a smooth migration :-)

[2021-03-09 10:42] jichenjc commented on #728
@hidekazuna I think we can close this as we have a v1alpha4 PR already

[2021-03-09 10:43] jichenjc commented on #752
code merged, please check with latest image

[2021-03-09 10:43] #752 closed

[2021-03-09 10:46] jichenjc opened #777 "Add `clusterctl move` to CI"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

we create cluster and run conformance test , but the cluster is not moved
better to add this `move` action before we run conformance test

[2021-03-10 01:03] jichenjc commented on #777
Take
https://logs.openlabtesting.org/logs/76/776/95893c32f7d950cb0cd39284eb3fe90e7e900ba0/check/cluster-api-provider-openstack-current-acceptance-test-v1.18/19d03f7/job-output.txt.gz

as example,
[code]

we created a cluster and we start the test, but we should consider move objects from
kind cluster to workload cluster (so that we can simulate more real world for something like machine api handli

[2021-03-11 04:00] hidekazuna commented on #728
@jichenjc I will close this issue if #748 is merged.

[2021-03-11 06:02] #679 closed

[2021-03-11 06:02] #728 closed

[2021-03-11 18:37] sbueringer commented on #777
I plan to implement more advanced e2e tests soon (after the Prow PR is merged). Could it be that this is one of the scenarios tested by other providers (I saw something like node scale up/down, but I'm not sure if they are also testing clusterctl move)

[2021-03-11 18:43] sbueringer commented on #764
Have to clarify if that's possible in Prow. I'm not sure if we can skip mandatory jobs on doc PRs.

Maybe it's possible with `run_if_changed`. But this means we have to match on all files where we want to run the tests (i.e. we need a list when they should be run, not a list when they should not be run)

[2021-03-11 18:48] sbueringer commented on #763
@jichenjc But isn't the image set in your example?

[2021-03-12 00:48] jichenjc commented on #763
@sbueringer this is different, this is found during my test and not related to bastion at all  (normal machine has this issue as well) so I need create another one to handle

[2021-03-14 08:49] sbueringer opened #783 "Provide documentation website (like CAPA/CAPZ)"
/kind feature

**Describe the solution you'd like**
Would be really nice if we could provide our documentation like CAPA/CAPZ:
* https://capz.sigs.k8s.io/
* https://cluster-api-aws.sigs.k8s.io/

I think it's way nicer then our current markdown files

[2021-03-15 00:14] jichenjc commented on #783
ok, this is better doc

I will read the process and check how we can create such (maybe a framework first then keep adding stuffs)

[2021-03-15 00:14] jichenjc commented on #783
/assign

[2021-03-15 18:23] sbueringer opened #784 "Using OpenStack keypair to access a Kubernetes node"
/kind bug

**What steps did you take and what happened:**

I created a ssh key pair and tried to jump onto a control plane node via this key. I was able to jump onto the bastion node
but not onto a control plane node. Problem was that the ssh key from OpenStack is only created for the root user but ssh
login for the root user is blocked. How is this supposed to work? :) If it works for anyone, how

[2021-03-15 18:32] sbueringer opened #785 "Remove OpenLab integration"
As master is now using Prow instead of OpenLab I would try to get rid of our OpenLab integration. This would include:
* [x] cleanup in OpenLab repos, e.g.: periodic scheduled jobs: https://github.com/theopenlab/openlab-zuul-jobs/pull/1134
* [x] remove OpenLab application from the GitHub repo: https://github.com/kubernetes/org/issues/2580
* [x] tests on release-0.3 (cherry-pick Prow conformance tes

[2021-03-15 20:13] sbueringer commented on #763
@jichenjc Just was confused because the example does not fit your error

[2021-03-15 20:14] sbueringer commented on #783
@jichenjc Just fyi. I already sync the Makefiles a bit with the ones from AWS in this PR: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/782

Could make sense to build on top of that when we want to implement it the same / a similar way as CAPA

[2021-03-16 00:27] jichenjc commented on #785
I am +1 to all the stuffs above , thanks for driving this ~

[2021-03-16 00:36] jichenjc commented on #784
it never works for me before...

[2021-03-16 00:44] jichenjc commented on #763
@sbueringer my bad, I updated original issue and pasted the configuration and some info as well

[2021-03-16 00:49] jichenjc commented on #783
@sbueringer yes, I think some debug/test need to be done as I encountered some golang issue yesterday
maybe we can do additional changes after 782 merged

[2021-03-16 00:50] #771 closed

[2021-03-16 00:55] jichenjc commented on #784
I assume you are talking about our mechanism? I believe openstack/cloud-init itself doesn't have such limitation

[2021-03-16 05:17] sbueringer commented on #763
@jichenjc In your YAML above the image and the rootVolume is specified. I assume in your case the image is not set?

[2021-03-16 05:18] sbueringer commented on #784
@jichenjc Yes I'm talking about our OpenStack ssh key pair. I think for our integration tests I will just use an additional user and username/pw as that's simpler anyway.

But I think when we provide the property we should have a documentation how to use it, if it's not trivial. Maybe it works, but not with the image-builder image?

[2021-03-16 06:09] jichenjc commented on #784
yes, I doubt the image itself configuration because we are using image builder now and not with CAPO /cluster api the non-root username/key works very well , so we need check image builder first and fix potential issue then test with new image and may doc the behavior as well

[2021-03-16 06:10] jichenjc commented on #763
I need have both`image` and `sourceUUID` below but actually the image is optional because root volume dict contains the image info .. the validation reject the API request if no `image` is specified even it's boot from volume case..

      image: cirros-0.5.1-x86_64-disk
      rootVolume:
        diskSize: 1
        sourceType: "image"
        sourceUUID: d08b6b0f-361a-4586-860a-949b623abefa

[2021-03-16 08:35] sbueringer commented on #784
I think it's a feature and not an issue that you're not able to use ssh with the root user (as that's an antipattern). Just not sure if OpenStack e.g. allows adding the key to another user.

[2021-03-16 08:39] sbueringer commented on #763
Okay sounds reasonable to me to adjust the validation that image is optional when rootVolume is set

[2021-03-16 12:39] jsen- opened #788 "add the possibility to create custom ports"
/kind feature

**Describe the solution you'd like**
Some of the workloads in our clusters require network acceleration (SR-IOV). In order to support this requirement, we'd like to be able to create and attach custom ports to worker nodes.

We tried attaching the ports to compute instances after they were created, unfortunately this does not work for some reason, the VM needs to be created with the

[2021-03-16 18:00] sbueringer commented on #788
@jsen- Overall this seems reasonable to me.

Do you need to create additional ports or is it sufficient to customize the one port we create anyway (via CreateOpts)?

[2021-03-17 03:44] jichenjc commented on #788
from https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/778/files#diff-5e7dbfd52305a21a11fb94fab201062ae2c7b851db93c2a8443a1d82d7aa7936R253
 seems a couple of ports will be created ,that's allowed and from this issue seems vnic_type is the key thing to add

[2021-03-18 11:00] seanschneeweiss opened #790 "goimports: fix sorting"
/kind bug

**What steps did you take and what happened:**

I would suggest to adapt a certain sorting standard for the go imports.

Have a look at e.g. `loadbalancer.go`:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/8f03cd602fbc94ac2337637daa11d8742beceb85/pkg/cloud/services/loadbalancer/loadbalancer.go#L19-L39

**What did you expect to happen:**

The following structure

[2021-03-18 12:28] sbueringer commented on #790
Sounds good to me

[2021-03-18 14:51] #790 closed

[2021-03-19 08:09] hidekazuna commented on #769
I am wondering why we support  both versions. Since [support for v3 will cease August 2021](https://github.com/mikefarah/yq#v4-released), it is enough to support v4 for us.

[2021-03-19 08:21] sbueringer commented on #769
I assume because this would enforce every consumer of CAPO to migrate to yq 4 in all places where yq is used (or use a different version for CAPO).

[2021-03-19 08:38] jichenjc commented on #769
I think we can still add v3 and may remove it after end of support of v3
just copy code and don't do too much test is good enough, if error /issue come out, let's fix it~

[2021-03-19 08:45] hidekazuna commented on #769
OK, yq is used in small amount of scripts.

[2021-03-19 14:20] sbueringer opened #794 "Provide qemu OS images via the capo staging bucket"
/kind feature

**Describe the solution you'd like**

We have a pretty fragile dependency on qcow2 images on Github releases at the moment.
Let's add a job which periodically builds and pushes Ubuntu 20 images with the help of the
image-builder repo. Probably the best "target" would be our staging bucket (but I would compare
that how it's done with cluster-api nightly builds at the moment)

xref:
*

[2021-03-19 14:24] sbueringer opened #796 "Create a v0.4.0.beta.0 release to verify the new release targets"
As written in the title, I would like to make a test release (maybe in 2-3 weeks) to verify the new release targets
and update the RELEASE.md accordingly.

Our targets had been updated in: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/782

/assign

[2021-03-20 13:19] sbueringer commented on #741
@nakkoh I hit the same issue when implementing the e2e tests. I"ll fix it in: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/798

(My issue was that after the server were deleted some ports were left. I'll add a port cleanup before the sec group deletion)

[2021-03-22 01:29] jichenjc commented on #794
I checked that slack info and seems still lost some background
just for education, you want to create new images time to time (ubuntu 20) so that we can use latest
image with kubeadm etc to make sure we won't suffer any not-up-to-date issue? @sbueringer

[2021-03-22 05:35] sbueringer commented on #794
@jichenjc
Yes. Problem right now is that we depend on an old Ubuntu image I uploaded on a previous release in our e2e tests.
With my current PRs it gets a bit bitter (imho), as I'll now depend on images from [here](https://github.com/sbueringer/cluster-api-provider-openstack-images/releases). Ideally we don't depend on images of some of my repos. But I think that's a long-term discussion and I hav

[2021-03-22 05:45] sbueringer commented on #577
The issue is basically implemented. After those 3 PRs have been merged it can be closed:
  * [Implement conformance via test framework](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/782)
  * [golangci-lint](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/797)
  * [add e2e tests for all flavors #798](https://github.com/kubernetes-sigs/cluster-api-prov

[2021-03-23 02:12] jichenjc commented on #794
@sbueringer thanks for the info, make sense to me :)

[2021-03-23 02:19] #769 closed

[2021-03-23 21:35] stmcginnis opened #801 "Generated code may go to `$GOPATH/src` instead of in repo"
/kind bug

**What steps did you take and what happened:**

Found in https://github.com/kubernetes-sigs/cluster-api/issues/4185

We use [conversion-gen](https://pkg.go.dev/k8s.io/code-generator/cmd/conversion-gen) to generate some of the code. This command has an optional argument of `--output-base` that controls where the generated files are placed.

The default for this arg can vary. If `GOPATH`

[2021-03-23 21:39] sbueringer commented on #801
@stmcginnis Thx for opening this issue here. I already saw the discussion in the cluster-api repo.

Sounds good to me. I would just includ it in this PR: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/798

 I already synced the Makefile there with the Makefiles of other providers, so it makes senses to just include it

[2021-03-23 21:44] stmcginnis commented on #801
Sorry @sbueringer, I saw your comment too late. I'm fine with whatever. I'll leave this PR up in case we want a targeted change, but if you want to just include it in #798, that's fine too. Thanks!

[2021-03-23 21:44] sbueringer commented on #801
Just saw you're PR. Let's run the tests to be save and then just merge it, I'll rebase my pr ;)

[2021-03-24 01:44] #801 closed

[2021-03-25 04:12] sbueringer opened #804 "Cleanup GenerateCIArtifactsInjectedTemplateForDebian"
**What steps did you take and what happened:**
I duplicated the `GenerateCIArtifactsInjectedTemplateForDebian` func of cluster-api because the upstream func doesn't work in our case (yet)

It has the following issues:
1. they are using gsutil instead of  curl. Thus they install google cloud sdk first which adds  ~3-5 minutes to to node startup in our environment (probably in all environments)
2. t

[2021-03-25 04:12] sbueringer commented on #804
/assign

[2021-03-25 04:47] sbueringer commented on #801
I have a bit of a strange setup locally so the fix seem to lead to problems here.

* I checked out the CAPO repo at `/home/sbuerin/code/src/sigs.k8s.io/capi-dev/cluster-api-provider-openstack`
* my GOPATH is set to `/home/sbuerin/code`

conversion gen is run via the Makefile with:
[code]

It then generates the conversion file at: `/home/sbuerin/code/src/sigs.k8s.io/capi-dev/cluster-api-provider-op

[2021-03-25 10:51] stmcginnis commented on #801
Great catch! Adding the conditional logic of seeing the output base was due to this happening in GOPATH. I wonder if with your change that would even be necessary. We may be able to simplify some logic by setting that to 'on'.

I may test some more, but that's a great fix.

[2021-03-25 11:51] stmcginnis commented on #801
Checked in `cluster-api` and `GO111MODULE` is already set to `on` there. So it doesn't look like that fixes the whole issue originally seen. But at least adding it here in this case does help, so that's great!

[2021-03-25 17:49] sbueringer commented on #785
All done
/close

[2021-03-25 17:49] #785 closed

[2021-03-25 17:50] sbueringer commented on #801
@stmcginnis Yeah I looked up if there's something different regarding go modules in the main repo and that's how I found the fix :)

[2021-03-25 19:19] bl0m1 opened #808 "Create and use server group for masters to ensure anti affinity"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I want to ensure that masters are spread cross availability zones.
I know some companies are deploying a cluster in a specific AZ so I think this option if implemented should be opt-in.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving th

[2021-03-26 03:21] jichenjc commented on #808
we have failure domain https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/api/v1alpha3/openstackcluster_types.go#L126 defined

and it's updated here
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/controllers/openstackcluster_controller.go#L278

and the instance of control pane is created at cluster-api side and  cluster-api seems randomly s

[2021-03-26 06:13] sbueringer commented on #577
Last 2 open PRs:
* https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/798
* https://github.com/kubernetes/test-infra/pull/21536

I"ll close the issue after those.

[2021-03-26 06:15] sbueringer commented on #647
Sounds reasonable to me.

[2021-03-26 06:16] sbueringer commented on #695
Looks like we will get rid of our last OpenStack with Neutron LBaaS v2 on Monday. So I got lucky regarding compatibility with upstream CAPO v1alpha4 :)

I would implement this
/assign

[2021-03-26 06:17] sbueringer commented on #717
@jichenjc I assume this should be fixed now as the PR was merged? https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/792

[2021-03-26 06:22] sbueringer commented on #721
@jichenjc I wouldn't add this an additional parameter to the template.

We got rid of a lot of configuration variables in the templates over time and I think one idea of the templates is to be able to easily use them and you only have to set a few environment variables to do it. So I think this timeout is by for not important enough to qualify as "one of the 10 most important configuration options

[2021-03-26 06:25] sbueringer commented on #723
@rustycl0ck @jichenjc

Also got it when implementing e2e tests.
Should be fixed here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/798/files#r602041457

[2021-03-26 06:26] sbueringer commented on #741
To be precise here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/798#discussion_r602041457

Also this seems to be a duplicate of: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/723

[2021-03-26 06:27] sbueringer commented on #745
I would keep this issue for now to track further work regarding v1alpha4. Afaik the plan is to release cluster-api v1alpha4 in a few weeks.

[2021-03-26 06:30] sbueringer commented on #777
I think after the move to the new e2e tests we could take a look if other providers are doing it and how.
Although I think this goes against the pattern of 99% of the current e2e tests in CAPI right now.

The usually work like this:
* start *one* kind cluster and deploy *one* CAPI/CAPO control plane
* then you run several tests concurrently which test e.g. different cluster topologies

If we would

[2021-03-26 06:33] sbueringer commented on #784
@hidekazuna do you maybe have some ideas? We deliberately dropped the standard CAPI way (compatible with *all* providers) to do this in our templates in favor of this method. I think if our OpenStack method doesn't work I would go back to the CAPI way of doing this, as it's way easier to use the same way as in all other providers and it works.

[2021-03-26 06:35] sbueringer commented on #749
@jichenjc let's wait if we get feedback from @Xenwar the next few days and otherwise close it because we cannot reproduce it.

[2021-03-26 06:42] sbueringer commented on #808
Maybe I got it wrong, but we can currently deploy the control plane nodes either:
* without config randomly spread in multiple azs (it uses the available ones)
* in a configured set of azs
* in only one specific az

Do you require something else?

We're not using server groups in our env, so I'm not really familiar with how they work.

What I could read [here](https://docs.platform9.com/v5.0/opens

[2021-03-26 08:29] hidekazuna commented on #784
@sbueringer As you said, we can use non-root user to login control plane and worker node via bastion. It is enough for feature. I still do not understand why we need to use root user to login control plane and worker node via bastion. Is that needed for only e2e test?

[2021-03-26 08:30] sbueringer commented on #784
I am not able to login with a non-root user because the OpenStack feature only adds the key to the root user and I'm not able to log in with that one. Maybe I"m doing it wrong.

[2021-03-26 08:34] hidekazuna commented on #784
I understand. I built image builder os image few months ago and use ubuntu user to login control plane and worker node via bastion. I will try building image builder again.

[2021-03-26 08:36] sbueringer commented on #784
@hidekazuna Thank you. If it works for you, I would add some more information about how I (and our e2e tests) are doing it and maybe we can find out what's the difference.

[2021-03-26 08:46] sbueringer commented on #784
@hidekazuna You can also use the one we're using in our tests if you want:
* https://github.com/sbueringer/cluster-api-provider-openstack-images/releases/tag/ubuntu-2004-v1.18.15-0
* It's build with this script: https://github.com/sbueringer/cluster-api-provider-openstack-images/blob/main/.github/workflows/build.sh

[2021-03-26 09:38] jichenjc commented on #808
2 topics， one is az selection and the other is affinity

I think the ask is for cross AZ deployment, which is , let's say 3 az, you can put 3 masters into those AZ
but I highly doubt this in reality because this means master especially etcd cluster will be put into different AZ
 and this might lead to further issue

so soft anti-affinity should be introduced so that we can at least ensure those ma

[2021-03-26 09:56] sbueringer commented on #808
I think I want to wait for feedback from @bl0m1 . Distributing control plane nodes across azs already works today and is as far as I know the main use case (e.g. in CAPA). Apart from that I'm not entirely sure to which OpenStack feature this issue refers to (or if there are related OpenStack features that cover similar use cases)

[2021-03-26 10:35] hidekazuna commented on #784
@sbueringer  I built image builder image and logged in  one of control plan node via bastion as ubuntu user successfully.
image builder was commit 271b8a0b59f201d82c1095b39c31fa5d1706f39a

[2021-03-26 10:38] hidekazuna commented on #784
@sbueringer I will try the image you built next :)

[2021-03-26 11:04] sbueringer commented on #784
@hidekazuna Thx. It would be especially useful to know for which users the authorized key has been added and if there is anything special how the keypair has to be created in OpenStack.

[2021-03-26 12:16] hidekazuna commented on #784
@sbueringer I was not able to login bastion using your image.

I built 20.04 image builder image and confirmed login to one of control plane node via bastion as ubuntu user as 18.04.

your building script [converts the image to qcow2](https://github.com/sbueringer/cluster-api-provider-openstack-images/blob/main/.github/workflows/build.sh#L58), but the image is already qcow2 and converting is not n

[2021-03-26 12:32] sbueringer commented on #784
@hidekazuna The script converts the image from qcow2 to compressed qcow2 to save upload/download bandwith  (`-c` option)

[2021-03-26 13:48] hidekazuna commented on #784
@sbueringer Thanks. I compressed my images and was able to login bastion successfully.
https://github.com/kubernetes-sigs/image-builder/pull/562 may be the reason. This is merged 2 days ago.
I investigated your image and found cloud-initramfs-growroot in the image actually.  Can you try latest image builder?

[2021-03-26 14:29] sbueringer commented on #784
I can update yes. Did you already have time to test if you can also log in with my image?

[2021-03-26 14:43] hidekazuna commented on #784
I booted from your image but could not login. I mounted the image locally using qemu-nbd and found cloud-initramfs-growroot in it. My image did not include cloud-initramfs-growroot.

[2021-03-26 14:57] sbueringer commented on #784
@hidekazuna okay thank you very much. I'll try the image and get back to you

[2021-03-26 20:20] sbueringer commented on #784
@hidekazuna the problem was not the image, I had the same problem even with the new image.

The problem is actually that I added the capi user to the `users` config in KubeadmControlPlane and KubeadmConfigTemplate. This apparently overwrote the config that the `ubuntu` user is the default user. OpenStack seems to add the key either to the default user or root if there is none.

so tl;dr. you can e

[2021-03-27 01:49] hidekazuna commented on #784
@sbueringer Can't you add `users` in kubeadmConfigSpec like the following?

[code]

I added above and done the following:

- scp private key into bastion as ubuntu user(since bastion spec is not related to kubeadm, we can not use capo)
- ssh bastion as ubuntu user using private key.
- ssh one of controller node as capo user using private key.

[2021-03-27 06:12] sbueringer commented on #784
@hidekazuna Yes that works no problem. I just can't add a user via kubeadmConfigSpec and use the OpenStack key pair at the same time, because it's then added to the root user. But I think that's okay.

[2021-03-27 08:54] sbueringer opened #814 "Provide nightly artifacts of our master versions"
/kind feature

**Describe the solution you'd like**
In short: CAPI publishes nightly artifacts of all there manifests and images. It would be nice to also have it.
We probably only have to add a cloudbuild-nightly yaml and a job for it in the test-infra repo.

For more context, see: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/811#issuecomment-808693923

[2021-03-27 09:55] bl0m1 commented on #808
As mentioned CAPA currently seems to spread masters across AZ based on internal logic. When using server groups this logic is no longer needed (away from specifying the group on instance creation) and based on configuration the group can be used for booth affinity and anti-affinity.

Openstack server group can ensure that instances are located in different az's and/or on different hosts.

This mea

[2021-03-27 10:22] sbueringer commented on #808
@bl0m1 Thx for the clarification.

What further complicates this is that failure domains is not a provider specifc feature. CAPO/CAPA controllers provider the kubeadm control plane with a list of failure domains (they don't have to be az's). The kubeadm control plane controller then explicitly creates severs in different failure domains.

So I think we would have to figure out how this fits togeth

[2021-03-27 10:37] sbueringer commented on #784
I tested it by specifying the following:
[code]

Result was:
[code]

I think the problem is that we're adding users at all and we loose the default user config (from `/etc/cloud/cloud.cfg`) which looks like this:
[code]

It's no possible to add a `- default` entry via ClusterAPI, just regular array entries

So the result is pretty simple:

I think that's totally fine and I'll open a PR to include

[2021-03-27 10:48] sbueringer commented on #784
Thx for your help finding this out @hidekazuna

I'll close the issue as it's not a bug and the PR to test this (#815) is just a follow-up

/close

[2021-03-27 10:48] #784 closed

[2021-03-27 13:05] MPV commented on #808
In our case, since our provider doesn't have multiple AZs per data center, we'd like to be able to use server groups for spreading our control plane across hypervisors (to increase resilience).

[2021-03-29 11:31] jichenjc commented on #808
https://github.com/kubernetes-sigs/cluster-api/blob/master/controlplane/kubeadm/internal/control_plane.go#L169

so the control plane will select less VM on that failuredomain (AZ) then schedule workload to it ...

[2021-03-29 11:31] jichenjc commented on #808
if we provide multiple AZ (failuredomain), then likely control plane will spread among them
might need some quick test though..

[2021-03-29 12:15] sbueringer commented on #808
What would be interesting to me is:
* is it possible to discover the available in hosts in OpenStack
* is it possible to specify a specific host when creating a server

I think then we can use the CAPI failure domain feature to distribute server onto different hosts. If it isn't, it has to be implemented independently of the CAPI failure domain feature (e.g. a property in the OpenStackMachineTempl

[2021-03-29 12:23] jichenjc commented on #808
no , failure domain and AZ is targeting to differnet AZ/host aggregate

for host, it's different story, either we select a host, or we let scheduler choose one?

[2021-03-29 12:28] bl0m1 commented on #808
I have not found any way of selecting a host when scheduling an instance. however az can be specified

[2021-03-29 12:37] sbueringer commented on #808
@bl0m1 okay thx. Then I assume implementing it via a property on the `OpenStackMachineTemplate` is the way this should be implemented.

How is this usually done?

From what I can see in the doc I would have assumed:
* create a server group with policy soft-anti-affinity before creating the server
  * I assume soft-anti-affinity is preferred. I guess otherwise the server will not come up
* assign t

[2021-03-29 15:51] bl0m1 commented on #808
I agree that soft-anti-affinity would be the best default option since some smaller providers maybe doesn't have that many hosts.

Regarding assignment you are correct about setting os:scheduler_hints.group during instance creation

Regarding what group a server belongs. I guess there is 2 ways.
1. Assign each machine deployment to a separate group.
2. Create one group for masters and one for work

[2021-03-29 16:36] sbueringer commented on #808
We're reconciling on a per OpenStackMachine basis. So we can:
* either try to derive the security group from a parent/owner resource (which is either a MachineDeployment or a KubeadmControlPlane) or
* let it be explicitly configured in the OpenStackMachineTemplate or
* both: if it's explicitly configured in the OpenStackMachineTemplate use it from there, if not fallback to the parent/owner resourc

[2021-03-30 02:23] jichenjc commented on #808
I think we might want to sync with openshift implementation ...

https://github.com/openshift/cluster-api-provider-openstack/blob/master/pkg/cloud/openstack/clients/machineservice.go#L735

@iamemilio can you help to confirm openshift contains such feature already?

[2021-03-30 03:50] sbueringer commented on #808
@jichenjc Ah nice finding. Looks like the OpenShift fork contains more or less exactly what we want (maybe we want additionally to make the policy configurable)

[2021-03-30 06:06] rustycl0ck commented on #723
I think #705 should have probably fixed this issue, I didn't get a chance to try that out though.

[2021-03-30 06:26] sbueringer commented on #723
Maybe but I got the same error a lot of times when building the e2e test and #705 was already merged.

[2021-03-30 07:07] sbueringer commented on #723
@rustycl0ck would be nice to get verification if the fix in #705 did actually fix this instance of the problem. In case you're not able to reproduce we could alternatively close the issue and reopen it in case it reoccurs.

[2021-03-30 11:03] #577 closed

[2021-03-30 11:03] #723 closed

[2021-03-30 11:03] #741 closed

[2021-03-31 01:56] #804 closed

[2021-03-31 06:54] #647 closed

[2021-04-01 12:18] prankul88 opened #824 "Document Nightly builds usage"
#819 introduces the nightly-build option in CAPO. I would like to have this documented, how it can be used by the users.

/kind documentation

[2021-04-01 12:26] sbueringer commented on #824
/assign
(probably next week)

[2021-04-01 13:54] blencoff opened #825 "unable to load clouds.yaml"
/kind bug

**What steps did you take and what happened:**
I've tried to perform steps from [Cluster API Quick Start](https://cluster-api.sigs.k8s.io/user/quick-start.html) in order to create test k8s cluster in our 'on-premise' OpenStack, but faced with an issue after applying cluster manifest.
Cluster has stuck on _Provisioning_ phase, machine resources has stuck in _WaitingForInfrastructure_ sta

[2021-04-01 14:03] sbueringer commented on #825
I think the error is not that it couldn't find the key in the secret. I think the error is returned here:

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/6b4da71c432f3a126c799c0872790cc8b205b68f/pkg/cloud/services/provider/provider.go#L87-L91

This means that `unable to load clouds.yaml: no clouds.yaml file found` is returned by `clientconfig.AuthOptions(clientOpts)` which

[2021-04-01 14:26] blencoff commented on #825
@sbueringer
I've removed cert/key/cacert parameters from clouds.yaml for test purposes

[code]

But errors are still remains
[code]

[2021-04-01 14:28] sbueringer commented on #825
@blencoff I assume the mismatch in the cloud name is just in this issue? :)

[2021-04-01 14:35] blencoff commented on #825
@sbueringer Oops, my bad, forgot to replace real cloud name with 'pilotcloud' in error message... :)
Actually there is the same cloud name in secret and error message.

[2021-04-01 14:48] sbueringer commented on #825
No problem :)

Unfortunately the code of the util is not easily decipherable. Can you try to only speicfy the properties as we use them in our e2e tests?
[code]

I suspect the `cloud`property is throwing the util off. I can later try to step through in the debugger to find out where it goes wrong.

[2021-04-01 15:19] blencoff commented on #825
As a first test I used clouds file like this:

[code]

And got this error
[code]

[2021-04-01 15:27] blencoff commented on #825
Now I've tried this
[code]

And got this
[code]

So I think you're right, rootcause was in `cloud` property

[2021-04-01 15:39] sbueringer commented on #825
@blencoff Okay good. Should be possible to get it to work now. I'll check if we can use another util func which not randomly tries to parse a cloud.yaml which does not exist.

[2021-04-02 08:49] Xenwar commented on #749
@sbueringer Apologies for the late reply.
I have re-tested the case and can no longer reproduce it.
And, closing this issue.

[2021-04-02 08:49] #749 closed

[2021-04-02 10:17] blencoff commented on #825
It could save a lot of time if there would be more informative error message, e.g. "unknown parameter" or at least "failed to parse clouds.yaml".

[2021-04-02 10:48] jichenjc commented on #825
I knew https://github.com/kubernetes/cloud-provider-openstack had some check on the yaml and params
maybe worthy a steal

[2021-04-02 10:48] jichenjc commented on #825
I knew https://github.com/kubernetes/cloud-provider-openstack had some check on the yaml and params
maybe worthy a steal

[2021-04-02 11:37] sbueringer commented on #825
Yeah the problem is that we would have to make this change upstream in goperclouds/utils and I assume the error is not even wrong from there point of few. I hope we're just using the wrong func

[2021-04-02 11:38] sbueringer commented on #825
I think there are not using the cloud.yaml but the cloud.conf format?

[2021-04-02 11:48] sbueringer commented on #825
I think I know how to fix it. I'll open a PR, let's discuss there

[2021-04-02 16:20] #814 closed

[2021-04-06 05:51] sbueringer commented on #722
I'm wondering what the use case behind this is. Usually, services in a Kubernetes cluster get exposed via a service of type loadbalancer. It seems a bit excessive to give every single compute node its own floating ip.

[2021-04-06 06:24] jichenjc commented on #722
I don't remember who asked this but it's asked there..

the use case is for debug and access compute node for update .. with bastion introduced, seems this is not needed anymore

[2021-04-06 06:24] #722 closed

[2021-04-06 06:34] jichenjc commented on #825
they use .. in the CSI side

[2021-04-06 06:51] sbueringer commented on #825
Ah okay. Apart from that, I think my fix is correct for the current problem, we should never set the cloud in the `clientOpts` if it cannot work. We currently rely on that it's not set in the "incoming" cloud.yaml.

[2021-04-06 07:31] hidekazuna opened #832 "Implement conditions"
/kind feature

**Describe the solution you'd like**

Cluster API has [conditions](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20200506-conditions.md#kubernetes-conditions) feature. CAPI/CAPA/CAPZ/CAPV already implemented the feature. we should have it, too.

**Anything else you would like to add:**

[2021-04-06 07:39] sbueringer commented on #832
Sounds good to me. Just have to ensure we do it right :)

[2021-04-06 14:46] iamemilio opened #834 "Port/Trunk Re-use Logic Bugs"
/kind bug

The port and trunk re-use logic in the instance create function of CAPO is buggy in all versions, but even if it was not, it would be a race condition.
Example 1:[ ports created for instances](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/74ecd868ab4a7125ba562821dae9407e7c65f3a5/pkg/cloud/services/compute/instance.go#L168-L188)
Bugs:
- ports found could be in us

[2021-04-06 14:52] sbueringer commented on #834
@iamemilio Just out of curiosity, what other services could take the ports created by CAPO?

What would be the correct way to implement this to avoid all these problems?

[2021-04-06 15:08] iamemilio commented on #834
It might be the case that the user is deploying on a shared openstack tenant, and another service takes a port that CAPO was planning to attach to an instance. I think this is a relatively unlikely case though, and might be resolvable with just a simple reconcile loop. I think its much more likely that CAPO would mistakenly take a port that was set up for infrastructure purposes in a given network

[2021-04-06 15:50] sbueringer commented on #834
Okay I think I mostly got it. And those ports are created with the same name as the server? (https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/74ecd868ab4a7125ba562821dae9407e7c65f3a5/pkg/cloud/services/compute/instance.go#L169)

If I understand our code correctly we are creating / listing the ports with the same name as the server instances.

[2021-04-06 17:40] iamemilio commented on #834
hmm, yeah I overlooked that to be honest :smiley:. I see where you are coming from, and think that its probably ok to continue listing the ports the way that we have been. That being said, I think we should be defensive about which ports we select to use and check:
- The port is in "DOWN" state
- The port hasn't been selected to be used with another interface for the current instance already

Then

[2021-04-06 17:44] sbueringer commented on #834
@iamemilio Sounds good to me :)

[2021-04-08 07:36] #825 closed

[2021-04-09 01:58] #824 closed

[2021-04-09 05:52] sbueringer commented on #717
As the PR has been merged, it should be fixed now. Feel free to reopen if there are still issues.

/close

[2021-04-09 05:52] #717 closed

[2021-04-09 05:54] sbueringer commented on #721
@jichenjc The way it currently works, I wouldn't want to implement this feature (and close the issue), wdyt @jichenjc ?

[2021-04-09 05:55] sbueringer commented on #745
Current plan is to release CAPI v1alpha4 in June. I keep this issue for an overview over ongoing implementations for v1alpha4. Currently, there is nothing to do.

[2021-04-09 05:56] sbueringer commented on #764
@jichenjc What do you think, is it still relevant with Prow? If yes, we could give it a try with `run_if_changed`.

[2021-04-09 05:59] sbueringer commented on #777
e2e tests are now merged in CAPO. I also found a e2e test in CAPI which is similar to our e2e test. So if we want to test this we should do it very similar to how it's implemented here:
https://github.com/kubernetes-sigs/cluster-api/blob/master/test/e2e/self_hosted.go#L77-L168

[2021-04-09 06:02] sbueringer commented on #783
Just to keep the issue up-to-date. Related PRs:
* https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/838
* https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/822

[2021-04-09 06:04] sbueringer commented on #794
My current plan is to add documentation and build scripts to the CAPO repo. With this documentation and sufficient rights to our bucket the images can then be manually build and uploaded.

[2021-04-09 06:05] jichenjc commented on #764
let's close this , not sure `run_if_changed` is helpful here, need more time to check
but anyway, openlab is not valid any more

[2021-04-09 06:05] #764 closed

[2021-04-09 06:06] jichenjc commented on #777
let me give a try later on, thanks for the reminder

[2021-04-09 06:07] jichenjc commented on #721
yes, let's close this

[2021-04-09 06:07] #721 closed

[2021-04-09 06:15] sbueringer commented on #777
Of course. Just wanted to give an update on the e2e tests overall and the test I found in CAPI. No stress :)

[2021-04-09 06:45] sbueringer opened #839 "v0.5+ Implement lb provider"
/kind feature

There is currently a proposal open for lb provider here: https://github.com/kubernetes-sigs/cluster-api/pull/4389

The current plan is to include it optionally in CAPI v1alpha4. I would like to see this implemented in CAPO with the v1alpha4 release.

For now, we have to wait until there is consensus on the proposal and the implementation in the CAPI main repo is done. This issue tra

[2021-04-09 06:45] sbueringer commented on #839
/assign

[2021-04-09 06:49] sbueringer opened #840 "Reevalute and cleanup our current API"
/kind feature

I think now is a very good time to reevalute our current API and clean it up a bit. This issue is targeted at our CRDs. I would take a closer look and come back with a proposal. I wouldn't radically change the CRDs, I"m currently thinking a few cleanups should suffice.

[2021-04-09 06:49] sbueringer commented on #840
/assign

[2021-04-09 06:50] hidekazuna opened #841 "OpenStack network resources are not deleted just after created"
/kind bug

**What steps did you take and what happened:**

- Create cluster
- Delete cluster just after OpenStack network resources(Load balancer, network, subnet, router, security groups) are created.
- Cluster was deleted successfully, but OpenStack network resources are not deleted at all.

**What did you expect to happen:**

OpenStack network resources are deleted successfully just after they

[2021-04-09 06:50] hidekazuna commented on #841
I will try not to see openStackCluster.Status when deleting cluster.

[2021-04-09 06:51] sbueringer commented on #841
Just out of curiosity. So the cluster is not completed created and then a deletion does not cleanup successfully because the status is not complete?

So the idea is to delete based on the properties in the Spec and not in Status?

[2021-04-09 06:56] sbueringer opened #842 "Cleanup loadbalancers created by ccm"
/kind feature

Currently, we only delete the kubeapi loadbalancer created by ClusterAPI. Usually, there are additional loadbalancers created by the ccm. I would also like to delete those on cluster deletion. They cannot be deleted by the ccm, because the ccm is not running anymore. The cluster deletion get's blocked because network etc. cannot be deleted if there are ccm orphan lbs left.

Notes:
*

[2021-04-09 06:57] sbueringer commented on #842
/assign @seanschneeweiss
(we already have an internal implementation of this feature)

/cc @iamemilio I assume you can provide some input on this :)

[2021-04-09 06:59] sbueringer commented on #842
/assign
(assigning myself in place of @seanschneeweiss as he cannot be assigned)

[2021-04-09 07:06] hidekazuna commented on #841
Yes... I am not completely sure status is the reason. but I think so from code base.

based on Spec and get actual status from OpenStack API each time instead of Status.

I found CAPA has network Status, but CAPZ does not. I wonder if we should not have OpenStack related Status at all.
Anyway we faced the real usage bug like this PR, so first I try to remove using OpenStack related Status in delet

[2021-04-09 07:08] sbueringer opened #843 "Improve unit test coverage"
/kind feature

We now have e2e / integration / conformance tests but basically zero unit tests. I think we should change that.
I think we need at least unit tests on 2 layers:
* CAPO controllers
* OpenStack / gophercloud utils

I would start with an initial implementation to establish patterns how we do unit tests for those layers

Some considerations:
* controller-runtime: fakeclient vs envtest
*

[2021-04-09 07:08] sbueringer commented on #843
/assign

[2021-04-09 07:12] sbueringer commented on #841
Got it. Let's see how it goes.

There's something about controller reentrancy in the ClusterAPI book: https://cluster-api.sigs.k8s.io/reviewing#controller-reentrancy
This might provide some valuable insight. I think the cluster controller and machine controller can be considered as separate controllers in this regard:

[2021-04-09 07:27] hidekazuna commented on #842
This is interesting feature. I want delete or not flag. Because OpenStack cloud provider user not only uses load balancer, but also cinder CSI or ingress controller etc. they(and I) may confuse only load balancers are deleted even if I know load balancer is in CCM and others are in other controllers.

[2021-04-09 07:36] jichenjc commented on #842
if you check https://github.com/kubernetes/cloud-provider-openstack
there are many resources might be related ,KMS, CSI (cinder, manila) etc
I think delete something not created by CAPO is dangerous as we might be lack of info to decide whether to delete and delete what?

[2021-04-09 08:07] sbueringer commented on #842
I think if there's a reasonable safe way to identify which load balancers have been created by the ccm of the cluster we just deleted, it's fine to delete them. I think I wouldn't touch disks etc. as there is a chance we accidentally delete valuable data this way. Load balancers can be re-created if necessary.

The AWS e2e test verifies that the lbs are deleted and the disks survive the cluster de

[2021-04-09 09:14] seanschneeweiss commented on #842
I've opened a PR #844 with the currently used implementation. This is a draft to be extended by the e2e tests and further filters to prevent unwanted deletion of other objects.

[2021-04-12 01:11] jichenjc commented on #841
@hidekazuna I think if you paste some logs should be helpful here? e.g
we didn't go to delete branch of network resources or we enter but no actions taken due to Status/Spec phase?
that will be helpful to know the root cause...

[2021-04-12 05:03] hidekazuna commented on #841
@jichenjc I added debug logs in controllers/openstackcluster_controller.go:

[code]
and
[code]

Result is openStackCluster.Status.Network and openStackCluster.Status.WorkerSecurityGroup are nil:

[code]

[2021-04-13 14:23] iamemilio commented on #834
What is the value of having this port re-use logic, out of curiosity?

[2021-04-14 16:28] sbueringer commented on #834
Compared to delete and create the port? I'm happy as long as we're not leaking ports.

[2021-04-16 06:25] #676 closed

[2021-04-19 13:34] belomx opened #848 ""clusterctl config cluster" doesn't add mandatory service-account configuration in control-plane's api server"
/kind feature

It would be good if the "cluster config cluster" could add automatically or by a new argument the service-account configuration, otherwise the control-plane is going to fail to start the api-server container (error below).
Error of api server in the control-plane:
kube-apiserver fails init. receive "**--service-account-signing-key-file and --service-account-issuer are required flag*

[2021-04-19 16:09] sbueringer commented on #848
@belomx Which kubeadm version is installed on your OS image?

[2021-04-19 16:11] belomx commented on #848
Hi @sbueringer , It's the v1.17.3.

[2021-04-19 16:11] sbueringer commented on #848
Can you try with kubeadm v1.18.*?

[2021-04-19 16:14] belomx commented on #848
Sure, I would be very happy if you could share a link where I can download a image with  kubeadm v1.18.* :)

[2021-04-19 16:20] sbueringer commented on #848
There are currently no officially maintained/published images for CAPO. I can only refer you to image-builder: https://image-builder.sigs.k8s.io/capi/providers/openstack.html
So you have to build the image yourself.

Other cloud providers are publishing images with the correct combination of kubeadm/kubelet/... directly into the cloud, but there is no such thing for CAPO.

The problem is that the

[2021-04-20 05:59] jichenjc commented on #848
Yes, I think it's better to open cluster-api questions and may link here

[2021-04-22 18:00] sbueringer commented on #839
lb provider won't make it into v1alpha4 so we don't need it for v1alpha4 anymore

[2021-04-23 10:46] jichenjc commented on #763
https://docs.openstack.org/api-ref/compute/?expanded=create-server-detail mentioned it's optional as well
I think we can delete the logic to gophercloud layer on such check (whether root volume exist/image exist)
so we can reuse their existing logic and avoid such checks in our layer..

[2021-04-23 15:18] sbueringer commented on #763
I'm not sure I get what exactly you mean, but if you have time, just open a PR and I'll take a closer look.

[2021-04-24 02:19] jichenjc commented on #763
I pushed to my repo but forget to push here ..
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/851
just created, actually, it's pretty simple ,to make `image` optional and delete the check to gophercloud and openstack itself (whether the combination of param is correct), I think we can't add those logic into our code as it will make check inconsistent and fairly complicated

[2021-04-27 09:39] #841 closed

[2021-04-29 02:42] #763 closed

[2021-05-06 15:48] sbueringer opened #854 "Make it possible to enable gophercloud request logs via --v"
/kind feature

**Describe the solution you'd like**
Similar to the ccm it would be great if with `--v=6` the gophercloud client would log it's requests. This would really help during debugging

**Anything else you would like to add:**
We already have this implemented downstream. So we would open a PR to cherry-pick this upstream.

[2021-05-06 15:48] sbueringer commented on #854
@seanschneeweiss If you want, and have some time :)
I think you can mostly use our internal PR/commit as is.

[2021-05-06 15:50] sbueringer opened #855 "Change default branch to "main""
/kind feature

**Describe the solution you'd like**
Let's rename our default branch to `main`. A lot of kubernetes repos already did this (including CAPA and kind for example)

**Anything else you would like to add:**
I would open the necessary PRs to do this.

[2021-05-06 15:51] sbueringer commented on #855
/assign

[2021-05-06 15:53] sbueringer opened #856 "Expose gophercloud requests metrics"
/kind feature

**Describe the solution you'd like**
A while back we contributed metrics about gophercloud requests to cloud-provider-openstack. I think it would be great to have the same metrics in CAPO

**Anything else you would like to add:**

Ref to the ccm PR: https://github.com/kubernetes/cloud-provider-openstack/pull/1178
(this pr also adds reconcile metrics, I wouldn't do this for now, as c

[2021-05-06 15:55] sbueringer opened #857 "Drop UserDataSecret field"
/kind feature

**Describe the solution you'd like**
We still have the field `UserDataSecret` which was in an earlier CAPI version (v1alpha1 or v1alpha2) used to reference a secret which contains the user data. Let's drop this field with v1alpha4

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-05-06 16:00] sbueringer opened #858 "Block updates on the Template resources OpenStackMachineTemplate"
/kind feature

**Describe the solution you'd like**

Issue is based on this Slack thread: https://app.slack.com/client/T09NY5SBT/C8TSNPY4T/thread/C8TSNPY4T-1618296322.489700
Rest is (mostly) copied from CAPZ

As documented in https://cluster-api.sigs.k8s.io/tasks/change-machine-template.html

Currently, updates to OpenStackMachineTemplate are allowed which is misleading as it results in no changes

[2021-05-06 16:04] sbueringer opened #859 "Handle "cluster.x-k8s.io/managed-by" annotation"
/kind feature

**Describe the solution you'd like**
CAPI v1alpha4 introduced a mechanism to manage the cluster resource externally. This is triggered by the `managed-by` annotation. For more context, please see:
* https://github.com/kubernetes-sigs/cluster-api/pull/4135
* https://github.com/kubernetes-sigs/cluster-api/pull/4303

**Anything else you would like to add:**
Notes:
* We should make sure

[2021-05-06 16:06] sbueringer commented on #859
/help-wanted

[2021-05-06 16:07] sbueringer commented on #859
/help

[2021-05-06 16:07] sbueringer commented on #858
/help

[2021-05-06 16:08] sbueringer commented on #857
/help

[2021-05-06 16:08] sbueringer commented on #856
/help

[2021-05-06 16:08] sbueringer commented on #854
/help

[2021-05-07 04:41] jichenjc commented on #859
@sbueringer just to confirm, this need v1alpha4 land first, correct?

[2021-05-07 04:43] sbueringer commented on #859
@jichenjc No it just needs a rebase onto the current CAPI branch (which I'll do later today)

[2021-05-07 05:01] jichenjc commented on #856
um... what do we want to expose? I knew
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/metrics.md
and it expose OCCM data, what kind of metrics we want to expose for CAPO?  the CAPO API calls?

[2021-05-07 05:03] sbueringer commented on #856
@jichenjc I was mainly thinking about the 3 listed here: https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/metrics.md#openstack-api-calls

[2021-05-07 05:04] jichenjc commented on #857
just for learning perspecitve, user data is important for init the VM
after remove this , what should we do to provide this mechanism to let VM consume the user data?

[2021-05-07 05:05] jichenjc commented on #856
ok, I can give a try as I did part of CPO metrics job
/assign

[2021-05-07 07:04] sbueringer commented on #856
Okay :)

[2021-05-07 07:04] sbueringer commented on #857
That is all handled by the kubeadm controllers since v1alpha3. We currently don't read this field outside of generated code. So functionally nothing will change when we delete the field.

[2021-05-07 08:43] sbueringer commented on #854
/assign @seanschneeweiss

[2021-05-07 08:45] chrischdi commented on #857
I'd be happy to help and contribute here :-)

[2021-05-07 08:50] johannesfrey commented on #858
I would like to give this a try :slightly_smiling_face:

[2021-05-07 09:59] jichenjc commented on #857
ok, thanks for the info

[2021-05-07 11:51] #854 closed

[2021-05-10 01:44] jichenjc opened #864 "Replace image in capo lead to cert issue"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

build a new image from master, then

`kubectl edit deployments -n capo-system` to
update
[code]

then
[code]

# kubectl logs pod/capo-controller-manager-5d6f9bdb64-plw8c -n capo-system
[code]

Can you provide some hint on how to update with latest image (I build with my own image first

[2021-05-10 02:31] hidekazuna commented on #864
Does the spec has `volumeMounts` like the following?

[code]

I think your `infrastructure-components.yaml` is old since `gcr.io/kubebuilder/kube-rbac-proxy` tag is v0.4.1, latest is 0.8.0.

[2021-05-10 02:47] jichenjc commented on #864
I am using `kind create cluster;clusterctl init --infrastructure openstack` to init the cluster
it seems using 0.3.4 which is by default now...

[2021-05-10 02:54] jichenjc commented on #864
`kubectl edit deployments -n capo-system` doesn't see `/tmp/k8s-webhook-server/serving-certs`

[2021-05-10 03:02] #864 closed

[2021-05-11 00:41] #857 closed

[2021-05-12 06:02] chrischdi commented on #859
Also relevant discussion maybe: https://kubernetes.slack.com/archives/C8TSNPY4T/p1620749340371300

[2021-05-12 14:34] macaptain commented on #788
This is a feature I'd be really interested in having too. In particular, I'd like to have machines with multiple ports on different networks and to be able to configure the settings per port. `vnicType` is also something I'd like to use. It's great to see there's already an issue for this feature and work in progress on it.

@jsen- , I built your branch implementing this feature and I used it to c

[2021-05-17 01:02] jichenjc opened #868 "Add description and tag of created floating ip"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Floating ip should honor the tag settings and add descriptions as well..

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-05-17 10:49] mdbooth commented on #808
Incidentally this is not possible by design, as hosts are only visible to admin. AZs are exposed to users.

I can't find the name of the property right now, but Nova metadata does expose a salted, hashed value which corresponds to the identity of the hypervisor, but this value is only used for neighbour detection.

[2021-05-17 11:06] mdbooth commented on #808
It's also worth noting there's a long-standing bug in Nova which means soft anti-affinity will race on concurrent server creation. This means that if you create several servers simultaneously with a soft-antiaffinity policy there's a high probability of them ending up on the same hypervisor, violating the anti-affinity policy. I don't think the OpenShift CAPO handles this, although we do handle it

[2021-05-17 12:29] jichenjc commented on #808
thanks for the sharing, yes, I recently also noticed openshift has such [info ](https://github.com/openshift/installer/blob/master/docs/user/openstack/known-issues.md#control-plane-scale-out-anti-affinity)listed in the Openstack installer about soft-affinity , not sure you are talking about same one

and I don't know whether we are able to control that master creation as it's seems buried in clust

[2021-05-17 12:59] sbueringer commented on #808
@jichenjc all servers in OpenStack are eventually created by the CAPO machine controller. So we can wait there if we want.

@mdbooth I assume you mean `should` instead of `shouldn't` regarding option 3? :)

[2021-05-17 13:28] mdbooth commented on #808
🤦‍♂️

[2021-05-18 01:42] jichenjc commented on #808
@sbueringer not sure, as we need distinguish worker and master node creation as well in such case
because this apply to master (control plane) only?

[2021-05-18 16:58] sbueringer commented on #808
@jichenjc  No sure what exactly we are talking about. I assume we set a field for this feature on the `OpenStackMachineTemplate`. Eventually all those Machines are created by our machine controller (doesn't matter if they are control plane or worker nodes).

If I got it right we just have to delay server creation (return with retryAfter), if another server is already in `BUILDING`.

But I think it

[2021-05-19 01:57] jichenjc commented on #808
ok, yes, let's talk with code and PR :)

[2021-05-21 11:14] wuli-jessica opened #875 "no external network but a vlan network in openstack environment"
/kind feature

Hi. We have some customers whose openstack environment does not have an external network. They use vlan network. The management cluster and tenant network are connected through vlan. Thus there is no floating ip. How does OpenStackCluster handle such a situation? Because the external network seems to be necessary in OpenstackCluster Reconcile.

[2021-05-24 12:42] sbueringer commented on #875
@wuli-jessica right now we have a hard dependency on an external network if I'm not mistaken

[2021-05-24 17:16] sbueringer opened #878 "Fix golang-ci-lint"
/kind bug

Our exclude statement in .golangci.yml excludes way to much.

xref: https://github.com/kubernetes-sigs/cluster-api/pull/4654#issuecomment-847189167

[2021-05-24 17:16] sbueringer commented on #878
/assign

I'll check if I fix them in one PR or break them out in several individual ones

[2021-05-25 00:43] jichenjc opened #879 "Honor server group ID in machinset"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/services/compute/instance.go#L218

accept server group id

but we didn't set this param
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/services/compute/inst

[2021-05-25 00:43] jichenjc commented on #879
/assign

[2021-05-25 01:14] #858 closed

[2021-05-25 06:34] wuli-jessica commented on #875
@sbueringer Do you already have some plans about the network?
We(our company)  will do some development about that in the future to enable it to use the vlan network. If we come up with a plan or make progress, I will write it here.

[2021-05-25 06:48] sbueringer commented on #875
@sbueringer I personally don't have a plan to implement it or are aware of any. But I think we're open to contributions if fits into the current implementation.

[2021-05-25 06:57] jichenjc commented on #875
@sbueringer agree and we should be open to any contributions that doesn't break existing functions

@wuli-jessica I am +1 to what you proposed here,  I am facing same issue in our openstack solutions.. that's the reason why we asked openshift to support no floating ip (https://github.com/openshift/installer/blob/master/docs/user/openstack/README.md#without-floating-ips) here..  so I can help you i

[2021-05-26 09:25] #879 closed

[2021-05-31 03:02] jichenjc opened #884 "release 0.3.5"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/
has been release for more than 3 months

we had a lot of fix , need create a new release now

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-05-31 03:02] jichenjc commented on #884
/assign

[2021-06-01 05:47] Xenwar opened #887 "Add missing binaries for envtest"
For the envtest to usable, the ```etcd, kubectl and kube-apiserver``` binaries are required. As we have it now, none of the make targets install the binaries.
Due to this issue, the current test suit is skipped and none of the tests could run, preventing creation of new controllers’ tests.

Therefore, adding the following is beneficial.

1. Add a make target to install the missing binaries
2. Chan

[2021-06-01 06:36] jichenjc commented on #887
@Xenwar thanks for the update, yes, I think it's something we need address~

[2021-06-01 11:41] macaptain opened #888 "OpenStack instance creation errors aren't logged"
/kind bug

**What steps did you take and what happened:**

If OpenStack instance creation fails, the error is logged as: `error creating Openstack instance: <nil>`

[code]

This is because the error from server creation is reassigned to be the error from ports deletion before the error is logged:

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/04e0b54efa86a1a9f3f043cb2a024c

[2021-06-01 14:11] jichenjc commented on #888
good catch

do you mind create a PR to fix ? should be relatively not that hard...

[2021-06-01 15:16] MPV opened #889 "Support machine instance state "migrating""
/kind bug

**What steps did you take and what happened:**

An OpenStack machine was ["live migrated"](https://docs.openstack.org/nova/pike/admin/live-migration-usage.html), but the `openstackmachine` resource ended up being stuck in `MIGRATING` state:

[code]

[code]

...but the migration in OpenStack seems to have completed successfully:

<img width="1449" alt="Skärmavbild 2021-06-01 kl  17 11 3

[2021-06-01 15:24] MPV commented on #808
Did https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/879 solve this? Or how is that related to this issue?

[2021-06-01 19:07] Xenwar opened #890 "Adding failureMessage and failureReason fields at the openStackCluster level"
openStackCluster is the top level resource in CAPO. Error could occur at any level in the hierarchy of objects.
It would be beneficial to show the error/failure related information at openStackCluster level. These fields can also be used for assertion in test cases.

These fields exist at the capi cluster level
[code]
There is also a reference implementation: [here](metal3/blob/68b709ffb5d6c94a9ff

[2021-06-02 01:48] jichenjc commented on #808
I know some companies are deploying a cluster in a specific AZ so I think this option if implemented should be opt-in.

my understanding the original question is around az and we only honor the server group now through above
az, I myself didn't try multiple az and multiple server group and relation between those concepts before, so I am not 100% sure can fit for the original request

[2021-06-02 01:55] jichenjc commented on #889
it's a valid bug, we never tried this before
and actually there might be more to consider (e.g resize, migrate , live-migrate, shelve, pause etc)

so I think we can use this to track `live-migrate` and use others potential issue to track other state

[2021-06-02 01:57] jichenjc commented on #890
agree this is something we need consider , need check to what extend we need report such info (e.g which error we report and which not ) need refer to meta3 and other providers

[2021-06-02 03:39] MPV commented on #889
I asked our supplier of OpenStack of what triggered this to happen for us this week, and they said:

[2021-06-02 03:46] jichenjc commented on #889
this is typical and normal, so yes, we should take live migrate state into consideration (which is , fix this issue)

[2021-06-03 02:09] #888 closed

[2021-06-03 08:36] digambar15 commented on #832
Can you assign this issue to me ?

[2021-06-03 08:43] digambar15 commented on #832
/assign

[2021-06-03 08:44] jichenjc commented on #832
/assign digambar15

[2021-06-03 08:45] digambar15 commented on #832
Thanks @jichenjc

[2021-06-03 11:31] Xenwar opened #895 "Add short resource names"
Adding short names for `openstackclusters, openstackmachines, and openstackmachinetemplates` resources could help in reducing typing on the command line. And, they are easy to remember.

/kind feature

[2021-06-04 08:02] Xenwar opened #896 "Openstack credentials saved on KCP node disk"
During provisioning of KCP nodes with CAPO, openstack credentials are saved to disk.

 The following content was found in /var/lib/cloud/.... .
[code]
There are two reasons why such files should not be saved on the KCP node's disk.

1. The data is sensitive in that it allows access to other resources in the openstack cloud.
2. It causes deployment of KCP nodes to fail as kubelet tries to use it in

[2021-06-04 08:10] Xenwar commented on #896
Also relevant,

[code]

[2021-06-08 01:28] #788 closed

[2021-06-08 03:28] sbueringer commented on #887
I would prefer to implement it the same way as the main repo (regarding how the binaries are pulled, added to the path and how the test targets are named)

[2021-06-08 03:33] sbueringer commented on #808
Hm I think we should be mostly good (maybe I'm missing something). AZs should already work because it's a feature of CAPI and not CAPO specific. Server groups should basically work but it sounded like it's maybe not entirely safe the way we do it (race conditions). Maybe it would be better to create a new separate issue to fix those race conditions if necesssary (@mdbooth what do you think?).

[2021-06-08 03:37] sbueringer commented on #889
I agree. We should not fail when this state occurs. But we have to be careful when adjusting this code. I guess when a machine is in this state we should retry reconciles at a later time.

[2021-06-08 03:46] jichenjc commented on #889
yeah it depends, live migration might not need such but resize definitely need some consideration
anyway, agree need to be very careful

[2021-06-08 03:50] sbueringer commented on #896
I think the solution to this is to only use the external ccm and change the ccm deployment to use a secret instead? I'm not sure when but the internal cloud provider should be gone pretty soon.

[2021-06-08 03:54] sbueringer commented on #896
I'm not sure how we could solve this for the "internal" cloud provider in Kubelet or if we should even attempt to given that it's deprecated since a while.

[2021-06-08 06:14] abhinavnagaraj opened #898 "External Cloud Provider document links not working"
/kind bug

**What steps did you take and what happened:**
The links for the DaemonSets under "Create RBAC resources and openstack-cloud-controller-manager deamonset", in this document are not active -- https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/docs/book/src/topics/external-cloud-provider.md

**What did you expect to happen:**
The correct links for these yamls.

[2021-06-08 16:09] macaptain opened #899 "Document the custom ports feature"
/kind feature

**Describe the solution you'd like**
Now that #788 is closed (by https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/876), we should write some documentation to let people know about the feature and how to use it. Suggested in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/876#discussion_r646217134.

[2021-06-09 03:13] #859 closed

[2021-06-09 07:19] #899 closed

[2021-06-09 09:06] sbueringer commented on #898
/help

[2021-06-10 03:35] #895 closed

[2021-06-10 09:45] #898 closed

[2021-06-10 15:31] macaptain commented on #834
@sbueringer @iamemilio I'd be interested in seeing what could be done to both tighten up the port re-use logic, and potentially also make it more useful.

A few comments on the discussion so far:

This is fixed with #876. Now multiple NICs on the same network will have different indices, hence different port names and don't collide.

The outstanding issues are:

* ports found could be in use
* por

[2021-06-10 23:45] wuli-jessica opened #906 "The Cluster status is stuck in "Deleting""
/kind bug

**What steps did you take and what happened:**
Hi. When I created the workload cluster, I encountered the "providerClient authentication err: Authentication failed" in openstack-provider because I wrote something wrong in clouds.yaml , and when I executed "kubectl delete" to delete the Cluster, the command did not return and the Cluster was stuck in "Deleting" status, check the log, the

[2021-06-11 04:49] sbueringer commented on #906
I don't think we should skip our delete logic when we're unable to communicate with OpenStack. If this is a use case you regularly encounter you can always remove finalizer from CAPO resources so they get deleted.

[2021-06-11 04:54] sbueringer commented on #834
@macaptain Sounds good to me, although I don't have these use cases so it's not that relevant for my use cases how exactly we implement this :)

I think it's important to reach consensus with the OpenShift folks. Let's see what @iamemilio thinks about it.

[2021-06-11 10:46] jichenjc commented on #906
+1 to what @sbueringer mentioned, this is error case and if we can do some hacking/workaround , maybe we doc that as tips and not skip the delete action otherwise it might lead to orphan resource

[2021-06-11 13:41] Xenwar opened #907 "Add e2e test for port creation with custom options"
Add e2e test for the feature that enables creation of ports with custom options #876

/kind feature

[2021-06-11 15:11] #796 closed

[2021-06-15 21:20] hem2 opened #910 "Qemu image build for Ubuntu 20.04 fails with RedHat error"
/kind bug

**What steps did you take and what happened:**
Followed the steps documented @ https://image-builder.sigs.k8s.io/capi/providers/openstack.html to build images for OpenStack provider on Ubuntu 20.04 and hit the below error.

[code]

[code]

**What did you expect to happen:**
Successfully build images

**Anything else you would like to add:**
[Miscellaneous information that will assist in

[2021-06-15 21:33] hem2 commented on #910
I might have raised against the wrong repo. Here's one against image-builder: https://github.com/kubernetes-sigs/image-builder/issues/631. Closing this issue.

[2021-06-15 21:33] #910 closed

[2021-06-18 01:27] wuli-jessica commented on #906
The delete logic is reasonable, but we can adjust the logic of "add finalizer".

Now we add finalizer without checking if it can connect to openstack.  But if connecting to openstack is necessary to remove finalizer, maybe we should also check that before add finalizer.

Look at the following code （Intercepted from openstackcluster_controller.go reconcileNormal）

`

	// If the OpenStackCluster doe

[2021-06-18 02:53] jichenjc commented on #906
thanks, that's reasonable , if not able to connect , seems we can return directly without the finalizer

[2021-06-18 06:10] #907 closed

[2021-06-18 10:23] Xenwar opened #911 "Add a feature to configure Port level PortSecurity"
Add a feature to configure Port level PortSecurity such that

- Each port is configured independently. When disabled, both SecurityGroups and allowedAddressPairs values on that port should be removed. specified by `OpenStackMachineTemplate.spec..template.spec.ports[0].disablePortSecurity: false/true`

- When PortSecurity is disabled at the network level, then it is also disabled at each port level

[2021-06-18 12:30] petrutlucian94 opened #912 "Upgrading clusters without Octavia"
/kind bug

**What steps did you take and what happened:**

I've tried upgrading k8s using the following command:

[code]

We didn't have Octavia installed, so what happened was that the floating IP moved to the new instance, which was trying to join the existing cluster using the floating ip that had already been moved.

**What did you expect to happen:**

I was expecting the k8s upgrade operation

[2021-06-18 12:30] Xenwar opened #913 "Unable to disable port security at the network level"
It is not possible to disable port security at the network level. the following is logged.
[code]
also,
[code]

Security groups and AllowedAddressPairs need to be added to a port conditionally.

Example manifest
[code]
/kind bug

[2021-06-23 06:16] hidekazuna commented on #913
This is equal to #911

/close

[2021-06-23 06:17] hidekazuna commented on #890
/kind feature

[2021-06-23 08:03] hidekazuna commented on #912
AFAIK, this is an undocumented limitation.

[2021-06-23 10:58] Xenwar commented on #913
#911 is created for the feature to add port level configuration.
 This one is a bug report.

[2021-06-23 11:02] hidekazuna commented on #913
Aha, understand.

/close cancel

[2021-06-23 11:04] hidekazuna commented on #913
/reopen

[2021-06-23 11:25] hidekazuna commented on #913
I confirmed disablePortSecurity works.

A piece of manifest:
[code]

Created network:
[code]

Created port:
[code]

[2021-06-23 12:51] hidekazuna commented on #911
`OpenStackCluster.spec.disablePortSecurity` works for new create network and ports as https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/913#issuecomment-866754954. So second feature is already implemented.

[2021-06-23 15:41] Xenwar commented on #913
You are correct.
I have managed the cluster with the network level PortSecurity disabled.
Thanks for pointing that out.

[2021-06-23 15:41] #913 closed

[2021-06-24 11:21] mdbooth opened #917 "Nova Microversion support"
/kind bug

**What steps did you take and what happened:**
I don't know if this is reproducable in 'normal' CAPO.

Calling computeService.CreateInstance() with a machine that specifies tags fails with an OpenStack error indicating that tags are not supported. This is because tags support was added in microversion 2.52, which we weren't specifying.

I pushed something to https://github.com/shiftstac

[2021-06-27 23:40] hidekazuna opened #918 "Update CAPI to v0.4.0"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-06-28 15:15] #912 closed

[2021-06-29 00:46] jichenjc commented on #917
I checked https://github.com/shiftstack/cluster-api-provider-openstack/commit/d567eee3a0f8f801f2f23855e3124a90b030446b

I know CPO has 2 kinds of implementations
https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/csi/cinder/openstack/openstack_volumes.go#L349

https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/util/openstack/loadbalancer.go#L94

looks like 2

[2021-06-29 05:26] sbueringer commented on #906
I don't think that's a good idea. In general we should always add the finalizer. Imho we shouldn't support use cases where CAPO is not able to connect to OpenStack with changes like that?

I hope encountering thinks like this is an absolute exception. And in those cases you can remove the finalizer after the delete cluster call.

[2021-06-29 05:29] sbueringer commented on #917
@mdbooth I'm not sure if I got it correctly. So we have to set the micro version in the client whenever we use tags or otherwise the calls which set tags won't work?

Or is it more like: we set the minimum supported version depending on if tags are used or not. This way we can also support versions < 2.52 when tags are not used?

[2021-06-29 05:31] sbueringer commented on #840
/unassign

Didn't have time for this. So let's see if somebody wants to pick it up until the next minor release

[2021-06-29 05:32] sbueringer commented on #843
/unassign

Didn't have time for this. So let's see if somebody wants to pick it up until the next minor release

[2021-06-29 05:41] sbueringer opened #920 "v1alpha4: Clarify and possibly implement changes to multi-tenancy."
/kind feature

There have been discussions about changing the way providers handle multi-tenancy. As far as I know the latest version can be found here: https://github.com/kubernetes-sigs/cluster-api/pull/4514/files

I'm trying to clarify if we have to do something before the v0.4.0 release for this: https://github.com/kubernetes-sigs/cluster-api/pull/4514#issuecomment-870252300

If the PR already