[2018-07-17 13:12] dims opened #5 "Document is needed in the VM image"
Looks like we use `cc` as the userid in the image. Can we please use by default standard ubuntu images documented in openstack docs? https://docs.openstack.org/image-guide/obtain-images.html Please note that the login account is `ubuntu`

[2018-07-17 13:13] dims commented on #5
/assign @Lion-Wei

[2018-07-17 15:22] detiber opened #6 "Suggest updating the README to point to cluster-api channel on Slack and the sig-cluster-lifecycle mailing list"
- [#cluster-api on Kubernetes Slack](http://slack.k8s.io/messages/cluster-api)
- [SIG-Cluster-Lifecycle Mailing List](https://groups.google.com/forum/#!forum/kubernetes-sig-cluster-lifecycle)

[2018-07-18 14:58] dims opened #8 "Reorganize code to conform to what is in skeleton repo"
please see https://github.com/davidewatson/cluster-api-provider-skeleton

[2018-07-20 02:41] Lion-Wei commented on #6
Will do, thanks.

[2018-07-20 18:23] roberthbailey opened #10 "Switch from alpine to debian-base"
See https://github.com/kubernetes/kubernetes/issues/40248#issuecomment-280781931.

[2018-07-23 06:53] Lion-Wei commented on #5
I think this issue is solved. : )

[2018-07-25 09:30] #5 closed

[2018-08-28 05:18] flaper87 opened #16 "Use standard clouds.yaml file as config file"
We're currently using a custom config file for `cluster-api-provider-openstack`, which is different from both, the `cloud-provider-openstack` config file and the [standard `clouds.yaml` file](https://docs.openstack.org/python-openstackclient/pike/configuration/index.html). The current config uses the following format:

[code]
In order to provider a better user experience, it'd be better to either

[2018-08-28 06:39] Lion-Wei commented on #16
Thanks, Actually I'm not very familiar with openstack cloud configs. But I feel use standard `clouds.yaml` file would be a better way.
So user offer a `clouds.yaml` configfile, and we generate it to a secret?

[2018-08-28 07:10] flaper87 commented on #16
@Lion-Wei yes! We create a secret just like the `clouds.yaml` file and we change the `openstack-machine-controller` to use the same format as well. If you agree, I can start hacking on this

[2018-08-28 07:48] m1093782566 commented on #16
@flaper87

Contributions are always welcome!

[2018-08-28 09:05] flaper87 commented on #16
@m1093782566 sure thing, thanks.

What I'd like to do, before coding anything, is evaluating whether this approach is something the rest of the team would be ok with. If so, I'm more than happy to work on it.

[2018-09-25 12:03] chaosaffe commented on #16
@flaper87 Have you made any commits on this? If not I am interested in picking this up.

[2018-09-25 12:57] flaper87 commented on #16
@chaosaffe

I started looking into this and then I thought it'd be nice to have this code shared across the cluster-api-provider and the cloud-provider OpenStack. I discussed the idea with some other folks from this SIG and the feedback seemed to be good.

If you have time available to get this done in a short time, then feel free to take it as I'm not going to be able to do it myself until the en

[2018-09-25 14:32] chaosaffe commented on #16
@flaper87 just to clarify the intent and question here:

You want to refactor the code in `cluster-api-provider-openstack` and the OpenStack K8s `cloud-provider` to share code for `cloud.yaml` parsing?

I am happy to pick this up this week, but some more concrete information about how you would like to see this done would be great. If it is easier you can find me on the K8s Slack with the same use

[2018-09-25 14:49] flaper87 commented on #16
@chaosaffe yep, that's exactly what I'd love to see happening.

Basically, we could add support for `clouds.yaml` to `cloud-provider-openstack` and then vendor that code in `cluster-api-provider-openstack`. I believe this is the right direction because we could use some other parts of `cloud-provider-openstack` in `cluster-api-provider-openstack`, like VM management, etc. But that's something we c

[2018-09-26 07:48] #10 closed

[2018-09-26 18:04] #6 closed

[2018-10-01 15:03] derryos opened #23 "Missing input for argument [Username] in clusterapi-controllers pod log"
Saw the following when using the latest master code. Used the steps in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/README.md

Testing on MacOS High Sierra 10.13.6 with Docker version 17.03.0-ce, minikube 1.10.0. Ran clusterctl with:
[code]

After a few mins, my cluster state looks like:
[code]

Looking at the logs of the failing pod (clusterapi-controllers) contai

[2018-10-01 15:10] dims commented on #23
cc @Lion-Wei @chaosaffe

[2018-10-02 11:43] chaosaffe commented on #23
@derryos take a look at your `cloud-config` secret data in the `provider-components.yaml` output from `generate-yaml.sh`. When you check the base64 decoded `cloud_config.yaml` data it likely has been prepended with a `-e ` that is breaking the parsing. There are some other issues in the `generate-yaml.sh` with darwin/linux difference of the shell commands that you might hit as well. I have a patch

[2018-10-02 13:15] derryos commented on #23
@chaosaffe, thanks for the quick (and accurate!) response.

[code]

I have coreutils installed via brew and should be using the 'gnu' versions (vs the mac versions). I'll try and rerun with good versions and see if i can progress. I'll update the issue once i know.

[2018-10-04 13:46] derryos commented on #23
I've updated my local generate-yaml.sh based on the following:
[code]

I now can get the cluster-controller api into a running state:
[code]

Thanks for the help @chaosaffe !

[2018-10-04 13:52] dims commented on #23
very cool @derryos @chaosaffe

/close

[2018-10-04 13:52] #23 closed

[2018-10-04 13:55] chaosaffe commented on #23
@derryos would you mind submitting a PR with your patch?

[2018-10-05 19:04] iamemilio commented on #16
hey @m1093782566 @chaosaffe, would it be acceptable for me to add https://github.com/gophercloud/utils as a dependancy for cluster-api-provider-openstack in a pull request, in order to implement this feature? The following library (https://github.com/gophercloud/utils/blob/a45c12ccd8b0ce73306762607a60568a1bca4bbe/openstack/clientconfig/requests.go)  would provide a way to parse clouds.yaml without

[2018-10-05 19:06] dims commented on #16
@iamemilio sounds good. go for it!

[2018-10-05 19:38] chaosaffe commented on #16
@iamemilio certainly! I was looking at the same package for implementing, so we are on the same page for it! Looking forward to seeing your PR!

[2018-10-08 05:17] flaper87 commented on #16
@iamemilio hey, others have also replied but I wanted to give you some feedback on this. I think it's fine to do that. Have you looked at how `terraform-provider-openstack` added support for `clouds.yaml`? Just wondering if there's anything we can use from that implementation

[2018-10-08 07:28] chaosaffe opened #31 "Sync `cluster-api-provider-openstack` config with `cloud-provider-openstack`"
As identified by @flaper87 we use a different authentication config than the `cloud-provider-openstack`, which can lead to confusion and prevents reuse of code. In addition to enabling authentications with a standard OpenStack`clouds.yaml` file being addressed in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/16 we should also adopt the `cloud-provider-openstack` structur

[2018-10-08 08:17] flaper87 commented on #31
To be honest, I'd rather deprecate the existing format in `cloud-provider-openstack` and have it adopt `clouds.yaml` as well. I presented this idea to some other folks from the OpenStack SIG and they seemed to like the idea. What do you think about it?

As part of #16, we're adding support for `clouds.yaml` to `cluster-api-provider-openstack`. Once that's done, we can move this code to the cloud p

[2018-10-08 08:18] flaper87 commented on #31
@iamemilio FYI

[2018-10-08 08:59] chaosaffe opened #32 "Migrate to CRD's"
Now that `cluster-api` has migrated to using [`kubebuilder`](https://github.com/kubernetes-sigs/kubebuilder) to use CRD's instead of using `apiserver-builder` and API aggregation (ref: https://github.com/kubernetes-sigs/cluster-api/pull/494) we need to sync the openstack provider to use `kubebuilder` with the upstream

[2018-10-08 09:10] Lion-Wei commented on #32
Thanks, I'm working on it. : )

[2018-10-08 10:41] chaosaffe commented on #8
/assign @Lion-Wei

Can we close this per: https://kubernetes.slack.com/archives/C8TSNPY4T/p1538106855000100?

[2018-10-08 10:47] #8 closed

[2018-10-08 10:52] chaosaffe commented on #31
@flaper87 I'm not the OpenStack expert, but I talked to our internal team and they fully agree with dropping the env var credentials and only supporting `clouds.yaml`

Using a common base for the `clouds.yaml` support in `cloud-provider-openstack` and `cluster-api-provider-openstack` is certainly something I can get behind 😀

[2018-10-08 10:53] #31 closed

[2018-10-08 10:59] Lion-Wei commented on #8
I think this issue can be closed since we already conformed to skeleton repo.
Since we are migrating to crd, maybe need another reorganize...

xref: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/37
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/32

[2018-10-08 12:33] Lion-Wei opened #34 "separate machine_providerconfig and cluster_provider config"
`OpenstackProviderConfig` can be separated into cluster scope and machine scope.

[2018-10-08 12:43] chaosaffe commented on #34
Based on the [skeleton repo](https://github.com/davidewatson/cluster-api-provider-skeleton/tree/master/cloud/skeleton/actuators) maybe we should split the `machine` and `cluster` actuators into separate packages as well?

[2018-10-08 12:57] Lion-Wei commented on #34
For now we don't have cluster actuators, but sure, when we add cluster actuators, we need consider separate then in two packages.

[2018-10-10 05:05] flaper87 opened #41 "Add CI jobs for cluster-api-provider-openstack"
Jobs we need to add:

- [ ] fmt job
- [ ] check job
- [ ] test job

[2018-10-10 05:06] flaper87 commented on #41
/assign @flaper87

[2018-10-10 06:00] Lion-Wei commented on #41
Thanks...

[2018-10-10 12:00] flaper87 opened #42 "Add support for MachineSets"
The current implementation doesn't have support for `MachineSets`, which limits the way the actuator can be used.

The `Name` parameter and other parts of the implementation might need to be revisited as part of this implementatio

[2018-10-10 12:01] flaper87 opened #43 "Allow to pass filters to Networks/SecurityGroups in the providerconfig"
Networks and SecurityGroups currently only accept uuids. It'd be great to support other filters like Names, or even better filtering on other parameters.

[2018-10-10 12:03] flaper87 opened #44 "Make providerConfig keys consistent"
The security_group and availability_zone keys are not consistent with the format used in other keys `floatingIP`, etc. Make these keys consistent to improve the user experience.

[2018-10-10 12:06] flaper87 commented on #44
@iamemilio is this something you'd be interested to help with?

[2018-10-10 12:06] flaper87 commented on #42
/assign @flaper87

[2018-10-10 13:12] iamemilio commented on #44
sure

[2018-10-10 17:41] #41 closed

[2018-10-11 01:07] Lion-Wei commented on #44
Thanks, it do bother me a little.

[2018-10-11 10:31] #32 closed

[2018-10-11 16:07] flaper87 opened #49 "Create a periodic job to build and publish images to docker hub"

[2018-10-11 20:33] iamemilio opened #51 "Readme instructions are not up to date with current project state"
examples:
cd $GOPATH/src/sigs.k8s.io/cluster-api-provider-openstack/clusterctl
---> this path no longer exists

clusterctl create cluster --provider openstack -c examples/openstack/out/cluster.yaml -m examples/openstack/out/machines.yaml -p examples/openstack/out/provider-components.yaml
---> pathing: /out/*.yaml is not how the directory is managed by default

[2018-10-11 20:45] chaosaffe commented on #51
/assign @chaosaffe

[2018-10-11 20:45] chaosaffe commented on #51
Thanks for reporting @iamemilio!

[2018-10-11 20:46] chaosaffe commented on #44
/assign @iamemilio

[2018-10-15 15:05] #51 closed

[2018-10-17 09:12] chaosaffe commented on #44
/close

[2018-10-17 09:13] #44 closed

[2018-10-17 15:45] flaper87 commented on #43
/assign @iamemilio

[2018-10-17 20:03] iamemilio commented on #43
Can you give me a little more context

[2018-10-18 09:21] flaper87 opened #62 "Don't assume startup script is bash"
We should not assume the startup script (see snippet below) is a bash script. In a cloud-init scenario, this works great but it won't work for images using ignition.

Instead, we could assume the startup script has gotemplate variables and use it as the template. If it does then it'll be rendered, otherwise nothing will happen and it'll be pushed into the node as-is.

https://github.com/kubernetes

[2018-10-18 10:37] chaosaffe opened #64 "Worker node receives incorrect port for kube-apiserver on Master node for kubeadm join"
The `kubeadm join` on worker nodes is provided the wrong port (`443`) for the `kube-apiserver` on the master node, i.e.
[code]

The configured port for the `kube-apiserver` is `6443`, resulting in worker nodes being unable to join the cluster.

[2018-10-18 11:09] chaosaffe commented on #64
It appears that the [UpdateClusterObjectEndpoint](https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go) func uses a [const](https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go#L40) to set the port, disregarding any `kube-apiserver` configuration

[2018-10-19 08:48] chaosaffe opened #65 "Add cloud.conf to nodes"
Nodes deployed using the `cluster-api-provider-openstack` can be safely assumed to be running on in an OpenStack environment, and therefore should be configured with a `cloud.conf` to enable Kubernetes-OpenStack integration

xrefs:
[OpenStack Cloud Provider](https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#openstack)
[GCE example implementation](https://github.com/kubern

[2018-10-19 14:32] #62 closed

[2018-10-19 20:05] iamemilio commented on #49
i might be able to help with this one

[2018-10-20 05:18] flaper87 commented on #49
This has been done https://github.com/theopenlab/openlab-zuul-jobs/pull/335

[2018-10-20 05:18] #49 closed

[2018-10-22 09:54] flaper87 opened #66 "Hardcoded ubuntu username"
Allow for setting the ssh username in the providerConfig, if needed.

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/openstack/machineactuator.go#L50

[2018-10-23 09:41] chaosaffe commented on #64
Not yet, I haven't had free cycles to continue investigating this

[2018-10-23 11:45] flaper87 opened #69 "clouds.yaml doesn't support doesn't work"
The current implementation is not passing all the required data to the auth step resulting in an authentication failure.

[2018-10-23 11:45] flaper87 commented on #69
/assign @flaper87

[2018-10-23 14:04] #66 closed

[2018-10-23 14:04] chaosaffe commented on #69
/close

[2018-10-23 14:04] #69 closed

[2018-10-23 15:37] iamemilio opened #71 "Enable users to select OS_CLOUD"
/assign @iamemilio
../../pkg/cloud/openstack/clients/machineservice.go
Give clients a way to enter a value for OS_CLOUD

[2018-10-23 19:04] iamemilio opened #72 "Update Readme to Include Clouds.yaml instructions"
@iamemilio

[2018-10-25 09:07] flaper87 commented on #64
I've created an issue on cluster-api: https://github.com/kubernetes-sigs/cluster-api/issues/559 We can workaround this issue if we just use 443 for now. Trying to figure out a good way to solve this

[2018-10-25 09:58] flaper87 opened #74 "getKubeadmToken produces gibberish output when offline"
This call produces gibberish when working offline and no kubernetes-version is specified:

[code]

FWIW, we should not be relying on kubeadm to generate tokens but, this is what we have now so we ought to fix it. We could pass `kubernetes-version` to the call if it was a valid option in the `TokenParams` struct. Sadly it isn't.

[2018-10-25 09:58] flaper87 commented on #74
/assign @flaper87

[2018-10-25 12:58] flaper87 opened #78 "Find a better way to generate tokens"
We're currently depending on `kubeadm` to generate tokens. This is far from ideal as it requires to shell out and it doesn't work on environments where kubeadm is not present.

[2018-10-25 13:00] #74 closed

[2018-10-26 14:50] iamemilio commented on #71
/assign @iamemilio

[2018-10-26 14:51] iamemilio commented on #65
/assign @iamemilio

[2018-10-26 14:53] iamemilio commented on #16
\assign @iamemilio

[2018-10-26 17:41] chaosaffe commented on #16
/assign @iamemilio

[2018-10-28 22:13] iamemilio commented on #16
oops

[2018-10-28 22:14] iamemilio commented on #43
/assign @iamemilio

[2018-10-28 22:15] iamemilio commented on #16
is this issue closed?

[2018-10-29 02:00] Lion-Wei commented on #16
Seems works about this issue all finished, I'll just close this issue. : )
@flaper87 Fells free to reopen it if found any other thing left todo.

[2018-10-29 02:00] #16 closed

[2018-10-29 04:13] hidekazuna opened #81 "generate-yaml.sh failed with "./generate-yaml.sh: 100: read: Illegal option -s""
generate-yaml.sh failed with "./generate-yaml.sh: 100: read: Illegal option -s" on Ubuntu.
Bacause Ubuntu default shell is dash which does not support read with -s option.

Shebang of generate-yaml.sh should be /bin/bash instead of /bin/sh.

[2018-10-29 06:10] Lion-Wei commented on #81
Hi, @hidekazuna , thanks for raising this.
But I don't think `/bin/sh` lead to your problem, this script works well in my environment(Ubuntu 16.04). Can you offer more information?

[2018-10-29 06:40] hidekazuna commented on #81
@Lion-Wei , thanks for your response.

Here is the result I executed on 18.04.1 LTS (Bionic Beaver).
[code]

[2018-10-29 12:30] chrigl commented on #81
The default `/bin/sh` in ubuntu is `dash`, which does not implement -s on read.  It fails on a clean ubuntu 16.04 as well. There are other places where `generate-yaml.sh` fails. dash also does not implement `[[`.

[code]

[2018-10-29 12:30] dims commented on #81
+1 to change shebang to /bin/bash to be specific that we depend on bash

[2018-10-29 16:05] chaosaffe commented on #72
/close

[2018-10-29 16:05] #72 closed

[2018-10-29 16:10] chaosaffe commented on #81
/help-wanted
/good-first-issue

[2018-10-29 17:53] iamemilio commented on #65
/unassign @iamemilio

[2018-10-30 02:18] hidekazuna commented on #81
/assign @hidekazuna

I will fix this for my first issue.

[2018-10-30 10:32] chaosaffe commented on #65
/assign @ainmosni

[2018-10-30 10:32] chaosaffe commented on #65
/help-wanted

[2018-10-30 10:37] chaosaffe commented on #78
/assign @chrigl

[2018-10-30 12:38] ainmosni commented on #65
I'm looking into this.

[2018-10-30 15:03] chaosaffe commented on #65
/help

[2018-10-30 15:11] chaosaffe opened #85 "Leverage cloud-provider-openstack"
Our implementations currently focus on using the Kubernetes OpenStack built-ins which are deprecated. We should make the switch to using [cloud-provider-openstack](https://github.com/kubernetes/cloud-provider-openstack) instead once [Use standard clouds.yaml file as config file](https://github.com/kubernetes/cloud-provider-openstack/issues/323) closes.

[2018-10-30 16:15] #81 closed

[2018-10-30 16:18] ainmosni opened #86 "generate-yaml.sh does not work if $PWD contains spaces."
Currently, generate-yaml.sh breaks if the path it's run in contains spaces:

[code]

This can be solved by some strategic use of quotes.

[2018-10-30 20:56] iamemilio opened #88 "Generator always puts output files in ubuntu directory"
looks like this is the culprit: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/3584374fec7dc9c32c851cafc2f40b870c873c6e/cmd/clusterctl/examples/openstack/generate-yaml.sh#L55

[2018-10-31 13:28] #71 closed

[2018-10-31 13:47] #86 closed

[2018-10-31 19:38] iamemilio commented on #88
/assign @iamemilio

[2018-11-06 00:13] gdoctor commented on #43
Also wondering if we could support subnet UUID/names instead of just an overarching networking UUID. Currently I have some networks that are made up of more than 1 subnet. Essentially they were expanded upon once the initial subnet CIDR filled up.

[2018-11-06 09:20] chrigl commented on #88
PR: #90 is in master now. Issue seems to be solved, or do I miss something?

[2018-11-06 10:16] #78 closed

[2018-11-07 09:40] chrigl opened #92 "Migrate bootstrap token code to cluster-api"
This is a follow-up ticket for #78

When code of PR #89 is proven to work, we want to propose it for cluster-api so that other implementations can benefit from it.

[2018-11-07 10:55] chrigl opened #93 "Allow system:serviceaccount:openstack-provider-system:default to create secrets in kube-system"
Relates to #78

When cluster-api openstack controller is deployed to the actual cluster, it uses different secrets than when running in the minikube phase. Due to this, the controller is not able to create bootstrap tokens and thus, not able to create new worker nodes.

[code]

Todo:
Extend ClusterRole `openstack-provider-manager-role` to be able to create secrets in kube-system.

[2018-11-07 21:42] iamemilio commented on #85
/assign @iamemilio

[2018-11-09 13:49] iamemilio opened #96 "Dockerize all local code"
*suggested feature:* If we wrap all the parts that run on local hardware in a docker container, it would mitigate a lot of hardware specific issues, and ultimately streamline the app.

[2018-11-09 13:53] #96 closed

[2018-11-12 10:41] #93 closed

[2018-11-13 17:28] timothysc opened #98 "Periodic e2e CI- Signal on openstack providers"
Please add periodic jobs to https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-cluster-api-provider-openstack to give feedback on CI signal.

[2018-11-13 17:46] timothysc commented on #98
/cc @dims

[2018-11-13 18:13] dims commented on #98
cc @flaper87 @mrhillsman

[2018-11-14 09:43] chaosaffe opened #99 "Replace glog with klog"
s/glog/klog/g

xref: https://groups.google.com/forum/#!topic/kubernetes-dev/7vnijOMhLS0

[2018-11-14 14:08] chaosaffe commented on #99
/good-first-issue

[2018-11-14 14:15] chaosaffe commented on #99
xref: https://github.com/kubernetes-sigs/cluster-api/issues/587

[2018-11-14 20:18] mrhillsman commented on #98
ack @timothysc @dims

[2018-11-17 00:09] gdoctor opened #104 "Decoding machine status fails"
Decode fails in method machineInstanceStatus within instancestatus.go with error:

no kind "Machine" is registered for version "cluster.k8s.io/v1alpha1"

[2018-11-19 03:53] #104 closed

[2018-11-19 10:09] chrigl opened #106 "Implement basic cluster actuator"
So far, the cluster actutor is not yet implemented, except for basic types.

I would like to see a way to set up Networks, SecrityGroups and Loadbalancers for the cluster. In a first step, a single subnet for all nodes (master and worker) would IMHO be enough. Created Machines should use the created infrastructure.

Todo:
* Create Network with subnet with a configured CIDR
* Create a router connec

[2018-11-19 10:10] chrigl commented on #106
I will start working on it this week if there are no concerns.

[2018-11-19 16:43] gdoctor commented on #106
@chrigl I am currently working on the security group aspect, very similar to the aws implementation if you want to keep that our of your scope for now. You could just let me know what you had in mind for security groups within the cluster actuator, because right now most of that logic exists in the machine actuator. Up to you

[2018-11-20 09:43] chrigl commented on #106
@gdoctor I definitely appreciate help on this. I think, all building blocks necessary for a cluster should go into the cluster actuator, because they are not tight to a specific machine. I count SecurityGroups also as building block, because it is created once (at cluster level) and then used individually in the machines.

I am starting with getting the types in `apis/openstackproviderconfig/v1alp

[2018-11-22 09:26] scruplelesswizard opened #109 "Rename ProviderConfig to ProviderSpec"
There have been changes upstream to rename `ProviderConfig` to `ProviderSpec`. We need to pull in the upstream changes and update our references and documentation.

xref: https://github.com/kubernetes-sigs/cluster-api/pull/548

[2018-11-22 09:29] chaosaffe opened #110 "Switch yaml package from ghodss repo to sigs.k8s.io fork"
xref: https://github.com/kubernetes-sigs/cluster-api/pull/572

/assign @chrigl

[2018-11-22 10:49] chrigl commented on #109
/assign @chrigl

[2018-11-22 12:38] #110 closed

[2018-11-26 13:43] chrigl commented on #34
/assign @chrigl
Actuators already separated by #94.

I am currently working on an implementation of the cluster actuator which needs its own ProviderSpec.

[2018-11-29 18:48] gdoctor commented on #106
@chrigl sorry this got lost for me during the holidays here in the US. So is your idea that the cluster actuator actually creates the Security Groups within OpenStack? And then the machine actuator would  manage which security groups exist, are added, or are removed on a per machine/machineset basis? I see this working well

[2018-11-30 10:13] chaosaffe commented on #99
This turns out to be far more complex than originally anticipated.
/remove-good-first-issue

[2018-11-30 10:13] chaosaffe commented on #99
/remove-help

[2018-11-30 11:08] chrigl commented on #106
@gdoctor No problem. Hoping you had a great vacation :)

Yes this is the basic idea. I already have custom cluster actuator running, which creates network, subnet and external router. If successful, it writes it back to the ProviderStatus:
Example:
[code]

So the machine actuator can pick up the network, and there is no need to configure the network per node. The same I would do for SecurityGroups

[2018-11-30 14:04] chrigl opened #118 "Think about using OpenStack Server Groups"
Currently, when the machine actuator creates VMs, it goes to OpenStack Compute and asks for a VM, for the next VM, again, and again and again. This might result in having all VMs on a single hypervisor.

Well. OpenStack provides a way to configure anti-affinity. See https://docs.openstack.org/python-openstackclient/pike/cli/command-objects/server-group.html.

For sure, this does not come without p

[2018-12-02 17:22] chrigl opened #120 "Register cluster-api/pkg/controller for MachineSet and MachineDeployment"
After the update of `cluster-api` in #112, the openstack controller doesn't include the controller for `MachineSet` and `MachineDeployment` any more. Before, this was maybe done by some magic?

Anyways. To register the controllers, we need to extend `cmd/manager/main.go` by

[code]

[2018-12-03 16:27] #109 closed, assigned to chrigl

[2018-12-03 17:15] chrigl opened #121 "Update cluster-api as soon as #599 is in"
See https://github.com/kubernetes-sigs/cluster-api/pull/599.

When this is in, defaults for the MachineDeplyment controller are set.

[2018-12-03 18:34] gdoctor commented on #118
It's weird that their anti-affinity mode doesn't handle these edge cases for us, or at least make them configurable. I definitely could see this helping out with the stability of master nodes in production environments (assuming HA control plane); others might argue that they can achieve this by using different availability zones.

However, I feel like we should leave out server groups for worker

[2018-12-04 13:42] chrigl commented on #120
/assign @chrigl

[2018-12-04 13:43] stevesloka opened #124 "Use Kustomize in generate-yaml.sh"
Currently the generate-yaml.sh script utilizes bash and sed to handle building out the yaml files to pass to clusterctl. There can be environmental issues (mac vs linux, tooling version) which makes that script flakey.

I'd like to propose we move to Kustomize for the generation and reduce this need on bash. I'm happy to take this on and send a PR.

[2018-12-04 14:06] iamemilio opened #125 "Allow users to pass their own cloud.conf into generate-yaml.sh"
This would allow people to pass the path to an already filled out clouds.conf into generate-yaml.sh via a command line option. Something like this would make sense:
[code]

[2018-12-04 16:49] flaper87 commented on #43
fixed by #68
/close

[2018-12-04 16:49] #43 closed

[2018-12-04 17:58] iamemilio commented on #125
/assign @iamemilio

[2018-12-05 00:30] chaosaffe commented on #65
There is no configuration applied to the worker nodes, and as a result they are unable to handle required OpenStack tasks
/reopen

[2018-12-05 10:00] chrigl commented on #120
/close
Sorry. Misconception on my side. The MachineDeployment and MachineSet is running in a separate controller. NS: system, StatefulSet: controller-manager.
But since the latest tag of this container is from September and does not include the providerConfig -> providerSpec change.

[2018-12-05 10:00] #120 closed

[2018-12-05 10:11] ainmosni commented on #65
I indeed missed this, I'll pick it up.

[2018-12-05 12:12] flaper87 opened #130 "Allow the actuator to get the openstack configs from a configmap"
We currently depend on having `clouds.yaml` in one of the standard paths. In a more k8s fashion, it'd be great if the actuator could get the secret itself (assuming there's a service account token in the pod) and use the data in that secret to create the openstack client.

[2018-12-05 12:12] flaper87 commented on #130
/assign @flaper87

[2018-12-05 18:01] gdoctor opened #132 "Openstack (gophercloud) Identity and Compute Clients timeout"
In it's current state, the Identity and Compute clients are timing out after 3 hours (I believe), rendering the provider pod useless until a new token is issued. You then begin getting a constant stream of "...Get service list err: Authentication failed". To resolve this during testing, you can just recreate the pod. But for actual use cases we should leverage the ReAuth option within the gophercl

[2018-12-07 07:32] ainmosni opened #134 "Move generate-yaml.sh to go version of yq"
generate-yaml.sh currently uses the `yq` found at `https://github.com/kislyuk/yq` but the `yq` found at `https://github.com/mikefarah/yq` is more widely available. The script should use the syntax of the latter and detect if the other is installed instead.

[2018-12-07 14:02] #88 closed

[2018-12-10 03:37] #134 closed

[2018-12-10 19:03] chaosaffe commented on #124
@stevesloka we would certainly appreciate the help on this one 😍

[2018-12-10 19:04] chaosaffe commented on #92
@chrigl can you please open a ticket on kubernetes-sigs/cluster-api and close this one?

[2018-12-10 20:01] #99 closed

[2018-12-10 23:09] chaosaffe commented on #132
@gdoctor would you be interested in opening a PR for this?

[2018-12-12 10:58] chaosaffe commented on #34
/close

[2018-12-12 10:58] #34 closed

[2018-12-12 13:23] chrigl commented on #121
/assign @chaosaffe

[2018-12-13 10:22] ainmosni commented on #118
I would love this feature, but it should be something that's optional and probably off by default.

When it's on, though, I would like it to create a new servergroup if the already existing servergroup is "full".

[2018-12-13 11:40] #121 closed

[2018-12-14 10:15] chrigl opened #149 "Disable ufw on ubuntu"
We faced an interference with ufw running on ubuntu 18.04.
IMHO we should disable ufw by default, no matter the used Ubuntu version is 16.04 or 18.04.

On both versions, this in the startup script of master and node should do the trick
[code]

[2018-12-14 10:16] chrigl commented on #149
/help
/good-first-issue

[2018-12-18 12:18] chrigl commented on #106
/assign @chrigl

[2018-12-18 12:25] chrigl opened #154 "Implement deletion of cluster"
As soon as #150 is in. We also need a way to delete a cluster. This includes removing created stuff by the cluster reconciler.

This could be a bit more complicated than it sounds like. Very likely just deleting everything in reverse order might not work, because when Kubernetes is configured to create OpenStack LoadBalancers, on deletion of a cluster, there might be LBs left in the subnet. This m

[2018-12-18 13:44] chrigl opened #155 "Migrate rbac to go comment annotations of kubebuilder"
In this controller, we only shipped a file the file in `config/rbac/rbac_*.yaml`. In theory this should be generated generated by `controller-gen` for us.
To get this running, we need to include it into our `Makefile`, see https://github.com/kubernetes-sigs/cluster-api/blob/2edce9534dce0be00f9a519d5ac64fca009639bc/Makefile#L59

Also, we must migrate everything in `config/rbac/rbac_role.yaml` and `

[2018-12-18 14:22] iamemilio opened #156 "move cloud.conf to a secret, and take it out of plaintext scripts and code"
exhibit a: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/4908a8d40eb6cab3cb7e424dfef35603528ab482/cmd/clusterctl/examples/openstack/centos/provider-components.yaml.template#L190

[2018-12-18 19:04] iamemilio opened #157 "move variables inside of cloud-conf machine setup config to secretes so they can get injected as env variables"
This would make the extensibility of the script much better and simpler

[2018-12-19 07:56] flaper87 opened #158 "Pass user data to machine in the form of secret"
As of now, the userData we pass to the machine corresponds to the startUp script. However, it should be possible to override/pass the userData to the machine config in the form of secret. For example:

[code]
This way we can do away with serializing and mounting the startup script into the CAPO pod.

[2018-12-19 07:56] flaper87 commented on #158
/assign @flaper87

[2018-12-19 14:59] ainmosni opened #159 "Rework OS support"
Right now, our generation scripts only support "CentOS" and "Ubuntu". We should add an option for Container Linux and/or Flatcar to them so that people can easily spin up clusters based on that.

[2018-12-20 09:22] ainmosni commented on #159
/assign @ainmosni

[2018-12-20 20:17] iamemilio commented on #125
/unassign @iamemilio

[2018-12-20 20:18] iamemilio commented on #124
It is looking like a pure kustomize route may not be fully achievable without some modifications to how things are generated and written in the provider-config.yaml script are changed. The following issues would help a lot to make this easier:  #158 #156 #157

[2018-12-20 21:40] iamemilio opened #161 "Move OS_CLOUD from a templated variable to a secret in manager.yaml"
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/4908a8d40eb6cab3cb7e424dfef35603528ab482/config/manager/manager.yaml#L77

Essential for #124 and also just good practice

[2018-12-20 21:47] iamemilio commented on #124
@stevesloka Hi, sorry I didn't assign myself to this. I kinda just blindly threw myself at it, which was a little naive. That being said, there is good news. I realized that this patch is going to take much more than just a kustomize script to make it work, so I broke it down into subtasks that I would definitely appreciate your help on if you are still interested/available!

[2018-12-20 21:49] iamemilio opened #162 "Create a github project for this project"
It would help us organize and prioritize the work/issues
@chaosaffe
@flaper87

I'd be happy to set it up

[2018-12-20 21:52] #162 closed

[2018-12-21 09:05] flaper87 opened #163 "Don't fail if the apiEndpoint is not set"
We currently depend on the `ApiEndpoint` to be set in the `Cluster` resource to be able to generate the setup script. Sadly, this assumes there's a `setupScript` for the machine and that the script requires the `ApiEndpoint` to work.

This is limiting for scenarios where the node does a self-bootstrap and discovery or that the user data passed to the node already has all the required configs. We s

[2018-12-21 09:07] flaper87 commented on #163
/assign @iamemilio

[2018-12-21 13:14] #132 closed

[2018-12-21 13:40] #130 closed

[2018-12-21 16:12] stevesloka commented on #124
Hey no worries @iamemilio, just wanted to communicate and make sure I was on the same page with the project. Let me see what I can help out with. =)

[2018-12-31 12:35] #149 closed

[2019-01-02 13:59] naumvd95 opened #166 "Incorrect debug information after template generating"
**Steps to reproduce**

1. Download repo
2. Generate templates from openstack examples
`` env OS_CLOUD=cloud ./generate-yaml.sh --provider-os .....``

**expected result**
Files generated, paths descriptions viewed

**actual result**

incorrect path description. IMO in future it may corrupt scripting arch.
logs:
[code]

[2019-01-02 15:34] chaosaffe commented on #166
/good-first-issue

[2019-01-02 15:39] #166 closed

[2019-01-04 13:39] #106 closed

[2019-01-04 13:43] chrigl opened #169 "Implement Cluster Deletion"
Even though we might move the code to an infrastructure provider at some point (see https://github.com/kubernetes-sigs/cluster-api/issues/639), we need to implement the `Delete` function of the cluster actuator.

This is responsible for cleaning up every external OpenStack Objects created by the Reconcile function.

[2019-01-04 13:48] chrigl opened #170 "Implement creation of SecurityGroups in cluster actuator"
With #150 in, we have a basic reconciler to create Network, Subnet and Router.

We need to extend this to create appropriate SecurityGroups for control plane and worker nodes.

This ticket must be filled with needed Rules, but I already created it as a reminder for myself.

[2019-01-04 13:49] chrigl commented on #170
/assign @chrigl

[2019-01-07 07:11] flaper87 opened #171 "Tag the OpenStack resources created by CAPO"
#150 added network, subnet, and router creation as part of the cluster reconciler. We'll likely be adding logic to create other resources like SecurityGroups (#170). We should tag all these resources in order to ease their management not only for the provider itself but also for operators.

Support for Neutron tags was recently added: https://github.com/gophercloud/gophercloud/pull/1259

[2019-01-07 07:11] flaper87 commented on #171
@chrigl since you worked on #150, would you be interested in doing this too?

[2019-01-07 07:48] chrigl commented on #171
/assign @chrigl

[2019-01-07 08:48] chrigl commented on #171
@flaper87 any preferences on how to call that tag? Just `cluster-api-provider-openstack`?

I would only implement tags as an additional information on each resource, and not use it to find the resource in the reconciliation loop. Adding tags is an additional API call, and as far as I understood, not doable during create. So when for whatever reason the controller dies between creating a resource a

[2019-01-07 10:12] flaper87 commented on #163
/assign @tomassedovic

[2019-01-07 11:23] flaper87 commented on #163
@tomassedovic will be working on this,

/unassign @iamemilio

[2019-01-08 07:49] flaper87 commented on #171
@chrigl fully agree on not using tags to finding the resources throughout the lifecycle of the resource. However, tags may be useful during a cluster deletion to get all the resources that belong to the cluster. This is to avoid having to keep track of all the resources' names.

As for the name, `cluster-api-provider-openstack` should do it. We should also add a tag with the cluster name.

[2019-01-08 09:16] chaosaffe commented on #171
Since you may have more than one cluster per tenant, and may want easily identify which resources belong to which cluster, why not use the `name` from the cluster spec if available, falling back to some general identifier if not? This at least gives cluster administrators control over the naming scheme for their clusters and tags

[2019-01-08 11:21] flaper87 commented on #157
What variables did you have in mind?

[2019-01-08 11:23] flaper87 commented on #169
Duplicate of #154

/close

[2019-01-08 11:23] #169 closed

[2019-01-08 11:25] flaper87 opened #174 "Generate kubeconfig rather than getting it from the master nodes"
We're currently using ssh to get the kubeconfig from the master nodes. We should find a better way to do it that doesn't depend on ssh and on having access to the master nodes' network.

[code]

[2019-01-08 11:28] flaper87 opened #175 "Don't mount ssh keys on the actuator POD"
We shouldn't be uploading sshkeys into kubernetes and mounting them in the actuator POD. These keys are currently used to get the kubeconfig files from the master nodes (#174). Once #174 is solved, we should stop depending on these keys being present in the container and we should also not inject them into the machine nodes. Let the user specify what sshkeys should be injected/used.

[2019-01-08 13:23] #163 closed

[2019-01-08 14:07] chrigl commented on #174
There are already efforts in https://github.com/kubernetes-sigs/cluster-api/issues/122 to get rid of SSH... while the initial thought was to postpone cert generation to the actual node-setup.

[2019-01-08 14:17] iamemilio commented on #157
Actually, it looks like this was covered elsewhere, and is pretty vague :)  closing.

[2019-01-08 14:17] #157 closed

[2019-01-08 14:18] chrigl commented on #171
The `name` is not enough in this case. But currently cluster-api only supports a single cluster object per namespace, in finding and creating resources, I use `$PREFIX-$NAMESPACE-$CLUSTER_NAME`. So using something like this (maybe stripped by the PREFIX) makes sense.

[2019-01-09 06:47] chaosaffe commented on #171
Following with the Kubernetes naming schema can we use `<namespace>/<name>` if OpenStack allows `/` in tags?

[2019-01-09 09:19] chrigl commented on #171
I thought, I read something somewhere on the internet that slashes are not supported. But after testing... they do work. So I will use `<namespace>/<name>`.

[2019-01-09 11:17] flaper87 commented on #175
/assign @flaper87

[2019-01-09 12:20] chrigl commented on #174
Just thinking out loud... We talked about this could probably work. My idea is:
In `clusterctl` create a `remote-bootstrap-secret.yaml` in form of a bootstrap-token with an additional group (see below). This should be only valid for lets say 20 minutes. The yaml data is passed as a shared secret within the userdata. But because it is only valid for a short period of time, we in the first place I w

[2019-01-09 12:58] #158 closed

[2019-01-11 11:04] chrigl opened #183 "clusterctl flow is currently broken for Ubuntu"
When following the documentation in README.md, `clusterctl` will not work, because of missing ssh keys.

When manually adding those, and reference them in the `machines.yaml`, the nodes come up, but the `docker.service` does not include `--iptables=false and --ip-masq=false`.

Also the control plane does not come up, because of a missing `controlPlaneEndpoint`.

[2019-01-11 11:04] chrigl commented on #183
/assign @chrigl

[2019-01-11 11:57] #183 closed

[2019-01-11 14:33] chrigl opened #185 "clusterctl flow is currently broken for CentOS"
Relates to #183

CentOS also don't come up. I am currently investigating this.

* kubelet does not come up because of node-name
* After having a cluster up, DNS is not reachable

[2019-01-11 14:33] chrigl commented on #185
/assign @chrigl

[2019-01-11 18:48] #185 closed

[2019-01-11 18:58] #171 closed

[2019-01-14 13:17] ainmosni commented on #161
So, just to be clear, you just want the value moved to a secret and then used as a secretKeyRef here? (Also, wouldn't a configmap be a better fit for this, as OS_CLOUD is not particularly sensitive data)

[2019-01-14 13:40] flaper87 commented on #174
I like this solution!

The manager will be able to access the kubeconfig from within the cluster whereas `clusterctl` will download it asap with the temporary token. The downside of this approach is that it adds a time limit to the bootstrap process. Admittedly, if your deployment using `clusterctl` is taking longer than 20mins, you may have bigger problems... but still.

[2019-01-14 13:51] flaper87 commented on #159
TBH, I've always seen the CentOS/Ubuntu scripts as examples and not necessarily as something we support. I wonder how far we should push this and allow for more distros to be added.

We have some options:

1) We accept distro support as something that can live in this repo. This means we would move the scripts to their own dir (out of examples) and, hopefully, have subteams dedicated to them (a su

[2019-01-14 13:53] flaper87 commented on #159
although option 2 sounds easier from a maintenance standpoint, I think 1 is our best option for now. We need these scripts to explain and demonstrate the actuator capabilities and it may be time for us to call them something else rather than examples.

We can implement some guidelines and requirements that need to be met before accepting new "distros". Having CI could be one of them, for example.

[2019-01-14 15:18] ainmosni commented on #159
@flaper87 I agree, I think we should treat them as reference implementations. Having a nice working reference will make it much easier to get going with the project, which will lead to more users and then hopefully more contributors.

[2019-01-15 09:07] chrigl commented on #161
@iamemilio  You can write that into a configmap, this is just the "pointer" to which section of `clouds.yaml`.

For example:
[code]

If you set `OS_CLOUD=openstack`, the "first" section will be used to connect to openstack. If you use `OS_CLOUD=lab`, the second one will be used. These sections must not even point to the same OpenStack.

[2019-01-15 09:16] ainmosni commented on #161
Yeah, exactly, which is why a secret seems unneeded.

[2019-01-15 09:17] ainmosni commented on #161
/assign

[2019-01-15 09:32] chrigl commented on #159
I would also prefer to have a reference implementation rather than "just" examples.

Maybe we could use this ticket to come up with something more formalised than just a bash-script. I am thinking of a Container Linux Config solution for ContainerLinux... while we could reimplement Ubuntu and CentOS, using cloud-init (for sure in a separate ticket).

[2019-01-15 12:47] ainmosni commented on #159
Should we rename this ticket and change the scope then or shall we close this and create a new ticket?

[2019-01-15 13:03] ainmosni commented on #156
I think we need to move to https://github.com/kubernetes/cloud-provider-openstack to make this possible. As long as we use --cloud-provider=openstack on the kubelets, this file needs to be present on the local filesystem.

[2019-01-15 14:37] iamemilio commented on #161
This looks good, thanks!

[2019-01-15 14:39] iamemilio commented on #156
I'm not sure how writing it in this config map is any different than writing it in a secret an mounting the data to the file system

[2019-01-15 14:59] ainmosni commented on #156
Except that this data needs to be mounted before kubelet starts. Sure, we could start the kubelets without a cloud configuration, then have a container mount the secret, copy the secret out, reconfigure kubelet and then restart kubelet with the cloud configuration. But, in my opinion, this is a less-than-optimal solution, and the time spent on that could be spent on moving to the external cloud pr

[2019-01-15 15:53] ainmosni commented on #170
Having spoken with @chrigl, I'm going to steal this ticket from him.

[2019-01-15 15:55] ainmosni commented on #170
My current idea is to create two security groups, one for the controlplane and one for all the nodes that are hardcoded (maybe I'll add some parameters like ports for the API/sshd).

The controlplane secgroup will allow all to the the API and sshd ports and the general group will allow all to/from all the members in the group.

[2019-01-16 06:13] jichenjc commented on #170
I might need go and check openstack logic, will the security group rule update will be updated in VM on the fly? e.g VM we created for k8s cluster will update ssh/ping after reconcile?

[2019-01-16 06:18] jichenjc commented on #155
/assign

[2019-01-16 06:18] jichenjc commented on #155
let me try this

[2019-01-16 07:36] jichenjc commented on #155
seems both rbac and crds can be considered here..

[2019-01-16 11:39] chrigl commented on #170
@jichenjc We are not at that point yet. The scope of this ticket is just to create securitygroups in the cluster actuator and write them back to `ClusterStatus.ProviderStatus`. Everything else like using the SecurityGroups (and the Network, which is also not yet used) will be tackled later. Here we won't touch any machine.

[2019-01-16 13:33] shiftky opened #190 "Recreate worker machine failed with "Skipped creating a VM that already exists.""
Currently, when the worker machine resource is updated, machine-controller creates new VM immediately after deleting the old VM.

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/fb2ac747965a625bf2119d3551da47fcf377aa9a/pkg/cloud/openstack/machine/actuator.go#L237-L246

But the old VM might still exist right after the controller run "oc.Delete()".
In this case, the VM creatio

[2019-01-16 14:35] iamemilio commented on #156
Ah, I didn't realize that. That is going to be a problem for the kustomize script then.

[2019-01-17 10:13] flaper87 commented on #190
@shiftky thanks for reporting this. Is this something you want to work on? If not, I'm happy to take it :smile:

[2019-01-17 10:18] flaper87 commented on #159
@ainmosni Let's rename this one and keep the history.

I've done quite some work on other fronts to allow for container linux to be supported. The way we render the user data and where we get it from allows for ignition configs to be passed to the nodes.

As a starting point, I think we could move the examples into a `templates` dir and create a subdir per operating system.

[2019-01-17 13:58] shiftky commented on #190
I would like to work on it :smiley:

I'm planning to use `util.util.PollImmediate()` to wait until the old VM is deleted.

I was thinking to add the code between `oc.Delete()` and `oc.Create()`, but this waiting process may also be useful in other cases of deleting a VM.
So I'm considering whether I should add it to `oc.Delete()` as process at a VM deletion. What do you think about it?

[2019-01-17 15:40] #175 closed

[2019-01-18 07:09] jichenjc opened #193 "migrate crds from hard code to generate"
actually this comes from #155 , when doing test found crd folder contains something can be generated by same tool with crds folder name (see following sample).

[code]

[2019-01-18 07:10] jichenjc commented on #193
I will work on this

[2019-01-18 07:16] jichenjc commented on #190
This recreate is a special case so we don't need wait for other normal delete?
maybe a param to indicate whether oc.Delete(wait=false) (by default is true) is enough..

[2019-01-22 02:51] shiftky commented on #190
@jichenjc Thank you for your opinion!
The recreate VM (Create immediately after Delete) is a special case as you say.
I will add the waiting process as part of the re-creation process (oc.Update).

[2019-01-22 03:58] jichenjc commented on #174
@flaper87 just curious, we removed the ssh requirements in #192
I understand this is a to do item but after ssh removal and before we have solution, how to we get kubeconfig file?

[2019-01-22 04:02] jichenjc commented on #174
ok, I realized the removal is only for master/node interaction and the current logic for deployer is kept, sorry for disturbing...

[2019-01-24 02:33] hidekazuna opened #202 "Error reported before being able to acess via floating IP"
There is a short period of time the master node can be accessed via floating IP after allocating floating IP.
During the period, clusterctl returns the following error.

[code]

This error message should be deleted.

[2019-01-24 07:51] flaper87 commented on #159
@ainmosni hey, are you working (or planning to work) on this? I think it's time to get this done :smiley:

[2019-01-24 08:38] chrigl commented on #159
/assign @chrigl

I started on it, and am pretty far. Migrated everything to a cloud-init format. Today starting to integrate it into machine actuator.

[2019-01-24 09:13] #190 closed

[2019-01-24 14:55] ainmosni commented on #156
Yeah, I will take a look at getting the external cloud provider in there so that we can put the cloud.conf in a secret.

[2019-01-24 19:42] iamemilio commented on #156
@ainmosmi I have already begun an implementation of this in my kustomize pr. That being said, it's not fully functional. So feel free to take a look if you would like to finish, otherwise I'll pick it up on Monday

[2019-01-24 19:47] iamemilio commented on #125
I will add this to the kustomize patch as part of the readme

[2019-01-25 07:54] jichenjc commented on #202
there might be some time needed in order to let openstack honor the new floating ip
guess this is only error log and after that everything is fine?
IMO we can safety ignore this error ,user won't pay attention if everything is fine...

[2019-01-25 08:35] hidekazuna commented on #202
@jichenjc Yes, creating cluster worked fine after this message. I think it is better to remove this message when Creating cluster ended successfully.

[2019-01-25 12:10] ainmosni commented on #85
/assign @ainmosni

[2019-01-25 13:31] ainmosni opened #205 "Use created networks for machines."
Right now, we have the option of having an OpenStack network created when a cluster is created, except there is no way to have the machines actually use this network. This makes the actual usage of this network a bit clumsy as you first have to create a cluster, wait for the network to be created, get the status of the cluster and then manually fill it in in the machine spec. We should add a `from

[2019-01-28 05:58] jichenjc commented on #205
I can work on that if no one already work on it

[2019-01-28 09:16] ainmosni commented on #205
Yeah, I was thinking to just check the status, if it's filled in, go ahead, else abort.

[2019-01-29 01:26] hidekazuna opened #209 "Support keystone endpoint with certificate"
Currently cluster-api-provider-openstack can not use keystone endpoint with certificate.

Python-openstackclient can use keystone endpoint with certificate by the following clouds.yaml using cacert key.

[code]

Let's make cluster-api-provider-openstack to support keystone endpoint with certificate as well.

[2019-01-29 05:20] jichenjc commented on #209
I think it's not self signed ca, it's just ca ? I don't see difference between self signed ca and ca from org
and this seems should be in gophercloud side already? cluster-api just add those options should be fine ?@hidekazuna

[2019-01-29 11:22] chrigl commented on #193
/close

This is also closed via #189

[2019-01-29 11:22] #193 closed

[2019-01-29 12:58] chrigl opened #213 "RBAC: Controller is not allowed to access Machine and Cluster"
See below for logs.

The Problem here is... we changed to RBAC autogeneration in #189 , which IMHO is a good idea.
This leads to use the namespace "system". See https://github.com/kubernetes-sigs/cluster-api-provider-openstack/commit/f5839bd6a5f8e83fbdd164fba59ceb6501029d7a#diff-4ed5c4aff360de81af5eb0f0c77a2ad6R13
... but the controller still lives in "openstack-provider-system".

Unfortunately th

[2019-01-29 12:58] chrigl commented on #213
/assign @chrigl

[2019-01-29 15:15] #213 closed

[2019-01-29 16:52] posox opened #215 "Configure DNS for created networks"
Right now, we have the option of having an OpenStack network created when a cluster is created, but no way to configure nameservers for created subnets.

[2019-01-30 05:50] jichenjc opened #217 "crds not correctly created by using 'make manifests'"
#193 removed the definition of definition of openstackproviderspec but failed to auto generate it

[2019-01-30 05:50] jichenjc commented on #217
/assign

[2019-01-30 05:58] jichenjc commented on #205
/assign

[2019-01-30 06:15] hidekazuna commented on #209
@jichenjc You are right. cacert is not limited to self signed certificate, I will update issue report. we must add a cert to the http client in gophercloud, this issue is reported and closed in gophercloud/gophercloud/issues/311.  cacert is provider specific and should not be in cluster-api.

[2019-01-30 11:20] #215 closed

[2019-01-30 12:11] #217 closed

[2019-01-30 13:53] posox opened #219 "Create FloatingIP for machines"
I'd like to add an ability to create floating ip for machines automatically when `externalNetworkId` specified in `ClusterProviderSpec`.

[2019-01-30 13:53] posox commented on #219
/assign

[2019-01-31 02:55] jichenjc commented on #213
ok, opened https://github.com/kubernetes-sigs/controller-tools/issues/133
 and see whether we can get some response..

[2019-02-05 09:20] #170 closed

[2019-02-12 06:59] jichenjc commented on #205
basic idea will be Add a bool 'fromCluster' in NetworkParam (inside OpenstackProviderSpec) or a special value for FixedIp (such as 'fromcluster') so that when creating machine, we won't use the ID , instead, when doing InstanceCreate , we will query the info from apis/openstackproviderconfig/v1alpha1/types.go:Network , and use that info, of course , need double check whether the network is ready o

[2019-02-12 08:11] eromanova opened #225 "Clusterapi-controller pod fails to start with IndexOutOfRange error"
**Steps to reproduce**:
1. Set `managedSecurityGroups:true` in cluster ProviderSpec section
2. Follow Readme.md instructions to create cluster

**Actual result**:
Pod clusterapi-controller stucks in CrushLoopBackOff status and machine will never be up.
Logs:
[code]

[2019-02-12 08:37] eromanova commented on #225
/assign @eromanova

[2019-02-12 09:57] eromanova opened #227 "SecurityGroup automatic removal during cluster deletion"
Currently, users are able to set `managedSecurityGroups: true` in cluster ProviderSpec. This will create two security groups: one for control-plane machine and another for all nodes. But created SecurityGroups keep alive after machine removal. It'll be good to add their automatic removal during cluster deletion.

[2019-02-12 09:57] eromanova commented on #227
/assign @eromanova

[2019-02-12 10:33] #225 closed

[2019-02-14 16:07] iamemilio commented on #125
closing issue

[2019-02-14 16:07] #125 closed

[2019-02-14 16:11] iamemilio commented on #156
I'm going to close this issue because I dont think this is viable. I will open a new issue addressing the current bash script we need to use to load the cloud.conf into the user-data.sh scripts though. We want to move towards a pure kustomize approach.

[2019-02-14 16:11] #156 closed

[2019-02-14 16:13] iamemilio opened #230 "Find a way to load cloud.conf with only kustomize"
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/696ea8baa58f63359592e91222f07fb0923da7a0/cmd/clusterctl/examples/openstack/generate-yaml.sh#L168

[2019-02-15 17:11] #124 closed

[2019-02-19 13:48] luis5tb opened #234 "Add support for security group names instead of UUIDs"
Due to the changing the way VMs are created to enable trunk support (first create the port and then the VM that uses it), OpenStack nova is no longer doing the conversion from security group name to UUIDs, as the security group is passed while creating the port. Thus there is a requirement for stating security groups UUIDs instead of names. SG names support should be re-added

[2019-02-19 13:53] flaper87 commented on #234
I agree, although, I'd like to propose a different approach.

Instead of just adding support for SG names, can we add support for FilterParams just like we did with networks? We should be able to filter SGs by name, tags, and other attributes. This will make the interaction with OpenStack clouds easier.

For example, in the `openshift-installer` we filter networks and security groups based on tags

[2019-02-19 14:44] iamemilio commented on #234
I can pick this up if you want. I may deviate from the filter syntax we used before thought. I think its a lot cleaner if you can do this:
SecurityGroups:
   - < [ name | id ] >
     [ filters ]

[2019-02-22 15:03] eromanova opened #235 "Provide SecurityGroups attachments to machines"
Right now, if clusterSpec contains `managedSecurityGroups:true` field, two security groups will be created (one for controlplane machine and one for all the nodes), but currently they don't attach to machines.
I'd like to add automatic attachment of created controlplane and general SecurityGroups to machines.

[2019-02-22 16:14] iamemilio commented on #234
I'll take this
/assign @iamemilio

[2019-02-25 07:39] eromanova commented on #235
/assign

[2019-03-01 08:58] hidekazuna opened #244 "Failed to pull image "quay.io/calico/cni:v3.1.5""
clusterctl create cluster failed due to missing  quay.io/calico/cni:v3.1.5.

The following is the result of describing calico-node pod on the master node.

[code]

[2019-03-01 10:31] eromanova commented on #244
Can we just change the version of calico to v3.2 using https://docs.projectcalico.org/v3.2/getting-started/kubernetes/installation/hosted/kubernetes-datastore/calico-networking/1.7/calico.yaml manifest file in `master-user-data.sh` script instead v3.1 one?

[2019-03-01 16:32] iamemilio commented on #234
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/236
ok to close?

[2019-03-01 22:21] iamemilio opened #246 "Create a way to build Debugging images with Delve"
Create a debug dockerfile, and extend the generate-yaml.sh script to build debugging capabilities in with your service. This would be especially useful on the manager pod.

[2019-03-01 22:21] iamemilio commented on #246
/assign @iamemilio

[2019-03-04 01:29] hidekazuna commented on #244
Now quay.io/calico/cni:v3.1.5 is there and clusterctl create cluster succeeded.
I am not sure why it was not there at that moment.

[2019-03-04 01:29] #244 closed

[2019-03-04 20:57] iamemilio commented on #246
I realized that the manager binary would have to be compiled with delve debug info, so this may not be clean/possible

[2019-03-04 21:00] iamemilio commented on #246
@chrigl  or @chaosaffe 3 questions:
1. Where do files in pkg get compiled into?
2. If they are a part of the manager process, is it possible to compile a version of manager compatible with dlv?
3. Is this worth digging into :) ?

[2019-03-07 15:33] ncdc opened #251 "Document alignment with supported Cluster API and Kubernetes versions"
Let's add a section to the README that describes which versions of Cluster API work with which versions of this repository.

Let's also add a section that describes which versions of Kubernetes this provider is able to provision.

**Example:**
This provider's versions are compatible with the following versions of Cluster API:

||Cluster API 0.1|Cluster API 0.2|
|-|-|-|
|XYZ Provider 0.1|✓||
|XYZ P

[2019-03-08 08:30] jichenjc opened #252 "use resize for machine update if possible"
the machine is delted and recreated when doing update, we can consider resize if possible...

[2019-03-08 08:30] jichenjc commented on #252
/assign

[2019-03-19 03:33] gyliu513 opened #263 "How to provision a k8s cluster with an existing k8s cluster but not bootstrap cluster?"
I found that the k8s provision with openstack can either use a bootstrap cluster or use an existing cluster, but there is  no document for how to use an existing cluster to provision new k8s cluster, does there are any document that I can refer? Thanks.

[2019-03-19 03:45] jichenjc commented on #263
does cluster-api support this ? I think we may ask this in that part as well

[2019-03-19 05:08] gyliu513 commented on #263
An issue for cluster-api https://github.com/kubernetes-sigs/cluster-api/issues/825

[2019-03-19 08:32] morvencao opened #264 "'unknown authority' during creating providerClient"
### Issue description:

I'm facing the issue of `certificate signed by unknown authority` issue during creating `providerClient`.
My bootstrap cluster is created by minikube, and heres is my `clouds.yaml`:

[code]
Then create the cluster with `clusterctl` will always get `timed out waiting for the condition` after 30 mins.

[code]

I then log into the bootstrap cluster and check the logs of `clust

[2019-03-19 13:38] gyliu513 commented on #264
@kubernetes-sigs/cluster-api-provider-openstack-maintainers

[2019-03-20 02:36] xunpan opened #265 "fix template after change securityGroups from string to SecurityGroupParam"
In ticket https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/236, `securityGroups` are changed in API but not template.

`cmd/clusterctl/examples/openstack/machines.yaml.template`
[code]

It should be `- uuid : <Security Group ID>`

[2019-03-20 06:13] gyliu513 opened #267 "Why did my minikube cluster was cleaned up?"
My test step is as following:

1) Using minikube start a cluster via `minikube start --vm-driver kvm2`
2) Create a k8s cluster via command as follows:
[code]

And I found the log are as follows from the `clusterctl create`:
  - Start up a minikube again in current minikube cluster created by myself in step 1):
[code]

  - Due to my configuration has some issues, after 30 mins, the k8s cluster prov

[2019-03-20 06:15] gyliu513 commented on #267
FYI @xunpan @morvencao @jichen @clyang82

[2019-03-20 10:54] morvencao commented on #264
Besides providing extra `verify` and `cacert` fields:
[code]

We also need to make some code changes to the cluster-api-controller, and the issue can be workarounded.

[2019-03-20 11:02] morvencao opened #268 "Get error 'Resource not found' when creating instance from machine service."
### Issue description:

After I workaround issue of [`unknown authority CA` issue](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/264), I encounter another issue when creating openstack instances from machine service.

See logs of cluster-api-controller:
[code]
Here is my `clouds.yaml` and `machines.yaml`

[code]

[code]

Appreciate it if anyone who can help me?

@gyliu51

[2019-03-21 06:39] gyliu513 commented on #267
/kind bug

[2019-03-21 07:26] gyliu513 commented on #267
My bad, there is no need to set up a local minikube cluster, but just use `clusterctl create` to manage minikube cluster.

[2019-03-21 07:26] #267 closed

[2019-03-22 01:34] jichenjc commented on #268
@morvencao it's unlikely to know where's the root cause given the info you provided, it's likely because some resource can't be found on cloud (openstack) side, can you help to check whether you have any way to increase log level and try again?

[2019-03-22 02:07] morvencao commented on #268
@jichenjc After reverted the code back to https://github.com/kubernetes-sigs/cluster-api-provider-openstack/commit/db7963362ba20928da06d8d89a2a6dfd19a348c7, I didn't encounter the issue again.

[2019-03-22 02:16] jichenjc commented on #268
let me check this @morvencao

[2019-03-22 05:24] jichenjc commented on #268
maybe you can provide clusters.yaml here? the issue seems related to cluster

[2019-03-22 05:27] morvencao commented on #268
@jichenjc
[code]

[2019-03-22 14:53] vrutkovs opened #271 "Register Schemes doc should mention klog flags"
Manager process should use klog flags and merge glog flags. An example given in https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/provider_implementations/register_schemes.md would fail with `flag provided but not defined: -logtostderr` otherwise

[2019-03-22 14:56] vrutkovs commented on #271
Wrong repo, sorry

[2019-03-22 14:56] #271 closed

[2019-03-24 03:20] jichenjc opened #272 "support CoreOS"
coreos is important part of openshift IPI and UPI in the future..we should consider to enable it

[2019-03-24 03:20] jichenjc commented on #272
/assign

[2019-03-25 05:08] gyliu513 opened #273 "Enable POWER/s390x support for openstack provider"
Some customer want to run openstack provider on IBM POWER, it is better to enable it can run on POWER as well, including both clusterctl and openstack cluster api manager.

FYI @jichenjc @morvencao @clyang82 @xunpan

/cc @kubernetes-sigs/cluster-api-provider-openstack-maintainers

[2019-03-25 05:19] jichenjc commented on #273
for reviewer, https://docs.openstack.org/nova/latest/user/support-matrix.html mentioned the support matrix ,IBM has a set of hypervisors including libvirt on ppc64 and s390x  , powervc, z/VM now

I don't know too much detail on what's the really needed stuffs , so this issue can be an umberlla

[2019-03-25 13:13] chrigl commented on #118
/assign @chrigl

[2019-03-26 15:59] chrigl commented on #272
@ainmosni is working on this.

/cc @ainmosni

[2019-03-26 16:09] ainmosni commented on #272
Yeah I'm in the final phases of testing a setup, expect a PR today or tomorrow.

[2019-03-26 16:09] ainmosni commented on #272
/assign

[2019-03-27 01:22] jichenjc commented on #272
@ainmosni ok, I actually tried deploy manually and already worked ,so in case you have something in hand, I am glad that I can help the try and review of the PR ,can you notify me when it's uploaded? THanks !

[2019-03-27 09:18] chrigl commented on #118
The implementation approach I proposed in #275 adds a way to define scheduler hints on individual machines. In it's simplest form, just a Server Group can be passed to nova.

[2019-03-27 09:24] chrigl commented on #268
@morvencao it this an issue with the current master any more?

[2019-03-27 09:25] chrigl commented on #252
@jichenjc Could you elaborate a bit on this please. I don't understand what to do. Thanks!

[2019-03-27 09:29] chrigl commented on #251
/assign

[2019-03-27 11:08] morvencao commented on #268
Did get time to check that. The root cause for this issue was docker version is incompatible with `kubeadm`.

[2019-03-27 12:14] ainmosni commented on #272
@jichenjc Thanks for the review offer, I just pushed the PR offer, so by all means, pick it apart. :)

[2019-03-27 17:31] iamemilio opened #280 "Clarify Tagging UI"
The tagging system is confusing as it is. Proposed changes:

[code]

@chrisgl, @flaper87: thoughts?

[2019-03-27 17:32] iamemilio commented on #280
/assign iamemilio

[2019-03-27 17:32] iamemilio commented on #280
/assign @iamemilio

[2019-03-28 01:37] jichenjc commented on #268
@morvencao since we already have an issue tracking that, can you close this one?

[2019-03-28 02:32] morvencao commented on #268
Okay, let's close this.

[2019-03-28 03:25] gyliu513 commented on #268
@jichenjc Can you please link this one with the issue which is tracking the same thing here for better trace? Thanks.

[2019-03-28 05:18] gyliu513 opened #282 "Use `kubectl kustomize` instead of `kustomize`"
`kustomize` is now a sub-command for `kubectl` https://github.com/kubernetes/kubernetes/pull/73033 , so there is no need to let end user install `kustomize` separately, but installing `kubectl` is good enough.

We can update the script and document to clarify how to use `kubectl kustomize`.

/cc @dims

FYI @jichenjc @morvencao @xunpan @clyang82

[2019-03-28 19:21] iamemilio commented on #234
@luis5tb can you close this issue

[2019-03-28 19:28] #230 closed

[2019-03-28 19:42] iamemilio commented on #282
sounds good, just make sure we keep the kustomize version the same, otherwise it will have bugs

[2019-03-29 02:08] hidekazuna opened #286 "kubeadm : Depends: kubernetes-cni (= 0.6.0) but 0.7.5-00 is to be installed"
/kind bug

**What steps did you take and what happened:**

Executed the followings to create cluster:

[code]

The command ended with the error:

[code]

Error message was logged in /var/log/cloud-init-output.log in the master instance.

[code]

**What did you expect to happen:**

K8s cluster is created successfully.

**Anything else you would like to add:**

**Environment:**

* kubelet: 1.12.3
*

[2019-03-29 09:44] #234 closed

[2019-03-29 10:59] jichenjc commented on #286
per the info provided above, @hidekazuna
we have some thing like below, can we add a patch to pin the kubernetes-cni for 'older' version?

cluster-api-provider-openstack/cmd/clusterctl/examples/openstack/provider-component/user-data/ubuntu/master-user-data.sh

apt-get install -y \
    kubelet=${KUBELET} \
    kubeadm=${KUBEADM}

in the mean time, we may consider upgrade the recommended version of

[2019-03-29 11:05] jichenjc commented on #286
/assign

[2019-03-29 12:43] hidekazuna commented on #286
@jichenjc  Yes, I know versions are defined in master-user-data.sh. This issue derived from the security release announced by [[ANNOUNCE] Security release of Kubernetes affecting certain network configurations with CNI - Releases 1.11.9, 1.12.7, 1.13.5, and 1.14.0 - CVE-2019-9946](https://groups.google.com/forum/#!topic/kubernetes-security-announce/l7J1lW2ciHw) so that we should not pin the kubern

[2019-03-29 13:36] chrigl commented on #268
/reopen
/kind bug

I can see the issue when adding `tags` to my machine spec. Without it works.

[2019-03-29 13:42] chrigl commented on #268
/assign @iamemilio

... because he currently works on tags anyway.

[2019-03-30 04:29] gyliu513 commented on #286
This seems to be a kubeadm issue https://github.com/kubernetes/kubernetes/issues/75683

And I tried to switch to k8s 1.13.5 and 1.14.0 , but found `kubeadm init` hang and opened an issue at https://github.com/kubernetes/kubeadm/issues/1474

[2019-03-30 04:34] gyliu513 opened #288 "Enable configuring docker for machine"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

When I was using kube 1.14.0, kubelet cannot start up due to following errors:
[code]

It is better to enable end user can configure docker cgroup driver in Machine Spec, comments?

Besides, someone may also want to use specified docker version as well, so it is better to enable end u

[2019-03-31 04:35] jichenjc commented on #268
ok, so it's related to tags... no the label or the docker version..

[2019-03-31 06:27] jichenjc commented on #288
I think better way might be set cluster wide param in cluster.yaml (have some default value) so user can change  one place to change all machines, then optional we can set per-machine configuration but I double whether that's really useful

and this seems to be cluster api scope?

[2019-03-31 09:20] gyliu513 commented on #288
Thanks @jichenjc , Yes, this should be cluster-api scope feature. I opened an issue at https://github.com/kubernetes-sigs/cluster-api/issues/866

[2019-03-31 09:20] #288 closed

[2019-04-01 14:22] #251 closed

[2019-04-01 14:24] jichenjc opened #292 "disable swap by default"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

see this [ERROR Swap]: running with swap on is not supported. Please disable swap
during kubeadm start, it's not likely all distro will disable swap by default
we should disable in user-data.sh

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous

[2019-04-01 14:25] jichenjc commented on #292
update user-data.sh should be enough...I will work on it

[2019-04-01 15:51] chrigl commented on #268
Got it.

We pass in a Microversion for nova for server tagging support. Since we pass in an `ImageName` (rather than an ID), gophercloud tries to convert it into an ID.
See
* https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/openstack/clients/machineservice.go#L482
* https://github.com/gophercloud/gophercloud/blob/master/openstack/compute/v2/servers/requests.g

[2019-04-01 16:38] iamemilio commented on #268
Hi folks, sorry about introducing this bug. #281 will be updated by end of day today to patch this issue, and will also include the changes to the tagging UI to make it clearer.

[2019-04-01 16:45] iamemilio commented on #280
The tagging system is confusing as it is. Proposed changes:

Machines.yaml
[code]

Cluster.yaml
[code]

[2019-04-02 01:58] morvencao commented on #268
Thanks @iamemilio

[2019-04-03 04:57] jichenjc opened #294 "Delete a machine stuck for long time"
/kind bug

root@kvm-017751:~/go/src/sigs.k8s.io/cluster-api-provider-openstack/cmd/clusterctl# kubectl --kubeconfig=minikube.kubeconfig get machine
NAME                     AGE
openstack-master-clwxs   11m
root@kvm-017751:~/go/src/sigs.k8s.io/cluster-api-provider-openstack/cmd/clusterctl# kubectl --kubeconfig=minikube.kubeconfig delete machine openstack-master-clwxs
machine.cluster.k8s.io "opensta

[2019-04-03 06:58] jichenjc opened #295 "Deploy first cluster then reuse the bootmachine to deploy second meet crash"
/kind bug

able to deploy test 1, but when start test2 (only change the cluster.yaml's name field)
with same boot machine, I met following crash.......

I0403 06:51:17.429080       1 networkservice.go:52] Reconciling network components for cluster default/test1
I0403 06:51:17.429604       1 secgroupservice.go:71] Reconciling security groups for cluster default/test1
I0403 06:54:03.215310       1 c

[2019-04-03 08:00] chrigl opened #296 "Update cluster-api to 0.1.0"
/kind feature

**Describe the solution you'd like**

`cluster-api` [released v0.1.0](https://github.com/kubernetes-sigs/cluster-api/releases/tag/0.1.0) and we should update our dependency.

This also will make us able to implement #274.

[2019-04-03 08:12] chrigl commented on #296
/assign @jichenjc
Because you are already working on this ;)

[2019-04-03 08:18] chrigl commented on #294
@jichenjc Could you have a look at the logs of the `clusterapi-controllers-xxx`. Maybe this does point you in the right direction.

[2019-04-04 06:40] gyliu513 opened #298 "worker node do not have roles"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

After my cluster was provisioned, I found that the worker node role is none, but master node do have a role named as master, so I think that we should also add a role for worker node as well.

[code]

/cc @jichenjc @chrigl

**What did you expect to happen:**

**Anything else you would l

[2019-04-04 15:09] jichenjc commented on #298
I found same situation, will something like 'worker' enough @gyliu513 ?

[2019-04-04 15:14] gyliu513 commented on #298
@jichenjc Yes, I think we can set it as `worker` first.

[2019-04-04 15:53] jichenjc commented on #298
I am working on this, seems

 kubectl label node minikube node-role.kubernetes.io/worker=

works, however, the issue is we need create master first then apply the nodes after that
then we are done..so need some place to add this logic,maybe in cluster-api??

 kubectl get nodes
NAME       STATUS   ROLES    AGE   VERSION
minikube   Ready    master   33h   v1.12.7
root@kvm-017751:~/go/src/sigs.k8s.io

[2019-04-04 15:54] jichenjc commented on #298
/assign

[2019-04-05 03:26] gyliu513 commented on #294
@jichenjc @chrigl I can delete master node successfully as

[code]

But here I have a question: If the bootstrap cluster was deleted, then we may not able to delete a master node via `kubectl delete machine`, as the cluster api controller was running on master node, and the delete of master node will delete the cluster api controller as well, for such case, not sure how master node would be cleane

[2019-04-05 03:27] gyliu513 commented on #294
BTW: @jichenjc can you please update your problem a bit with mark down https://www.markdownguide.org/ , this is can make it easy to read ;-)

For some command, we recommended use following format:

[code]

[2019-04-05 12:17] #265 closed

[2019-04-05 16:34] jichenjc commented on #294
ok, thanks for the comments, I will use the format next time

and please note this doesn't always occur, some times I can delete the master sometimes I can't.... don't know what's magic there

and there is a env called NODE_NAME
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/controller.go
line 40 to prevent the master be deleted by itself....

[2019-04-09 12:03] #272 closed

[2019-04-10 07:34] hchenxa opened #301 "unkonwn field commands throws when use generate-yaml.sh to generate the configuration."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

the error was from :
[code]

and the file like below:
[code]

**What did you expect to happen:**

the command should work fine.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

my kustomize version:
[code]

**Environme

[2019-04-10 13:46] chrigl commented on #301
@hchenxa Which version of kustomize are you using? We only support kustomize 1.0 so far

[2019-04-10 14:30] #280 closed

[2019-04-11 02:16] jichenjc commented on #301
@chrigl seems @hchenxa provided the version as 2.0.3 above...

[2019-04-11 02:18] jichenjc commented on #292
close this per https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/293

[2019-04-11 02:18] #292 closed

[2019-04-11 02:19] jichenjc commented on #286
maybe we can close this per https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/287 ?

[2019-04-11 02:42] gyliu513 commented on #286
/close

[2019-04-11 02:42] #286 closed

[2019-04-11 07:59] chrigl commented on #301
Ah thanks @jichenjc ... Haven't seen that. So @hchenxa could you please retest with kustomize 1.0.11?

[2019-04-11 08:06] hchenxa commented on #301
the 1.0.11 worked for me.

[2019-04-11 08:06] #301 closed

[2019-04-11 08:24] gyliu513 commented on #301
@hchenxa Please check if `yq` is installed or not. Besides, you can also update `generate-yaml.sh` by adding `set -x` to get more error messages.

[2019-04-16 07:27] hchenxa opened #304 "[Question]any plans to running clusterctl in container"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Do we have any plan to running clusterctl in container so that I can:

1) Use k8s job/cronjob to create the k8s cluster
2) Integrate with knative to use tekon pipeline for k8s cluster deploy.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solvi

[2019-04-16 07:28] hchenxa commented on #304
cc @gyliu513 @jichenjc

[2019-04-16 07:42] jichenjc commented on #304
@hchenxa  this might be a good question to ask https://github.com/kubernetes-sigs/cluster-api
as far as I know, clusterctl is mostly from cluster-api and openstack just provide some basic 'provider' specific info ,so how to use clusterctl can be asked there

[2019-04-16 08:09] hchenxa commented on #304
based on comments https://github.com/kubernetes-sigs/cluster-api/issues/289#issuecomment-411568874, this should up to the different provider,  and refer https://console.cloud.google.com/gcr/images/cnx-cluster-api/GLOBAL, there current have some docker images but did not included the openstack provider.

[2019-04-16 08:34] gyliu513 commented on #304
I think this make sense, if we can put `clusterctl` to a container, it will be more simple to ship it to end user.

/cc @dims

[2019-04-16 08:40] gyliu513 commented on #304
@hchenxa You can create a PR if you have some cycle for this, refer to https://github.com/kubernetes-sigs/federation-v2/blob/master/Makefile#L79-L82 for a reference.

[2019-04-16 08:52] jichenjc commented on #304
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/143/commits/c80ec38865544e8019759a393463279db38636d8

that's only for CI purpose at beginning
but I agree this should be useful in your use case, so refer to that commit should be helpful

[2019-04-17 14:22] hchenxa opened #307 "can not force delete machines resources"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
I was trying to delete the machine by `kubectl delete machine --force --grace-period=0`, but find the command will still need the controller's to finish the machine delete operations.
so :
1) if my controller was delete by mistake, how can I delete the

[2019-04-18 06:23] jichenjc commented on #307
1) the controller is gone, and this is a mistake, maybe just manual delete the nodes ( the VM spawned ) should be ok?
2) if can't connect to, we should not allow delete resource or it will lead to orphan resource?

[2019-04-18 06:41] hchenxa commented on #307
thanks for answer.

actually, there did not have VMs created on openstack, so I did not know how to clean up the garbage resources.

[2019-04-18 06:59] jichenjc commented on #307
no VM created and the controller is gone, then every thing is cleaned?

[2019-04-18 07:14] hchenxa commented on #307
let me clarify the cases here:

Case 1: I tried to use cluster-api to create the VMs on Openstack, but the VM creation failed due to auth failed, so I tried to delete the machine and the cluster but the operations also failed with the same reason of creation.

Case 2: Then I try to delete the machine and cluster resources with the paramemter `--force --grace-period=0` but did not help

Case 3: The

[2019-04-18 08:29] hidekazuna opened #308 "Missing ConfigDrive in zz_generated.deepcopy.go"
/kind bug

**What steps did you take and what happened:**

When go generate is executed under the pkg/apis directory, ConfigDrive was added to the DeepCopyInto function in zz_generated.deepcopy.go

**What did you expect to happen:**

No update zz_generated.deepcopy.go

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

ConfigDrive was added

[2019-04-18 08:29] hidekazuna commented on #308
/assign @hidekazuna

[2019-04-19 06:09] gyliu513 commented on #263
Fixed by https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/299

[2019-04-19 06:09] #263 closed

[2019-04-19 06:23] gyliu513 opened #311 "Enable OpenStack provider support different Kubuernetes Distributions"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I have opened an issue at https://github.com/kubernetes-sigs/cluster-api/issues/853 and driving some discussion there, but would love to get some comments from here as well. ;-)

Currently the OpenStack Cloud Provider is using `user-data` to do post install, and the `user-data` will h

[2019-04-19 09:46] jichenjc commented on #311
I think you mean we can create some 'plugin' or 'like plugin' during generating or manual edit the user-data so that we can not only support upstream k8s but also other provider in the upstream?
I like the idea as we can have the framework to be extended to be adopted by different cloud operator who might not only need k8s upstream

[2019-04-19 09:51] gyliu513 commented on #311
@jichenjc I have some thinking at here https://github.com/kubernetes-sigs/cluster-api/issues/853#issuecomment-484780552 , and you may also see the cluster api use case do include supporting different vendor's cluster at https://github.com/kubernetes-sigs/cluster-api/pull/903#discussion_r276934608

[2019-04-19 09:59] jichenjc commented on #311
yes, I saw 853 and thanks for 903 link, I am reading it :)

[2019-04-20 01:39] #308 closed

[2019-04-20 12:31] gyliu513 commented on #304
/close

[2019-04-20 12:31] #304 closed

[2019-04-22 01:50] hchenxa opened #315 "[Question]any plan to upgrade the cluster-api-controller to 0.1.0"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

the openstack provider still using the cluster-api-controller alpha.4 version, do we have any plan to upgrade to us the cluster-api-controller v0.1.0 ?

cc @gyliu513 @jichenjc

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-22 01:51] hchenxa commented on #315
I saw the https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/296. close it

[2019-04-22 01:51] #315 closed

[2019-04-22 07:25] jichenjc opened #317 "check nil cluster is provided"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
At the moment, cluster-api-provider-openstack panics with a nil pointer if there is no cluster
We might want to make sure to return an error if a nil cluster is provided.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will as

[2019-04-22 07:25] jichenjc commented on #317
/assign

[2019-04-22 08:10] jichenjc commented on #317
@chrigl can you take a look whether I am finding the right place? I think during review on update cluster-api version PR,
this is the place you talked about ? if cluster is nil, then we will panice
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/openstack/cluster/actuator.go#L31
seems aws has same issue?
https://github.com/kubernetes-sigs/cluster-api-provide

[2019-04-22 08:27] hchenxa opened #318 "controllers panic at machineScript"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

I create the cluster and the controller panic with below:
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernet

[2019-04-25 04:17] jichenjc commented on #318
maybe provide some additional info will be helpful including the yaml files you used etc,

looks like nil reference here...
/root/gocode/src/sigs.k8s.io/cluster-api-provider-openstack/pkg/cloud/openstack/machine/machineScript.go:54

[2019-04-25 05:45] jichenjc opened #323 "Add auto test for generate-yaml.sh"
/kind feature

There is no test for generate-yaml.sh now, so sometimes the change will break this function
but developer won't pay attention to it
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-25 05:45] jichenjc commented on #323
/assign

[2019-04-25 10:34] #323 closed

[2019-04-26 02:15] hchenxa opened #325 "create cluster failed with apps/v1 deployment api"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

the issue should be introduced by https://github.com/kubernetes-sigs/cluster-api-provider-openstack/commit/328e46e79585a153e4fdb18f01b7f128d39571c6.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solvi

[2019-04-26 02:28] jichenjc commented on #325
Thanks for find this issue :)

[2019-04-26 05:49] gyliu513 commented on #325
/close

[2019-04-26 05:49] #325 closed

[2019-04-26 07:26] gyliu513 commented on #318
@hchenxa I used `KIND` and created two clusters, it works fine. +1 to @jichenjc would love to see more reproduce steps for this issue.

[2019-04-26 08:11] gyliu513 opened #330 "Enable setting proxy for user-data"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I'm now proposing this for Cluster API use case at https://github.com/kubernetes-sigs/cluster-api/pull/903#discussion_r278838676

This is mainly used to handle the case where my VM cannot access external internet without a proxy.

[2019-04-26 08:14] chrigl commented on #296
/close

fixed by #290

[2019-04-26 08:14] #296 closed

[2019-04-26 08:20] chrigl commented on #307
@hchenxa As a short term workaround... there are a finalizers on each machine preventing the object to be deleted form etcd as long as the finalizers are there. Removing the finalizers by hand (e.g. `kubectl edit machine something`) should let Kubernetes remove the Machine entirely.

The longer term issue: There seems to be either a problem in create machine or delete machine, or both, that we nee

[2019-04-26 08:27] chrigl commented on #317
@jichenjc Yes this is one place. Other places are in `machine/actuator.go`
* in `Create`: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/openstack/machine/actuator.go#L137
* and `Update`: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/openstack/machine/actuator.go#L276

Maybe just doing a check at the top of all of t

[2019-04-26 08:31] chrigl commented on #318
The same error happens when there is no cluster passed by cluster-api. Maybe #317 resolves this.

[2019-04-26 08:43] gyliu513 commented on #264
Fixed by https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/224

[2019-04-26 09:17] hchenxa commented on #318
yes, I add some debug info in controller and the null point was caused by the cluster was nil.

[2019-04-26 09:24] jichenjc commented on #330
will this cover the use case that deployed VM can't access internet at all so have to use internal stuff? or just proxy (NAT? ) the request through proxy server?

[2019-04-26 09:25] jichenjc commented on #318
yes , I think I can work on #317 and let's see whether this still occurs..

[2019-04-27 04:56] mrhillsman commented on #98
i believe this has been resolved - @flaper87 @timothysc @dims ?

[2019-04-27 10:31] dims commented on #98
@mrhillsman the testgrid above does not show any new CI jobs in openlab that test the cluster-api-provider-openstack. Is it on another url?

[2019-04-28 02:33] hchenxa opened #331 "prefer to add accessIP in machine list"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Prefer to add machine accessIP in machine list so that I can easy find the access IP and use my crential to login the cluster.

below was the current behavior:
[code]
from the output, I only can see my machine list, so if I want to connect the machine, I need to get the accessIP from

[2019-04-28 02:36] gyliu513 commented on #331
This is a limitation of CR as CR can only show `NAME` and `AGE` now, let me check more for this.

FYI @jichenjc @chrigl

[2019-04-28 03:53] jichenjc commented on #331
similar to this one?
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/274
I am working on this now, it's postponed due to cluster-api v0.1.0 adoption

https://github.com/kubernetes-sigs/cluster-api/pull/851/commits

[2019-04-28 06:14] hchenxa opened #333 "the CAcert and CAkey from the cluster status was null"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
the cluster out have CAcertification and CAProvateKey, but the value seems be null always like below:
[code]

Does there need any specify configuration for this?

**Anything else you would like to add:**
[Miscellaneous information that will assist in s

[2019-04-28 06:22] hchenxa commented on #318
the issue can be reproduced when using the existing the cluster as bootstrap nodes.

[2019-04-28 07:36] hchenxa opened #334 "[Question]node lifecycle management"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
I have a question about the cluster-api lifecycle management.

currently, when I using cluster-api to deploy a cluster, the behavior seems like below:

1) the cluster and master node resources will be created on bootstrap node.
2) the master node will

[2019-04-29 01:44] gyliu513 commented on #334
@hchenxa For deleting a worker node, you can run `kubectl delete machine xxx` on the provisioned cluster; But I was not clear how to delete a master node, and there are some discussion at https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/294#issuecomment-480136343 , can you help check more for this?

[2019-04-29 02:10] #209 closed

[2019-04-29 05:55] gyliu513 commented on #227
@eromanova where can I find this parameter `managedSecrityGroup: true`? I checked the code, but no such parameter, am I missing anything? Thanks!

[2019-04-29 07:37] eromanova commented on #227
@gyliu513 I'm sorry, there was a typo in issue description. The parameter is called `managedSecurityGroups`. It's a boolean option in `Cluster.spec.ProviderSpec`. You can get more info from `README.md` file.

[2019-04-29 11:49] chrigl commented on #331
This thing is... Since we are not the owner of the `Machine` custom resource, there is no way to configure provider specific fields.
Especially when it comes to the use case of allowing a "management cluster" being able to control child clusters at multiple providers. See https://github.com/kubernetes-sigs/cluster-api/pull/903

There is currently a whole lot going on in the cluster-api project. ht

[2019-04-29 15:50] jichenjc commented on #331
yeah, a lot going on.. we need catch up with them

and even the resource doesn't owned by us (such as floating ip), maybe we can generalize the thing we want to show to end user (floatingip --> provider ip ?) then set the value in provider side?

[2019-04-29 15:52] jichenjc commented on #333
we should update the CAcert in reconcile function to sync the CA info? I can take a look as I am updating provide ID which should be similar to this ,

[2019-04-29 16:06] jichenjc commented on #334
I think we should not allow a delete from master cluster, this means delete the master from itself, cluster-api has a env variable to be defined and it can prevent itself from deletion
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machine/controller.go#L255

and

I *guess* maybe this is a good question to ask in one of 4 working groups in cluster-api.. maybe https://doc

[2019-04-29 16:15] jichenjc commented on #318
you mean the cluster is existing? @hchenxa
then it might be a different issue to #317

I thought I tried this before and at that time it works (with existing cluster),so what's your command looks like?

[2019-04-30 08:45] #227 closed

[2019-05-01 04:07] jichenjc commented on #331
@hchenxa @chrigl if you don't have objection, I think
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machine_types.go#L181
might be some place to handle, I can add a PR to set those info in our reconcile logic and
create PR in cluster-api to make it showable to end user
please let me know any concern then I can go ahead and assign myself to work on it

[2019-05-02 02:22] #317 closed

[2019-05-05 05:27] #333 closed

[2019-05-05 11:37] hchenxa commented on #307
closing this as we can remove the finalizers to force delete the resources.

[2019-05-05 11:37] #307 closed

[2019-05-05 11:51] hchenxa opened #342 "the docker images was out of data"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

the docker image did not push on docker hub(https://hub.docker.com/u/k8scloudprovider).

**What did you expect to happen:**
the docker image on docker hub was out-of-data, https://hub.docker.com/u/k8scloudprovider

**Anything else you would like to add:**
[Miscellaneous information that

[2019-05-05 11:52] hchenxa commented on #342
the latest k8scloudprovider/openstack-cluster-api-controller was built about 5 weeks ago:
[code]

[2019-05-05 13:49] hchenxa commented on #334
it looks like the current behavior was changed, when the master node finish the provision, the CR and CRD will be deleted from the bootstrap nodes.

cc @gyliu513 @jichenjc

[2019-05-05 13:54] gyliu513 commented on #334
@hchenxa so the bootstrap cluster will not able to get the CR any more after provision finished and the end user has to logon to the new provisioned cluster to do some operations. Can you help check how to delete a master node in such condition?

[2019-05-05 13:54] gyliu513 commented on #334
@hchenxa so the bootstrap cluster will not able to get the CR any more after provision finished and the end user has to logon to the new provisioned cluster to do some operations. Can you help check how to delete a master node in such condition?

[2019-05-05 21:22] jichenjc commented on #334
yes, let's do some test and see whether we can 'kubectl del machine xxxx-master' ? I think we do but need double check

[2019-05-05 21:33] jichenjc commented on #318
#317 merged, will this fix your problem?
@hchenxa

[2019-05-06 11:04] gyliu513 opened #345 "Fix image security issues"
/kind bug

Please refer to https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/115#issuecomment-489579864 for detail. There are some security issues for the controller image, we should fix it.

[2019-05-06 11:43] chrigl commented on #318
Just a side-note. Seems we don't have automated builds of master any more. So please test with an own image of `openstack-cluster-api-controller:latest`

[2019-05-07 09:58] chrigl commented on #331
@jichenjc lgtm.

[2019-05-08 03:08] gyliu513 opened #346 "Enable installing multiple controller planes cluster"
/kind feature

I did not found a solution for how to install an HA cluster with OpenStack provider, seems to be a feature needs to be implemented?

/cc @dims @jichenjc @chrigl

[2019-05-08 03:21] hchenxa commented on #346
refer https://kubernetes.io/docs/setup/independent/high-availability/ to setup HA environment with kubeadm.

seems like we need loadbalance for HA environment.

[2019-05-08 05:28] gyliu513 commented on #346
Yes, but not sure if the cluster api has logic to handle the creation of master nodes, there are some issues at https://github.com/kubernetes-sigs/cluster-api/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+HA

[2019-05-08 19:47] iamemilio commented on #268
Please Close this issue if it is resolved.

[2019-05-09 02:13] jichenjc commented on #346
I think maybe we need try 1+ masters case, I remember they somewhere I see it doesn't support multiple master (not 100% sure), we may try that case first then see how we can handle it

and if we need Loadbalancer, we'd better refer to https://github.com/kubernetes/cloud-provider-openstack/tree/master/pkg/ingress instead create by our own..

[2019-05-09 02:55] morvencao commented on #268
Confirmed it's resolved, close this.

[2019-05-09 02:55] #268 closed

[2019-05-09 06:14] hidekazuna commented on #346
I found cluster-api-provider-aws realises[ multi-node control plane](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/creating-multinode-controlplane-clusters.md#creating-clusters-with-a-multi-node-control-plane--)

[2019-05-09 06:28] gyliu513 commented on #346
Thanks @hidekazuna for the info, this is really helpful.

@detiber , any comments for this? Do you think each cloud provider need to implement this or this should be done by cluster-api?

[2019-05-09 18:57] detiber commented on #346
If there is a need to support HA using the ClusterAPI v1alpha1 types, then it will need to be implemented on a per-provider basis. I hope that we'll have a better solution for v1alpha2 and beyond, but those proposals are still being defined as part of the workstreams effort.

For the AWS provider, we use a 'set' label on the machine to differentiate Control Plane vs worker node, and then inject di

[2019-05-10 01:43] gyliu513 commented on #346
Thanks @detiber , do we have some document for this? With this multiple Control Plane machine, can I say this is also HA cluster?

[2019-05-10 13:37] detiber commented on #346
@gyliu513 I think it depends, we try to avoid calling it HA in the AWS provider today because we do not deploy the control plane instances across Availability Zones by default (it is possible to do, but it requires pre-configuration and manual configuration of the Machine resources). But that is a choice that we made as a project. I think it would be fine to refer to it as HA as long as the failur

[2019-05-10 13:51] gyliu513 commented on #346
Cool, thanks @detiber , I think we can first enable multiple control planes for openstack provider.

[2019-05-13 05:47] hidekazuna commented on #202
I understand this tiny issue as of now via discussing #207 .

[2019-05-13 05:47] #202 closed

[2019-05-14 01:17] hidekazuna opened #349 "Support OpenStack Stein"
/kind feature

**Describe the solution you'd like**

Support OpenStack Stein which is released on 10 April, 2019

[2019-05-14 02:36] jichenjc commented on #349
Just curious, do you have a set of todo items(already found some missing stuffs or to be enhanced stuffs) or just a common test effort to make sure cluster-api-provider-openstack works on Stein version?

[2019-05-14 05:41] hidekazuna commented on #349
@jichenjc I do not have specific todo items for supporting, I will try cluster-api-provider-openstack working with Stein version.

[2019-05-15 01:47] jichenjc opened #350 "event creation during create / delete machine"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

we need something like event recording so that we can 'kubectl get events' to know whether the machine is really created/deleted

later on we can extend this to more places such as machine update etc

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2019-05-15 01:47] jichenjc commented on #350
/assign

[2019-05-15 02:05] hchenxa opened #352 "delete the network when the machine was deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
currently, when delete the machine, the network will be remained, so it will generate many detached neutron port in the network pool. prefer the delete the these network when the machine was deleted.

cc @gyliu513 @jichenjc

**Anything else you would l

[2019-05-15 02:19] jichenjc commented on #352
Thanks for the bug report

to be clear, it's 'network' or 'subnet' or 'port' remaining? do we create network during instance (machine ) create stage ? I think we don't?

[2019-05-15 02:19] hchenxa commented on #352
it should be neutron port.

[2019-05-16 01:24] jichenjc commented on #352
I don't fully understand here..sorry, as we delete the machine, the port associated with the VM will be deleted in nova side ,it's not cluster api responsibility to delete the port ..is there some thing wrong in the openstack cloud itself?

[2019-05-16 01:54] jichenjc opened #353 "Add phase info about the machine"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

There's `phase` field in the spec, we need tell what's the status of the machine creation to know more info

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-16 01:54] jichenjc commented on #353
/assign

[2019-05-16 07:01] jichenjc opened #354 "Add annoation for instance type"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#beta-kubernetes-io-instance-type mentioned we can set annotation ,this is something we can add through cluster-api-openstack-provider as well

**Anything else you would like to add:**
[Miscellaneous informa

[2019-05-17 02:06] jichenjc commented on #331
https://github.com/kubernetes-sigs/cluster-api/pull/951

[2019-05-20 12:41] #350 closed

[2019-05-21 01:35] jichenjc commented on #318
@hchenxa can you help to check whether your problem is still there or fixed by latest update?

[2019-05-21 01:40] jichenjc commented on #282
@gyliu513 is this still a todo? and seems @iamemilio 's point is valid, we support 1.0.11 kustomize only

[2019-05-21 01:44] gyliu513 commented on #282
I see, but why not fix bugs related to kustomize?

[2019-05-21 01:55] jichenjc opened #356 "support latest kustomize"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
we only support kustomize 1.0.11, at least we need know the reason and see what we can do to support latest one...

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster

[2019-05-21 01:56] jichenjc commented on #282
A valid point... , let's use https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/356 to track

[2019-05-21 02:37] jichenjc commented on #356
/assign

[2019-05-21 04:20] hchenxa commented on #318
sure, will let u know the result then.

[2019-05-23 05:36] #352 closed

[2019-05-23 05:37] hchenxa commented on #318
looks like the issue was gone.

[2019-05-23 05:37] #318 closed

[2019-06-03 08:32] #345 closed

[2019-06-03 19:15] sbueringer commented on #356
@jichenjc Are you still working on it? If not, I can take over. I migrated some of the kustomize files locally already to use the kustomize 2+

[2019-06-03 19:22] sbueringer opened #360 "Openstack cloud.yaml verify property is not used correctly"
/kind bug

**What steps did you take and what happened:**
I tried to use `verify: false` in the clouds.yaml file.

**What did you expect to happen:**
Successful connection to the Openstack API, instead I got an ssl error.

**Anything else you would like to add:**

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/

[2019-06-04 01:20] jichenjc commented on #356
@sbueringer actually I had a PR here https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/357...  will it be enough or you want to have more input here?

[2019-06-04 05:12] sbueringer commented on #356
Oh I didn't see it I'll compare later

[2019-06-04 20:06] sbueringer opened #362 "Support setting Fixed IP on router"
/kind feature

**Describe the solution you'd like**
In our deployment all outgoing packets of a Kubernetes cluster in OpenStack get the source IP of the OpenStack router. To make Firewall management easier, we have the requirement to set a fixed IP on the router. This makes it for example possible to recreate the cluster and keep the router IP. Another reason for this is that our IPAM is done cent

[2019-06-05 02:50] zxDiscovery opened #363 "Can't find /tmp/mycluster/ca.pem"
/kind bug

**What steps did you take and what happened:**
Follow the step https://github.com/kubernetes-sigs/cluster-api-provider-openstack/#getting-started
Using existing Kubernetes cluster to run the cluster-api.

[code]

**What did you expect to happen:**
Cluster-api running normally.

**Anything else you would like to add:**

**Environment:**

- Cluster-api version:  `master`
- Minikube/KIND v

[2019-06-05 03:32] jichenjc commented on #363
please check whether you have ca.pem created, the code is complaining that you input a ca file but not able to find it , I doubt whether `/tmp/mycluster/ca.pem` is generated by some steps but you failed to execute ?

[code]

[2019-06-05 03:34] jichenjc commented on #346
https://github.com/kubernetes-sigs/cluster-api/pull/889 has some implementation on cluster-api
let's see whether we need additional stuffs in provider openstack or just close this without any changes
/assign

[2019-06-05 03:49] jichenjc commented on #362
if I understand this correctly, you want to add a fixed IP about the gateway info? the naming `externalFixedIPs` makes me at first thought it's going to add a fixed IP to the VM to be provisioned :)

[2019-06-05 17:26] sbueringer commented on #362
The property would be in the ClusterSpec not in the MachineSpec so that should help. But we can change to property name of course. I just wasn't sure what would be better name for it.

[2019-06-06 01:50] #360 closed

[2019-06-07 14:49] jichenjc opened #364 "switch the provider components from deployment to statefulset"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://github.com/kubernetes-sigs/cluster-api/issues/983
for more info
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Ku

[2019-06-07 14:49] jichenjc commented on #364
/assign

[2019-06-08 07:17] sbueringer commented on #362
I added a PR to illustrate how this could be implemented

/cc @chrigl

[2019-06-10 09:08] zxDiscovery commented on #363
@jichenjc Thanks for your reply. There is no `ca.pem` in `/tmp/mycluster/` after I check.  Which situation may create the `ca.pem`?

[2019-06-10 09:19] jichenjc commented on #363
I am not sure ... usually it will be used for https (tls) connection, have you search whether you have ca.pem in any definition of the yaml files?

[2019-06-11 04:19] jichenjc opened #366 "support timeout by using flag"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
we used env variable before for timeout flag,
https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/225
has some guide on how to use flag instead. we can refer to this

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the i

[2019-06-11 04:20] jichenjc opened #367 "support loadbalancer for HA support"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

per https://kubernetes.io/docs/setup/independent/high-availability/
it need load balancer to do further HA support for master , we need provide LB support
(maybe refer to cloud-provider-openstack? )

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2019-06-11 04:42] hidekazuna opened #368 "Server rejected event"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I tried to create cluster:

[code]

The following Error log was reported in the Cluster API Controller Pod.

[code]

**What did you expect to happen:**

Error is not reported.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

*

[2019-06-11 04:42] hidekazuna commented on #368
/assign @hidekazuna

[2019-06-11 05:38] #368 closed

[2019-06-12 03:36] jichenjc opened #370 "make TokenTTL configurable through options"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
TokenTTL is hard coded and we can enhance it to make it configurable

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-12 05:21] #370 closed

[2019-06-13 23:00] dkt26111 opened #373 "clusterctl fails on creating bootstrap cluster due to unknown minikube flag --p"
/kind bug

**What steps did you take and what happened:**
When following the README to build clusterctl and then creating the cluster, the clusterctl command fails with the following message:

`create_cluster.go:61] could not create bootstrap cluster: could not create bootstrap control plane: error running command 'minikube start --bootstrapper=kubeadm --kubernetes-version=v1.12.3 --p=clusterapi':

[2019-06-14 20:55] #246 closed

[2019-06-17 01:04] jichenjc commented on #373
Thanks for the bug @dkt26111
will take action according to what you suggested

[2019-06-17 01:04] jichenjc commented on #373
/assign

[2019-06-17 05:06] #373 closed

[2019-06-18 01:30] jichenjc commented on #366
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/371

[2019-06-18 01:30] #366 closed

[2019-06-18 01:38] #349 closed

[2019-06-20 01:51] huxiaoliang opened #377 "kubeconfig setting incorrect when run kubectl"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

in section `Interacting with your cluster`,  the `kubeconfig` is used but not defined
[code]
**What did you expect to happen:**

 kubectl  works well
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-

[2019-06-20 01:57] #377 closed

[2019-06-25 01:36] #356 closed

[2019-06-25 06:28] prankul88 opened #378 "Improvements to config.md file"
/kind bug

**What steps did you take and what happened:**
I have been following link [https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/docs/config.md](url) to setup cluster-api.
There are a few small issues that I think are worth adding,

- #proper-routing: command `openstack router add subnet kube-nodes-subnet` does not mention the subset to be added. It should rather

[2019-06-25 13:01] #64 closed

[2019-06-26 11:24] #98 closed

[2019-06-26 13:26] #92 closed

[2019-06-26 18:31] #154 closed

[2019-06-27 00:08] jichenjc opened #380 "[v1alpha2]: prepare for v1alpha2 adoption"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/cluster-api/pull/997/ introduced some design doc
about v1alpha2, we should start to think about how to enable it
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-27 00:22] jichenjc opened #381 "use go modules"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
per https://github.com/kubernetes-sigs/cluster-api/pull/1054/files
let's  plan to switch to go modules accordingly

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-27 21:57] #174 closed

[2019-06-28 11:09] #159 closed

[2019-06-28 18:16] #85 closed

[2019-06-29 15:36] #219 closed

[2019-06-30 18:41] sbueringer opened #382 "Support for multi-node control plane"
/kind feature

Based on [ClusterAPI Provider Openstack: multi-node control plane](https://docs.google.com/document/d/11-xZ4_UpNYHYBNNkCPgsyEPKFKFS1DoJNfwM0nV_nn0/edit#)

This is an umbrella issue for the implementation of this design.

It will be implemented via the following PRs:
* [x] Move services in individual packages for better separation of concerns like CAPA
  * PR: https://github.com/kube

[2019-07-04 00:28] jichenjc opened #385 "upgrade to k8s 1.15"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
latest 1.15 was released, we can consider to switch to that pane

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-07-04 00:33] jichenjc opened #386 "upgrade to cluster-api 0.1.6"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The cluster-api 0.1.4 was released and we need adopt that (not just code, but the container image) as something like node controller was added and we need fit for that as well

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-07-05 01:38] jichenjc opened #387 "avoid ssh to master node to get kubeconfig if we can"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

we are getting kubeconfig from master node using ssh now, this can't be used in some method such as reconcile cluster (cluster-api is using this method to get secret now)

like aws provider, we need figure out a way to know how to create kubeconfig based on the info from cluster only

[2019-07-07 02:52] #364 closed

[2019-07-07 06:03] sbueringer commented on #367
I'll implement it with multi-node control plane.

[2019-07-07 11:33] sbueringer commented on #387
Will be fixed with the reconcile cert PR from here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/382

[2019-07-07 11:37] sbueringer commented on #346
I'll implement it here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/382

[2019-07-08 04:05] jichenjc commented on #385
encouter issue :

node 'openstack-xxx-xxx' not found in kubelet logs in master node, this seems related to the 'cloud-provider' flag we provided in master user data

I assume some changes in k8s recently and cloud-provider has some checks ... need further dig

[2019-07-09 00:42] jichenjc commented on #387
thanks for the that PR!!, really helpful

[2019-07-09 05:11] jichenjc opened #391 "failed to create master and node"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
kubelet failed to start, the kubelet is saying 'node openstack-master-xxxx' can not be found
and this blocked kubelet start and in turn master and node failed to start

we have to workaround this first then check the k8s community `cloud-provider` expectation.

**What did you expect to h

[2019-07-10 00:22] jichenjc commented on #391
I am seeing this in /var/log/messages

Jul 10 00:07:46 openstack-master-5wgrw kubelet: I0710 00:07:46.990277    4340 kubelet.go:1822] skipping pod synchronization - container runtime status check may not have completed yet
Jul 10 00:07:46 openstack-master-5wgrw kubelet: E0710 00:07:46.993032    4340 kubelet.go:2248] node "openstack-master-5wgrw" not found
Jul 10 00:07:47 openstack-master-5wgrw kub

[2019-07-10 00:25] jichenjc commented on #391
seems it's related to novalocal which is domain above......

[2019-07-10 05:10] hidekazuna commented on #391
@jichenjc My environment is OpenStack Stein on Ubuntu 18.04. --domain= parameter value is `openstacklocal` as shown below.

[code]

[2019-07-10 09:12] prankul88 commented on #391
@jichenjc I am using Stein on Ubuntu 18.04.

[2019-07-12 02:04] jichenjc opened #395 "Failed to create cluster (using clusterctl)"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

current master:

../../bin/clusterctl create cluster --bootstrap-type kind --provider openstack -c examples/openstack/out/cluster.yaml -m examples/openstack/out/machines.yaml -p examples/openstack/out/provider-components.yaml -v 10
I0712 02:03:04.426687   25163 decoder.go:224] decoding

[2019-07-12 08:35] #205 closed

[2019-07-13 08:19] #395 closed

[2019-07-16 01:15] jichenjc commented on #385
already addressed by #389

[2019-07-16 01:15] #385 closed

[2019-07-16 01:16] jichenjc opened #398 "Delete a cluster failed to complete"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

 ./clusterctl delete cluster -p examples/openstack/out/provider-components.yaml  --kubeconfig kubeconfig --bootstrap-type kind
I0716 01:04:36.306411   14851 clusterdeployer.go:160] Creating bootstrap cluster
I0716 01:04:36.306480   14851 createbootstrapcluster.go:27] Preparing bootstrap

[2019-07-16 01:57] jichenjc opened #399 "port number 443 in master script is incorrect"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I0716 01:39:22.044227   23410 clusterclient.go:938] Waiting for kubectl apply... server not yet available: couldn't kubectl apply, output: unable to recognize "STDIN": Get https://9.20.206.79:6443/api?timeout=32s: dial tcp 9.20.206.79:6443: connect: connection refused
unable to recogniz

[2019-07-17 03:36] sbueringer commented on #399
Might have a way to fix this in the final PR for multi-node control plane. With that PR I would start generating the kubeadm config via Go Code. So I have access to the controlPlanEndpoint including the port. This can then be added to the Openstack IP annotation and getIP can then retrieve IP and Port. The clusterctl implementation can handle the port if it's also returned by getIP

[2019-07-17 03:37] sbueringer commented on #387
Fixed via https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/394

[2019-07-17 03:47] sbueringer commented on #367
PR is open: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/401

[2019-07-17 04:18] #387 closed

[2019-07-17 08:23] chrigl opened #402 "Example of `generate-yaml.sh` doesn't work for Container Linux any more"
/kind bug

**What steps did you take and what happened:**

Trying to generate yamls for Container Linux using `generate-yaml.sh`

[code]

**What did you expect to happen:**

Properly generated yaml to startup Container Linux nodes

**Anything else you would like to add:**

There are two ideas coming to my mind.
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/cmd/clust

[2019-07-17 08:23] chrigl commented on #402
/assign @sbueringer

[2019-07-17 09:28] jichenjc commented on #399
I added some comments here:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/394#pullrequestreview-262906467
maybe change there from 6443 to 443 as default one is 443?

[2019-07-18 03:37] sbueringer commented on #399
@jichenjc Yup you're right. Let's pin it for now to 443. With the last PR for multi-node control plane there will be a configuration in the Cluster CRD for this, so we can make it flexible again.

[2019-07-18 03:40] #399 closed

[2019-07-18 04:43] sbueringer commented on #402
@chrigl Should be fixed by https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/404.

Sorry I didn't tested generate yaml with my last PR. Will do with future ones :)

[2019-07-21 11:28] #402 closed

[2019-07-24 00:43] jichenjc commented on #391
already provided a tip to handle this issue

[2019-07-24 00:43] #391 closed

[2019-07-24 00:44] jichenjc opened #407 "move from k8s.io to x-k8s.io"
/kind bug

see
https://github.com/kubernetes-sigs/cluster-api/issues/1073

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes

[2019-07-24 11:17] prankul88 commented on #378
Closing the issue. Patch has already been merged.

[2019-07-24 11:17] #378 closed

[2019-07-24 16:02] sbueringer commented on #380
I would start working on this
/assign @sbueringer

[2019-07-25 01:31] jichenjc commented on #380
yes, let's joint work on this, I am studying and preparing for this as well
so maybe we can make sub-tasks :)

[2019-07-25 09:03] #386 closed

[2019-07-25 09:41] #235 closed

[2019-07-25 13:49] hidekazuna commented on #381
@jichenjc May I take this issue?

[2019-07-25 13:55] jichenjc commented on #381
sure :)

/assign hidekazuna

[2019-07-25 21:53] CamelCaseNotation commented on #398
I think this is expected behavior for CAPI v1alpha1. See: https://cluster-api.sigs.k8s.io/common_code/machine_controller.html

There are two consequences of this:

The machine actuator assumes there will be exactly one Cluster in the same namespace as any Machines it reconciles. See getCluster() for the details.
If the Cluster is deleted before the Machine it will not be possible to delete the Mac

[2019-07-26 01:10] jichenjc commented on #398
no , the expected behavior is not like this

I did try delete and it says following:
I0726 01:07:24.192069    9961 clusterclient.go:799] retrying: machine status is empty

so the root cause is we need set machine status

for v1alphe2 seems this is another story, but for v1alpha1, we need set status

[2019-07-26 07:36] jichenjc opened #410 "get secret not found issue"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
latest code...
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e

[2019-07-26 07:39] jichenjc commented on #410
https://cluster-api.sigs.k8s.io/common_code/noderef_controller.html

[2019-07-26 07:41] jichenjc commented on #410
/assign

[2019-07-26 17:40] sbueringer commented on #380
Yup okay. I need a few days to catch up to the current status of v1alpha2

[2019-07-27 13:58] sbueringer commented on #380
It would be nice if we could get this done first: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/382

I have all the code here. Just have to merge the APIServerLB PR and one final on to implement kubeadm.

If we move to v1alpha2 first I fear I have to reimplement a lot of that stuff.

[2019-07-27 15:20] jichenjc commented on #380
we may need create another branch for v1alpha2 ?

[2019-07-27 15:35] sbueringer commented on #380
Definitely. I'm just looking at AWS and I guess it will be more or less half rewrite and the other half copy&pase of existing OpenStack-specific. That's why it would be nice to have the kubeadm change on master before start copying it on the v1alpha2 branch

[2019-07-28 04:26] jichenjc opened #413 "Create masterIP in cluster provider spec"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
from here:
https://cluster-api.sigs.k8s.io/common_code/noderef_controller.html
Infrastructure providers can opt-in to use this controller by providing a kubeconfig as a Kubernetes Secret. The secret must be stored in the namespace the Cluster lives in and named as <cluster-name>-kubeco

[2019-07-28 04:26] jichenjc commented on #413
/assign

[2019-07-29 03:09] #398 closed

[2019-07-29 03:15] sbueringer commented on #407
I think we should do this with v1alpha2 like CAPA. I don't think we have to migrate our v1alpha1 resource

[2019-07-29 04:01] #362 closed

[2019-07-29 04:15] #410 closed

[2019-07-29 04:15] #413 closed

[2019-07-29 07:27] hidekazuna opened #415 "Use Bazel"
/kind feature

**Describe the solution you'd like**

Cluster-api-provider-openstack should use bazel to catch up with Cluster API and other main provider implementations.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-07-29 07:29] hidekazuna commented on #415
I will take this after #381 has finished.

[2019-07-29 23:29] CamelCaseNotation commented on #380
I'm interested in helping out with this effort. LMK how I can help

[2019-07-29 23:34] CamelCaseNotation commented on #380
https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/933 here's an issue with some guidance we could extrapolate from

[2019-07-29 23:36] CamelCaseNotation commented on #311
@jichenjc consider closing this issue since bootstrapping will be handled via an external provider in v1alpha2

[2019-07-29 23:37] CamelCaseNotation commented on #380
Consider either tagging this issue, or adding a `[v1alpha2]` prefix to the issue title so it may be more easily tracked, thanks!

[2019-07-30 00:33] jichenjc commented on #311
yes, I knew v1alpha2 will have external provider...

[2019-07-30 00:33] jichenjc commented on #311
/close

[2019-07-30 00:33] #311 closed

[2019-07-30 02:04] gyliu513 commented on #311
@jichenjc @CamelCaseNotation can you please show me some detail for `external provider`? Any document that I can refer to?

[2019-07-30 04:06] sbueringer commented on #415
Are we sure we want to migrate to Bazel? I read that in CAPA they want to remove Bazel as far as possible because in Repos which are not as complex as k/k they think it's not worth the additional complexity compared to simple go build

[2019-07-30 04:13] sbueringer commented on #380
That's nice to here, thx!

I'm not really sure how we should do the migration to v1alpha2. I think we should do it in the following order:

* Pre-Migration:
  * migrate to go.mod
  * Finalize https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/382

* Migration:
  * Migrate Machine Actuator/Controller, similar to: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull

[2019-07-30 05:44] hidekazuna commented on #415
@sbueringer Thanks for the information. When I create #411 ,  I found we do not use Bazel at all and have to study Makefile in cluster-api-provide-azure so that I thoughtit is better to migrate.

My real purpose is to create integration and e2e test. I may propose to migrate to Bazel if it's better when creating tests.

[2019-07-30 05:52] sbueringer commented on #415
Okay yeah sure. Let's see if we need it for that.

[2019-07-30 19:57] CamelCaseNotation commented on #380
If I get some time this week I'll look at how to break them down into smaller subtasks. 892 PR is so big it actually crashed my chrome tab lol. Lots of repo cleanup happening in that PR. I believe there is a different way to structure the repo based on kubebuilder best practices. Not sure if that should be done as part of the refactor. But if it isn't done as part of this refactor, I feel it's les

[2019-07-31 05:25] hidekazuna opened #416 "Add e2e test"
/kind feature

**Describe the solution you'd like**

Implement e2e test on OpenLab and use it as CI like cloud-provider-openstack. We need to connect to openlab: https://docs.openlabtesting.org/contributors/connect-to-openlab

E2e test is really create k8s cluster and execute kubectl command.
Cloud-provider-openstack uses zuul jobs in OpenLab.
https://github.com/kubernetes/cloud-provider-openstack

[2019-07-31 05:43] hidekazuna commented on #415
I studied cloud-provider-openstack CI job. I think we should use openlab rather than copy and paste integration test from aws or azure. I raised an issue #416

[2019-07-31 08:15] jichenjc commented on #416
thanks for bring this ~ really helpful

[2019-07-31 08:40] jichenjc commented on #380
so to summarize ,we seems need a release-0.1 branch for v1alpha1 and master for v1alpha2 branch?
or similar way but make maste rfor v1alpha1? looks like we need big refactory so on one branch we can't make those 2 happen concurrently...

any comments?

[2019-07-31 20:23] sbueringer commented on #380
@CamelCaseNotation You're absolutely right regarding #382. It's a stop-gap solution for v1alpha1 and until the kubeadm bootstrap in v1alpha2 is fully functional. Do you know if it's already implemented?

@jichenjc I would use a release-0.1 branch for v1alpha1 and then implement v1alpha2 on master one step/PR after another

[2019-07-31 20:24] sbueringer commented on #415
Sound's good

[2019-08-01 00:30] jichenjc commented on #415
so we can close this one? @hidekazuna

[2019-08-01 01:19] jichenjc opened #417 "delete cluster action first delete master then delete nodes"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

see this error during delete cluster action, likely caused by master be deleted first then node delete command sent to master ...

E0801 01:16:22.572593       1 machine_controller.go:186] Error deleting node "openstack-node-75qt6" for machine "openstack-node-75qt6": Delete https://9.20.

[2019-08-01 03:13] hidekazuna commented on #415
@jichenjc yes, we can close this.

[2019-08-01 03:14] hidekazuna commented on #416
@jichenjc I am sorry confused you.  There is no relation between Bazel and e2e test.

[2019-08-01 03:54] jichenjc commented on #415
/close

[2019-08-01 03:54] #415 closed

[2019-08-01 05:39] jichenjc opened #418 "support Octavia for LB"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
follow up of https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/401
we have Neutron LBaas v2 support only now, need support Octavia as well...

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-01 06:06] prankul88 opened #419 "Problems setting up environment"
/kind bug

**What steps did you take and what happened:**
I was setting up my environment and faced an issue where my master/management node was working fine but was unable to initiate a new machine from it.
I checked logs for `clusterapi-controller-0` and found this,

E0724 09:20:55.530833       1 machine_controller.go:202] Failed to check if machine "openstack-node-vrlsb" exists: providerClient

[2019-08-01 06:12] hidekazuna commented on #419
Hi, you finally created k8s cluster with worker node successfully, right?

In my understanding, CIDR can be changed in cluster.yaml:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/cmd/clusterctl/examples/openstack/cluster.yaml#L10

[2019-08-01 06:19] prankul88 commented on #419
@hidekazuna Hello, yes I am having a working environment now with worker node.

Yes it must be changed there but only changing that doesnot seem to work (possibly due to dependency of CNI). I changed the file mentioned in [master-user-data.sh ](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/5524321ddc489c7b68b1ebe6eaff31de4810e288/cmd/clusterctl/eamples/openstack/provider-c

[2019-08-01 06:24] #381 closed

[2019-08-01 06:59] hidekazuna commented on #419
@prankul88 Congratulations your first k8s cluster with cluster-api-provider-openstack!

Calico document says in https://docs.projectcalico.org/v3.8/getting-started/kubernetes/

I understand this is known issue. As you proposed, it is better to note in the doc or so.

[2019-08-01 07:05] prankul88 commented on #419
@hidekazuna Thankyou for your help too.

Sure I will push a PR for the same. Thanks

[2019-08-01 16:51] sbueringer commented on #367
I think we can close this issue because we also have another issue for Octavia support.

[2019-08-01 18:35] sbueringer commented on #282
@jichenjc I think this has been fixed here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/356

[2019-08-02 00:03] #367 closed

[2019-08-02 00:04] jichenjc commented on #282
/close

yes, fixed already

[2019-08-02 00:04] #282 closed

[2019-08-02 00:16] jichenjc commented on #419
the PR merged, let's close this

/close

[2019-08-02 00:16] #419 closed

[2019-08-02 00:16] jichenjc commented on #346
duplicate to #382
/close

[2019-08-02 00:16] #346 closed

[2019-08-02 00:17] jichenjc commented on #294
/close

[2019-08-02 00:17] #294 closed

[2019-08-02 00:32] jichenjc commented on #380
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/developer/v1alpha1-compared-to-v1alpha2.md might help some concepts a little bit

[2019-08-03 00:23] CamelCaseNotation commented on #380
@sbueringer #382 can be merged into the v1alpha1 branch for completeness. kubeadm bootstrap work is underway, not yet fully functional AFAIK.

@jichenjc what I got from the comparison you linked is CAPO should develop additional infrastructure creation features besides only instances. I believe @sbueringer's load balancer and FIP creation logic would fit into this well

[2019-08-05 01:58] jichenjc opened #422 "doc for API loadbalancer"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
we merged API loadbalancer code and we need additional doc

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-05 02:44] jichenjc commented on #422
@sbueringer could you please provide some help on your local yaml settings?

I tried my local env a little bit and If a sample configuration existing will be much helpful to me on the APIloadbalancer stuff...thanks

[2019-08-05 03:02] jichenjc commented on #422
I can see the LB/listener etc created but I got error like below...

E0805 02:53:26.896054       1 actuator.go:427] Machine error openstack-node-t97sp: error creating Openstack instance: unable to create manager for restConfig: Get https://9.20.206.79:6443/api?timeout=32s: dial tcp 9.20.206.79:6443: i/o timeout
W0805 02:53:26.896313       1 machine_controller.go:231] Failed to create machine "open

[2019-08-05 03:11] jichenjc commented on #422
I can see the LB/listener etc created but I got error like below...

E0805 02:53:26.896054       1 actuator.go:427] Machine error openstack-node-t97sp: error creating Openstack instance: unable to create manager for restConfig: Get https://9.20.206.79:6443/api?timeout=32s: dial tcp 9.20.206.79:6443: i/o timeout
W0805 02:53:26.896313       1 machine_controller.go:231] Failed to create machine "open

[2019-08-05 04:45] sbueringer commented on #422
Do you know if the APIServer is up and the IP of your LB is generally reachable from inside your cluster?
(We have the problem that in some of our environments FloatingIPs cannot be accessed from inside the cluster)

My configuration is:
[code]

[2019-08-05 05:25] jichenjc commented on #422
I had same settings to you and I used the same master ip I used previously which I can use it as master ip to connect to..

[2019-08-05 05:30] sbueringer commented on #422
And you did not also use it as FloatingIP on the master vm right?

If the APIServer itself is up than I think it must be that the IP is not routable inside the cluster. How did the non-lb case connect to the APIServer? Probably also via the FloatingIP, right? That would mean that's also not the problem

[2019-08-05 10:44] jichenjc commented on #422
at first I assigned but I realized I can't do that, so I didn't assign floating ip on the master and test again

if no APIsever, the floating ip will be assigned to master and everything is fine. I knew octavia as well, as it will create a machine and only visiable to admin and haproxy will run inside
the thing I don't know is LBaaSv2 using neutron , does it create a similar VM and put haproxy or

[2019-08-05 13:20] hidekazuna opened #425 "Failed to create machine with nodeCidr and without networks"
/kind bug

**What steps did you take and what happened:**

When nodeCidr is set and networks is not set, server failed to be created.

[code]

**What did you expect to happen:**

When nodeCidr is set and networks is not set, The network, subnet, and router are created, and server is created.

**Anything else you would like to add:**

**Environment:**

- cluster-api-provider-openstack: #401
- Clust

[2019-08-05 14:07] hidekazuna commented on #422
It seems that clusterProviderSpec.ExternalNetworkID is also required.

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/openstack/services/networking/loadbalancer.go#L23-L25

[2019-08-05 14:12] hidekazuna commented on #418
I am trying this issue based on #401 .

[2019-08-05 17:50] sbueringer commented on #422
Our Neutron LBaasV2 implements this stuff via NSX-V and therefore also uses HAProxy under the hood. I'm not sure, but I think OpenStack itself doesn't specify how this must be implemented and it should depend on the distribution.

@hidekazuna Yes you're right externalNetworkID is also required, but because it's also required to create the Router I though it's set :)

My complete (anonymized) confi

[2019-08-05 17:57] sbueringer commented on #425
If I understand it correctly, we're currently trying to create Ports (or reuse existing ones) in the networks given in the machineSpec. If the networks parameter is not set, to what network should we default to?

[2019-08-06 00:04] hidekazuna commented on #425
@sbueringer This is the first time to create k8s cluster with nodeCidr so that I am sorry if I am wrong. I assumed if nodeCidr is given and networks is not given, network, subnet, and router are newly created and server uses the port of the network.

[2019-08-06 00:06] hidekazuna commented on #425
@sbueringer I understand I need externalNetworkID for creating router in [your comment](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/422#issuecomment-518333167), thanks.

[2019-08-06 00:19] jichenjc commented on #422
thanks a lot for your detail info , I believe the 'NSX-V' makes the magic and I don't know the detail implementation of my env's LBaaSv2 ... as all the CLI output above I have simliar one in my env but I guess it's only inside API db and nothing real implemented..anyway, I need find an octavia env :)

[2019-08-06 00:20] jichenjc commented on #422
and , we may need some doc update in order to close this issue :)

[2019-08-06 00:34] jichenjc commented on #425
@hidekazuna the nodeCidr is clusterproviderspec, what about the networks? The machineProviderSpec, right?

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/150 seems has some logic there to create and reconcile the network so that machines without networks defined can use the network defined in cluster ? @chrigl

[2019-08-06 00:58] hidekazuna commented on #425
@jichenjc networks is https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/cmd/clusterctl/examples/openstack/machines.yaml.template#L20-L21

[2019-08-06 01:03] jichenjc commented on #425
yes, thanks for the point, I do mean this definition :)

[2019-08-06 04:02] sbueringer commented on #422
Yup, that's fine. Just wanted to find out what's wrong :P. Okay so documentation would be like a section about `How to configure APIServer LoadBalancer`? And more or less mentioning the properties from above and that the LB needs a separate FloatingIP, right?

[2019-08-06 04:09] jichenjc commented on #422
yes, exactly, I think we need provide new comer something to refer to instead of asking simliar stuffs in the issue or slack channel, and the doc don't need to be perfect, just something for people to start with then we can keep enhancing it in the future

[2019-08-06 04:12] sbueringer commented on #425
@hi

I took another look at the code and I think you're right. From a Cluster CRD perspective nodeCIDR is enough so that a network & subnet is created and it would make sense that they are used for the server we're creating later. Right now it's necessary to match the networks even though it's clear what the cluster networks are. So one idea would be to just use network & subnet from the Cluster s

[2019-08-06 04:14] sbueringer commented on #422
Alright. I'll open a PR soon for it.

[2019-08-07 00:19] hidekazuna commented on #425
@sbueringer

I want to make clear your settings. Does the networks in machines.yaml specify network name which would be created like 'cluster-api-provider-openstack-clusterName' in advance? I think it is not possible to know network id in advance.
I agree with your idea about using network and subnet from the Cluster status when networks in the MachineSpec is not set.

[2019-08-07 01:55] jichenjc commented on #422
@hidekazuna @sbueringer I am not sure whether good place to discuss here,anyway post my findings:

The LB issue I have is actually comes from NodeCIDR, I set NodeCIDR to 172.17.31.1/24 while the networks I am using for boot vm is 10.43.0.1/24 (precreated in my environment)
so I manually create a LB and when create the LB, I select the subnet of 10.43.0.1/24 and the floating ip of the LB is '9.x.x.

[2019-08-07 02:22] hidekazuna commented on #422
@jichenjc @sbueringer

Sure. without a NodeCIDR, we can't create a LB. I tried to move networkingService.ReconcileLoadBalancer outside of if clusterProviderSpec.NodeCIDR == "" statement, but result in error due to clusterProviderStatus.Network.Subnet.ID missing. Now I understand it is by design.

Actually cloud-provider-openstack has separate definition. but I am not sure we also have to do so.

+

[2019-08-07 04:01] jichenjc commented on #422
I am ok on both after or before, just want to make sure it's agreed by folks...

so the questions still remaining: ` without a NodeCIDR, we can't create a LB?` this will impact the design and coding etc..

[2019-08-07 04:06] sbueringer commented on #425
@hidekazuna I'm providing a nodeCidr on the cluster level and then re-use the created network/subnet  by specifying the following on the machines:
[code]
(test is the cluster name)

[2019-08-07 04:13] hidekazuna commented on #425
@sbueringer Thanks, I will try to create the cluster with that configuration.

[2019-08-07 04:17] sbueringer commented on #422
First of all I think sooner or later (maybe after the migration to v1alpha2) we should write down what we require from an OpenStack and which kind of scenarios we want to support (e.g. external Network already created, all Networks/Subnets already preprovisioned, FloatingIPs already there,...) Then we should re-design our configuration.

Regarding the current problem:
@jichenjc Your case is that a

[2019-08-07 06:34] hidekazuna commented on #422
I found one thine to note. OpenStack user have to admin priviledge to create floating ip specified by apiServerLoadBalancerFloatingIP in cluster.yaml.

Without admin priviledge, I got the following error.

[code]

[2019-08-07 06:53] jichenjc commented on #422
this should be configurable... at least in my env I am not admin but I can create lb
it should be defined in neutron policy or octavia policy..

[2019-08-07 17:23] sbueringer commented on #422
In my opinion it's already implemented correctly. It only tries to create the FloatingIP if the FloatingIP isn't already there: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/openstack/services/networking/loadbalancer.go#L327

So if you make sure the FloatingIP exists, it should just use that (similar to the way machines are associated to existing FloatingI

[2019-08-07 23:09] jichenjc commented on #422
The problem is seems we need the floating ip in order to create a kubeconfig file and communicate with the floating ip? I will open an issue and track it , this seems need thorough thought first

[2019-08-07 23:13] jichenjc opened #427 "create floating ip on the fly if it's not created yet"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
per discussion on #422 ,we need a floating ip to be created first, this works but can be enhanced, so we can create a floating ip by using the 'master ip' in cluster actuator

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-07 23:13] jichenjc commented on #427
/assign

[2019-08-08 00:12] jichenjc opened #428 "support create LB with existing network/subnet"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
this is a use case at least in my env , you are not authorized to create network/subnet due to restriction on the system ,then you have to reuse existing network to create LB,
however, under current implementation we don't allow this use case, you have to create a new network by using

[2019-08-08 00:12] jichenjc commented on #428
/assign

[2019-08-08 00:34] hidekazuna commented on #422
OK, floating ip issue moves to #427

[2019-08-08 04:20] sbueringer commented on #422
Yup. Afaik having FloatingIPs is always a requirement. The best we can and should do is to make it possible to use them if the already exist and just create them when necessary.

[2019-08-08 04:29] sbueringer commented on #422
@jichenjc I would open a PR the next view days to move the networks setting to the cluster resource to cleanup the configuration mess :)

[2019-08-08 05:41] jichenjc commented on #422
ok, you mean , the networks from the machine configuration to cluster configuration? I think it's a good idea but we might need some thorough thought here, whether we have any use case that machines need to be different net/subnet (e.g HA, affinity etc), I can't image one but I don't know whether there might be..

[2019-08-08 16:17] sbueringer commented on #422
Yes. We can also just add it to the Cluster CRD for now and use it to write the cluster status. We can also use this as fallback if networks on the Machine CRD is not specified.

[2019-08-10 08:49] hidekazuna commented on #425
@sbueringer I successfully created the cluster with the configuration in my octavia environment now, thanks.

[2019-08-10 08:59] jichenjc commented on #428
to add more info here:
1) some times there is no floating ip needed, e.g someone is using provider network and we need make that as least works without floating ip introduction
2) with 1) above, you don't need create a nodecidr in order to work, some existing network can be specified in order to make cluster api to create..

[2019-08-10 15:03] jichenjc opened #429 "error in delete cluster with LB"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

when delete a cluster with following command (has LB created), got panic:

/usr/local/go/src/runtime/asm_amd64.s:1337
panic: runtime error: invalid memory address or nil pointer dereference [recovered]
        panic: runtime error: invalid memory address or nil pointer dereference
[sign

[2019-08-11 07:10] sbueringer commented on #427
How do you want to implement this? The floating ip of the LB is already only created if required. The only floating ip's which are not created in this way are the one from the machines.

[2019-08-11 07:24] sbueringer commented on #428
So we'll implement it like I proposed here?
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/422#issuecomment-519587486

[2019-08-11 07:25] sbueringer commented on #425
So if we implement https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/428#issuecomment-520206614 and fallback to the cluster status networks in case no networks are specified on the machines this should be possible without specifying networks on the machines

[2019-08-11 07:51] jichenjc commented on #427
ugly but which is I am testing on ...

https://github.com/jichenjc/cluster-api-provider-openstack/tree/no_floating_ip

I believe we still don't allow create LB when no floating ip given..

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/openstack/services/networking/loadbalancer.go#L27

[2019-08-11 08:23] sbueringer commented on #427
Ah maybe I understood it wrong. We want to create a floating ip even though no floting ip is set in the spec? Which one would we use?

[2019-08-11 08:25] #418 closed

[2019-08-11 09:07] jichenjc opened #433 "LB not delete after cluster deletion"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
after fix #429 , the machines can be deleted correctly, however, the LB listener and LB not deleted

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
-

[2019-08-11 09:08] jichenjc commented on #433
/assign

[2019-08-12 18:23] #429 closed

[2019-08-12 18:47] sbueringer commented on #427
@jichenjc This might fix your issue: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/435

Only the last 2 commits are actually new. Ever other commit is from the multi-node PR

[2019-08-13 18:24] prankul88 opened #436 "Hostname missing in hosts file in openstack instance"
/kind bug

**What steps did you take and what happened:**
While setting up cluster-api using clusterctl command, there was a portion in the clusterctl logs which had an error `exit status 255`  ~~while the command tried to ssh into the machine~~. This after a minute got resolved. After some searching, I found out it was related to the fact that hotsname was missing in /etc/hosts of the created ope

[2019-08-14 17:52] sbueringer commented on #380
There is a nice guide here on how to update: https://github.com/kubernetes-sigs/cluster-api/blob/a3c9afc487b107b76d2ecf8a90ae3ff1c942b9c2/docs/developer/update-v1alpha1-provider-to-v1alpha2-infra-provider.md

[2019-08-15 02:02] #382 closed

[2019-08-15 03:51] jichenjc commented on #417
encountered this again ...

[code]

[2019-08-15 04:40] sbueringer commented on #436
The current master version shouldn't try to ssh into the machine. Can you post us the logs?

[2019-08-15 05:48] jichenjc commented on #417
seems this is a cluster-api bug....

[code]

[2019-08-15 15:18] jichenjc opened #439 "update to cluster-api v0.1.9"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

want to upgrade to 0.1.9 to see whether the bugs I found in cluster-api still exist or not , but find https://github.com/kubernetes-sigs/cluster-api-provider-openstack/tree/master/vendor/sigs.k8s.io/cluster-api
seems contains all code (test, hack etc) which is different to other folder

[2019-08-15 17:40] sbueringer commented on #417
Are you sure it's a Cluster API bug? Looks very clear to me that the controller get's timeouts when accessing the OpenStack API. I think I saw this in some issue here before.

[2019-08-15 17:41] sbueringer commented on #380
I would start working on this now after the multi-node control plane PR is merged

[2019-08-16 01:18] jichenjc commented on #380
let's do this together, I created branch-0.1 just now, so let's see how we can move forward

[2019-08-16 01:23] jichenjc commented on #417
see the code I attached,  it's timeout because the master is gone before the node delete action send out... I think provider is ok because we skipped the delete of node and return nil already
but cluster side has some timing issue, that's why I want to upgrade to 0.1.9 and do some further test and potentially open a bug against cluster-api

actuator.go:241] Skipped deleting openstack-node-fxw2p th

[2019-08-16 05:03] sbueringer commented on #380
How can we do this together any ideas? I still dont really know how this can be broken down. Looks like capa did it in more or less 2 or 3 big PRs

[2019-08-16 05:09] sbueringer commented on #417
Ah okay. Sounds reasonable to upgrade to 0.1.9 to check

[2019-08-16 05:32] sbueringer commented on #436
Hostname is set here for CoreOS:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/cmd/clusterctl/examples/openstack/provider-component/user-data/coreos/templates/common.yaml#L39-L43

Didn't find anything similar in Centos/Ubuntu user-data.sh files. But as I said I'm wondering why the controller tries to ssh onto the node

[2019-08-16 06:43] jichenjc commented on #436
yeah, we should never try to ssh, I guess maybe @prankul88 you might need update your code to latest?

[2019-08-16 06:57] jichenjc commented on #380
I might need catch up a little bit then create a breakdown PR, give me 2-3 more days as I am busy in other stuffs as well :(

[2019-08-16 07:02] sbueringer commented on #380
Yup of course, no problem :)

[2019-08-16 08:14] #439 closed

[2019-08-16 09:59] jichenjc commented on #417
tried several times and no error occur,
guess e818908c60eb0e1b85b43f7bc7f2314ab5b18a06 fixed this ?
so let's close and reopen if need

[2019-08-16 09:59] #417 closed

[2019-08-16 10:42] #433 closed

[2019-08-16 13:58] sbueringer commented on #380
Okay so I looked at CAPI & CAPA and I would migrate in this order:

## Doc:

* [CAPI Documentation](https://github.com/kubernetes-sigs/cluster-api/blob/a3c9afc487b107b76d2ecf8a90ae3ff1c942b9c2/docs/developer/update-v1alpha1-provider-to-v1alpha2-infra-provider.md)

## PRs

* [x] Create a release-0.1 branch for v1alpha1

* [ ] Migrate types to new `v1alpha2` types in `pkg/apis/infrastructure/v1alpha

[2019-08-16 16:19] detiber commented on #380
As part of the kubebuilder v2 work, we are completely removing the `pkg` directory in sigs.k8s.io/cluster-api, and plan to follow suit in sigs.k8s.io/cluster-api-provider-aws to provide better consistency with the default kubebuilder v2 layout.

[2019-08-16 16:24] detiber commented on #380
This goes pretty much hand in hand with v1alpha2 support: https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20190610-machine-states-preboot-bootstrapping.md#sequence-diagram-user-creates-a-machine-with-kubeadm-bootstrapper

We had some initial struggles getting the DNS and Netlify config for the docs working to support per-branch versioning which has caused us to be a bit b

[2019-08-16 16:27] detiber commented on #380
For the AWS provider we are also building a v1alpha1 to v1alpha2 migration tool to help with upgrades. We don't yet have the full upgrade process defined, but we are hoping to provide at least some tooling to automate parts of it, such as the type conversions.

[2019-08-16 17:04] sbueringer commented on #380
I phrased it wrong. I found the doc you referenced. I wasn't able to find the implementation of the new kubeadm bootstrapper, that's why I'm not sure it already exists.

Another topic: I saw in PR https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/994 the examples directory was deleted completely. Is there already an alternative? How are you currently testing your code on master? I g

[2019-08-16 17:12] detiber commented on #380
Ah, the bootstrap provider is here: https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm

Not yet, that is still an outstanding todo for us.

Quite a few folks are using Tilt to facilitate testing. An example setup is here: https://github.com/chuckha/capi-dev

Not currently, clusterctl is one of the things that still needs to be updated: https://github.com/kubernetes-sigs/clus

[2019-08-16 17:14] sbueringer commented on #380
@detiber Thx for the informations ;)

[2019-08-17 06:56] sbueringer commented on #407
I would close this issue in favor of: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/380#issuecomment-522018403 to not complicate it any further :)

[2019-08-18 09:18] #354 closed

[2019-08-18 09:18] #353 closed

[2019-08-19 01:28] jichenjc commented on #380
first we can go Ubuntu but I think we need continue to support centos and coreos later...
openshift which potential use this (forked) may be interested in coreos.... if we can, we may contribut to kubeadm provider later on coreos support

[2019-08-19 04:30] sbueringer commented on #380
Sorry my information is already outdated :). There is ongoing work to support CentOS (there is an issue with cloud-init) and multiple output formats in kubeadm (so also Ignition can be supported): https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/121

I think OS support is something which probably is independent of the provider in the future. Seems like it's mostly d

[2019-08-19 05:46] #427 closed

[2019-08-19 06:00] prankul88 commented on #436
@sbueringer @jichenjc Okay, thanks for clearing this doubt for me. I got a little confused. Just one more thing, I found something in the openstack logs

[   81.144172] cloud-init[1310]: + curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg
[   81.152234] cloud-init[1310]: **sudo: unable to resolve host openstack-master-ddwpq**
[   82.093848] cloud-init[1310]: OK

My master's hostname is

[2019-08-19 06:07] jichenjc commented on #436
I am not sure ...this depends on your DNS setting, e.g /etc/hosts or DNS server, usually, this info  should not in /etc/hosts (if you have many nodes, maitain them will be a big burden...)

is this log lead to your code or logic error ?

[2019-08-19 06:11] prankul88 commented on #436
Okay. No, it does not lead to any error as such but at times I have noticed that when `sudo apt-key add -`  command is executed, it leads to some delay as it is not able to find hostname.

[2019-08-19 17:38] sbueringer commented on #436
Does it really have to be in the /etc/hosts file? Maybe it has an effect if you add it to /etc/hostname (btw for CoreOS we're adding the hostname to /etc/hostname) and there's also an issue for the kubeadm bootstrapper to do that: https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/116

But I"m not sure what they will do. In the long run it would be better to rely on w

[2019-08-21 11:08] prankul88 commented on #436
@sbueringer Agreed. But in this case when I checked the master machine's (ubuntu) hostname, it is already present in /etc/hostname. What I felt is when any sudo commands run from master-user-data.sh, it hangs for a bit and then proceeds. If we can map loopback-ip to the hostname in /etc/hosts (can add command in master-user-data file), it would not get stuck.

I still agree that it must fetch host

[2019-08-21 19:12] sbueringer commented on #436
For me it would be okay to add it for now. In the long run we should discuss and align with the bigger ClusterAPI Community because bootstrapping won't be provider-specific in the future

[2019-08-22 04:21] prankul88 commented on #436
@sbueringer Thanks I will update.

[2019-08-22 09:55] #273 closed

[2019-08-23 05:56] sbueringer commented on #407
We can close this as the first v1alpha2 PR (which also did this) was merged

[2019-08-23 05:56] sbueringer commented on #407
@jichenjc

[2019-08-23 06:00] #407 closed

[2019-08-24 11:39] #252 closed

[2019-08-28 04:35] sbueringer commented on #264
@jichenjc can we close this issue?

[2019-08-28 04:37] sbueringer commented on #334
@jichenjc What's the status of this issue? :)

[2019-08-28 05:05] jichenjc commented on #264
let's close this

[2019-08-28 05:05] #264 closed

[2019-08-28 05:06] jichenjc commented on #334
this might need open for a while, see whether v1alpha2 can mitigate the issue

[2019-08-28 05:35] sbueringer commented on #334
But is it specific to the Openstack provider? Seems to be an issue with clusterctl Workflow which then should be tracked in the cluster-api repo because it affects all providers

[2019-08-28 05:50] jichenjc commented on #334
ok..

[2019-08-28 05:50] #334 closed

[2019-08-31 09:22] #295 closed

[2019-09-01 13:53] sbueringer commented on #380
In my opinion that leaves us after this PR https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/455 with the following outstanding tasks for v1alpha2:
* Upgrade examples to use v1alpha2 released images (release will be next Tuesday)
* Implement MachineDeployments
* Implement Image Release process
* Remove vendor folder
* Document supported permutations with v1alpha2

[2019-09-01 17:54] #298 closed

[2019-09-06 03:48] jichenjc opened #461 "Doc about sshKeyName in machines.yaml"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I can't ssh to my controller node and find that this is because the ssh is controlled by KubeadmConfig now, so why we should keep sshKeyname in machines.yaml ??

[code]
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assis

[2019-09-06 03:49] jichenjc commented on #461
@sbueringer it tooks me a while to find this as I only set in machines.yaml..

[2019-09-06 05:14] sbueringer commented on #461
@jichenjc Sounds good to me. I still saw the property in CAPA. Maybe we're missing something.

@detiber What do you think do we still need the sshKeyName field when authorized keys are managed & overwritten by cloud-init (via the CABPK)?

[2019-09-06 05:17] jichenjc commented on #461
conceptually CABPK should be in charge of cloud-init so I assume machines should not handle that now :), let's see whether CAPA has some different way ~

[2019-09-06 14:17] detiber commented on #461
@sbueringer @jichenjc for CAPA, we still have the field because we are leveraging the EC2 managed keypair rather than injecting a user-defined ssh private key through the cloud-init config. I would expect that a similar use case might be applicable to OpenStack as well.

[2019-09-06 15:47] sbueringer commented on #461
@jichenjc I think we should keep the field if it's possible to let OpenStack handle the authorized keys and the kubeadm bootstrapper doesn't overwrite them if they are not set in the KubeadmConfig. Also conceptually there could be other bootstrap provider which may not have support for authorized keys.

[2019-09-07 18:42] sbueringer commented on #461
I tried these variants:
* sshKeyName (`""`) set & sshAuthorizedKeys (of ubuntu user) set > I was able to connect
* sshKeyName (`""`) unset & sshAuthorizedKeys (of ubuntu user) set > I was able to connect
* sshKeyName (`""`) & users (`[]`) unset > TODO I wasn't able to connect

* sshKeyName (`""`) unset & sshAuthorizedKeys (`""`) (of ubuntu user) unset > I wasn't able to connect

So looks like clou

[2019-09-08 13:46] jichenjc commented on #461
Let me dig deeper, at least my env seems different... I guess it might be because my username is cloudusr instead of ubuntu, guess I need check the cloud-init configuration and code deeply

[2019-09-09 02:12] jichenjc commented on #461
ok, I checked the code and
we have something like following, this means the key will be used when using cloud-init

[code]

does following means no user set in kubeadmConfig and no sshkey given? @sbueringer
sshKeyName ("") & users ([]) unset > TODO I wasn't able to connect

[2019-09-09 04:09] jichenjc opened #463 "Doc: update how to use official image or build image"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

@sbueringer sorry, I encountered following issue in VM start, seems no kubeadm installed at all, and I checked the kubeadmconfig file generated, seems no kubeadm /kubectl install
this belongs to CABPK or CAPO? should we update the generate file to add this?

**What did you expect to hap

[2019-09-09 04:10] jichenjc commented on #463
so I am still catchup with the new model, anything related to CAPKB is helpful to me.. thanks

[2019-09-09 04:19] sbueringer commented on #461
I'm not sure how OpenStack sets the ssh key. Is ist via userdata/cloud-init?

It means the KubeadmConfig is configured like this:
[code]
And the sshKeyName is not set in OpenStackMachine.
[code]

[2019-09-09 04:28] sbueringer commented on #463
Of course no problem :). The other providers now rely on images build like this: https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi (at lesat CAPA & CAPV). In these images stuff like container/kubeadm/kubectl/crictl are already pre-installed (which makes sense because not every machine has to install them by itself on startup), e.g.: https://github.com/kubernetes-sigs/image-b

[2019-09-10 01:18] jichenjc commented on #463
yes, this approach looks good to me , I will modify the title of this issue to a doc change request

[2019-09-10 01:18] jichenjc commented on #463
/assign

[2019-09-12 05:54] prankul88 commented on #436
Closing, the patch has been merged.

[2019-09-12 05:54] #436 closed

[2019-09-15 06:35] oadivtal commented on #118
/reopen

Found this issue when I wanted to implement adding Server Groups in CAPO.

Will submit a new PR which is heavily based on @chrigl 's work in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/275/

[2019-09-15 16:49] sbueringer commented on #118
/reopen

[2019-09-16 14:29] #342 closed

[2019-09-16 14:42] jichenjc commented on #118
yes, please be aware the master is based on v1alpha2 now and it may suprise you a little bit @oadivtal

[2019-09-20 06:29] sbueringer commented on #380
I opened a PR for documentation (https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/470). I would create another PR about supported permutations and some details after the release when I have some more time :)

[2019-09-20 06:33] sbueringer opened #471 "Adopt PR icons"
I want to suggest adopting the PR icons which are currently used in Cluster API, CAPA, controller-runtime etc.

The convention is documented here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/CONTRIBUTING.md

The advantage is you directly see what kind of PRs are open:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pulls

And you can generate release notes l

[2019-09-20 06:34] sbueringer opened #472 "Document supported permutations"
Would be nice if we could document what kind of permutations we support (and work on the gaps). I wrote something like this here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/432#discussion_r312729410

But I would add it via a regular PR and also provide some hints about how these permutations can be configured

[2019-09-20 06:35] sbueringer commented on #472
/assign @sbueringer

[2019-09-20 06:37] sbueringer opened #473 "Generate separate multi-node and single-node control plane examples"
/kind feature

We're currently just generating one example for single and multi-node. Because the configurations for both are different it would be nice if the examples/generate.sh shell script could be adjusted to take a parameter `single-node-controlplane` or `multi-node-controlplane` and generate examples accordingly (or just generate both)

[2019-09-20 06:45] jichenjc commented on #473
yeah ,this is something will be very helpful soon

[2019-09-20 07:48] jichenjc commented on #472
👍

[2019-09-23 06:51] prankul88 commented on #473
@sbueringer I can take this up if you like.

[2019-09-23 07:29] sbueringer commented on #473
@prankul88 Yup that would be great. Do you know what the differences between single & multi-node control plane are? (not sure if it documented precisely anywhere) If not I can write it up here.

[2019-09-23 07:52] prankul88 commented on #473
@sbueringer Sure, I would love to have your inputs.

[2019-09-23 08:10] sbueringer commented on #473
Okay so that's let differences I have in my single/ multi-node setups:

* cluster.yaml:
  * multi-node:
    * Cluster.spec.clusterNetwork.apiServerPort does not exist
    * OpenStackCluster.spec: .apiServerLoadBalancerAdditionalPorts, .apiServerLoadBalancerFloatingIP, .apiServerLoadBalancerPort are set
    * OpenStackCluster.spec.managedAPIServerLoadBalancer is true
    * OpenStackCluster.spec.use

[2019-09-23 10:21] #330 closed

[2019-09-23 13:08] jichenjc commented on #473
@sbueringer I think for multiple node we also need the network to be created on the fly while in the single node this is not mandatory? I remember I asked this as create a new network/subnet and assign a floating ip is not authorized in my env...

[2019-09-23 13:10] sbueringer commented on #473
Yup should be this issue: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/428

[2019-09-24 05:46] sbueringer commented on #428
I would open a PR to fix this, if it's okay :)

[2019-09-24 06:09] jichenjc commented on #428
sure, I am too busy recently on other things. so please go ahead and push PR, thanks ~

[2019-09-24 06:27] sbueringer commented on #428
/assign @sbueringer
PR is open here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/475

[2019-09-24 11:23] sbueringer commented on #473
Should be fixed with https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/475. So we don't have to consider this for example generation?

[2019-10-01 09:11] #380 closed

[2019-10-01 13:11] randomvariable commented on #463
/kind documentation

[2019-10-01 13:11] randomvariable commented on #461
/kind documentation

[2019-10-01 13:54] randomvariable commented on #463
If at all possible, would be good to converge on using https://github.com/kubernetes-sigs/image-builder

[2019-10-01 14:17] sbueringer commented on #463
Exactly my opinion. We should more or less just document that we rely on image-builder/capi images and everything else should be document in their repository.

[2019-10-06 13:04] jichenjc commented on #463
ok, this make sense , will update soon

[2019-10-07 08:25] hidekazuna commented on #463
I tried to convert published OVA image to qcow2 manually and use it,  but failing.
Does anyone succeed to test v1alpha2 based on KVM?

[2019-10-07 13:08] randomvariable commented on #463
@hidekazuna Something along the lines of http://ask.xmodulo.com/convert-ova-to-qcow2-linux.html should work?

[2019-10-07 17:52] sbueringer commented on #463
@hidekazuna I think I did something like that. First build the VMDK and use it for our VIO and then convert it to qcow2 and run it on the OpenStack of @chrigl (but not sure if it's using KVM, but I guess it does)

[2019-10-08 03:28] jichenjc commented on #463
are you having problem in using the image only this time(after v1alpha2)? or it should be a general problem that ? I think most of the system we are testing is on KVM ..

[2019-10-08 20:35] noamran opened #478 "LeaderElectionID should be unique"
/kind bug

**What steps did you take and what happened:**
This issue was reported in other providers - Running several Cluster API pods (e.g. CAPI + CABPK + an infra provider) in the same namespace results in leader election errors.
Additional details here - kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm#271

[2019-10-09 01:50] jichenjc commented on #478
I am working on other projects for the leader election as well, so I will take a look but if anyone want to work on it, feel free to take ,thanks

[2019-10-09 04:40] hidekazuna commented on #463
@randomvariable I followed the procedure you proposed. Unzipped [the image](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere#kubernetes-versions-with-published-ovas) and convert vmdk to qcow2. After that I registered it to glance and use it.

@jichenjc I have the problem after v1alpha2. Because we can use kubeadm pre-installed image with v1alpha2.

[2019-10-09 09:25] jichenjc commented on #478
/assign

[2019-10-09 16:49] sbueringer opened #480 "CAPO Release v0.2.0"
Hi,

I would propose releasing a v0.2.0 version of CAPO after these 3 PRs are merged:
* [x] [LeaderElectionID should be unique](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/479)
* [x] [Pr use existing networks](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/477)
* [x] [Generate seperate multi-node and single-node yaml](https://github.com/kubernetes

[2019-10-09 17:58] prankul88 commented on #480
Sounds Good to me!

[2019-10-10 01:35] jichenjc commented on #480
the plan works for me  :)

[2019-10-11 07:11] hidekazuna commented on #480
Good to me, too.

[2019-10-11 07:51] jazzsir opened #481 "Calico version in user-data needs to be updated"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
After my master node has been provisioned, I found that clusterapi-controller on the node couldn't reach external network including Openstack, I tried to ping by entering the controller with kubecl exec.
For that reason, worker node was not created.
(My security group allowed full port r

[2019-10-12 16:24] sbueringer commented on #478
Fixed via https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/479

[2019-10-12 16:24] #478 closed

[2019-10-12 16:25] sbueringer commented on #481
Yup you can open a PR if you want. I myself work mostly with the master branch where we already have calico 3.8.2

[2019-10-14 02:57] jazzsir commented on #481
/assign @jazzsir

[2019-10-14 04:29] #331 closed

[2019-10-16 07:30] jazzsir commented on #481
Closing this PR merged

[2019-10-16 07:30] #481 closed

[2019-10-16 15:26] #118 closed

[2019-10-21 19:22] #473 closed

[2019-10-22 06:13] stewart-yu opened #483 "help wanted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

run `example/generate.sh` in local, occur error:
[code]

**What did you expect to happen:**

no error

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**
uname -a
[code]

- Cluster-api version:
[code]

- Minikube

[2019-10-22 07:16] sbueringer commented on #483
Can you retry with the latest master? I think we merged the fix yesterday

[2019-10-22 10:56] dims opened #484 "Need a CI job that tests CAPO with e2e/conformance tests"
For CAPG, we have added a CI job which is able to test the CI artifacts from kubernetes/kubernetes every 4 hours:
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-gcp#capg-conformance-stable-k8s-master

We need a similar one for CAPO as well. Also see https://github.com/kubernetes/sig-release/issues/829 for more context on why this is valuable to not just CAPO, but the overall co

[2019-10-22 11:57] aojea commented on #484
/cc

[2019-10-23 00:33] stewart-yu commented on #483
thanks, not occur it now

[2019-10-23 00:36] stewart-yu commented on #483
BTW,  does the the `floatingIP` is necessary in struct `OpenStackMachine`, which located in `controlplane.yaml`.

[2019-10-23 01:36] jichenjc commented on #483
my understand is yes, if you go one controller node mode .. (instead of multiple controller nodes)

[2019-10-24 06:44] stewart-yu commented on #483
[code]

any one know how to resolve it?
who write `bootstrap data` to machine obj?

[2019-10-25 12:58] jsen- opened #485 "upgrade gophercloud to v0.4.0"
/kind feature

We're currently on OpenStack Ocata, and due to [date parsing issue](https://github.com/gophercloud/gophercloud/pull/1671), we need to build our own images.
The only difference is in `go.mod`:
[code]
Would it be possible to increase the version in master?
I can send a PR if there's no specific reason to stay on v0.3.0.

[2019-10-25 13:37] jichenjc commented on #485
I see no issue to upgrade if everything works...

[2019-10-25 14:08] stewart-yu opened #487 "should not occure error when reconcile floatingIP"
/kind bug

**What steps did you take and what happened:**

Run in `single-node` models with `floating IP`, the code in
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/controllers/openstackmachine_controller.go#L227-L233
will return error when `reconcile`

error like that
[code]

**What did you expect to happen:**

if check the floating IP associating to the target ins

[2019-10-26 04:04] stewart-yu commented on #483
/close

[2019-10-26 04:04] #483 closed

[2019-10-26 07:43] sbueringer commented on #483
kubeadm bootstrap provider

[2019-10-26 07:44] sbueringer commented on #487
@stewart-yu Did I understand it correctly that your master server already has another floating ip?

[2019-10-26 07:47] #485 closed

[2019-10-26 08:37] sbueringer commented on #484
@dims @ramineni @adisky @chrigl @jichenjc

Just that I got it correctly this job in our case has to:
* build & push an OS Image to an OpenStack (I would usage image-builder of course)
* Install a Kubernetes cluster with CAPO
* execute Kubernetes e2e tests

For GCP you have 3 Jobs:
* ci-cluster-api-provider-gcp-make-conformance-master: master branches
* ci-cluster-api-provider-gcp-make-conformance-

[2019-10-26 13:11] stewart-yu commented on #487
no,  just one floating ip.

[2019-10-26 13:17] stewart-yu commented on #487
IMO, if we create the given floating IP or the given floating IP not binded to `instance`, should we call the logic
[code]
, otherwise, no need

[2019-10-26 14:34] sbueringer commented on #487
I don't really get what's happening.

Usually:
* The floating ip is created if it does not exist before
* The floating ip is assocated with the master VM

What is happening in your case?

The floating ip is created and then the associate fails. Why does the associate fail?

[2019-10-27 13:34] stewart-yu commented on #487
the first time associate  is ok, the second time failed

[2019-10-27 16:06] sbueringer commented on #487
Ah so it's assocating the same ip twice in consecutive reconcile loops?

[2019-10-28 08:31] jichenjc commented on #487
seems `that fixed IP already has a floating IP on external network` has the info
so maybe we either check whether already associated a floating ip or ignore the error might be ok?

[2019-10-28 08:54] jichenjc commented on #484
brand new to this CI , just to make me understand more
so we need leverage OpenLab env to create a cluster api cluster (openstack) for each PR we added then after those cluster is ready, we will start e2e k8s test (and this e2e test is standard for all k8s ecosystem?)

[2019-10-28 08:58] wangxiyuan commented on #484
please create a issue in OpenLab to add the new job.  https://github.com/theopenlab/openlab/issues/new/choose

[2019-10-28 10:59] dims commented on #484
@jichenjc we can start with a periodic job, then do a presubmit (for each PR). yes, we are talking about checking if the cluster we started is conformant (so running the conformance tests).

[2019-10-28 14:08] jichenjc commented on #484
ok, understand more now ... need check whether we already have a issue in openlab ... will double check:)

[2019-10-28 16:45] sbueringer commented on #484
@jichenjc So you'll check if we already have a issue there? I could try to implement the job afterwards. I have a few weeks until I"m on vacation. I dont have a lot of time until then, but maybe enough to implement it.

[2019-10-28 16:51] sbueringer commented on #487
But I think there's something else wrong here. I tried it locally with a single-node cluster. I can associate the same floating ip as often as I want I don't get an error. @stewart-yu Can you post your OpenStackMachine resource and the output of `openstack server list` ?

[2019-10-29 00:54] stewart-yu commented on #487
@sbueringer
[code]
and there are some reason specify, i can not access to `openstack CMD`
 i will check this problem double. Thanks for your reply
/hold

[2019-10-29 05:45] jichenjc commented on #484
@sbueringer I might remember wrong thing since @hidekazuna seems opened a e2e test issue before.. anyway, I think you can go ahead and open the issue and work on it.. thanks~

[2019-10-29 06:16] sbueringer commented on #484
@jichenjc Do I have to open a new issue in the OpenLab repo or can I reuse the existing one? (Can you link it here?)

[2019-10-30 15:45] chrigl opened #489 "Replace in-tree cloud-provider by cloud-provider-openstack"
/kind feature

**Describe the solution you'd like**

The current examples bring up a cluster with `cloud-provider: openstack`. This uses the kubernetes in-tree cloud-provider, which will be removed in the future.

We should be able to deploy a cluster with `cloud-provider: external` and deploy https://github.com/kubernetes/cloud-provider-openstack as an addon.

This might simplify stuff in the dep

[2019-10-30 15:46] chrigl commented on #489
/assign @sbueringer

[2019-10-30 15:48] #480 closed

[2019-10-31 05:32] jichenjc commented on #489
so the suggestion here to remove the external cloud provider we added
and for cloud-provider-openstack, actually it's not mandatory, so we may not include it ,correct? @chrigl

[2019-11-03 15:03] sbueringer opened #490 "Initial OpenLab Integration"
I'd like to integrate CAPO with OpenLab testing (https://openlabtesting.org/) to provide reliable tests for our PRs. Let's see how it goes :)

In this issue an initial integration should be implemented. We'll probably need a few more to fullfill https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/484 completely

[2019-11-03 15:09] sbueringer commented on #490
/assign

[2019-11-03 15:22] sbueringer commented on #484
@dims

I'm a little bit confused how all this can fit together. The gcp job is implemented via Prow.

The existing OpenStack tests in CloudProvider Openstack are implemented using OpenLab Zuul. As far as I can see OpenLab is exclusively used via Zuul.

So if I implement a Job for CAPO similar to the existing ones it would be via Zuul. But what we need for Kubernetes is a Prow job, right? So are th

[2019-11-03 15:49] sbueringer commented on #490
fyi, I requested the installation of https://github.com/apps/theopenlab-ci for this repo

[2019-11-04 05:59] adisky commented on #484
@sbueringer i suggest to make a new one, `conformance-cluster-api-openstack` sounds good

[2019-11-07 10:56] #363 closed

[2019-11-23 09:17] sbueringer commented on #484
I'll be on vacation until end of Dezember and would continue with this Issue and accompanying PRs then.

If somebody want's to takeover in the meantime.
* Current version of the conformance test is available here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/491/files
* Currently it's impeded because sourcing of the OpenStack environment variables in OpenLab fails > https

[2019-12-26 02:50] huxiaoliang opened #493 "manually delete cluster doesn't work against doc described"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

create a k8s cluster with 1 master node and 1 worker node, then manually  delete this cluster according to doc [here](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/docs/getting-started.md#cluster-deletion) ,  but it  doesn't work, this is due to no label

[2019-12-26 02:55] huxiaoliang commented on #493
/assign

[2019-12-29 05:09] #416 closed

[2020-01-04 15:07] sbueringer commented on #428
Was fixed in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/477

/close

[2020-01-04 15:08] #428 closed

[2020-01-04 15:11] sbueringer commented on #416
I think we can keep this closed as we have: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/484 (which afaik does the same)

[2020-01-05 11:43] #493 closed

[2020-01-05 18:08] #422 closed

[2020-01-07 04:51] prankul88 commented on #471
@sbueringer +1 for me. It helps in differentiation.

[2020-01-07 04:52] prankul88 commented on #471
If you like I can add that to the repo.
/assign

[2020-01-07 16:57] sbueringer commented on #471
@prankul88 That would be nice. Afaik, there are the following TODOs:

* document the convention & update the PR template, e.g. like CAPA did it here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/506fa1021464fef2d45d122011ae0f5355034af7#diff-6a3371457528722a734f3c51d9238c13
* add the make target "release-notes" to our Makefile > https://github.com/kubernetes-sigs/cluster-api-p

[2020-01-07 16:58] sbueringer commented on #471
/remove-lifecycle stale

[2020-01-08 09:09] #425 closed

[2020-01-09 05:59] #471 closed

[2020-01-22 04:35] jichenjc opened #499 "migration of cluster-api v1alpha2 ==> v1alpha3"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

add v1alpha3 support due to clusterctl will be deprecated later, I tried
https://cluster-api.sigs.k8s.io/user/quick-start.html able to create control pane but failed to create machines due to
[code]
this is listed https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/sr

[2020-01-22 04:35] jichenjc commented on #499
/assign

[2020-01-22 06:08] jichenjc commented on #499
@sbueringer @prankul88 let me you know any comments on this ... thanks

[2020-01-25 12:21] sbueringer commented on #499
@jichenjc I'm just starting to read up on v1alpha3. Do you have time to work on this issue?

[2020-01-27 13:08] petergardfjall opened #501 "machine instance creation fails when OpenStackCluster includes cluster name as a tag"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created a cluster with the cluster name as one of its tags:

[code]

The cluster was created but the machine provisioning later failed with:
[code]

**What did you expect to happen:**
The control plane machines to be properly provisioned.

**Anything else you would like to add:**
[Miscel

[2020-01-27 13:11] petergardfjall commented on #501
Find a proposed patch in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/502

[2020-01-27 13:59] #501 closed

[2020-01-28 02:32] jichenjc commented on #499
yes, I have some time in upcoming 10-15 days so I will work on it recently

https://master.cluster-api.sigs.k8s.io/ is the book for v1alpha3 and
https://cluster-api.sigs.k8s.io/ is for v1alpha2

so my plan is to make use my image (created locally) and switch code to v1alpha3 with master CAPI code ...

[2020-01-29 04:33] prankul88 commented on #499
@jichenjc +1 for the migration. Should there be a new branch or the current master branch would do?

Don't think it is completely in line with the v1Alpha3. Although it is frequently updated based on master

[2020-02-12 01:13] jichenjc commented on #499
seems v1alpha3 is underway, not released yet..https://github.com/kubernetes-sigs/cluster-api/issues/2272 so it might take more time to go for us to adopt

[2020-02-12 11:27] petergardfjall opened #505 "Favor wrapping of errors to ease troubleshooting"
/kind feature

**Describe the solution you'd like**
A lot of error context is "thrown away" by not wrapping errors. This makes errors harder to troubleshoot as the underlying cause is invisible. Instead of code like:

[code]

I think it would be preferable to use code like:

[code]

Becasue, at the moment, it is *very* difficult to understand why a reconciliation step fails. The controller log sim

[2020-02-12 14:35] detiber commented on #505
One of the things that we've done in core Cluster API as well as some of the other providers is to basically ignore the logging from controller-runtime (which handles any returned errors from `Reconcile()` and have opted instead to do structured logging with `klogr`.

That said we do try to leverage wrapping of errors to provide more debugging information when issues are encountered. One thing to

[2020-02-12 19:06] sbueringer commented on #505
@petergardfjall Maybe I got it wrong. I thought wrapping errors is mostly useful if you want to expose the underlying error type and inspect it in go code. Just wrapping the error instead of using `%v` doesn't improve the log message (?)

[2020-02-12 21:05] petergardfjall commented on #505
It does improve the error message by recursively unwrapping the error messages. As described by Dave Cheney here https://dave.cheney.net/2016/06/12/stack-traces-and-the-errors-package:

        err := errors.New("error")
        err = errors.Wrap(err, "open failed")
        err = errors.Wrap(err, "read config failed")

        fmt.Println(err) // read config failed: open failed: error

[2020-02-13 04:02] sbueringer commented on #505
I see. We were talking about two different things. I though we're talking about error wrapping with Go 1.13 (`%w`).

[code]

Leads to this output:
[code]

So the only advantage I can see of the errors package is when the `%+v` option is used to print the whole stacktrace.

What I was talking about before exposing the error I meant this:

https://blog.golang.org/go1.13-errors (section `Whether to w

[2020-02-14 06:52] petergardfjall commented on #505
@sbueringer I think you're right. I was to quick to jump to conclusions. Given how brief error messages I was observing (a lot of `failed to reconcile X: resource not found`) I drew the wrong conclusion that it was becasuse errors weren't properly wrapped. The only thing the use of `errors.Wrap(err, "msg")` would give us here would be to preserve the stack trace which _could_ be useful but probabl

[2020-02-14 06:52] #505 closed

[2020-02-14 07:23] jichenjc commented on #505
this is exactly the issue, gophercloud error contaxt info is the primary issue we are having..

[2020-02-14 07:26] petergardfjall commented on #505
Yes, mostly I agree, but I think that there are instances where the openstack provider could add some context to gophercloud errors rather than just doing a `return err`. In some cases this could help troubleshooting immensely, I believe. However, that goes beyond the scope of this issue.

[2020-02-14 07:33] jichenjc commented on #505
fully agree, something we need do better as I have this kind of issue time to time, thanks for the suggestion and help

[2020-02-15 12:43] sbueringer commented on #505
I also agree. Gophercloud errors are sometimes lacking to much context. Whenever possible we should add additional context to the error messages.

[2020-02-16 15:24] sbueringer commented on #489
/remove-lifecycle stale

[2020-02-16 15:25] sbueringer commented on #489
I'm a little bit confused. Where did we add the external cloud controller manager? :) And afaik if you want to have a healthy cluster the cloud controller manager is mandatory, because if you're not using it you won't get ready nodes (as soon as the internal one has been removed).

[2020-02-17 09:45] #472 closed

[2020-02-19 03:03] jichenjc commented on #489
yeah, you are right, this is a must

we have to create some containers and deployment just like network related parts?
need more effort to make dependency on the cloud controller openstack and run that during the cluster init process ...

[2020-02-24 17:16] sbueringer commented on #490
/remove-lifecycle stale

[2020-02-24 17:16] sbueringer commented on #484
/remove-lifecycle stale

[2020-02-28 15:09] #461 closed

[2020-02-29 15:59] sbueringer commented on #489
@jichenjc Not sure if this might be done by the control plane provider: https://master.cluster-api.sigs.k8s.io/developer/architecture/controllers/control-plane.html

[2020-03-01 07:27] jichenjc commented on #489
@sbueringer will take a look and provide some comments later on, a quick look seems you are right, the cloud provide should be in the control pane, maybe need refer to other provider as they have clodu provider already for long time..

[2020-03-04 02:34] hidekazuna opened #511 "PROVIDERID should start with openstack://"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I deployed a control plane Machine. PROVIDERID starts with openstack:////.

[code]

**What did you expect to happen:**

PROVIDERID starts with openstack://:

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environmen

[2020-03-04 03:59] #511 closed

[2020-03-07 06:06] #463 closed

[2020-03-11 13:43] MPV commented on #499
Seems v1alpha3 is released now:
https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.3.0

[2020-03-11 14:07] sbueringer commented on #499
Jup. just merged initial support on master for CAPO. But not compatible with clusterctl yet. I would try to get a PR open the next few days to make it usable with clusterctl and then create some issues for some extended features

[2020-03-13 01:44] jichenjc opened #519 "kubectl get machines will not work in v1alpha3"
/kind feature

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

after v1alpha3 used, the
`kubectl get machines` will not work on the new created cluster

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minik

[2020-03-13 01:46] jichenjc commented on #519
@sbueringer will this be something we need consider

I think sooner or later we will move to clusterctl?

[2020-03-13 07:14] sbueringer commented on #519
Why will get machine not work?

I've setup a few CAPA clusters yesterday and the only major change regarding kubectl/clusterctl is that the clusterctl commands are different now. You're able to do mostly same but with different commands. With kubectl you can do the same as before as far as I could see

[2020-03-13 07:32] jichenjc commented on #519
I destroyed my env yesterday, I think `clusterctl move` command will do the job but we seems didn't test that now, I will try this early next week if no conclusion from other folks
I am pretty sure it doesn't work because no migration from bootstrap cluster to new one for those CRDs..

[2020-03-13 14:36] jichenjc commented on #519
@sbueringer this is what I am talking about..
[code]

[2020-03-13 14:42] sbueringer commented on #519
Okay got it. That's mainly a change in workflow. You don't get a pivot per default (CAPI control plane will stay on your bootstrap cluster). But you can do a pivot like it's documented here: https://cluster-api.sigs.k8s.io/clusterctl/commands/move.html#pivot

[2020-03-13 14:45] jichenjc commented on #519
ok, maybe we need do something there :), let me try this later

[2020-03-16 06:45] jichenjc commented on #519
the move action of clusterctl doesn't work ... need further check
[code]

[2020-03-16 07:43] sbueringer commented on #519
Already tested with this version? https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/518
There should be a fix for this in there

[2020-03-21 12:38] sbueringer commented on #490
Let's just track this in #484 doesn't really make sense to have two issues.

[2020-03-21 12:38] #490 closed

[2020-03-25 08:04] sbueringer commented on #484
@dims The job is almost ready. Against which branches of Kubernetes should be tested? Only master or also something like the release-1.18 branch?