[2021-06-29 05:49] sbueringer commented on #912
@petrutlucian94 I don't think there is a way to do this. Core CAPI is upgrading by joining new control plane nodes, without any kind of loadbalancing mechanism between control planes nodes this simply doesn't work. Right now loadbalancing is only implemented based on Octavaia. There are probably other ways to achieve this without loadbalancers, but not sure how and there's currently no alternate i

[2021-06-29 12:21] mdbooth commented on #917
Nova returns an error if you attempt to use tags with the 'default' microversion, because tags are not recognised. If you bump the microversion to 2.52 (as in my demo patch) it works.

However... 2.52 was released in OpenStack Pike in August 2017. I think it's probably safe by now to set a global microversion of at least 2.52, probably much higher. If we don't have any complex microversion require

[2021-06-30 00:15] #918 closed

[2021-06-30 01:07] jichenjc commented on #917
ok, now I get your point, so you need bump the version of microversion to 2.52+ or even higher
because https://github.com/kubernetes-sigs/cluster-api-provider-openstack support satement start from Pike, I think we should be good to cut from Pike

the choice of course is < Pike, I knew a lot of openstack users didn't upgrade and stick to lower versions for various reasons, we may wait for their rep

[2021-06-30 04:26] sbueringer commented on #917
I'm absolutely fine with just setting the version to 2.52 and not supporting OpenStack < Pike. There are always a lot of reasons not to update anything, doesn't mean we have to support OpenStack versions which are over 4 years old. By supporting >=Pike, we currently support 8 OpenStack releases, which is already a lot.

[2021-06-30 04:32] sbueringer commented on #917
@jichenjc I think it would be good if we go forward with it to include it in v0.4.0.

[2021-06-30 04:38] sbueringer commented on #745
As writte in [Slack](https://kubernetes.slack.com/archives/CFKJB65G9/p1625027460065700). We will probably release next week.

[2021-06-30 04:47] sbueringer commented on #839
Let's close this for now until the lb provider proposal has made further progress.

[2021-06-30 04:47] sbueringer commented on #839
/close

[2021-06-30 04:47] #839 closed

[2021-06-30 04:48] sbueringer commented on #842
/unassign
/assign @seanschneeweiss
(It wasn't possible to assign Sean before because he wasn't a member of the org)

[2021-06-30 04:51] sbueringer commented on #920
/assign

[2021-06-30 05:03] jichenjc commented on #917
@mdbooth do you mind submit such PR if you have something already ? or I can submit one instead. thanks

[2021-06-30 08:07] mdbooth commented on #917
@jichenjc I'll submit one today!

[2021-06-30 08:07] sbueringer commented on #887
/assign @Xenwar

[2021-06-30 08:13] tobiasgiese commented on #868
I'll take a look at it and create a PR the next days.

/assign

[2021-06-30 08:14] sbueringer commented on #843
Related to this slack conversation: https://kubernetes.slack.com/archives/CFKJB65G9/p1623237546041600

@macaptain  just fyi, this is the corresponding issue :)

Are you currently on it?

[2021-06-30 08:20] macaptain commented on #843
@sbueringer, yes I was hoping to have a go this week.

/assign

[2021-06-30 08:31] macaptain commented on #834
Hey @iamemilio, what do you think about the port re-use suggestions above? (https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/834#issuecomment-858723362)

[2021-06-30 09:45] mdbooth commented on #917
Pike was wrong, btw: 2.57 landed in Queens, which was released in February 2018.

Incidentally, Red Hat OSP 13, which is based on Queens went into its ELS support phase last week:

https://access.redhat.com/support/policy/updates/openstack/platform

I'm (corporately) happy with Queens as a minimum supported version. I don't think there's anybody out there supporting older versions than we do and e

[2021-06-30 10:00] jichenjc commented on #917
https://docs.openstack.org/nova/latest/reference/api-microversion-history.html#id48

seems 2.52 still Pike? I am not sure why 2.57 is mentioned here .. lost of context/track now

[2021-06-30 10:08] mdbooth commented on #917
Because my memory failed! Yes, it's 2.52, which is Pike. Ignore my previous.

[2021-06-30 10:40] mdbooth commented on #917
The error we see in MAPO without specifying a microversion is:

[code]

Note that this is actually reporting 2 errors:

* Additional properties are not allowed ('tags' was unexpected)
This is the original error, and is due to not specifying the microversion.

* Port 66fa0fdf-13e9-4bd8-975e-2b6dcf85eb9f is currently a parent port for trunk 69cbe964-083a-4685-bc6c-501457959b93
This is a cleanup erro

[2021-06-30 15:40] mdbooth opened #926 "Instance.IP is set randomly when a server has multiple networks"
/kind bug

This is from code inspection while working on MAPO: https://github.com/shiftstack/machine-api-provider-openstack
There is no reproducer, I could have misread the code, and/or this may not be relevant to CAPO.

The problem is where we're iterating over a server's Addresses in here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/pkg/cloud/services/compute/in

[2021-06-30 15:58] sbueringer commented on #843
@macaptain Perfect, great!

[2021-06-30 16:02] sbueringer commented on #917
@mdbooth It's kind of interesting that this works on our OpenStacks (VMware integrated OpenStack (7.1) and Canonical OpenStack). But anyway, imho it's totally valid to specify the minimal version we need.

[2021-06-30 20:14] iamemilio commented on #834
Sorry for the long delay in getting back to you. I like the idea and would be on board with that.

[2021-06-30 20:23] iamemilio commented on #834
I think it would be valuable to draft a design for this, since it would be a fairly large set of features that could impact the user experience. I would be happy to help out if you want.

[2021-07-01 02:27] jichenjc commented on #926
looks like the code you pointed out seems you are right, the last one will be selected
`addrMap["internal"] = netInterface.Address`

 but I think floating ip in current implementation is mandatory? if so if we have 2 networks then
it means likely the internal IP will be selected by some chance? then it might be a severe bug..

[2021-07-01 04:34] jichenjc opened #927 "gate: high failure ratio because of Workload cluster (without lb) creation"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

several PRs suffer same issue and retry 1-2 times still have same issue
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-openstack/924/pull-cluster-api-provider-openstack-e2e-test/1410422201777131520/build-log.txt

need check wh

[2021-07-01 09:04] mdbooth commented on #917
I wondered about that. That would be a large departure from the OpenStack API contract though, so I suspect the reason is in CAPO rather than OpenStack. My initial guess was that it was being set in a controller somewhere, but I couldn't find any evidence of it. My current guess is that you're just not using server tags, and using server metadata instead? If you don't specify any tags it doesn't f

[2021-07-01 13:48] sbueringer commented on #917
@mdbooth Ups, yeah I think you're right, we're just not using tags.

[2021-07-05 00:46] #878 closed

[2021-07-05 21:03] tobiasgiese commented on #868
Fixed with #925
/close

[2021-07-07 00:36] jichenjc commented on #868
@tobiasgiese thanks for the reminder :)

[2021-07-07 00:36] #868 closed

[2021-07-08 12:27] tobiasgiese commented on #856
@jichenjc what is the current status here? Are you done with this issue or can I support you / take over?

[2021-07-08 12:52] tobiasgiese commented on #842
As of https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/870 we now have a description per CAPO created load balancer (i.e., all OpenStack resources). We can simply filter for the orphaned load balancers by the description `Created by cluster-api-provider-openstack cluster`.
WDYT @jichenjc @sbueringer?

[2021-07-08 13:05] jichenjc commented on #856
part of the metrics added at #863

there are some todo (e.g GET/query part) , if you like ,you can work on it at your convenience :) @tobiasgiese

[2021-07-08 13:10] tobiasgiese commented on #856
Okay, I'll take a look at it :)
/assign

[2021-07-09 07:11] adduarte opened #929 "Allow mix of trunk/untrunked ports."
/kind feature

**Describe the solution you'd like**
Currently you can specify ports to be attached to the instance through
[openStackMachine.Spec.Ports , and/or openStackMachine.Spec.Networks](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/0fe03161c96e8acd86331b2ae6075d42e4716ac1/pkg/cloud/services/compute/instance.go#L146)

And then [ALL ports are either Trunked or Not Tru

[2021-07-09 07:59] jichenjc commented on #927
per
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-openstack/924/pull-cluster-api-provider-openstack-e2e-test/1412692551504236544/artifacts/clusters/bootstrap/controllers/capo-controller-manager/capo-controller-manager-6f4cdd5947-42qv4/manager.log

it's because we didn't associate the floating correctly and thus recently merged PR lead to this i

[2021-07-09 08:27] tobiasgiese commented on #927
@jichenjc what PR do you mean? If you mean #925, then I don't think that it's related to this issue. It was already present prior to the merge of the PR.

[2021-07-09 11:29] chrischdi opened #931 "Add OpenStackClusterTemplate type"
/kind feature

**Describe the solution you'd like**
Add a new CRD named OpenStackClusterTemplate. This is needed for ClusterClass.
In the short term this type will not be used outside of ClusterClass.

xref [DockerClusterTemplate](https://github.com/kubernetes-sigs/cluster-api/issues/4900)
also see https://kubernetes.slack.com/archives/C8TSNPY4T/p1625767242134600

[2021-07-09 12:02] jichenjc commented on #927
not that one, I only give the log as example...

[2021-07-09 20:32] tobiasgiese commented on #931
I'll take a look at it
/assign

[2021-07-13 03:56] jichenjc commented on #927
looks like I made some wrong assumption based on previous info

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-openstack/924/pull-cluster-api-provider-openstack-e2e-test/1414766955063152640/artifacts/clusters/bootstrap/controllers/capo-controller-manager/capo-controller-manager-6f4cdd5947-fjlxx/manager.log

first create floating IP

I0713 02:49:

[2021-07-13 04:05] jichenjc commented on #927
not able to find openstack logs so not sure what happened (why keep getting NotFound error)
will add more debug logs

[2021-07-13 06:35] tobiasgiese commented on #927
What I have seen in many of my PR e2e tests

[code]

xref: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-openstack/932/pull-cluster-api-provider-openstack-e2e-test/1414482588461961216

[2021-07-13 08:08] Xenwar commented on #929
@adduarte
Do you see the PR https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/934 addressing  the requirements ?
If not, I can create a separate issue for it.
Thanks.

[2021-07-13 09:57] macaptain commented on #927
The Ginkgo tests run in parallel:

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/a1ccb5280de0e82c8dc6f2213a939d9017381e63/Makefile#L117

Is it possible that the two specs in the "Workload cluster (without lb)" description are running at the same time, and one of them is deleting the cluster while the other is trying to create ports on it?

[2021-07-13 11:29] sbueringer commented on #920
As discussed
/assign @tobiasgiese
/unassign

[2021-07-13 11:29] tobiasgiese commented on #920
/assign

[2021-07-13 11:45] petrutlucian94 opened #936 "Creating instances fails when using tags"
/kind bug

**What steps did you take and what happened:**
The cluster spec allows setting instance tags. The issue is that this feature requires Nova >=2.52 but CAPO doesn't set the microversion. For this reason, Nova returns an error:

[code]

Tags

**What did you expect to happen:**

Since the tag is exposed by the cluster spec, I'd expect CAPO to be able to set it.

**Anything else you would li

[2021-07-13 15:24] iamemilio commented on #927
I think that ```Should create port(s) with custom options [It]``` is also flaking.

See: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-openstack/921/pull-cluster-api-provider-openstack-e2e-test/1414589415367380992

[2021-07-14 00:36] jichenjc commented on #936
@petrutlucian94 please check #917
if you agree it's duplicate, could you please close this one? Thanks

[2021-07-14 06:02] petrutlucian94 commented on #936
Indeed, it's a duplicate. Thanks for mentioning the other issue!

[2021-07-14 06:02] #936 closed

[2021-07-14 07:08] #856 closed

[2021-07-14 07:10] jichenjc commented on #927
Thanks for the info, as the ratio is high suddenly and we should not delete/create ports frequently ,so I guess less likely but I will take into consideration, thanks

[2021-07-14 07:12] jichenjc commented on #927
yes, and less flaky than the other one, still need check it ...

[2021-07-14 08:15] macaptain commented on #927
I noticed the ports e2e test creates a machine and then waits for an error condition not to occur before continuing. But it's possible that the error condition didn't occur because the machine wasn't created yet, and then the tests continue anyway. This may be contributing to the flakiness. I raised #938 to hopefully wait for the machine to be created before trying to list the ports.

[2021-07-14 08:24] adduarte commented on #929
@Xenwar #934 looks good to me. Thanks.

[2021-07-14 09:44] #890 closed

[2021-07-14 23:50] hidekazuna commented on #745
Since CAPI v0.4.0 has been released, does not include https://github.com/kubernetes-sigs/cluster-api/pull/4514/, I think we can release v0.4.0 does not care https://github.com/kubernetes-sigs/cluster-api/pull/4514/.

[2021-07-15 01:04] jichenjc commented on #745
is it mandatory? If it's an enhancement we can always have 0.4.1 + ?

[2021-07-15 06:12] tobiasgiese commented on #927
Was it intended to close this issue @hidekazuna?
I think it's because of your description "Because #930 did not fix #927." :)

[2021-07-15 07:59] sbueringer commented on #745
If we got the code ready I would really prefer merging it before. Afaik it's absolutely intended to be binding for v1alpha4. Otherwise imho they would have to wait probably until v1alpha5/v1beta1 with a change like this.

And I would much rather imnplement this in CAPO v0.4.0 then have a breaking change in v0.4.1

[2021-07-15 08:03] jichenjc commented on #745
not realize it's a breaking change ,if it is, then yes, definitely need wait

[2021-07-15 08:05] sbueringer commented on #745
@jichenjc I think it's a breaking change because we change fields in the InfraCluster CRD. It's somewhat mitigated between v0.3.0 and v0.4.0 with the conversion. But I don't want to implement a conversion webhook for v0.4.0 to v0.4.1 (and I don't know if it's possible :)).

[2021-07-15 08:26] macaptain opened #940 "e2e tests hanging when trying sshuttle tunnel"
/kind bug

The e2e tests are hanging indefinitely (over 2 hour long runs) during setup steps when using sshuttle to connect to OpenStack.

https://prow.k8s.io/log?container=test&id=1415576850691788800&job=pull-cluster-api-provider-openstack-e2e-test
[code]

The version of sshuttle has changed:

Broken:
[code]

Last known working:
[code]

This pull request may be the change: https://github.com/sshu

[2021-07-15 08:30] hidekazuna commented on #927
@tobiasgiese Ah, I do not want to close  this issue definitely :)

[2021-07-15 08:32] macaptain commented on #940
Here's where `sshuttle` is used in the tests, and the justification for setting `--ttl` is described in the comment:

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/010f0b9da188172b393ab519ab83e3fabf2779ad/hack/ci/devstack-on-gce-project-install.sh#L190-L192

[2021-07-15 08:59] sbueringer commented on #940
Oh, yeah that's pretty bad (as was the hack :)). According to the sshuttle PR we should be able to just drop --ttl? (and if that doesn't work we can pin sshuttle to the old version for an immediate fix/mitigation)

[2021-07-15 09:02] macaptain commented on #940
Yes, having looked over the sshuttle PR, we should just be able to drop --ttl. Let's give that a try. I'll have a PR in a few moments to test.

/assign

[2021-07-15 09:11] hidekazuna commented on #745
We are now beta mode then we wait for the following PRs?

- #937 for following  kubernetes-sigs/cluster-api#4514
- #934
- #921

/cc @Xenwar @iamemilio @tobiasgiese

[2021-07-15 09:15] tobiasgiese commented on #745
@hidekazuna I will push the last commits of my PR in a few seconds and remove the WIP label. Then it should be ready to merge the next days.

[2021-07-15 09:52] chrischdi commented on #911
xref https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/921 for alternative solution

[2021-07-15 10:50] #940 closed

[2021-07-15 10:57] Xenwar opened #942 "Add validation for managedSecurityGroups and disablePortSecurity fields of OpenStackCluster"
There are incoming PRs that enable/disable PortSecurity at port level. With these PRs, it is possible to disable PortSecurity on
 all port ports. With the new changes, users should avoid the following invalid configuration as the code, as we have it now, tries to add security groups on a port where the PortSecurity is disabled.

[code]

**To Do:**

Add validation to detect such misconfiguration.

[2021-07-15 18:38] tobiasgiese opened #943 "v1alpha4: Update Readme"
**Describe the solution you'd like**

With the upcoming CAPO release v0.4.0 we have to update the [README.md](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/README.md).
At least the compatibility matrix has to be adapted to the new version.

As the readme is part of the release (i.e., in the release archive), it should be done before we're releasing.

part of #745

/

[2021-07-15 18:59] tobiasgiese commented on #745
I created an issue regarding the readme.
We should update it before we‘re releasing to have the correct readme in the release archive.
WDYT?

[2021-07-16 01:24] #927 closed

[2021-07-16 07:48] #920 closed

[2021-07-19 06:46] jichenjc commented on #943
@tobiasgiese yes, please feel free to submit a PR, thanks ~

[2021-07-19 21:08] tobiasgiese commented on #943
/assign

[2021-07-20 00:49] #943 closed

[2021-07-20 06:49] #931 closed

[2021-07-20 07:23] sbueringer commented on #855
@jichenjc @hidekazuna

If it's okay for you I would have started implementing this issue after the release. But I'll first have to check what we have to do for that. I expect something like:
* change the default branch of this repo (+ maybe something to do for those with local clones)
* change our config in test-infra from master => main

After I know what to do I would have announced it / asked f

[2021-07-20 07:32] jichenjc commented on #855
+1 to me , if upstream repo already did so, let's do it

I assume not so much to do as and as you mentioned, need everyone to be aware of this

[2021-07-20 07:55] sbueringer commented on #855
Upstream cluster-api didn't do it yet but CAPA and a lot of other Kubernetes repos, so I just like to get it done :)

[2021-07-20 08:14] hidekazuna commented on #745
We've decided not to wait for #934 and #921. https://kubernetes.slack.com/archives/CFKJB65G9/p1626244978144500

[2021-07-20 08:23] tobiasgiese commented on #745
Further, the last PRs for the release v0.4.0 are merged

- https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/933
- https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/937
- https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/944
- https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/945

So we are good to release

[2021-07-20 10:15] sbueringer commented on #745
All done

/close

[2021-07-20 10:15] #745 closed

[2021-07-22 11:51] tobiasgiese opened #948 "Do not update floating ip if its already mapped correct"
/kind feature

**Describe the solution you'd like**

We had problems reconciling our clusters with legacy load balancers, which were migrated from Neutron LBaaS to Octavia. The issue is that the port has no project id associated.
Therefore, a floating ip association will fail with the error:

[code]

[2021-07-22 12:06] hidekazuna commented on #948
@tobiasgiese I wonder if this is not feature but bug. Update issue description using bug template, please.

[2021-07-22 12:07] tobiasgiese commented on #948
/label kind/bug
/unlabel kind/feature

[2021-07-22 12:08] #948 closed

[2021-07-22 12:09] tobiasgiese opened #949 "Do not update floating ip if its already mapped correct"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We had problems reconciling our clusters with legacy load balancers, which were migrated from Neutron LBaaS to Octavia. The issue is that the port has no project id associated.
Therefore, a floating ip association will fail with the error:

[code]

**What did you expect to happen:**

Th

[2021-07-22 14:00] hidekazuna commented on #949
I do not know the difference between Ocatavia load balancer migrated from Neutron LBaaS  and new Octavia load balancer, but your expectation is reasonable.

[2021-07-22 14:53] chrischdi opened #951 "FailureReason and FailureMessage do not get cleared after successful reconciliation"
/kind bug

**What steps did you take and what happened:**

* A OpenStackCluster went to error state during provisioning (`.Status.FailureReason` and `.Status.FailureMessage` were set)
* After the underlying error was fixed the OpenStackCluster was reconciled successfully but (`.Status.FailureReason` and `.Status.FailureMessage` were still set)

**What did you expect to happen:**

After a successfu

[2021-07-26 03:53] #949 closed

[2021-07-26 07:06] #951 closed

[2021-07-26 12:29] sbueringer opened #954 "Add webhook health check"
/kind feature

**Describe the solution you'd like**
It would be nice if the controller health checks would use the readiness of the webhook server (instead of the no-op Ping).

For reference, the implementation in cluster-api: https://github.com/kubernetes-sigs/cluster-api/pull/4989

**Anything else you would like to add:**
This requires at least controller-runtime v0.9.3.

**Anything else you wou

[2021-07-26 12:51] tobiasgiese commented on #954
/assign

A nice gap stopgap :)

[2021-07-28 08:45] #954 closed

[2021-07-29 17:22] raildo opened #956 "Cluster templates using deprecated option "openstack" instead of "external""
When using the templates cluster-template-without-lb.yaml and cluster-template.yaml, it will fail due the deprecated option
cloud-provider: openstack in the KubeadmControlPlane object.  Based on the latest versions of kubelet, it should be user cloud-provider: external instead

**Environment:**

- Cluster API Provider OpenStack version (Or `git rev-parse HEAD` if manually built):
- Cluster-API ver

[2021-07-29 17:25] raildo commented on #956
Sorry about the kind/bug flag, First time reporting an issue here, I forgot to remove the tag on the bug template. This issue was found using a cluster deployed via kubadm.

[2021-07-30 02:52] jichenjc commented on #956
have you check https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/docs/book/src/topics/external-cloud-provider.md ?

[2021-07-30 03:00] jichenjc commented on #956
I noticed there is a broken link, fixing https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/957

[2021-07-30 12:24] raildo commented on #956
@jichenjc Hey, thanks for the link! I didn't check this link before, I'll give a shoot on it, and I'll let you know, but thanks for reviewing and the current PR anyway!

[2021-08-03 13:59] mdbooth commented on #926
`instance.IP` is currently used in 2 places:

* https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/22f77e62fb271232dc34365ce1b9791e905392b0/controllers/openstackmachine_controller.go#L392-L400
* https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/22f77e62fb271232dc34365ce1b9791e905392b0/controllers/openstackmachine_controller.go#L321

The former identifies th

[2021-08-04 04:16] jichenjc commented on #911
@Xenwar should we close this now given the PR propsed merged #921? Thanks

[2021-08-04 04:18] jichenjc commented on #942
I think we might want to add this at webhook level.. e.g return error right after `apply -f `

[2021-08-04 12:53] seanschneeweiss commented on #842
Should there be an additional selection for orphaned load balancers other than the project id? How can we identify the load balancers of the to be deleted cluster?

[2021-08-04 12:58] zhangdb-git opened #959 "VM instances with error state cann't be deleted successfully"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Create a workload cluster.
2. Failed to create worker intances because of some exception of nova, state of instances are "error".
3. Delete this workload cluster.
4. Worker instances are not deleted successfully.

**What did you expect to happen:**
Worker instances can be deleted succ

[2021-08-05 03:21] jichenjc commented on #959
If I understand this correctly, you are trying to delete a cluster and the worker node become error
so you want to delete the cluster but it failed due to instance go error state and detach interface failed ?

[2021-08-05 06:58] Xenwar opened #961 "Enable trunk on CAPO CI devstack"
We are adding features to enable and disable trunk at a port level, https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/934 and https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/929.

However, the CAPO CI devstack setup does not support trunk and the PR could not be tested properly due to that.

Therefore, change on the `local.conf` or other configuration

[2021-08-05 11:39] zhangdb-git commented on #959
@jichenjc  Thanks. Error occur at line 668, error message in log is:
[code]

My suggestion is: check instance state, if it is "active" or "shutoff", then detach, or skip detaching.

[2021-08-06 06:13] jichenjc commented on #959
the issue might be https://github.com/openstack/nova/blob/master/nova/compute/api.py#L5051
then https://github.com/openstack/nova/blob/master/nova/api/openstack/compute/attach_interfaces.py#L227

so we should ignore 409 error at such case..

[2021-08-07 09:08] tobiasgiese commented on #777
@jichenjc is this still an open issue? Are you on it?
Otherwise I can take a look, if it's okay for you.

[2021-08-09 00:38] jichenjc commented on #777
I am not working on it now, feel free to work on it
@sbueringer and I had discussion on this before and seems this is something should be covered by capi itself and
nice to have at capo .. so it's optional but worthy to add if we have time/resource to work on, thanks for take a look at this~

[2021-08-09 01:28] jichenjc commented on #942
ManagedSecurityGroups true, disablePortSecurity false
ManagedSecurityGroups false, disablePortSecurity false
ManagedSecurityGroups false, disablePortSecurity true

those 3 are valid case, so true/true is something we should avoid

[2021-08-09 06:24] sbueringer commented on #794
/remove-lifecycle rotten

[2021-08-09 06:26] tobiasgiese commented on #783
I think we have to request a subdomain here. Does someone know where this have to be requested? Maybe @sbueringer? Otherwise I'll take a look.

/remove-lifecycle rotten

[2021-08-09 06:26] tobiasgiese commented on #777
Sure, I'll take a look at it :)

/assign

[2021-08-09 06:26] tobiasgiese commented on #777
/remove-lifecycle rotten

[2021-08-09 09:17] sbueringer commented on #783
No idea how this works. I think you have to ask in Slack.

[2021-08-09 09:45] tobiasgiese commented on #783
Seems like we have to create a Netlify (or sth else) App to publish our documentation.
After that, we can create a redirect via [https://github.com/davidewatson/k8s.io/blob/master/dns/zone-configs/k8s.io.yaml](https://github.com/davidewatson/k8s.io/blob/master/dns/zone-configs/k8s.io.yaml)

[2021-08-09 09:55] tobiasgiese commented on #783
Found the [Subproject Site Requests](https://github.com/kubernetes/community/blob/master/github-management/subproject-site-requests.md)

[2021-08-09 10:07] tobiasgiese commented on #783
Added Netlify Request: https://github.com/kubernetes/org/issues/2883

[2021-08-09 10:07] tobiasgiese commented on #783
/assign

[2021-08-10 01:15] #959 closed

[2021-08-10 18:05] EmilienM opened #965 "Add Profile support when configuring a Neutron port"
/kind feature

**Describe the solution you'd like**
Neutron ports can have profile, which can be useful for SR-IOV type configurations, and OVS Hardware offload.
For now, we were setting it to `nil` but we can add its support in types.

[2021-08-11 07:24] tobiasgiese opened #966 "Update controller-runtime to 0.9.6"
/kind bug

**What steps did you take and what happened:**

We want to update controller-runtime to 0.9.6 to suppress the TLS handshake errors

[code]

xref: https://github.com/kubernetes-sigs/controller-runtime/pull/1616

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster API P

[2021-08-11 07:24] tobiasgiese commented on #966
/assign

[2021-08-11 08:52] zhangdb-git opened #968 "Instance with error state cann't be deleted timely"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Create a workload cluster.
2. Master instance go error due to some exception in nova.
3. Delete this cluster.
4. Instance could not be deleted in 30 minites.

**What did you expect to happen:**
Instance could be deleted timely.

**Anything else you would like to add:**
[Miscellaneous

[2021-08-12 01:43] #966 closed

[2021-08-12 02:45] #968 closed

[2021-08-12 05:53] tobiasgiese commented on #965
/assign @EmilienM

[2021-08-12 09:46] mkjpryor commented on #875
+1 from me as well - we have the exact same problem with our customers.

[2021-08-12 09:57] #965 closed

[2021-08-16 12:46] jichenjc commented on #911
/close

close this in favor of new way

[2021-08-16 12:46] #911 closed

[2021-08-16 15:17] mdbooth commented on #926
If we merge https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/971 I believe we can address this by changing the signature of https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/4f39d2970098d4391881767a8a555487c78fb63e/pkg/cloud/services/compute/instance_types.go#L123 to take `OpenStackMachine` and `OpenStackClusterStatus` as arguments. This would allow us to

[2021-08-18 16:15] mkjpryor commented on #842
Does this just delete all the load balancers in the OpenStack project? What happens if there is more than one cluster in a project?

Is the issue here that the network/router that we created won't delete because there are load balancers attached to it? In that case, it makes sense to me that the condition should be:

That means that:

  1. Load balancers for other clusters with separate networks w

[2021-08-19 08:30] MPV commented on #742
@sbueringer Yes, that makes sense and sounds like a sensible solution to me. Looks like the bot closed this. Still worth looking into though?

[2021-08-20 02:33] jichenjc commented on #742
/reopen

this close is due to no activity for long time :)

[2021-08-20 05:47] malstoun opened #974 "ManagedAPIServerLoadBalancer flag doesn't work as expected"
/kind bug

**What steps did you take and what happened:**
We don’t have loadbalancer in our Openstack installation. If I set `ManagedAPIServerLoadBalancer: false` to disable load balancer usage I see an error `failed to create load balancer service client: No suitable endpoint could be found in the service catalog.` in logs and reconciliation fails.

**What did you expect to happen:**
I expected t

[2021-08-20 11:17] Bo0km4n opened #976 "A port of error instance blocks deleting managed security group"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When failed to create instance with error state in OpenStack, currently DeleteInstance logic didn't delete port of the error instance.
Because, error instance's port detached from the instance by OpenStack.

If a port of error instance is still living until deleting managed security grou

[2021-08-20 11:56] mdbooth commented on #926
This was close accidentally, and I can't reopen it 🤔

[2021-08-20 11:57] tobiasgiese commented on #926
/reopen

[2021-08-20 11:58] tobiasgiese commented on #926
@mdbooth you should never write the issue number and `fix` in the same line. Otherwise, Github will close the mentioned issue :)

[2021-08-21 17:37] #976 closed

[2021-08-22 16:11] chrischdi commented on #974
I think there are three occurencies where the `loadbalancer.NewService` function is getting used without checking if ManagedAPIServerLoadBalancer was set:
* https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/controllers/openstackcluster_controller.go#L139
* https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/controllers/openstackcluster_controll

[2021-08-22 16:12] chrischdi commented on #974
/help

[2021-08-23 01:30] jichenjc commented on #974
in addition, we need disable
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/hack/ci/devstack-default-cloud-init.yaml.tpl#L56

when doing CI without LB case, thus, we should be able to find this issue early

[2021-08-23 12:42] raildo commented on #974
Just adding my 2 cents in this thread, this is a regression comparing with the CAPO v0.3.3, since we were able to have a Cluster API deployed without LB and then creating an external LB object. I believe that we should keep the same behavior as we had before.

[2021-08-26 06:37] ruifaling opened #979 "Support reset password for vm"
/kind feature
 in the current version,after launch a cluter,if we do not know the password for root from the image ,we can only connet to the vm by keypair,I hope we can reset the password,the we could connect to the vm by password

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information

[2021-09-01 06:44] jichenjc commented on #979
@ruifaling please let me know whether it works for you or I will close this issue.. thanks

[2021-09-01 08:34] #974 closed

[2021-09-02 11:36] petrutlucian94 commented on #912
We've managed to achieve this using ``kube-vip`` as an alternative load balancer. Worth mentioning that if port security is enabled, the ``AllowedAddressPairs`` option must be used in order to enable VIP traffic. Luckily, a recent CAPO change added this feature: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/commit/d32407da0da0171938b71d6d1c6147308ef5a70b

[2021-09-02 11:53] petrutlucian94 opened #983 "make floating IPs optional"
/kind feature

**Describe the solution you'd like**

When not using Octavia, CAPO expects the control plane endpoint address to be a floating IP and tries to associate it with the instance port: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/1f7a85455539f70d52fbc8f4f31241b71ed66e11/controllers/openstackmachine_controller.go#L363-L380

This is not always the case, some Opens

[2021-09-03 12:34] jichenjc commented on #983
@petrutlucian94 thanks for the issue report, I think it's reasonable
I myself don't know much about kube-vip so will do more homework
the question I am having is if we are using provider network (no tenant network at all) , with the new option, it should be also ok to deploy even without kube-vip ?

[2021-09-04 08:07] blankburian commented on #983
Even when using Octavia, it would be beneficial to have such an option to not use FIPs and (in our case) set a fixed VIP instead. We run Octavia on Neutron with OVN and are unable to connect to the FIP from the nodes, as the return packets have the wrong sender address. As a workaround, we use static VIPs instead of FIPs.

[2021-09-04 10:51] petrutlucian94 commented on #983
Yep, kube-vip is not required. However, some form of load balancing would be desired in order to allow scaling or upgrading the cluster, in which case Octavia might be used as an alternative.

[2021-09-04 11:01] petrutlucian94 commented on #983
Thanks for feedback. I think we'd have to change this part a bit and maybe assign the control plane address as a (secondary?) fixed IP instead of a floating IP: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/bff2282b48e770e921b91615040bdb97ddfa2c02/pkg/cloud/services/loadbalancer/loadbalancer.go#L52-L62

[2021-09-05 23:44] jichenjc commented on #983
then we have several options==> no FIP(provider network) , with VIP, with FIP ? and maybe more?

[2021-09-06 02:02] ruifaling commented on #979
Thanks,it works for me.If can, could i  submit the code to the project ?

[2021-09-06 02:31] jichenjc commented on #979
sure, feel free to contribute :) appreciate the help~

[2021-09-07 13:36] Lirt opened #987 "Conversion webhook is not initialized"
/kind bug

CAPO conversion webhook from `v1alpha3` to `v1alpha4` is not initialized. You can notice this in two ways:

1. Creating `v1alpha3` CAPO resources doesn't work.
2. There is no log about conversion webhook registered (log line should be `conversion webhook enabled`).

Error output:

[code]

During troubleshooting me and my colleague @jsen- ran debug mode in VSCode and we noticed that duri

[2021-09-07 14:16] tobiasgiese commented on #987
There is already an open PR (#985) regarding this issue

[2021-09-07 14:18] Lirt commented on #987
Oh, I didn't register this PR in the meantime. Difference in code change is that it includes also old CAPI schemas, which are IMO not needed here.

[2021-09-08 13:29] petrutlucian94 commented on #983
I've submitted a simple PR, adding just the ``useControlPlaneFIP`` option for now. there are two cases:

* when using octavia w/o FIPs - the control plane address is assigned to the load balancer directly
* w/o octavia and w/o FIPs - we aren't explicitly assigning the control plane address, that can be done using the ``Machine`` spec or using a static ``kube-vip`` pod

Please let me know if you're

[2021-09-13 16:11] mdbooth opened #993 "Regression: Specifying subnet filter without network fails when it previously did not"
/kind bug

**What steps did you take and what happened:**
In OpenShift we add default networks to machines by subnet tag, e.g.:

[code]

This now returns an error. It previously succeeded.

**What did you expect to happen:**

We should find the requested subnet in any network, which was the previous behaviour.

**Anything else you would like to add:**

This was regressed by #935 in an interesting

[2021-09-14 00:47] jichenjc commented on #987
@Lirt #985  merged, do we still have TODOs here? or can we close this?

[2021-09-14 00:50] hidekazuna commented on #842
I am still looking for how to identify all the load balancers capo deployed.
Naming convention is [fmt.Sprintf("kube_service_%s_%s_%s", clusterName, service.Namespace, service.Name)](https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/openstack/loadbalancer.go#L810), but I am not sure what `clusterName` is.

@jichenjc any comments?

[2021-09-14 02:14] jichenjc commented on #842
@hidekazuna see this
https://github.com/kubernetes/cloud-provider/blob/master/app/core.go#L87

[2021-09-14 13:37] macaptain commented on #993
Here's the old `GetNetworksByFilter` on the parent of #935's merge commit on master:

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/649fcf5c1d85343b1cdb15e230d016f20b177e27/pkg/cloud/services/networking/network.go#L342-L364

On line 354, if `subnetList` extracted from the current page has length zero, we return `false, fmt.Errorf(...)`, which stops iteration of `pager.Each

[2021-09-14 13:48] mdbooth commented on #993
Ouch! That code's a headscratcher.

You may well be right. It definitely did regress, but I may have `git blame`d the wrong person 🙄

[2021-09-14 16:07] mkjpryor opened #995 "Ability to specify security group rules for CNIs other than Calico"
/kind feature

It would be great to be able to specify the ingress rules for the managed security groups for CNIs other than Calico, defaulting to the Calico rules if not otherwise specified. This is better than pre-creating security groups for each CNI as it still enables the user to easily have separate security groups for each cluster that are tied to the cluster lifecycle.

Assuming that manag

[2021-09-14 16:08] mkjpryor commented on #983
This is related to #875

[2021-09-14 17:57] iamemilio commented on #842
A trick we have used in our deployments is to apply a tag to resources created by CAPO. That might simplify your problem.

[2021-09-14 18:16] mkjpryor commented on #995
Another alternative, which would be the most simple to implement, is to have an option that just configures rules that allow all traffic between cluster nodes.

[2021-09-15 01:20] jichenjc commented on #995
@hidekazuna FYI in case you might have some suggestions

just curious how we can test this .. as we might have various options ,test is a question mark.
I think maybe we default to Calico (and test it ) ,provide custom options to inject rules but
claim no test for it, user need make sure it works for them by their own?

[2021-09-15 01:26] jichenjc commented on #842
agree, create tag is much simple and should be considered common approach

but looks like this is more like a OCCM question
this issue is talking about LB created by OCCM need to be cleaned up as well if I understand correctly

[2021-09-15 02:57] hidekazuna commented on #995
I want to make clear.
Currently for using CNI other than Calico, you do not use managed security groups and add your own security group to `OpenStackMachineTemplate`. It is troublesome. So you want managed security group for CNIs other than Calico, right?

[2021-09-15 03:07] hidekazuna commented on #842
@iamemilio Thanks recommendation. I agree.

[2021-09-15 03:22] hidekazuna commented on #842
@jichenjc Thanks information.
@iamemilio @jichenjc Yes, LBs in this issue are created by CCM, we can not use tag.
@seanschneeweiss I think we can identify  LBs created by CCM deployed by CAPO by it's name starts with `kube_service_clusterName`.

[2021-09-15 03:25] jichenjc commented on #842
this might come a big question, cloud provider support PV, PVC and other resource creation
I am not sure whether CAPI cluster deletion action here will include those as well?

haven't try e.g whether this will cascade or prevent cluster deletion etc.
so real user use CAPI with workload might have more words on this

[2021-09-15 05:57] mkjpryor commented on #842
@jichenjc

CAPI cluster deletion does not delete service load balancers (it does delete the API server load balancer) or Cinder volumes provisioned for PVCs.

One option for CAPI clusters would be to have CAPI clean up LoadBalancer services and PVCs before deleting a cluster.

[2021-09-15 07:03] macaptain opened #997 "Prometheus metrics when making API calls are inconsistent"
/kind bug

**What steps did you take and what happened:**

Prometheus metrics for OpenStack API calls are made throughout the codebase as `mc.ObserveRequest(err)` calls. They're inconsistent in places:

* Sometimes we make a call without recording a metric
* Sometimes deletion events which return 404 (not found) are recorded as errors and sometimes not
* ReplaceAttributes call is recorded as 'trun

[2021-09-15 07:19] jichenjc commented on #997
@macaptain you are right, we should move the code into one place so that we can handle all the logic well
so yes, refactor of compute node is something better to have (for ut andmetrics collection both)

[2021-09-15 08:24] mkjpryor commented on #995
@hidekazuna

Exactly. I want security groups for other CNIs that only allow traffic within the cluster whose lifecycle is tied to the cluster.

I think the first thing to implement that would cover all possible use cases is just a flag to allow all **in cluster** ingress. I actually don't mind this as a fallback approach that will work for all CNIs. Then in the future we can maybe look at having s

[2021-09-15 12:38] mkjpryor commented on #926
@mdbooth

I'm not sure this is entirely a Cluster API provider issue. Detecting the API for the load-balancer member definitely is, but for the node IP as it appears in Kubernetes, I think the OpenStack Cloud Controller Manager will override whatever Cluster API passes.

To that end, I notice in your templates that you are still using the deprecated in-tree OpenStack CCM. By using the newer out-of

[2021-09-15 13:00] mdbooth commented on #926
I need to fix this issue in CAPO due to how we use it in OpenShift. The interaction with in-tree/CCM cloud provider isn't my concern here.

[2021-09-16 00:29] jichenjc commented on #842
Yes, I understand , so as you indicated in the PR #990
maybe the reasonable way for now is to use naming conventions to remove the LBs first

and ask the CAPI community about the desire on handling the resources created outside of CAPI lifecycle..
I guess it might be the operator's job to consider ,or maybe better way is to create something really to do a quick test (e.g create CAPI cluster and cr

[2021-09-16 02:22] hidekazuna commented on #995
@mkjpryor Thanks, I understand your motivation. I want to consider other CNIs from the beginning. How about explicitly write CNI plugin name in `OpenStackCluster` spec like below?

Use calico: use current managed security groups

[code]

Use Cilium: open firewall rules in the [cilium doc](https://docs.cilium.io/en/stable/operations/system_requirements/#firewall-rules)

[code]

Allow all in-cluster

[2021-09-16 02:39] hidekazuna commented on #842
I deploy k8s clusters in the same network and the same project for testing purpose. I do not want to delete LBs based on the  network nor project.

[2021-09-16 05:44] mkjpryor commented on #995
@hidekazuna

Are you happy with the PR I proposed in #998 for now, which is backwards compatible, or would you prefer we implement something more like the breaking change you have proposed above from the start?

[2021-09-17 02:21] jichenjc commented on #995
@hidekazuna I like #998  and I think it's not sustainable for us to maintain the CNI
as we don't have too much test coverage on all the CNI we might support, thus provide a interface
to let someone to extend and take risk at their own is healthy...

[2021-09-17 04:20] hidekazuna commented on #995
@mkjpryor If you will propose something breaking change like my idea in the future, I want to have the breaking change from the beginning. If not, It is OK to me.

[2021-09-17 04:26] hidekazuna commented on #995
@jichenjc I understand your motivation. You do not want to maintain managed security groups for CNI other than Calico. Resources are limited, I agree.

[2021-09-17 05:41] mkjpryor commented on #995
@jichenjc @hidekazuna

I also think that maintaining rules for multiple CNIs is unsustainable. So I am happy with #998 and don’t see a need for anything else.

If anything, I would rather just get rid of the Calico rules and just make the default to allow all in-cluster traffic. If users want more security, they can supply their own security groups. But I appreciate this breaks backwards compatibi

[2021-09-17 05:58] hidekazuna commented on #995
@mkjpryor Thanks, I understand your current motivation. I misunderstand from the issue comment actually.

[2021-09-17 06:11] mkjpryor commented on #995
@hidekazuna

I wrote the issue before I thought about what was reasonable to implement! I’m definitely happy with the solution in #998 though.

[2021-09-17 07:18] #848 closed

[2021-09-17 16:29] seanschneeweiss commented on #842
Deleting by name `kube_service_<clustername>_<namespace>_<servicename>` sounds the most reasonable to me as it includes the cluster name and we should have no unwanted deletions of other resources.
Maybe a check could be added that
* counts the numbers of load balancers before deleting the network (when deleting the cluster),
* and returns an error or prints a log message to notify about the orpha

[2021-09-19 02:42] #742 closed

[2021-09-20 06:20] Lirt commented on #987
Hi @jichenjc we can close this, but I assume you should do new release as this is critical otherwise users will use the old one and report this same bug.

[2021-09-20 06:20] #987 closed

[2021-09-21 13:07] mdbooth opened #1001 "Report all machine addresses"
/kind feature

**Describe the solution you'd like**
CAPO should report *all* addresses of a machine in OpenstackMachine.Status.Addresses, not just a single internal IP and a single external IP.

This would make the behaviour of CAPO consistent with the only 2 other providers I checked, AWS and GCP, both of which report all addresses.

*AWS:*
reconcileNormal:
https://github.com/kubernetes-sigs/clus

[2021-09-22 00:56] #995 closed

[2021-09-22 01:00] hidekazuna commented on #1001
Thanks for checking other providers implementation. [The Cluster API Book](https://cluster-api.sigs.k8s.io/developer/providers/machine-infrastructure.html) says that we must have a status field with

            external DNS names, and/or internal DNS names for the provider's machine instance. `MachineAddress` is
            defined as:
                - `type` (string): one of `Hostname`, `Extern

[2021-09-22 01:02] hidekazuna commented on #889
/remove-lifecycle stale

We need to address this issue.

[2021-09-22 01:05] hidekazuna commented on #783
/close

we provide documentation here: https://cluster-api-openstack.sigs.k8s.io/

[2021-09-22 01:06] #783 closed

[2021-09-22 01:13] hidekazuna commented on #832
/remove-lifecycle stale

We still need this feature and #972 is ready for review now.

[2021-09-22 08:05] mdbooth commented on #1001
Thanks! I was looking for this documentation but couldn't find it.

I have a patch in progress, btw.

[2021-09-22 11:16] #875 closed

[2021-09-23 09:01] jichenjc opened #1005 "Webhook for openstackcluster"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

we have webhook for openstackmachines now
we need add webhook for openstackcluster and in turn, don't allow openstackcluster's spec to be
updated ..

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-09-23 15:57] EmilienM opened #1007 "Adding support to create Neutron ports with QoS policy ID"
/kind feature

**Describe the solution you'd like**
Adding support to create the ports with the QoS policy ID, see API doc:
https://docs.openstack.org/api-ref/network/v2/?expanded=show-port-details-detail#id54

[2021-09-23 22:57] #997 closed

[2021-09-24 08:47] tobiasgiese commented on #855
@sbueringer like discussed I will take this task.
/assign

[2021-09-24 08:48] tobiasgiese commented on #855
xref https://github.com/kubernetes-sigs/cluster-api/issues/3280#issuecomment-923313590

[2021-09-24 09:00] tobiasgiese commented on #855
## Prerequisites

- [ ] Create an issue in your repo to track the branch rename.
You can paste this checklist in the issue body.

- [ ] If you are not a root approver for the repo, assign a root
approver for approval.

- [ ] Once the issue has been approved, send a notice to your SIG's
mailing list about the potential branch rename.

## Changes pre-rename

Make the following changes _before_ renam

[2021-09-24 13:43] #1005 closed

[2021-09-26 02:15] jichenjc opened #1011 "without lb template need update to external cloud provider"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As in tree Cloud provider is going to deprecate soon, we need switch to OCCM version for CAPI
now cluster-template-external-cloud-provider.yaml is used in our test but
cluster-template-without-lb.yaml (without load balancer version) still use in tree

we need update this to external c

[2021-09-26 02:15] jichenjc commented on #1011
/assign

[2021-09-28 11:57] Xenwar opened #1013 "Verify trunk support before creating trunk for ports"
As we have it now, trunk support is checked before applying `openStackMachine.Spec.Trunk` values. However, the same check is not done for the port level trunk setting.

To Do:
Regardless of the value of `openStackMachine.Spec.Trunk`, if port level trunk is set to true, verify that the environment has trunk support.
If possible, extract the trunk-support-check code a separate function. https://gith

[2021-09-29 02:04] #993 closed

[2021-09-29 05:59] hidekazuna commented on #983
This is implemented by #973

/close

[2021-09-29 05:59] #983 closed

[2021-09-30 09:36] mdbooth opened #1017 "Need a way to update devstack in CI"
/kind feature

**Describe the solution you'd like**
As we expand the E2E tests we're occasionally going to want to make changes to the devstack which hosts them. This is currently contained in a `preinstalled` image hosted on [Google Storage](http://storage.googleapis.com/artifacts.k8s-staging-capi-openstack.appspot.com/test/devstack/2021-03-28/devstack.raw.tar.gz). The process for creating this i

[2021-09-30 09:56] sbueringer commented on #1017
Fyi: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/794#issuecomment-803774885

But overall, my bad. Nowadays I think we should just take the longer test time. I just thought it's a waste of energy to install the devstack essentially on every commit of every PR. But I also thought I can speed up the test way more than what was actually possible (because just starting the

[2021-09-30 10:11] mdbooth commented on #1017
From the above, the preinstalled image is generated by: https://github.com/sbueringer/cluster-api-provider-openstack-images

[2021-10-04 10:59] #926 closed

[2021-10-04 10:59] #1001 closed

[2021-10-07 10:58] mdbooth commented on #929
@adduarte Since #934 merged I think this is resolved. If you're happy please could you close this issue?

[2021-10-07 11:07] mdbooth opened #1021 "Support availability zones and volume types for root volumes"
/kind feature

**Describe the solution you'd like**
Complex OpenStack deployments will often have many availability zones for both compute and storage, and there is no requirement for there to be a 1-1 mapping between the two. Additionally most OpenStack deployments will have more than a single volume type, for example to differentiate storage with different performance. To take advantage of this,

[2021-10-07 11:22] mdbooth opened #1022 "Support tags on individual ports"
/kind feature

**Describe the solution you'd like**
We can currently (once #1016 is fixed, anyway) apply a common set of tags to all ports attached to a machine. However, we can't currently set tags specific to an individual port.

We should implement this by adding Tags to [NetworkParam](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/007a8278293efdded741831de584fcc4a1d6867

[2021-10-07 11:46] mdbooth opened #1023 "Consolidate Networks and Ports in OpenStackMachineSpec"
/kind feature

**Describe the solution you'd like**
Currently in MachineSpec we have 2 different ways to add a vif to a VM: [Networks](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/007a8278293efdded741831de584fcc4a1d6867e/api/v1alpha4/openstackmachine_types.go#L55) and [Ports](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/007a8278293efdded741831de5

[2021-10-11 03:04] jichenjc commented on #1022
yes, it should be a good enhancement point per #1016

[2021-10-11 03:10] jichenjc opened #1024 "cluster-api v1beta1 adoption ?"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I heard cluster-api v1beta1 is going to be out soon ... should we start to consider the adoption
and corresponding v1beta1 version of CAPO as well?

update:
https://kubernetes.io/blog/2021/10/08/capi-clusterclass-and-managed-topologies/ might be something
related as well, need further

[2021-10-12 02:00] jichenjc commented on #1021
/assign

I think it's related to BFV , we can replicate openshift to our code base

[2021-10-12 14:26] mdbooth commented on #1021
I'm working on test support in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1026.

[2021-10-14 09:27] pfisterer commented on #1024
I guess that would be very good. I failed to try cluster-api the first time today because the released version v1.0.0 fails with an error when using cluster-api-provider-openstack. Just for your reference, this is the corresponding (closed) issue: https://github.com/kubernetes-sigs/cluster-api/issues/5425

[2021-10-16 11:42] mkjpryor commented on #1024
The v1beta1 versions of the Cluster API core resources won’t adopt v1alpha4 resources from infrastructure providers. So this needs sorting one way or another, either by this provider moving to v1beta1 or by Cluster API core resources not expecting infrastructure resources to match their version.

[2021-10-18 03:31] jichenjc commented on #1024
from this https://github.com/kubernetes-sigs/cluster-api/issues/5425#issuecomment-943150790
seems yes, we need v1.0.x implementation for cluster-api now

I don't fully understand this ... are you suggesting that even upgrade to v1beta1, CAPO still can't work with cluster-api 1.0.x ?

[2021-10-20 06:55] mkjpryor commented on #1024
@sbueringer I didn’t expect you personally to answer it! It definitely needs to be a community discussion.

What I am saying is that the discussion needs to happen ASAP. I don’t think we want to be lagging too far behind and, in my experience so far, the provider is pretty reliable. If we just need to freeze the API and say this is v1beta1 then we do need to have a discussion about anything else t

[2021-10-20 17:28] iamemilio commented on #1023
I think the plural would be appropriate

[2021-10-21 06:08] macaptain commented on #1023
The difference between that snippet and the one using the `networks:` API is that the `networks:` API will create a port per subnet. But your example will create a single port with multiple fixed IPs on different subnets.

[2021-10-27 00:52] hidekazuna opened #1029 "Cut a v0.5.0"
todos:

- ~~[ ] create new CAPO types (`v1alpha5`)~~
- ~~[ ] create conversion webhooks~~
- [ ] bump capi dependency
- [ ] create release-0.4 branch
- [ ] tag v0.5.0
- [ ] release v0.5.0

From migration docs:

- [ ] bump controller-runtime dependency to v0.10.+
- [ ] bump controller-tools version to v0.7.+
- [ ] check if not already done: Ensure your template resources support `template.meta` fiel

[2021-10-31 10:04] tobiasgiese commented on #843
@macaptain are you still on this?

[2021-11-01 03:10] jichenjc commented on #855
thanks :)

[2021-11-01 06:53] macaptain commented on #843
@tobiasgiese, I completed an initial implementation of mocking the OpenStack API to support unit tests in CAPO (#935).

Per the issue description:

I expect we could do this now. @mdbooth had a really promising draft #1030 mocking out the interfaces in the compute module which would also help!

/unassign

[2021-11-01 11:29] #1013 closed

[2021-11-01 18:06] tobiasgiese opened #1035 "Remove ensure kind binary script from repository"
/kind feature

**Describe the solution you'd like**
~~We should update kind to [v0.11.1](https://github.com/kubernetes-sigs/kind/releases/tag/v0.11.1) to have at least Kubernetes v1.21.1 while we're initially deploying CAPI/CAPOCAPI to the kind cluster.~~

We're able to remove the [ensure-kind.sh](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/hack/ensure-kind.sh) scri

[2021-11-01 18:44] tobiasgiese commented on #1035
If I see this right, we're not using the `kind` binary of the ensure script anymore.
If so, I suggest to rename the issue to sth like `Remove kind binary from ensure script`.

[2021-11-02 06:00] jichenjc commented on #1035
I knew our e2e use `kind` directly through CAPI repo and I think it's a reasonable change to bump kind and k8s

[2021-11-02 06:07] jichenjc commented on #979
/close

close this as we have nothing to do now
feel free to reopen

[2021-11-02 07:13] tobiasgiese commented on #855
done via #1032

/close

[2021-11-02 07:13] #855 closed

[2021-11-02 08:08] tobiasgiese commented on #1035
The CAPI test framework imports kind as go dependency.
I just removed the `ensure-kind.sh` script in the linked PR. If the tests are green, we don't need the binary anymore 🙂

[2021-11-02 16:51] mdbooth commented on #1024
Incidentally, a volume snapshot in this case would be used very much the same way as a glance image: it would just be stored in Cinder instead of Glance. However, I'm not aware of anybody using it this way. CoreOS specifically isn't designed to be used this way at all. I'm very happy not to maintain 'accidental' support for it, although I'd be happy to add it deliberately if somebody came to us wi

[2021-11-02 16:54] iamemilio commented on #1023
## Summary
I want to propose this as what the new PortOpts will look like. **NOTE: Each instance of portOpt will only create one port, which is a loss of functionality from the network and subnet api.** This change adds the following functionality to PortOpts:
- The network UUID for a port can now be discovered by an OpenStack Query with a NetworkFilter
    - This query **must** only return one ne

[2021-11-02 17:05] mdbooth commented on #1023
The above omits a critical piece of historical context: @iamemilio is personally responsible for creating the Networks API! The purpose was never to allow multiple networks/subnets to be specified. The list API was used to enable networks and subnets to be specified by name instead of ID in OpenShift. The ability to theoretically specify multiple networks/subnets this way was accidental complexity

[2021-11-03 01:01] jichenjc commented on #1024
I guess so and I agree with your suggestions above, thanks :)

[2021-11-03 01:16] jichenjc commented on #889
I tried `SHUTOFF` which is a very normal case and got similar result...

[code]

[code]

[2021-11-03 01:19] jichenjc opened #1037 "supported machine status list and corresponding actions"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

see https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/889 and its related discussions
there are multiple status in nova VM and we need a way to support all of them instead checking status and supoort them one by one
e.g we support MIGRATING then SHUTOFF then might

[2021-11-03 02:32] jichenjc opened #1038 "Instance keep SHUTOFF in openstackmachine"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

after VM shutoff / start, the nova is reporting VM ACTIVE now , but the openstackmachine instancestate always SHUTOFF (I wait for 24 hours + )

[code]

[code]

**What did you expect to happen:**

the openstackmachine state become ACTIVE after VM startup from stop status

**Anything else

[2021-11-05 04:56] #808 closed

[2021-11-05 04:56] #896 closed

[2021-11-08 14:09] tobiasgiese commented on #777
/unassign
/remove-lifecycle rotten

[2021-11-09 01:23] hidekazuna commented on #1024
I am going to create v1alpha5 API with CAPI v1beta1(#1033). But now I am thinking that without creating new API version, only create v0.5.0 with CAPI v1beta1 is better option. We actively changing API now and our issue is that we need release with CAPI v1beta1. If we agree that release v0.5.0 only updating CAPI v1beta1, we will create release-0.4 branch, and create v0.5.0 release in the next week

[2021-11-09 03:01] jichenjc commented on #1024
So the question here is how to sync the changes from r-04 to 0.5 we will create soon
need some criteria on this? e.g some changes will be forward-port to 0.5 after it's settle down at r-0.4?

[2021-11-09 04:25] #1035 closed

[2021-11-09 04:53] hidekazuna commented on #1024
If API version is the same, no reason to stay release-0.4, right?

[2021-11-12 11:25] nikParasyr opened #1044 "Add tags to security groups when ManagedSecurityGroups: true"
/kind feature

**Describe the solution you'd like**
Security groups created when `ManagedSecurityGroups: true` should be tagged when Tags are defined on `OpenStackCluster` similarly to how network/subnet/router etc are being tagged

**Anything else you would like to add:**
- i'd like to work on this one
- Question: Should the tags be propagated to `openStackCluster.Status` similarly to how it's do

[2021-11-12 11:25] nikParasyr opened #1045 "Introduce an easy way to limit access to k8s api when ManagedAPIServerLoadBalancer: true"
/kind feature

Hello,

I find having CAPO managing the ApiServerLB a very good feature that simplifies a lot of stuff in our case. That being said the k8s api is open from everywhere which is not ideal in our case.
Currently the only way to have the ApiServerLB with limited access is to create it yourself, which means also creating network, subnet, router, pool etc etc which is a bit of extra work

[2021-11-13 02:55] hidekazuna opened #1046 "Add v1beta1 API types"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Add v1beta1 API types

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

This will be done soon after #1029

[2021-11-15 00:42] hidekazuna commented on #1024
After all, I will do the followings:

| Version | Branch name | CAPO API version | CAPI API version |
| -------- | -------------- | -------------------- | ------------------ |
| 0.4.0     | release-0.4    | v1alpha4                | v1alpha4            |
| 0.5.0   | release-0.5      | v1alpha4                | v1beta1             |
| -         | main                | v1beta1                 | v1be

[2021-11-15 00:42] hidekazuna commented on #1046
/cc @sbueringer @jichenjc

[2021-11-15 03:32] jichenjc commented on #1024
the approach sounds good, thanks :)

[2021-11-15 10:29] mdbooth commented on #1044
This sounds like a good feature to me. I don't feel like we should propagate tags to cluster status.

Additionally I wonder if, in general, we should update tags on existing resources. We don't modify the resources themselves after creation, but tags are metadata. Does this immutability include tags? The ability to change tags on existing resources seems useful both to us as developers: to fix a b

[2021-11-15 11:01] mdbooth commented on #1045
@iamemilio thoughts? (Although this doesn't currently affect OpenShift)

My initial thought is that option 2 above would be preferable. My concern about option 1 is that it's potentially too simplistic. Potential use cases I can think of:

* Source CIDR
* IPv4 vs IPv6
* Target protocol and port (e.g. restricting external access to k8s by http version)

However, if we were confident that we could c

[2021-11-16 02:39] jichenjc commented on #1044
+1 to include tags to the resource created by CAPO

so your suggestion is to allow the update of `openstackmachine` related CRD so reconcile can update the
openstack resources accordingly? I see no reason to block such as update `tag` seems reasonable as Day2 operations

[2021-11-16 02:45] jichenjc commented on #1045
conceptually this seems reasonable as `OpenStackCluster` is the entity define the cluster itself which means API block/allow list belongs to it well suited. Stein is a pretty old version so I think we are good enough to add such requirement (maybe tolerance on Stein- version to say it's not supported but not block)

Octavia is the future and I am not sure we even tested LBaas at all

[2021-11-16 06:43] hidekazuna commented on #1045
@nikParasyr Neutron LBaaS v2 support was already dropped: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/813

[2021-11-17 00:19] #1029 closed

[2021-11-17 04:01] hidekazuna commented on #1029
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/tag/v0.5.0

[2021-11-18 02:11] #1046 closed

[2021-11-18 16:29] raildo commented on #956
I believe this was fixed by https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/957 I'm closing this issue for now.

[2021-11-18 16:29] #956 closed

[2021-11-19 10:03] nikParasyr commented on #1044
This does indeed sound like a nice addition. I'd say though that it possibly exceeds tags on SGs, at least all tagged resources, and possibly other configs that can be updated and seem reasonable to be changed as day2 operations. I think this should be tackled in a separate issue though.

For the time being, I opened a PR just adding tags on SGs

[2021-11-19 10:46] nikParasyr commented on #1045
Thanks for the feedback :)

I see that option 2 and 4 are mentioned, which are also the ones that make more sense. There are some differences between the two approaches. Both of them should be rather easy to implement and maintain. I'd like some more feedback in regards with their differences mentioned below, before i start implementing this.

- case 4, "add a allowedCidrs to listener.CreateOpts":

[2021-11-19 11:39] nikParasyr opened #1054 "Bastion host is immutable on 0.5.0 while it wasnt on 0.4.0"
/kind bug

On a `OpenStackCluster` I ussualy config the bastion specs and set `enable` to `false`. I toggle the enable flag during troubleshooting or checking various components on the nodes. And i disable it again. This is rather useful to not waste capacity when its not required and also not have a backdoor to the nodes when its not required either.

**What steps did you take and what happened:*

[2021-11-22 00:34] hidekazuna commented on #1054
@nikParasyr Thank you for raising an issue. I agree the flag is useful for debugging purpose.

[2021-11-23 22:14] iamemilio opened #1060 "Add Unit Tests to Cover generated go code"
/kind feature

cluster-api-provider-aws has unit tests to verify that the generated conversions function. We have introduced breakage in our go code during our upgrade to v1beta1 that could have been avoided by having tests like this in place.

See:
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/api/v1alpha4/conversion_test.go
https://github.com/kubernetes-sigs/cluster-api-p

[2021-11-24 00:12] hidekazuna commented on #1060
Nice feature.

[2021-11-24 03:00] #889 closed

[2021-11-24 03:00] #1037 closed

[2021-11-24 03:00] #1038 closed

[2021-11-24 13:18] mdbooth opened #1062 "CreateInstance leaks ports on certain error conditions"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
As higlighted by #1061, CreateInstance will leak ports if the specified image or flavor doesn't exist, or if glance or nova return any other error while validating them.

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/7735d4d714f4572a4d086a78319003fdcf109702/pkg/c

[2021-11-26 06:24] #840 closed

[2021-11-26 06:24] #906 closed

[2021-11-26 08:15] MPV opened #1064 "ArgoCD custom health checks"
/kind feature

**Describe the solution you'd like**
ArgoCD Custom Health Checks for CAPO.

**Anything else you would like to add:**

Anyone else using ArgoCD together with CAPO?

Would you be up for collaborating on creating some "Custom Health Checks" for CAPO in ArgoCD?

Here's what they are, and how they can be contributed:
https://argo-cd.readthedocs.io/en/stable/operator-manual/health/#custom

[2021-11-26 15:05] mdbooth opened #1065 "IdentityRef is not preserved converting between v1alpha4 and v1beta1"
/kind bug

Discovered by unit testing. IdentityRef annotated with `+k8s:conversion-gen=false`, possibly because it was new in v1alpha4 and we wanted to ignore it when converting from v1alpha3. However, we don't want to ignore it when converting to v1beta1, but it is still ignored.

[2021-11-27 01:08] hidekazuna commented on #1065
/cc @tobiasgiese

[2021-11-27 01:36] hidekazuna opened #1067 "Inconsist way to specify network between OpenStackcluster and OpenStackMachineTemplate"
/kind bug

**What steps did you take and what happened:**

When I use existing network, I had to write a little different way to specify the network.

OpenStackCluster:

[code]

OpenStackMachineTemplate:

[code]

The spec of `OpenStackMachineTemplate` needs `filter`.

**What did you expect to happen:**

I expect to write them in the same manner.

**Anything else you would like to add:**

I find th

[2021-11-27 07:45] tobiasgiese commented on #1065
I added the annotation in #937 because of the conversion from `v1alpha3` to `v1alpha4`, that's true.
But indeed we don't want to ignore the conversion to `v1beta1` 👍🏻

[2021-11-27 10:28] #887 closed

[2021-11-29 08:39] hidekazuna commented on #1064
@MPV I checked the URL you mentioned. It seems that this feature would be archived by contributing to  argo-cd repository.

[2021-11-29 18:21] MPV commented on #1064
@hidekazuna You're absolutely right. But that repository doesn't contain the community and expertise of CAPO as this repo does, hence why I thought I'd discuss this here.

I'd be open to talking about how to suitably map CAPO's resources' status values into ArgoCD's statuses of; `Healthy`, `Progressing`, and `Degraded`.

[2021-11-30 08:26] #1065 closed

[2021-11-30 08:39] hidekazuna commented on #1064
@MPV I do not use ArgoCD much, but OK to discuss here :)

[2021-11-30 10:14] #1044 closed

[2021-12-01 07:45] #843 closed

[2021-12-01 09:19] mdbooth commented on #1067
I think the fundamental difference here is that in the cluster you're specifying a network, but in the machine you're specifying a port on a network, hence it has additional parameters and the network filter is only one of them. That said, the machine network parameter is janky, hence @iamemilio is working on #1059. The machine network parameter should go away in favour of the ports parameter, whi

[2021-12-01 12:28] hidekazuna commented on #1067
@mdbooth That is not exactly what I am looking for. I wondered if I could specify port of the network "without specifying port"  when I create a cluster using only one network:

[code]

On the other side It also makes sense the machine network parameter goes away to make the difference clearer. I think accepting both is unnecessarily complicated. Let's take @iamemilio's PR.

[2021-12-01 12:55] #1062 closed

[2021-12-04 13:38] tobiasgiese commented on #1054
I'll take a look at it
/assign

One question @nikParasyr and @hidekazuna.
Should we allow the change of `OpenStackCluserTemplate.Spec.Bastion` at all, or just for the `enabled` flag? At least CAPA isn't allowing any change on the `AWSClusterTemplate.Spec`

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/3e61428d885f2eaeab1a7dffc4d17270a20c6675/api/v1beta1/awsclustertemplate_webhoo

[2021-12-04 16:16] tobiasgiese commented on #1054
/cc @hidekazuna @jichenjc

[2021-12-04 17:53] tobiasgiese commented on #1054
I just created a PR.
We should discuss whether we want to allow changes to `OpenStackCluserTemplate.Spec.Bastion` or not.

[2021-12-05 09:59] nikParasyr commented on #1054
I'd say the`enabled` flag is the most important. That being said, i can also see a user-case for long-running clusters where there might be a need to change flavor/image/image_uuid(if boot from volume) as well after some years of the cluster running.

I dont think i can properly evaluate this and it's consequences tbh as i just recently started using cluster-api. From a user perspective I can see

[2021-12-05 11:32] tobiasgiese commented on #1054
I updated the PR that changes to the complete `OpenStackCluster.Spec.Bastion` is possible.
Also I removed the allow changes to the `OpenStackClusterTemplate.Spec` at all. No other infrastructure provider (i.e., [vsphere](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/apis/v1beta1/vsphereclustertemplate_webhook.go#L43-L50), [aws](https://github.com/kubernetes-sigs/clust

[2021-12-05 22:59] garloff opened #1071 "Missing namespace for load balancers"
/kind bug

Deployed capi and capo in a kind cluster on a VM in OpenStack.
(See https://github.com/SovereignCloudStack/k8s-cluster-api-provider if you are interested in details or want to use the code for reproduction.)

Created two clusters with different names.

Networks and Servers have names which include the cluster name, thus no naming conflicts.
Same is true for loadbalancers that are create

[2021-12-06 06:56] tobiasgiese commented on #1054
After we have a consensus regarding PR #1070 I'll create two further cherry-pick PRs for the release branches `release-0.4` and `release-0.5`

[2021-12-06 07:20] tobiasgiese commented on #1071
@garloff To understand this correct: you have a (I can see a nginx) ingress-controller deployed in your kind cluster? And both clusters are using this ingress-controller?
If yes, you should configure nginx to have a proper prefix/suffix for each cluster. But in this case it's rather not CAPO related.
Just want to make things clear to understand the issue completely 🙂

[2021-12-06 07:31] tobiasgiese commented on #1071
@garloff To understand this correct: you have a (I can see a nginx) ingress-controller deployed in your kind cluster? And both clusters are using this ingress-controller?
And you have deployed a single OpenStack Cloud Controller Manager (OCCM) in this cluster, to deployed load balancers for both clusters?
If yes, you should configure OCCM to have a proper prefix/suffix for each cluster. But in thi

[2021-12-06 08:02] tobiasgiese commented on #1071
And keep in mind: CAPO does only create the load balancers for the kube-apiserver. The creation of load balancers for Kubernetes Services of type `LoadBalancer` is **not** done by CAPO itself.

[2021-12-06 09:24] garloff commented on #1071
@tobiasgiese The created clusters indeed have an openstack-cloud-controller-manager deployed inside.(They also have csi-cinder-controllerplugin as you would expect ...)
If I understand you correctly, the loadbalancer creation by creating ingress controllers is not channeled through CAPO, thus any namespace prefix should be handled by the OCCM?
Looking at the deployment config at https://github.com

[2021-12-06 12:57] nikParasyr commented on #1054
You are right on this one. I meant `OpenStackCluster` and not template => thus it is not related to the ClusterClass stuff.
Ill update the description to avoid other misunderstandings

[2021-12-06 15:52] seanschneeweiss commented on #1071
@garloff The name for the load balancer created from the OCCM is defined here for services:
https://github.com/kubernetes/cloud-provider-openstack/blob/9a9976f0e618a634c01198651cba01af107568f6/pkg/openstack/loadbalancer.go#L698

For ingress: https://github.com/kubernetes/cloud-provider-openstack/blob/9a9976f0e618a634c01198651cba01af107568f6/pkg/ingress/utils/utils.go#L37

This includes a service p

[2021-12-06 16:02] seanschneeweiss commented on #1071
From [kube-controller-manager](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/):

The instance prefix for the cluster.

[2021-12-06 19:45] tobiasgiese commented on #1071
I think we can close this issue then. Is it okay for you @garloff? Just type `/close` to close the issue

[2021-12-06 23:26] garloff commented on #1071
I still need to figure out how to tweak the manifests to set the cluster-name to something else from "kubernetes".
But yes, it's for sure not a capo bug.
Thanks for your insight!
/close

[2021-12-06 23:26] #1071 closed

[2021-12-07 00:28] hidekazuna commented on #1067
/close

[2021-12-07 00:28] #1067 closed

[2021-12-07 00:41] seanschneeweiss commented on #1071
Probably you can edit your Kubeadm configuration (`--config` option) to include the following:
[code]

See
https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/#kubeadm-k8s-io-v1beta3-ClusterConfiguration

[2021-12-07 00:58] hidekazuna commented on #1054
@tobiasgiese Thanks taking this issue. Yes, following other providers is good manner, since I implemented bastion watching CAPA and mainly CAPA and CAPZ are our upstream somehow.

[2021-12-07 10:25] garloff commented on #1071
When kubeadm bootstraps the control node, it already uses
``apiServer:
  extraArgs:
    cloud-provider: external
apiVersion: kubeadm.k8s.io/v1beta2
clusterName: ANAME
controlPlaneEndpoint: A.B.C.D:6443
controllerManager:
[...]``
The worker nodes only have a `JoinConfiguration`
The clusterName from there is not propagated into OCCM when it creates LoadBalancers.

[2021-12-07 10:45] garloff commented on #1071
Found it:
[code]
The template at
https://github.com/kubernetes/cloud-provider-openstack/raw/master/manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml does unfortunately not contain this --cluster-name parameter, so it was not as obvious to me as it could have been ...

[2021-12-07 22:52] k8s-triage-robot opened #1074 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:25] justaugustus commented on #1074
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:25] #1074 closed

[2021-12-08 06:57] tobiasgiese commented on #1054
/reopen
Just to track the cherry-picks. I‘ll create them soon.

[2021-12-08 18:09] mdbooth opened #1078 "Proposals for new maintainers and reviewers"
As we've got a fair bit going on at the moment, I wonder if we should consider adding to the reviewer pool. Purely to start the discussion, how would we feel about the following additions?

### Maintainer

* @chrischdi
* @seanschneeweiss

### Reviewer

* @mdbooth
* @tobiasgiese
* @macaptain
* @iamemilio

This is a straw man from the top of my head! My apologies if I missed anybody obvious 😬

/cc @

[2021-12-08 20:07] tobiasgiese commented on #1054
Everything is merged
/close

[2021-12-08 20:07] #1054 closed

[2021-12-08 22:53] k8s-triage-robot opened #1079 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 00:40] hidekazuna commented on #1078
I agree we need more maintainer who can add /approve.

/cc @chrischdi @seanschneeweiss

[2021-12-09 03:01] justaugustus commented on #1079
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:01] #1079 closed

[2021-12-09 05:50] chrischdi commented on #1078
I'd also be happy to help :-) I also plan to get more time to do upstream work for next yer :+1:

[2021-12-09 07:20] macaptain commented on #1078
I also +1 @mdbooth as maintainer given the amount and quality of activity on the project over the last year.

For my part, I'd be happy to take on doing more reviews more regularly in CAPO as a reviewer.

[2021-12-09 07:51] hidekazuna commented on #1078
+1 for @tobiasgiese  and @mdbooth

@tobiasgiese worked on issues like Provide documentation website (like CAPA/CAPZ)(#783), and  Change default branch to "main"(#855) as practical maintainer.
@mdbooth contributes many functionalities with high quality.

[2021-12-09 09:11] tobiasgiese commented on #1078
Just to clarify, I also worked on coding issues except for documentation and branch renaming 😅 ([xref](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pulls?q=is%3Apr+author%3Atobiasgiese))

[2021-12-09 13:51] mdbooth commented on #1078
I would also be happy to help out as a maintainer, although I will say that there are changes that I wouldn't yet feel confident to approve myself. It's good to have a broad team!

[2021-12-09 13:52] tobiasgiese commented on #1078
And I'm also happy to help as a maintainer, for sure! I forgot to mention that 😃

[2021-12-10 23:13] #1078 closed

[2021-12-13 07:51] jichenjc commented on #1064
I am using ArgoCD time to time, so will check more on the things you provided and let's have more talk later on , and if I understand correctly, the goal is
`I'd be open to talking about how to suitably map CAPO's resources' status values into ArgoCD's statuses of; Healthy, Progressing, and Degraded.` ,correct?

[2021-12-13 13:36] mdbooth opened #1085 "Leak trunks and ports on failure before server create"
/kind bug

**What steps did you take and what happened:**
This is from code inspection only.

If CreateInstance fails after creating ports but before creating a server and we will delete all created port. However, if we created any trunk ports for those ports we will not attempt to delete the trunk. This means we leak the trunks, but this will also cause the port cleanup to fail when we try to del

[2021-12-13 17:30] MPV commented on #1064
Indeed. 👍

[2021-12-14 03:46] jichenjc commented on #1085
/assign

let me see what I can do

[2021-12-14 05:41] jichenjc commented on #1085
so I think you are saying something between

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/pkg/cloud/services/compute/instance.go#L217

and

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/pkg/cloud/services/compute/instance.go#L247

but a quick look like we will delete trunk anyhow?
https://github.com/kubernetes-sigs/cluster-api-provider-o

[2021-12-14 06:09] jichenjc commented on #1064
ok, I went through the issue you posted above, I think we can follow the stuffs here
e.g we check openstackcluster and openstackmachine just like they did here
https://github.com/argoproj/argo-cd/blob/master/resource_customizations/cluster.x-k8s.io/Cluster/health.lua#L6

e.g openstackcluster is ready or openstackmachine is ACTIVE
guess that's not that hard (need some spec here) by referring to tha

[2021-12-14 10:21] mdbooth commented on #1085
Here's another bug: if we've specified trunking on a port that already exists, we don't create the trunk.

I think I'm starting to see a systematic pattern of edge cases here, btw. I wonder if we should include all created cloud resources in the status object explicitly. Something like:

[code]

This idea is still half-baked, but I think there are advantages to it both for robustness of cleanup, a

[2021-12-14 13:16] Xenwar opened #1086 "update clusterctl cluster resource generation instruction"
There are some changes on the `clusterctl` command options:
Example

`clusterctl config cluster ....." ` is replaced by
`clusterctl generate cluster ...`

Some instructions on the capo need an update accordingly.

[2021-12-14 13:23] mdbooth commented on #1085
@jichenjc I just submitted a PR containing a failing unit test which demonstrates the leak: #1087

[2021-12-15 05:23] jichenjc commented on #1060
as the PR merged, should we close this issue? @iamemilio

[2021-12-15 05:28] jichenjc commented on #1085
I like the idea and I guess we need some WIP and see how it really helpful e.g from performance and robustness perspective, and maybe need collect more input from folks

sure, thanks and will check soon

[2021-12-15 12:28] #1086 closed

[2021-12-15 16:43] stephenfin opened #1092 "Migrate CI from Victoria to Xena"
/kind feature

**Describe the solution you'd like**
The CI is currently using Victoria. This was released in October 2020 and has been superseded by Wallaby and Xena. We should migrate out CI to Xena.

**Anything else you would like to add:**
This can and should be done in two steps (Victoria -> Wallaby, Wallaby -> Xena) to avoid crazy-complex PRs.

[2021-12-15 16:46] stephenfin commented on #1092
/assign

[2021-12-16 01:40] jichenjc commented on #1092
maybe we should consider some doc or dev guide to remind us for each openstack release
we need some kind of concurrency ..

[2021-12-16 02:31] jichenjc opened #1093 "A better way to sync with other community?"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

inspired by #1092
we need update according to cluster-api, openstack from various places
not sure whether other community has such kind of sync mechanism ?
as from process is much better than randomly check...

so hope to get some ideas from folks..

**Anything else you would like to

[2021-12-16 02:36] jichenjc commented on #1024
@hidekazuna given the great PR you made, I think we are ok to close this?

[2021-12-16 04:15] hidekazuna commented on #1024
@jichenjc Yes, let7s close this PR.

[2021-12-16 04:15] #1024 closed

[2021-12-18 13:19] ayetkin opened #1096 "Missing input for argument [Address]"
/kind bug

**What steps did you take and what happened:**
Capo getting an error while creating loadbalancer member pool only if we use network filters with the v0.5 release.

`E1217 20:44:00.999125       1 openstackmachine_controller.go:408] controller/openstackmachine "msg"="LoadBalancerMember cannot be reconciled: error create lbmember: Missing input for argument [Address]" "error"="UpdateError"

[2021-12-21 12:02] tobiasgiese commented on #1092
/reopen
because of #1098

[2021-12-22 06:58] jichenjc commented on #1096
@ayetkin hi, thanks for the bug report, could you please paste the cluster yaml file as reference?

generally, it dpends on `openStackCluster.Spec.NodeCIDR `
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/controllers/openstackcluster_controller.go#L380

so if you set this value, it will create a new network for you or it will find the one (should be only one) for you ,

[2021-12-23 08:53] ayetkin commented on #1096
@jichenjc When i deleted `openStackCluster.Spec.NodeCIDR`, loadbalancer was successfully configured. Everything looks healthy. Thank you so much!

[2021-12-23 09:40] jichenjc commented on #1096
ok, glad it helps , will close this given the problem solved

[2021-12-23 09:40] #1096 closed

[2021-12-27 08:51] jichenjc opened #1099 "DOC:https://cluster-api.sigs.k8s.io/user/quick-start.html face OPENSTACK_EXTERNAL_NETWORK_ID issue"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

tracking update in cluster-api

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster API Provider OpenStack version (Or `git rev-parse HEAD` if manually built)

[2021-12-27 14:04] jichenjc opened #1100 "Allow image uuid to be used in instanceSpec"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

we only allow image Name to be input as InstanceSpec part, input uuid lead to
issue, so we need allow image UUID to be used as well

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-12-27 14:14] jichenjc opened #1103 "check ssh key exist before take further actions"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

we allow ssh key as input but we don't check whether it exist or not
just like Flavor
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/pkg/cloud/services/compute/instance.go#L206

we can add some check before really deploy a VM (createInstance)
**Anything el

[2021-12-28 04:10] jichenjc opened #1105 "✨ More config options for APIServer Loadbalancer (AvailabilityZone, Flavor, ...)"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

CPO has many LB related features
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md#supported-features

this will be used in service create through `kubectl create svc`
but o

[2022-01-02 12:09] #961 closed

[2022-01-05 01:04] ruifaling commented on #979
/closed

[2022-01-05 01:04] #979 closed

[2022-01-05 10:09] #929 closed

[2022-01-06 02:56] jichenjc commented on #942
/reopen

[2022-01-07 15:13] #777 closed

[2022-01-10 22:22] seanschneeweiss commented on #1099
I guess this can be closed, as the CAPI PR was merged.

[2022-01-11 01:05] jichenjc commented on #1099
right :)

[2022-01-11 01:05] #1099 closed

[2022-01-11 03:13] #1100 closed

[2022-01-11 10:03] Xenwar opened #1106 "Mandatory Tags field for trunk setup"
When enabling trunk at port or instance level without tags field, provisioning a CP node is not possible for the following reason.

`E0104 10:21:04.379852       9 controller.go:317] controller/openstackmachine "msg"="Reconciler error" "error"="error creating Openstack instance: Missing input for argument [Tags]" "name"="basic-1-control-plane-jv45x" "namespace"="default" "reconciler group"="infrast

[2022-01-11 10:21] mdbooth commented on #1105
Can you give a worked example of how we'd use the annotation?

[2022-01-11 10:25] mdbooth commented on #1106
Guessing this is because ReplaceAllAttributesTags doesn't like being called without any tags?

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/381e7c732c6b73512c72fa5fa6fdffcb8f22d102/pkg/cloud/services/networking/service.go#L83-L99

[2022-01-11 11:14] Xenwar commented on #1106
@mdbooth I agree.
Trying to debug further locally. Perhaps, adding some default tag or returning without updating/replacing in the above code could solve the problem.

[2022-01-11 11:44] mdbooth commented on #1106
Thinking the latter makes most sense.

[2022-01-11 15:44] mdbooth opened #1109 "CI tests failing due to missing ubuntu-2004-lts in us-east4-a"
/kind bug

Error can be seen in build log:

[code]

e.g.:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-openstack/1107/pull-cluster-api-provider-openstack-e2e-test/1480893933666963456
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-openstack/1095/pull-cluster-api-provider-openstack-e2e-test/1480

[2022-01-12 06:09] jichenjc commented on #1109
looks like the issue is fixed , not sure what happened yesterday...

[2022-01-12 09:20] mdbooth commented on #1109
This fixed itself.

[2022-01-12 11:30] #1106 closed

[2022-01-13 07:16] Xenwar opened #1111 "Remove duplicate tags before making API call"
When updating/replacing tags, duplicate values are not allowed. The way we are combining instance level and port level trunk entries does not take this into account. see https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/96fae1e439d98ed884be6a42a8b81dbc687ea9f1/pkg/cloud/services/networking/port.go#L169-L171

To ask to the user to put unique values is not reasonable as the mani

[2022-01-14 00:09] hidekazuna commented on #1021
This is done by #1030

[2022-01-14 00:09] #1021 closed

[2022-01-14 10:28] #1111 closed

[2022-01-14 15:11] mgrote opened #1114 "Load balancer in state different from ACTIVE could cause the creation of many floating ip's"
/kind bug

I would like to prevent the creation of unused floating ip's during load balancer reconcilation to avoid waste of resources. This happens, when a load balancer exists but it's state differs from 'ACTIVE'.

Actual behavior

- during reconcilation the controller waits for the load balancer to get ACTIVE
in case of timeout the load balancers the state of the load balancer is ignored and th

[2022-01-17 02:16] #1085 closed

[2022-01-18 12:47] #1114 closed

[2022-01-18 13:23] seanschneeweiss commented on #842
I guess that deleting PVs is out of scope. PVs might contain important data and they should probably never get deleted automatically or as part of a garbage collection.

Load Balancers can be recreated at any time. In addition, orphaned load balancers created by the OCCM are somehow expected and they block network deletion.
So I'd suggest to delete load balancers based on the naming convention `ku

[2022-01-18 14:08] seanschneeweiss opened #1116 "Handle transient OpenStack API errors for OpenStackMachines"
/kind feature

OpenStackMachine reconciliation stops (for ever) on transient and non transient OpenStack API errors
* reconciler does not differentiate between
  * transient API errors, e.g., InternalServerError, connectivity problems
  * non transient errors, e.g., OpenStack server in ERROR state
* this leads to a stopped reconciliation, even though a subsequent reconciliation would be most likel

[2022-01-19 02:40] jichenjc commented on #1116
+1 to make this happen ,we should handle `transient API errors, e.g., InternalServerError, connectivity problems`  instead of try once then give up

the question is how often do we reconcile (I think k8s has some kind of mechinasm but I don't know the detail , may be 1s->2s->4s->8s-> 16s etc??) then we can avoid flood of API calls to cloud ?

[2022-01-21 12:20] mdbooth commented on #1116
What's the problem with just re-running the reconciliation? The reason I ask is that I'd very much like to split machine creation into multiple parts (e.g. root volume, ports, instance) and reconcile them somewhat independently. The primary goal here would be to make failure handling simpler and more robust by aborting and restarting in more cases. So in the case of a transient failure of a port c

[2022-01-21 14:17] mdbooth commented on #1116
Yes, just return the transient error from the reconciler, log it (but don't write it to FailureMessage), then re-run the reconciler after a back-off.

[2022-01-21 15:40] mdbooth commented on #1116
I've started throwing together how this might look for root volume creation in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1118. Context:

The return type of these 2 reconcile functions is (success, *OpenStackError). success==true indicates to the controller that the reconciliation completed, false means it was not created and needs to be called again. However, note that

[2022-01-24 13:05] mgrote opened #1120 "Create a service interface for package pkg/cloud/services/loadbalancer"
/kind feature

For better testability it is useful to abstract a service interface for loadbalancers. That interface could be easily mocked e.g. with gomock for propper testing.
The same was already done for pkg/cloud/services/networking in #935.

The implementation could look like that:

service interface: loadbalancer/client.go
[code]

service: loadbalancer/service.go
[code]

This allows a mock

[2022-01-26 09:07] Xenwar opened #1121 "Change warning to Error for failing calls"
Currently, there are entries that log warning for something that fails.
Example:

[code]

To Do:
Collect such entries and make appropriate changes.
As shown here https://github.com/kubernetes/api/blob/bfe324c0d64befbab416bd4063c0a38a6cda9334/core/v1/types.go#L5650-L5655, there is Event type for Error. So, it needs to be introduced in `pkg/record/recorder.go `

/kind bug

[2022-01-26 10:05] seanschneeweiss commented on #1116
That is exactly the way I was going for.

Thank you very much for the draft, really appreciate the effort.
I think that is has the right outcome but I hoped to make it simpler than always having to return a `fatalError` or `transientError`.

Looking at CAPA, they check the `InstanceState` and if an non-transient error occurs they set the `FailureReason` and `FailureMessage`.
* [`switch instance.St

[2022-01-26 14:11] neolit123 opened #1122 "unknown field "emeritus_maintainers" in the OWNERS file"
there is a [new tool](https://github.com/dims/maintainers) for parsing the kubernetes/community/sigs.yaml file and it reports an error in the OWNERS file in this repository:

**solution**

- rename `emeritus_maintainers` -> `emeritus_approvers`
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/OWNERS#L13

[2022-01-26 14:12] neolit123 commented on #1122
/kind bug
/help
/good-first-issue

[2022-01-26 14:58] seanschneeweiss commented on #1122
Let's rename our `emeritus_maintainers` to `emeritus_approvers` as suggested.
Not sure what to do with the `emeritus_reviewers`, maybe comment them out or?

[2022-01-26 15:01] seanschneeweiss commented on #1122
From https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#cleanup

[2022-01-26 16:30] Xenwar opened #1124 "Wait for port detach to succeed when deleting trunk"
Based what neutron driver is used, trunk deletion might require a detachment of port. While our local devstack setup does not require that, the CAPO e2e test infra requires it.  Basically, this can happen with drivers that demand that a trunk must be created or deleted on an unbound port.

Currently, the code tries to delete trunk as follows.

1. detach port
2. delete trunk
3. delete port

While t

[2022-01-27 03:25] jichenjc commented on #1121
@Xenwar thanks for the issue

I am curious why the recorder.go itself doesn't have Error and let us add it ..
so if we update to that repo first then we consume it might be a reasonable way?

[2022-01-27 03:30] jichenjc commented on #1124
If I understand correctly, so this is a race and API call to Trunk and port delete is 1->2 order
but handling is 2->1 order to lead to 409 error?

[2022-01-27 09:45] macaptain commented on #1121
In the link above for Event types (https://github.com/kubernetes/api/blob/bfe324c0d64befbab416bd4063c0a38a6cda9334/core/v1/types.go#L5650-L5655), I only see `EventTypeNormal` and `EventTypeWarning`? It seems like these are the event severity types we're limited to. The current record.go is consistent with other providers / CAPI itself for these types (c. f. https://github.com/kubernetes-sigs/clust

[2022-01-27 09:54] mdbooth commented on #1121
@macaptain Events are a nice way to communicate actionable things to users, though, as opposed to log messages which are just for admins.

Take that DuplicateServerNames event, for eg. (I think I wrote that, so I feel safe criticising it 😂)  That's user-actionable, because the resolution for that has to come from the user: we are never going to automatically clean up resources we don't know about.

[2022-01-27 10:52] mdbooth commented on #1121
I think we'd want to fail *and communicate the reason why to the user*. It's step 2 I'm not clear on. My suggestion was a Condition, but I'd want to check what the user experience is for that. I think this is one of the things they're for, though?

[2022-01-27 17:20] mdbooth commented on #1116
Coincidentally, we were discussing exactly this issue for OpenShift just the other day, and this was our suggestion also. Our reasoning was that the error state for a machine is terminal, but the error state for an OpenStack can be transient, not least because an operator can fix it in many cases.

I agree that InstanceStateError specifically should not put the machine in the error state.

However

[2022-01-28 03:57] jichenjc commented on #1116
that's my concern, too, we should avoid too many API calls

I think it's reasonable solution, I am only curious whether the removal of  the annotation is able to retrigger the reconcile or we have to wait for next timed cycle?

[2022-01-28 07:51] mgrote commented on #1121
There is a blog post, which discuss should we log an error or not:
https://dave.cheney.net/2015/11/05/lets-talk-about-logging

[2022-01-28 09:47] mdbooth commented on #1116
Removing the annotation would trigger immediate reconciliation as it's a change to the object.

I wonder if we should discuss this idea in cluster-api if it's something we're likely to consider seriously. Perhaps they already have thoughts in this area which make this moot. If not it would probably be best to be consistent across providers with an approach like this.

[2022-01-28 10:22] mdbooth commented on #1121
@Xenwar Thanks for starting this discussion!

I enjoyed reading the insightful blog post linked above by @mgrote, btw. It got me thinking explicitly about the audience and actionable information. The author suggests there are only 2 interesting log levels:

* Debug - information for developers
* Info - information for users

and that unhandleable errors should be trapped at the top level. In the b

[2022-01-28 10:38] mdbooth commented on #1121
Alternatively, again dovetailing with #1116, perhaps we should not produce events corresponding to errors at all because these should be failure conditions on the Machine object? That would make the 'info' level purely informational, and correspond to the argument of the logging blog post.

[2022-01-31 12:30] #1120 closed

[2022-02-01 09:15] Xenwar opened #1127 "Flaky e2e tests"
While running e2e tests on some of the PRs, we have noticed failures for no apparent reason.
Re-running the tests, with no change on the code, the tests pass.
This is happening on more than one PR and might need an investigation.

Such issues run to completion and are different from those that fail due to infrastructure problems, which stop much earlier.

/kind bug

[2022-02-01 13:32] #1124 closed

[2022-02-01 22:47] seanschneeweiss commented on #1116
Setting the [paused annotation](https://github.com/kubernetes-sigs/cluster-api/blob/5756be13affef606b6683c2c413f0987c1f0e451/api/v1beta1/common_types.go#L74) would be a quick fix to have this kind of behavior. The controller already skips reconciliation, when `cluster.x-k8s.io/paused` exists.

However, I'm currently leaning more towards setting the `errorReason` only for those three cases:
* Insta

[2022-02-02 09:39] mdbooth commented on #1116
Interestingly, 2 of these 3 cases directly relate to states which *are* sometimes recoverable, and we've had real world customer reports about.

* InstateStateError

A VM in an error state after initial creation is almost always recoverable if you're sufficiently determined. It sometimes requires operator action, but depending on the cause hard rebooting it is frequently enough to bring it back (t

[2022-02-02 11:26] mkjpryor commented on #842
I still think that this seems like reasonable behaviour right?

If CAPO created the network for a cluster and wants to remove it when the cluster is deleted, then it should be assumed that it is OK to remove anything blocking that deletion, e.g. load balancers.

If CAPO did not create the network, then deleting the network will not block cluster deletion and we don't need to worry about it.

[2022-02-02 11:27] mkjpryor commented on #842
Just worried we are over-complicating things, and making ourselves brittle, by assuming naming conventions from the CCM...

[2022-02-04 07:55] seanschneeweiss commented on #1116
That is very valuable input, thank you. Sounds very reasonable too.
So to summarize, the only cases where setting the `errorReason` and `errorMessage` on the `OpenStackMachine` would be
* InstanceStateError
* Instance not found

If the VM can be fixed manually by, e.g., hard rebooting - the user can continue the reconciliation of the `OpenStackMachine` by patching the status.

Nice tool to do that

[2022-02-04 09:20] mdbooth commented on #1116
This or something like it does sound like a better solution than asking the user to patch the status. However, I think we should discuss this in CAPI so we don't end up being inconsistent. For now I think you're right that we should use the failed status we have.

For "Instance not found" we should certainly set failed.
For InstanceStateError... I remain undecided whether we should continue to ret

[2022-02-04 20:08] MPV opened #1129 "Release v0.5.1"
Hi,
Could we organize a release for `v0.5.0`?

[2022-02-04 20:22] MPV commented on #1129
In particular we're looking for this fix to be in a released (and thus easier-to-install/run) binary:

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1076

Why, one might ask:

We recently upgraded CAPI v1alpha3 -> v1beta1 and CAPO v1alpha3 -> v1alpha4 (`v0.5.0`), and when doing so we noticed that the built-in conversion between versions of the `OpenStackCluster`'s `spec.ba

[2022-02-05 03:14] #942 closed

[2022-02-07 02:33] jichenjc commented on #1127
I also noticed such issue time to time, will pay attention to the upcoming errors and see can find any error pattern..

[2022-02-07 03:22] jichenjc commented on #1116
I think mostly the invalid parm lead to API layer validation fail and never enter resource creation stage?
usually an error state of the resource comes from comp/volume layer error e.g some agent failed or some actions can't be fulfilled ...so seems retry later on is valid approach

will someone accidently deleted the VM caused the VM to be in not-found stage? should we re-create it in our reconci

[2022-02-07 03:34] jichenjc commented on #1121
um... I knew `operators`  (OLM concept) and k8s objects such as  `pods` has a lot of info including events, status etc to indicate different info, .e.g if you run `oc describe co` you will get operator's status and last sync while you still get some insight into previous happened things , so event is more like a history and `failing conditions` is more like a latest status? align with k8s conventi

[2022-02-07 07:09] Xenwar commented on #1121
From the discussion above, I am convinced that it is ok to use `Warn` for three reasons.

1. The caller is notified about the error
2. Only a single request has failed and the error is relevant in that request's context. i.e. controller keeps running
3. Historical data with such events could be found in `.Status` already and it is informative, regardless of it being `Warn` or `Error`

Therefore, w

[2022-02-07 10:39] mdbooth commented on #1129
@MPV Yes please, can you raise another issue for the floating IP thing?

[2022-02-07 11:12] mdbooth commented on #1129
All PRs merged in main since 0.5.0. I've subjectively put them each into 1 of 4 categories:

* **Infra**
  - #1049
  - #1052
  - #1048
  - #1069
  - #1091
* **Release/admin**
  - #1047
  - #1050
  - #1051
  - #1042
  - #1058
  - #1055
  - #1061
  - #1056
  - #1068
  - #1080
  - #1083
  - #1084
  - #1082
  - #1088
  - #1090
  - #1102
  - #1108
  - #1113
* **Features**
  - #1057
  - #1053
  - #1059

[2022-02-07 11:56] apricote commented on #1129
I would like to see #1095 backported, as this has caused issues for us multiple times before.

[2022-02-07 13:35] mdbooth commented on #1129
I have proposed a backport of #1095 here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1130. Note that I couldn't backport the unit tests.

[2022-02-07 14:40] MPV opened #1131 ""Not allowed to use specific floating IP" makes Cluster enter failure state and stop reconciling (despite later fixing OpenStackCluster)"
/kind bug

**What steps did you take and what happened:**

As mentioned in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/1129#issuecomment-1030322290, we upgraded v1alpha3 to v1alpha4 where an `OpenStackCluster` tried to reuse an existing floating IP for the bastion (which it wasn't allowed, but later fixed), causing OpenStackCluster failure to block reconcile of the CAP

[2022-02-07 14:40] MPV commented on #1129
@mdbooth Sorry for the sloppy description, but I created https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/1131 as a start for representing what we saw last week.

[2022-02-07 16:28] mdbooth opened #1132 "clusterctl in release-0.5 CI fails with cert-manager error"
/kind bug

e.g. https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-openstack/1130/pull-cluster-api-provider-openstack-e2e-test/1490695117076434944/build-log.txt

[code]

Issue is [documented upstream](https://cluster-api.sigs.k8s.io/user/troubleshooting.html#failed-clusterctl-init---failed-to-get-cert-manager-object) with fix backported to 1.0.x bra

[2022-02-07 16:33] mdbooth commented on #1129
We won't get a fix for this into a 0.5.1 release, unfortunately.

[2022-02-07 16:34] mdbooth commented on #1129
Noticed CI was failing on my backport. Hoping https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1133 will fix it. Seems to be a documented issue.

[2022-02-08 07:17] jichenjc commented on #1129
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/tag/v0.5.1
is out , however, I have some issues (not sure why new release have this)

https://github.com/kubernetes-sigs/cluster-api/issues/6076
created for help now

[2022-02-08 07:58] jichenjc opened #1134 "metadatas.yaml should not have 1.0.x definition"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

see https://github.com/kubernetes-sigs/cluster-api/issues/6076 for further info
long story short, we should remove v1.0.x defintion in metadata.yaml file

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2022-02-08 07:58] jichenjc commented on #1134
/assign

[2022-02-08 08:00] jichenjc commented on #1129
Update:

with manual update of the released metadata.yaml I can use 0.5.1 now

[code]

[2022-02-08 09:21] MPV commented on #1129
Was the `v0.5.1` release taken from https://github.com/kubernetes-sigs/cluster-api-provider-openstack/tree/main instead of the https://github.com/kubernetes-sigs/cluster-api-provider-openstack/tree/release-0.5 branch?

Would it maybe be better not to release new features in a patch release, and have them in a later release?

[2022-02-08 09:31] jichenjc commented on #1129
I am not sure we previously follow that way, usually we do 0.4, 0.4.1, 0.4.2 etc IIRC?
and you made a good point, release-0.5 branch seems more fit,
I will leave this for folks to decide then I can take actions accordingly

[2022-02-08 09:53] mdbooth commented on #1129
I was thinking that we would tag 0.5.1 from the 0.5 branch. However, the 0.5.1 tag exists now. Do we roll with it?

[2022-02-08 10:04] MPV commented on #1131
Also curious how other CAPx providers have solved this. Presumably CAPO isn't the first to reach this issue.

[2022-02-08 10:10] jichenjc commented on #1129
thanks for the confirmation , I can untag it and might need check the latest image on 0.5 branch
will take actions later today or early tomorrow

[2022-02-08 11:48] jichenjc commented on #1129
please check https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/tag/v0.5.2
and there's reason why it's 0.5.2 (some clue on above history of wrong branch of 0.5.1)

I confirm at least I can init a cluster...

[code]

[2022-02-10 00:27] #1132 closed

[2022-02-10 01:15] jichenjc commented on #1134
close this per #1136

[2022-02-10 01:15] jichenjc commented on #1129
close this as 0.5.2 is out

[2022-02-10 01:15] #1129 closed

[2022-02-10 03:14] jichenjc commented on #1131
+1 to this

I think the webhook only focus on whether `update` is allowed on some fields and the logic things such as `whether some param input as resource uuid can be found ` is not something should be done in webhook

[2022-02-10 03:58] jichenjc commented on #1131
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1138 created

I think we might have more other cases fit for this
but this need another thought/discussion to make change...

[2022-02-14 08:38] macaptain commented on #834
I think this is still a valid issue, although lots of work on the ports have been done. I'd support a simpler solution than I proposed above. We could handle the error cases outlined in the issue above better when we get an existing port, but I haven't made progress on this and won't in the near future.

/unassign

[2022-02-16 00:17] Jont828 opened #1139 "Error computing version info/LDFLAGS in postsubmit/nightly image push job"
/kind bug

**What steps did you take and what happened:**

In the [cluster-api-provider-openstack-push-images-nightly](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/cluster-api-provider-openstack-push-images-nightly/1493495296452202496) job, there is an error computing the LDFLAGS in the [build logs](https://storage.googleapis.com/kubernetes-jenkins/logs/cluster-api-provider-openstack-push-i

[2022-02-16 21:28] fabriziopandini opened #1140 "Consider if to add --metrics-bind-addr=127.0.0.1:8080 in manager.yaml"
While working on https://github.com/kubernetes-sigs/cluster-api/pull/6117 we noticed that latest CAPO doesn't have "--metrics-bind-addr=127.0.0.1:8080" in your manager.yaml (see
https://cluster-api.sigs.k8s.io/developer/providers/v0.3-to-v0.4.html#required-kustomize-changes-to-have-a-single-manager-watching-all-namespaces-and-answer-to-webhook-calls).

Applying this change is not mandatory, but FY

[2022-02-16 22:42] tobiasgiese commented on #1140
/assign

I‘ll take a look at it, thanks for the reminder

[2022-02-17 02:52] jichenjc commented on #1140
Thanks for let us know this and I agree we should update with recommendation
I am not using tilt and not sure whether it's still working ,maybe someone can jump in to confirm this

[2022-02-17 03:03] jichenjc commented on #1139
thanks for the heads up, just lgtm to the PR pointed

[2022-02-17 16:22] mkjpryor opened #1143 "Cluster deletion fails when nodes have no security groups applied"
/kind bug

**What steps did you take and what happened:**

When a cluster is provisioned in a way that none of the ports have security groups applied, then when the cluster is deleted the security groups are deleted and the cluster is removed while there are still nodes running. This results in those nodes being unable to delete as they cannot find their infra cluster.

For example, this can happe

[2022-02-18 03:35] jichenjc commented on #1143
I can understand this request , but not not sure I understand the security group issue here

are you suggesting that security group delete got blocked or it blocked machine deletion? not fully understand the logic, do you have any logs that could help this bug report? Thanks a lot

[2022-02-21 04:08] #1122 closed

[2022-02-21 08:11] nikParasyr commented on #1045
/remove-lifecycle stale

[2022-02-23 10:15] mdbooth opened #1145 "Release 0.6"
This issue is for tracking features and readiness for a 0.6 release.

[2022-02-23 10:22] mdbooth opened #1146 "Support application credentials"
/kind feature

CAPO doesn't currently support application credentials. From memory the issue relates to parsing project id from the cloud credentials. It's easily solved, as this can be obtained from the authentication response from keystone and is already exposed by Gophercloud.

Consider for inclusion in 0.6: #1145

[2022-02-23 10:26] mdbooth commented on #1146
/help good-first-issue

[2022-02-23 10:27] mdbooth commented on #1146
/good-first-issue

[2022-02-23 11:40] mdbooth opened #1147 "Explicit resource tracking in status object"
/kind feature

(I will expand on this)

We should explicitly reference any cloud resource created by CAPO in the status of the relevant object. In the first instance this should cover Machines and the Bastion, but eventually all cluster resources.

I propose a new structure in `OpenStackMachine.Status.Resources` and `OpenStackCluster.Status.BastionResources`:

[code]

We would additionally store r

[2022-02-23 12:04] mdbooth opened #1148 "Prevent reconciliation of machines with invalid credentials"
/kind bug

A 'fat finger' bug we have seen more than once in the wild now involves the user accidentally updating cloud credentials with *valid* credentials for the *wrong cloud*. In at least one case it was a staging environment. In another case the credentials referred to the wrong region.

In both cases we ended up marking the Machines as failed because the cloud we connected to reported that t

[2022-02-23 14:36] apricote commented on #1146
We currently use Application Credentials with CAPO, one can just specify the `project_id` together with the application credentials and CAPO figures out the right thing to do, but the `clouds.yaml` can not be used by the OpenStack CLI like this.

I would like to clean this up :+1:

/assign

[2022-02-23 14:54] mdbooth commented on #1146
I think the key is going to be https://pkg.go.dev/github.com/gophercloud/gophercloud#ProviderClient.GetAuthResult

However, I think it gets a bit messy here because the returned interface is insufficient so we may have to switch on the underlying type. Specifically I think we want to cast it to https://pkg.go.dev/github.com/gophercloud/gophercloud@v0.24.0/openstack/identity/v3/tokens#CreateResult,

[2022-02-23 14:55] tobiasgiese opened #1149 "🐛 align failureReason and failureMessage also for OpenStackMachines"
/kind bug

Currently, we use `failureReason` and `failureMessage` status for all CAPO resources.
Only for the `OpenStackMachines` we use `errorReason` and `errorMessage` (even the variable names are correct).

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/642d851d3068f90864fedc1a28c283f9218e3850/api/v1alpha4/openstackmachine_types.go#L109
https://github.com/kubernetes-sigs

[2022-02-23 14:55] tobiasgiese commented on #1149
/assign

[2022-02-23 15:29] tobiasgiese commented on #1149
Do we need any documentation regarding this change? WDYT @mdbooth

[2022-02-23 16:45] mdbooth opened #1151 "Support http_proxy"
/kind feature

**Describe the solution you'd like**
If http_proxy (or any of the related family of environment variables) is set, CAPO should use it to access the OpenStack API.

Proposed for 0.6: #1145

[2022-02-24 01:25] jichenjc commented on #1148
I guess it's a requirement instead of a bug since it's because user invalid input and CAPO just take actions according and I agree we should fix it nevertheless

I think the issue you reported is
1) we create cloud.conf and create cluster then everything fine
2) the cloud.conf got updated due to any reason but `wrong` configuration input
3) then next reconcile makes the compute resource become fai

[2022-02-24 01:34] jichenjc commented on #1151
@mdbooth not expert in this area , I knew OCP has http_proxy
https://docs.openshift.com/container-platform/3.11/install_config/http_proxies.html

are you suggesting we honor it or honor the following process?
CAPO ==> proxy ==> openstack itself

[2022-02-24 07:12] MPV commented on #1131
Would #1138 remove a previous such failure too?

Asking since we have a cluster that is stuck in failed mode and would prefer it to heal than need recreation after upgrading.

[2022-02-24 10:39] mdbooth commented on #1151
Aside: It's infuriating that google always returns OCP 3.11 results first when it's nearly EOL and almost entirely unrelated to OCP 4.x 💢

That said, OCP 4.x also has a concept of a cluster proxy.

If the CAPO controller has an http_proxy environment variable set, we should use it to access the openstack API. We don't need to worry about what set it.

[2022-02-25 01:21] jichenjc commented on #1151
I used wrong link but I knew OCP4 has http_proxy as well (we set it time to time)

but I don't know how we honor this settings , a quick search in cloud provider openstack didn't find `http_proxy` either..

[2022-02-25 10:15] mdbooth opened #1154 "Remove Networks from the Machine spec"
/kind feature

**Describe the solution you'd like**
Ports should have a superset of the functionality of Networks, with one exception. Networks allow the creation of multiple ports from a single filter definition, whereas ports do not. I propose that was never intended behaviour, nobody's actually relying on this, and the most likely outcome of it is user surprise if their filter accidentally has

[2022-02-25 10:45] pierreprinetti commented on #1151
/assign
Let's see if it's a good first issue :)

[2022-02-25 11:50] apricote commented on #1146
We discussed this in Slack and decided on refactoring `provider.NewClient` to explicitly return the ProjectID and pass it around to the clients that need it.

https://app.slack.com/client/T09NY5SBT/CFKJB65G9/thread/CFKJB65G9-1645786779.195309

[2022-02-25 13:31] pierreprinetti opened #1155 "Containerfile out of sync with Dockerfile"
/kind bug

By the way, we're almost ready to merge the two: `--mount=type=cache` support [has merged in Buildah](https://github.com/containers/buildah/pull/3574) and should be in Podman 4.

[2022-02-25 13:31] pierreprinetti commented on #1155
/assign

[2022-02-27 12:03] #1017 closed

[2022-02-28 05:30] #1155 closed

[2022-02-28 05:55] jichenjc commented on #1154
in our doc we mentioned following which is consistent to your description
I think it's reasonable to remove this if we are sure no one rely on that filters
[code]

[2022-03-01 11:00] kopiczko opened #1159 "Floating IPs being created when the kubeapi LB status is `provisioning_status: ERROR`"
/kind bug

**What steps did you take and what happened:**

I was trying to create a cluster when LB were failing to provision. That resulted in creating many floating IPs because of failed association.

**What did you expect to happen:**

At the very minimum I'd like to see only a single floating IP created and reused in subsequent reconciliation loops. Possibly the reconciliation should be stoppe

[2022-03-01 11:50] mdbooth commented on #1159
Incidentally, I've fixed the same issue for the Bastion FIP in #1153 (please review!). In that case I ensured we stored the Bastion FIP in `Status.Bastion.FloatingIP` regardless of whether the Bastion had been created yet.

I think the solution here is the similar: we need to write lbFloatingIP to `Status.Network.APIServerLoadBalancer.IP` immediately it's created regardless of association.

The ne

[2022-03-01 13:27] kopiczko commented on #1159
`a7f74d49-c74a-486c-a920-9e81a23a8c95` in logs is the Port ID of the LB. Apparently doesn't exist but you can still get the ID as a property of the LB which was failed to provision. That's probably a pretty corner case but it's polluting the OS with floating IP when it happens which is far from ideal.

[2022-03-02 21:51] seanschneeweiss commented on #1131
For now you probably have to patch the status of the cluster yourself if stuck with a failureReason or failureMessage.

[2022-03-02 21:56] seanschneeweiss commented on #1149
A changelog entry for the next release would be sufficient in my opinion.

[2022-03-02 22:03] seanschneeweiss commented on #1159
This seems to be a duplicate of https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/1114 and was fixed by https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1115.

[2022-03-02 22:05] #1149 closed

[2022-03-03 14:02] chrischdi commented on #1154
I think thats a great cleanup and nicely doable using the conversion prior to a release with v1beta1 :+1:

[2022-03-03 14:14] chrischdi commented on #1151
Sounds reasonable and to be a default feature which should always work :-)

Isn't it already there: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/pkg/cloud/services/provider/provider.go#L103 ?

[2022-03-03 19:25] kopiczko commented on #1159
Thanks @seanschneeweiss. It isn't released though, is it?

[2022-03-04 01:56] jichenjc commented on #1151
maybe provide some guide / doc on that ?

`http.ProxyFromEnvironment` does this mean set an ENV variable will work?

[2022-03-04 08:47] jichenjc opened #1160 "provider.GetProjectID usage (put into clouds.yaml now) move to `openstackCluster`?"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

we are using
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/c052e7e600f0e5ebddc839c08746bb636e79be87/pkg/cloud/services/provider/provider.go#L173

to detect the project ID, but htis means this is per-project setting

should we consider move this project info in

[2022-03-04 09:09] apricote commented on #1160
I am currently doing some refactoring of the `ProjectID` handling to support Application Credentials: #1146

[2022-03-04 10:14] mdbooth commented on #1160
@jichenjc What's the use case you're thinking of here? Are you looking to improve support for multiple tenants using a single management cluster? Are the IdentityRefs in the cluster and machine specs not sufficient for that?

Or are you thinking the we'd store domain-scoped (admin) OpenStack credentials in the management cluster, and then the cluster would specify a project scope in the spec?

[2022-03-04 16:32] pierreprinetti commented on #1151
That's what it looks like. And indeed, it worked in my tests.

@mdbooth I would tend to close this issue, and consider any malfunction in the proxy department as a new bug. WDYT?

[2022-03-04 20:53] mdbooth commented on #1151
WFM. Thanks for testing @pierreprinetti (and writing the downstream tests that the other folks didn't see 😉).

[2022-03-04 20:53] #1151 closed

[2022-03-07 06:29] jichenjc commented on #1160
I am considering a multi tenant use case, recently , if we are having multiple projects, each of them need create a clouds.yaml file in order to create such cluster

I am thinking about use admin or user that is able to access multiple projects instead of using multiple cloud configurations ..

[2022-03-07 07:36] lentzi90 commented on #1093
For [Metal³](https://github.com/metal3-io) and CAPM3 we use [Renovate](https://github.com/renovatebot/renovate) for some automated dependency management. It can create PRs for bumping versions when there are new releases available. Maybe it could be useful for CAPO also?

[2022-03-07 10:32] mdbooth commented on #1160
What credentials would the tenant use in the installed cluster?

[2022-03-07 10:40] apricote commented on #1160
We do something similar in a custom operator.

- The operator has credentials for a Domain Admin
- For every cluster it creates a new project, CAPO user and application credentials
- with these details it creates the `clouds.yaml` and hands over to CAPI/CAPO to actually create the cluster

[2022-03-07 12:08] apricote opened #1163 "`OpenStackCluster.status.failureDomains` is never cleaned up"
/kind bug

**What steps did you take and what happened:**

- Have an existing `OpenStackCluster`
- Temporarily add a new Availability Zone in OpenStack
- Remove the Availability Zone again
- Availability Zone is still referenced in `OpenStackCluster.status.failureDomains` and never removed

**What did you expect to happen:**

I expected the temporary Availability Zone to be removed once it's not l

[2022-03-07 14:29] mdbooth commented on #1160
I wonder if a separate controller is the more appropriate model. @apricote in fact, in that model can't you can the controller to server project-scoped application credentials, and then you never leak unscoped admin credentials into a user domain? Ah... I guess this is why you're interested in application credentials?

@jichenjc, would something like @apricote's controller meet your needs? Messing

[2022-03-08 01:51] jichenjc commented on #1160
@mdbooth @apricote ok, this operator make sense to me, so I will think about same way to do this

[2022-03-08 01:51] #1160 closed

[2022-03-08 02:51] jichenjc commented on #1163
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/controllers/openstackcluster_controller.go#L271

we only create a new `openStackCluster.Status.FailureDomains` when it's nil

but we never remove from the table as you described...

[2022-03-08 02:57] jichenjc commented on #1163
so my proposal is to remove this  == nil line, so every reconcile loop we create a new variable
so we will anyway update with latest AZ info,  any thoughts?

if openStackCluster.Status.FailureDomains == nil {
		openStackCluster.Status.FailureDomains = make(clusterv1.FailureDomains)
	}

[2022-03-08 09:03] chrischdi commented on #1163
Totally makes sense to me. As long as it is reproducible it will lead to no changes at the end.

[2022-03-08 09:09] apricote commented on #1163
Sounds good. I will implement it like this :+1:

/assign

[2022-03-08 13:19] MPV opened #1166 "Release `v0.5.3`"
Issue to track/discuss proposed backports to follow in `v0.5.3` since https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/tag/v0.5.2.

[2022-03-08 13:20] MPV commented on #1166
@apricote mentioned they'd be interested in seeing this one backported:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1165

[2022-03-08 13:20] MPV commented on #1166
From our end, we're interested in:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/909

[2022-03-08 13:24] MPV commented on #1129
If there's any interest in having any of the other fixes discussed in this issue backported into `v0.5.3`, https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/1166 is the issue for that. 😊

[2022-03-08 13:27] MPV commented on #1166
@mdbooth Collected a bunch of other candidates over at https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/1129#issuecomment-1031349283.
Only https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1076 was selected then, as seen in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/compare/v0.5.0...v0.5.2.

[2022-03-08 13:53] apricote commented on #1166
We are still interested in a backport of #1095

[2022-03-09 01:36] jichenjc commented on #1166
ok, please submit the cherrypick then we can merge and release afterwards :) thanks for bring this out

[2022-03-09 03:34] #1163 closed

[2022-03-09 09:50] apricote commented on #1166
We plan to discuss the backports during todays office hours. After that I will open the MRs.

[2022-03-10 09:59] apricote commented on #1166
There are now open PRs for all three requested backports:

- original: #1095
  backport: #1130
- original: #1165
  backport: #1171
- original: #909
  backport: #1173

[2022-03-10 10:12] jichenjc opened #1174 "flaky ut on gate"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-openstack/1172/pull-cluster-api-provider-openstack-test/1501852805655171072/build-log.txt

[code]

see in my local env time to time as well, reproduce ratio is very low though...

**What

[2022-03-10 10:37] jichenjc commented on #1174
The error is
[code]

so we have code
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1175/files#diff-278387b2ac1c8d2f4081c9a325975802731f5382091d7d58b82a06d12b856f52R94

to use map to remove the duplicate tags, this means the map might switch the order
of the array, thus, add a sort function at end of remove duplicate code path
and make sure the order of tags are fixed

[2022-03-11 02:43] #1174 closed

[2022-03-11 12:06] apricote commented on #1166
All requested backports are merged into `release-0.5`. From my side we can go forward with the release.

[2022-03-11 17:20] mdbooth opened #1176 "Floating IP events for machines reported against the cluster object"
/kind bug

**What steps did you take and what happened:**
The networking service floating IP operations all take an OpenStackCluster object as an argument. This object is used as an event target even when called by the machine controller.

**What did you expect to happen:**
Floating IP events created for a machine should target the machine

[2022-03-11 18:36] seanschneeweiss commented on #1159
Sorry for my late response.
The fix was back ported such that the v0.5.3 release contains it.
v0.5.3 will be released soon.

[2022-03-11 18:36] #1159 closed

[2022-03-11 21:14] #1176 closed

[2022-03-14 07:24] jichenjc commented on #1166
https://github.com/kubernetes/k8s.io/pull/3508

is the PR for image, please help to lgtm so we can continue the release process

[2022-03-14 08:30] jichenjc commented on #1166
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/tag/v0.5.3

[2022-03-14 08:59] apricote commented on #1166
Release looks great to me. Thanks a lot for this @jichenjc!

[2022-03-14 13:04] #1166 closed

[2022-03-18 12:20] apricote opened #1180 "docs: Explain OpenStackCluster.Spec.Bastion mutability in CRD"
/kind feature

**Describe the solution you'd like**

We had multiple people reach out on slack because they were unable to modify the Bastion spec. While this topic is explained in [the docs](https://cluster-api-openstack.sigs.k8s.io/clusteropenstack/configuration.html#enabling-the-bastion-host), not everyone reads those.

I suggest we add an explanation to the `sigs.k8s-io/cluster-api-provider-op

[2022-03-18 12:21] apricote commented on #1180
/kind documentation
/good-first-issue

[2022-03-18 15:26] mdbooth commented on #1145
Closed in favour of Milestone

[2022-03-18 15:26] #1145 closed

[2022-03-18 15:31] mdbooth commented on #1139
Closed by https://github.com/kubernetes/test-infra/pull/25251

[2022-03-18 15:31] #1139 closed

[2022-03-18 15:33] mdbooth commented on #1131
Sounds like this is fixed by #1138. https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1153 will also improve this.

[2022-03-18 15:33] #1131 closed

[2022-03-18 15:36] mdbooth commented on #1127
This is definitely a real thing, but I'm going to close this as I don't think we can action this issue specifically.

[2022-03-18 15:36] #1127 closed

[2022-03-18 15:37] mdbooth commented on #1121
Looks like we resolved not to go with this.

[2022-03-18 15:37] #1121 closed

[2022-03-18 15:45] mdbooth commented on #1105
@apricote was also interested in this.

[2022-03-18 15:50] apricote commented on #1105
/assign

[2022-03-18 15:53] apricote commented on #1093
We plan to discuss this issue during the next office hours, 2022-04-23.

[2022-03-21 12:29] apricote commented on #1092
##1158 switched to Xena.

/close

[2022-03-21 12:29] #1092 closed

[2022-03-21 17:34] apricote commented on #1105
@jichenjc Is there a reason why you want to use annotations to expose these configuration values?

I would suggest to put these into the `OpenStackCluster` CRD instead:

[code]

[2022-03-22 08:26] jichenjc commented on #1180
can you help point me the link of the question? @apricote
don't know whether we need update code or not :)

[2022-03-22 08:28] jichenjc commented on #1060
@mdbooth I saw you submit the PR for this
should we consider this as `done` ?

[2022-03-22 08:35] apricote commented on #1180
There was someone in Slack last week: https://app.slack.com/client/T09NY5SBT/CFKJB65G9/thread/C2P1JHS2E-1647882051.537369

[2022-03-22 08:35] jichenjc commented on #1105
@apricote I am ok if you go with `Spec` :) ,doesn't matter if it's annotation or spec
just make it more flexible and fit for requirement is good enough ~

[2022-03-22 08:36] MPV commented on #1146
I can also confirm that it's usable today, having a secret with a `clouds.yaml` that looks for example like this:

[code]

[2022-03-22 08:39] apricote commented on #1105
Alright, I will present this during tomorrows office hours and get an approval for the CRD changes :+1:

[2022-03-22 08:55] jichenjc commented on #1180
[code]

seems this is not reasonable ? unless we want to pause the reconcile (e.g CAPI itself)
the resource update should be able to be done on the fly?
I don't remember the history of having such restriction, should we consider enhance it somehow?

[2022-03-22 10:26] tobiasgiese commented on #1180
In my first implementation of PR #1070 I allowed changes to the bastion even while its running/enabled.
But @mdbooth had some concerns about the behavior, see https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1070#discussion_r762952694

[2022-03-22 14:24] mdbooth commented on #1180
Yes, I think I still stand by my older comment. If it doesn't work we should reflect that in the API. It's also user-hostile to pretend something works if it doesn't.

It would be best if it did work, of course. Do CAPA and CAPZ have a solution for this? There's always the solution of hashing the bastion spec and storing it in the status. If the status hash doesn't match the current hash you delet

[2022-03-22 16:33] mdbooth commented on #1060
I think so!

[2022-03-23 08:23] apricote commented on #1180
CAPA does not handle updates to the bastion, they just have a `TODO` comment for this:

https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/0babdf15d5584744c4693e8be4ab44c580847531/pkg/cloud/services/ec2/bastion.go#L96

CAPZ does updates, but they don't use VMs for this, but their [Bastion Hosts](https://docs.microsoft.com/en-us/azure/bastion/bastion-overview) product.

https://github

[2022-03-23 14:39] apricote commented on #1105
No objections to the general plan during office hours.

I am going to create PRs for this.

/retitle ✨ More config options for APIServer Loadbalancer (AvailabilityZone, Flavor, ...)

[2022-03-24 09:28] jichenjc commented on #1093
I can't commit either :( as I am actually part time work on those stuffs and has own job
maybe we can cooperate together in finding a better way e.g several people work together ?

I agree with all the above comments about the approach on bump and Renovate/Dependabot usage, thanks

[2022-03-24 09:33] pierreprinetti opened #1181 "Address CVE-2022-21698"
/kind bug

**What steps did you take and what happened:**
See the [Prometheus advisory](https://github.com/prometheus/client_golang/security/advisories/GHSA-cg3q-j54f-5p7p)

**What did you expect to happen:**
The Prometheus client should be upgraded to at least v1.11.1

[2022-03-24 11:33] #794 closed

[2022-03-25 16:13] #1181 closed

[2022-03-29 01:10] jichenjc commented on #1103
/remove-lifecycle stale

[2022-03-30 18:09] EmilienM opened #1186 "Transform `Profile` into an interface"
/kind feature

Right now, when creating a Neutron port with specific binding capabilities (e.g. `switchdev` for OVS Hardware Offload), the syntax would be:
[code]

Because our interface is:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/ae4101718f0ab5e949e74dd692b55e83b55213e9/api/v1beta1/types.go#L134

While in Gophercloud, it's an interface:
[code]
https://github.com/goph

[2022-03-30 18:50] mdbooth commented on #1186
The problem here is that 'interface' is only the Go binding. What we're really defining here is the API, and that requires a concrete type.

I think if we want to give the members of the profile map more user friendly types we're going to have to define them in the api. Perhaps that no bad thing? Profile is basically just being used to proxy an OpenStack API right now, which isn't great. Perhaps w

[2022-03-31 04:05] jichenjc commented on #1186
@EmilienM the second occurance of this need to be updated :) I got a little bit confused at beginning
[code]

I agree with @mdbooth add interface into API might not be a good thing , so if we can make them struct as we
know what's support from CAPI side, we should do that..

[2022-03-31 07:46] chrischdi commented on #1186
I think `map[string]interface` won't even work / break with kubebuilder and generating the deepcopy stuff.

If we change it to a typed struct, e.g.:

[code]

We would have a breaking change because we don't know who else did set something here which was not the capabilities key.

I'm fine with that but we have to keep that in mind and have it marked as a breaking change.
Adding other fields may be

[2022-03-31 12:52] apricote opened #1188 "📖 Document changes to CRDs in Book"
/kind feature
/kind docs

**Describe the solution you'd like**

We should document changes that we make to the CRD schema in our Book. This way, users can easily see what they need to change in their manifests to migrate to the new CRD version, without having to manually find out what changed.

**Anything else you would like to add:**

We currently have a list of planned changes to the next CRD ve

[2022-03-31 12:52] apricote commented on #1188
/kind documentation

[2022-03-31 13:45] apricote commented on #1180
No first-time contributer picked this up in the planned timeframe.

/assign

[2022-03-31 22:29] #1180 closed

[2022-04-01 11:48] manik9910 opened #1192 "No proper error message"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Error message should be improved below, so that troubleshooting will be easy:
Code: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/d9be9d060761bb2953036eb5bac1c0714b9dacb9/controllers/openstackmachine_controller.go#L266-L268

Error should be specific, not generi

[2022-04-01 12:09] mdbooth commented on #1192
Hmm, I'm not convinced we should log the failure message again here. The reason is that the error is not occurring here: this is an informational log message that we're not going to reconcile an object which failed previously. The error itself isn't relevant here.

For the user, the failure message should be on the object. For an operator looking in the logs, we hopefully logged the error when it

[2022-04-01 13:43] apricote commented on #1192
I think we can improve the logged error message to include a pointer to `openStackMachine.Status.{FailureReason,FailureMessage}`. This would make it clearer that the ominous "error state" is related to these two fields.

[2022-04-01 14:16] mdbooth commented on #1192
Something like: "Not reconciling machine in failed state. See Status for details."?

[2022-04-04 08:50] jichenjc commented on #1188
@apricote do we want to add things that we updated e.g
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1187
since v1alpha4=>vebeta1?

[2022-04-04 08:52] jichenjc commented on #1192
+1 to this, we should avoid log previous logged error or Error Message but definitely need tell
where to find key info for folks new to those logs

[2022-04-04 08:53] jichenjc commented on #1011
/remove-lifecycle rotten

[2022-04-04 09:22] mdbooth commented on #1011
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1162 should help with this when I eventually get the external CCM config working 😬 Hopefully nearly there.

[2022-04-06 17:44] MPV commented on #1131
Yup, and we ended up fixing it for now using the workaround of editing the raw status of the cluster. 👍

[2022-04-11 02:51] #1007 closed

[2022-04-11 02:51] #1023 closed

[2022-04-12 08:31] apricote opened #1196 "Rename API Version v1beta1 to v1alpha5"
/kind feature

**Describe the solution you'd like**

Rename the unreleased `v1beta1` API Version to `v1alpha5`. There were some changes to the API that we should release at some point, but calling the API `beta1` includes some guarantees about stability that we might not want to make right now.

By having an intermediate `v1alpha5` we can get quickly get feedback on these changes and then create a

[2022-04-12 08:43] mkjpryor commented on #1196
@apricote This sounds like exactly what alpha releases are for. There are a couple of features in the `v1beta1` resources that I would like to try out so this would be a +1 from me.

[2022-04-12 10:00] apricote opened #1197 "Cluster phase locks to `Failed` when Loadbalancer is in `PENDING_UPDATE` status"
/kind bug

**What steps did you take and what happened:**

- Create cluster with latest CAPO release
- Wait for Cluster to provision
- Observe that sometimes the Cluster moves to phase `Failed`

Cluster has `Status.FailureMessage` of:

`OpenStackCluster` is marked as `Ready`.

**What did you expect to happen:**

Cluster should not be moved to phase `Failed` and instead always move to phase `Provis

[2022-04-12 10:46] mkjpryor commented on #1143
@jichenjc It is the opposite of this actually.

The deletion of the `openstackcluster` and the corresponding `openstackmachine`s proceed concurrently.

For the `openstackcluster`, this process entails removing the load balancer, then removing the security groups, at which point the finalizer is removed and the resource disappears from Kubernetes. Normally, this blocks at removing the security grou

[2022-04-12 11:35] apricote commented on #1196
/assign

[2022-04-12 13:06] chrischdi commented on #1143
@mkjpryor could you please explain how you are triggering the deletion?

The cluster-api book recommends deleting all resources via the `cluster` object: https://cluster-api.sigs.k8s.io/user/quick-start.html#clean-up to "ensure a proper cleanup of your infrastructure".

[2022-04-12 14:57] seanschneeweiss commented on #832
/remove-lifecycle rotten

[2022-04-12 15:04] seanschneeweiss commented on #1197
Thank you for the extensive issue description.
This is a similar problem as in #1116 but not for OpenStackMachines but OpenStackClusters.

Transient error, such as a load balancer in PENDING_UPDATE should not prevent further reconciliations. Definitely agree on that.
The fix could be as easy as removing the following line:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/6ba0

[2022-04-12 15:15] seanschneeweiss commented on #842
@mkjpryor Sounds reasonable, indeed. How can we identify whether CAPO created the network, any suggestion?

[2022-04-12 15:20] mkjpryor commented on #842
@seanschneeweiss

We already have a gate that decides whether we should delete the network or not. If we are deleting the network, we should delete the load balancers attached to it first.

[2022-04-13 01:28] jichenjc commented on #1196
+1 to me as we seems we are not that mature (yet)

[2022-04-13 01:32] #1146 closed

[2022-04-13 08:38] Anilkumar56 commented on #1192
I would like to work on this
/assign

[2022-04-13 10:10] apricote commented on #1197
Thanks for the guidance @seanschneeweiss. I am going to create a fix PR soon.

/assign

[2022-04-14 01:37] jichenjc opened #1203 "Address CVE-2022-27191"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

steal from https://github.com/kubernetes/cloud-provider-openstack/pull/1826

https://groups.google.com/g/golang-announce/c/-cp44ypCT5s/m/wmegxkLiAQAJ

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2022-04-14 08:24] apricote commented on #1196
/milestone v0.6

[2022-04-14 08:30] #1203 closed

[2022-04-15 09:43] #834 closed

[2022-04-19 08:43] #1196 closed

[2022-04-19 16:39] raildo opened #1210 "Specify the subnet id for the External Network using the external cloud provider"
/kind feature

Nowadays, CAPO will always choose the first subnet given the `OPENSTACK_EXTERNAL_NETWORK_ID` based on the current code [0]. Would be nice to have a new configuration option, something like `OPENSTACK_EXTERNAL_SUBNET_ID` where we could specify on which subnet of the external network, we want the cluster to get a Floating IP.

The use case that I have is when there is no floating IP a

[2022-04-20 07:28] bavarianbidi commented on #1045
@nikParasyr as the current `occm` implementation is doing `case 4` (https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/openstack/loadbalancer.go#L1467-L1470) i would prefer this implementation as the underlying openstack objects (CAPO managed LB and OCCM managed LB) behave/look more or less the same. WDYT?

[2022-04-21 00:48] jichenjc commented on #1210
um... not sure fully understand this , but follow your [0]
makes me think you want to do on `ExternalRouterIPs` then read your description again seems you want to work on `ExternalNetworkID ` which are 2 different concepts to me

and I guess you want to work on `ExternalNetworkID ` then yes ,provide a subnet ID seems reasonable (but will openstack use 2nd subnet if 1st used up so anyway 2nd subnet

[2022-04-21 13:34] #1192 closed

[2022-04-22 12:57] bavarianbidi commented on #1045
hey @nikParasyr i will work on it.

This are my first thoughts about it.

## `spec`

adding a List to the `APIServerLoadBalancer` struct

[code]

## implementation

## questions/thoughts

### beside `6443` it's possible to define multiple listeners via `additionalPorts`

should we apply the firewall policy to all listeners for now or only to the api server?
Is it a valid use-case to have different

[2022-04-22 13:13] apricote commented on #1188
/assign

[2022-04-22 13:35] chrischdi commented on #1045
One  thing about wether writing back to spec or status: IMHO writing back to spec is a bad pattern and would break/not work when using ClusterClass. CAPA already encountered an issue there if I remember correctly.

Having a field in status too may be good to prevent unnecessary API calls so the controller would be able to do the diff and only do calls to Openstack if there had been a change to the

[2022-04-22 18:36] raildo commented on #1210
Probably, I pointed out to the wrong code link on [0] when I was trying to find the related code, but you're right on the second statement. When we have a deployment multiple subnets on the external network, I'm looking forward to be able choose on which subnet I want the cluster to grab a Floating IP, that's my suggestion on including that new param `OPENSTACK_EXTERNAL_SUBNET_ID` (or any other si

[2022-04-25 01:14] jichenjc commented on #1210
/assign

ok, let me give a try

[2022-04-26 03:14] #1188 closed

[2022-04-26 09:12] #1197 closed, assigned to apricote

[2022-04-26 12:23] tfussell opened #1220 "Root volume source UUID is incorrectly mapped to image instead of imageUUID in CRD conversion"
/kind bug

**What steps did you take and what happened:**

I upgraded my self-managed management cluster from CAPO v0.5.3 to a pre-release build of v0.6.0 based on the `main` branch. Following this upgrade, scaling up the worker MachineDeployment resulted in newly created `OpenStackMachine`s in a `Failed` state due to the following error:

[code]

**What did you expect to happen:**

I expected `Op

[2022-04-26 12:49] mdbooth commented on #1220
Thanks for testing early!

[2022-04-26 14:34] MPV opened #1221 "Configurable api server loadbalancer monitor"
/kind feature

**Describe the solution you'd like**

Currently the OpenStack loadbalancer ***monitor*** for the API server created by CAPO has hardcoded settings, as seen in:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/944b2658fb11e8212aab43e5bbf112b15a8bb75a/pkg/cloud/services/loadbalancer/loadbalancer.go#L223-L230

In other words, `Delay: 30, Timeout: 5, MaxRetries: 3`

[2022-04-27 02:45] jichenjc commented on #1221
so seems we should recommend anti-affinity anyhow  (I knew OCP might do this ,but CAPI might not?)

so your request is to consider decrease the max_retry so that it will at least be considered uprunning when we detect
it's healthy again? so that the down time will be smaller than current setting?

[2022-04-27 05:15] bavarianbidi opened #1222 "rootVolume is defined in instance.spec but Instance got created from Image"
/kind bug

**What steps did you take and what happened:**
We upgraded a self-managed management cluster from CAPO v0.5.3 to a pre-release build of v0.6.0 based on the main branch. To work around #1220, we created a new `OpenStackMachineTemplate` with following spec:

[code]

**What did you expect to happen:**

A new `OpenStackMachine` which get created from a volume (instead of an Image).

**Anyth

[2022-04-27 10:12] mdbooth commented on #1222
I'm investigating this now. We do actually have an E2E tests that checks the resulting volume is attached to the instance. I wonder if:
* The instance is really BFV, it just has an image defined
* The instance is boot from image with an additional volume attached 😬

[2022-04-27 10:46] mdbooth commented on #1222
Looks like the E2E test is testing the right thing. Looking at a recent test run from CI I can see this in the devstack logs:

[code]

@bavarianbidi Are you able to log in to one of these machines and check manually how many disks it has? I wonder if this is a Nova quirk. I'm just going to have a look at the relevant Nova code.

[2022-04-27 11:32] bavarianbidi commented on #1222
@mdbooth

the 100Gib Disk is a disk of a attached `PV`. So only one disk

[code]

output of `openstack server show`

[code]

[2022-04-27 12:14] raildo commented on #1210
Cool! Thank you, I'm able to test it, if needed, in a real openstack cloud before we merged it. Just let me know :)

[2022-04-27 12:18] mdbooth commented on #1222
Ok. It's still weird, though. I'm inclined to make a change to not set the image id on the server when using a boot volume.

[2022-04-27 14:10] #1222 closed

[2022-04-27 14:34] bavarianbidi commented on #1222
can confirm that current `main` (62e23730a95b229319e323dd6f857abba14de9f6) branch solves the issue:

[code]

[2022-04-27 14:37] bavarianbidi commented on #1220
as #1223 got merged, we can close this issue now (wondering why this wasn't done by prow :shrug: )

[2022-04-27 14:39] #1220 closed

[2022-04-27 18:53] MPV commented on #1221
Yes, and possibly discussing what sane defaults would mean.

From our side we're only running a few clusters using CAPO. I suspect there may be others with more experience that maybe could chime in with related thoughts/experience?

One related challenge with CAPI/CAPO is that it uses/asks the API server about cluster details in order to manage it, hence having downtime of the Kube API LB means CA

[2022-04-28 09:11] jichenjc commented on #1210
sorry for the confusion, I read the doc and code again and looks like I misunderstand the code a little bit at beginning
in your case [0] ,actually that's logic only when [1] is True

so have you tried openStackCluster.Spec.ExternalRouterIPs.Subnet.UUID to your subnet ID directly
thus the UUID will indicate the subnet you choose?

[0] https://github.com/kubernetes-sigs/cluster-api-provider-opensta

[2022-04-28 11:59] raildo commented on #1210
I haven't tried changing this ID directly. Is there a way to do it using the external template, or should I change the openStackCluster.Spec.ExternalRouterIPs.Subnet.UUID directly after the clusterctl generate? I can give it a shoot here and see how it goes. I can poke you on slack if you want to as well, if you prefer.

[2022-04-28 13:14] jichenjc commented on #1210
I think you can give a try after generate, we use yaml file to apply and that clusterctl is just for simple creation
sure, ping me any time and reply you when I see it :)

[2022-04-29 12:46] mkjpryor opened #1230 "Clusters without bastions do not reconcile"
/kind bug

**What steps did you take and what happened:**
Deployed a cluster at 0.5.3, then rolled out 0.6.1. The `capo-controller-manager` entered a crash-loop with the following panic:

[code]

**What did you expect to happen:**
The controller to upgrade the resources.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2022-04-29 12:51] mkjpryor commented on #1230
@mdbooth It looks the same to me. I have submitted a patch.

[2022-04-29 16:12] mdbooth commented on #1230
It's not the same, although those controller tests are the right place to find this kind of bug.

[2022-04-30 06:39] lentzi90 commented on #1230
This is the error I was working my way up to. I have encountered it and wanted to add some tests before I attempted to fix it. But it is not the reason the test in #1199 is failing (that is because there is no openstack API to talk to).

[2022-05-03 07:47] #1230 closed

[2022-05-05 12:34] danrca commented on #1230
Looks like I hit this issue as well.

What steps did you take and what happened:
Was working through the quickstart guide. Dropped it down to 1 machine since I was having issues with working machines coming up. It was complaining about certs, so I added "verify=false" to ignore that for the time being. This is on openstack without a loadbalancer.

clusterctl generate cluster capi-quickstart --flav

[2022-05-05 13:02] mdbooth commented on #1230
@danrca Should be fixed in v0.6.2 (released earlier today)

[2022-05-09 11:26] bavarianbidi opened #1238 "Webhookconfiguration for v1alpha5 is missing in the released infrastructure.yaml"
/kind bug

Validating- and MutatingWebhookConfiguration for `v1alpha5` is missing.

**What steps did you take and what happened:**
Applied the already released [`infrastructure-components.yaml`](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/releases/download/v0.6.2/infrastructure-components.yaml)

**What did you expect to happen:**
A WebhookConfiguration which takes care of `v1

[2022-05-10 11:59] #1238 closed

[2022-05-12 02:25] jichenjc opened #1242 "move from lint to some tools else"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We are using golint to lint the project which [is deprecated](https://github.com/golang/lint/blob/master/README.md).
should consider some other tools

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-05-12 18:35] bavarianbidi commented on #1116
/remove-lifecycle stale

[2022-05-13 01:07] #1242 closed

[2022-05-19 18:23] Xenwar opened #1245 "Specify security groups by name at Port level"
As a user, I would like to specify security groups by name instance creation time.

As we have it now, it is possible to specify security groups at `port level `using uuids. However, the instance level setting is more flexible in that it allows specifying security groups using other parameters as shown below.

[code]
It would be useful if this feature is also added at port level.
This can be archi

[2022-05-19 18:56] Xenwar commented on #1245
There is no restriction on using UUIDs on both instance and port level. My wish is to use NAME as well, which is not supported at port level.

[code]

[2022-05-19 20:07] mdbooth commented on #1245
Got it. It's just that names are a bit messy to use and we prefer UUID where possible. I'm wondering if there's any reason why you *can't* use a UUID here?

[2022-05-19 20:12] Xenwar commented on #1245
Two reason,
1. We have a use case for that.
2. Avoiding an extra api call to get the UUIDs when generating the manifests.

[2022-05-20 07:17] Xenwar commented on #1245
I should also add the filter options. The change would help provide more options to select existing security groups, in addition to the Name I mentioned earlier.
[code]

[2022-05-20 10:41] jichenjc commented on #1245
ok ,I think you want to achieve is you might create 10 sec group with some pattern then
use the filter to select some of them when create VM ,that might be helpful to avoid update the uuid again and again, correct?

and if we add 2 filters the older and newer field, what's the `and` `or` logic for them?
filter the IDs first then filter with new field or use ID directly and ignore filter?

[2022-05-20 10:46] Xenwar commented on #1245
Yes, that is one case. We can also use other fields in `SecurityGroupFilter` to get more granularity.
My wish was to deprecate the old field as it does not provider any new information (uuid is already included in new field). But, I did not remove for fear it might affect other already using it.

Currently, my [PR](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1246), combi

[2022-05-25 08:59] apricote opened #1248 "Conversion for OpenStackClusterTemplate is missing (v1alpha4 -> v1alpha5, ClusterClass)"
/kind bug

**What steps did you take and what happened:**

- Have existing management cluster running CAPO v0.5
- Create Cluster using ClusterClass
- Upgraded existing management cluster to CAPO `v0.6.3`
- Check out logs for capo and capi and see following error messages:

From `capo-controller-manager`:
[code]

From `capi-controller-manager`

[code]

**What did you expect to happen:**

Did not ex

[2022-05-25 11:38] #1248 closed

[2022-05-25 16:09] Xenwar opened #1251 "Deprecating/Replacing securityGroups field from OpenStackMachineTemplate ports"
/kind feature

**Describe the solution you'd like**
With the PR https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1246, we have introduced a new field
`OpenStackMachineTemplate.spec.template.spec.ports.securityGroupsFilters.`

Before that, there was only one such field, OpenStackMachineTemplate` .spec.template.spec.ports.securityGroups` which is a lit of UUIDs.

I would like t

[2022-05-25 16:12] Xenwar commented on #1251
/assign @mdbooth

[2022-05-27 06:13] jichenjc commented on #1251
given we are still alpha version, I think we didn't guarantee the version compatible (actually we already did so)
thus, I see no reason we can't do it given the previous PR is already merged and it covers the deprecated feature

[2022-05-27 07:57] Xenwar commented on #1251
@jichenjc Thanks.

[2022-05-27 08:00] apricote commented on #1251
Making these changes to the CRD is breaking change which requires a new version of the CRD (probably `v1alpha6`?)

[2022-05-27 08:44] mdbooth commented on #1251
Yes, definitely!

[2022-05-27 08:45] mdbooth commented on #1251
However, I do think it's appropriate to make these consistent.

[2022-06-01 09:15] mkjpryor opened #1252 "Allow clusters without explicit availability zones"
/kind feature

**Describe the solution you'd like**

Currently, CAPO machines require that a failure domain (availability zone) is specified. However there are a number of cases where this results in a sub-optimal user experience, IMHO.

In my particular target case, we are using traits, flavors, host aggregates and project isolation filters to ensure that VMs land on hypervisors that the project

[2022-06-05 08:32] ruifaling opened #1254 "delete port left over by error openstackmachine"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
This is an abnormal scenario: the VM creation fails, but the port creation succeeds. In this case, the port will be left when the cluster  is deleted

**What did you expect to happen:**
In this case,we could delete port by subnet

**Anything else you would like to add:**
[Miscellaneous i

[2022-06-06 03:42] jichenjc commented on #1254
so you are suggesting `clean` all the resource in one reconcile loop
or we can keep the port and let the VM deploy again with same port?

[2022-06-06 07:21] erkanerol commented on #1254
@ruifaling And then the left-over port blocks network deletion and cluster deletion. Right?

[2022-06-06 08:30] mkjpryor opened #1256 "Use a server group to ensure anti-affinity for control plane nodes"
/kind feature

**Describe the solution you'd like**
We should put control plane nodes in a server group with the soft anti-affinity policy to decrease the risk that a hypervisor failure takes out the whole control plane.

This becomes more important once #1252 is merged, but is something that I think we should do even when using explicit AZs.

**Anything else you would like to add:**

[2022-06-07 03:52] jichenjc commented on #1256
I knew OCP seems has such by default, are you suggesting we should default it in our template or in the code directly?

https://github.com/openshift/installer/blob/master/docs/user/openstack/README.md#using-a-server-group

[2022-06-07 07:35] mkjpryor commented on #1256
@jichenjc

IMHO, it would be nice if we could manage a server group for the control plane nodes. It would be better for the "Infrastructure-as-Code" approach to have the whole thing defined in Kubernetes resources, rather than having to make the server group ahead of time.

[2022-06-08 02:02] jichenjc commented on #1256
yes, we have such definition in api/v1alpha5/openstackmachine_types.go
[code]

I think maybe we can refer to other impl, like sec group we did, a bool var to control whether we create for customer
if the bool is true, we create server group and honor the ID to each control plane node
if it's false, let customer decide whether they need such ..
and during deletion phase, delete the server group all

[2022-06-09 04:36] tranthang2404 opened #1259 "CAPO need delete any timeout resources or create fail"
/kind bug

**What steps did you take and what happened:**
When I has experience with CAPI and CAPO, I created some clusters but it isn't smooth.

Some usecases I got:
- Fail to create LB and CAPO wait the status of LB and don't recreate it ==> Cluster cannot provision
- Timeout to create VM and CAPO don't check it, CAPO only throw an error to status OpenstackMachine and not recreate or delete this

[2022-06-09 08:30] ruifaling commented on #1254
I think we cloud remove it when the cluster is being deleted

[2022-06-09 08:31] ruifaling commented on #1254
yes

[2022-06-10 10:07] mdbooth commented on #1256
For the control plane we certainly have the opportunity to create and manage this server group: the server group will have the same lifecycle as the cluster, so it can be managed with the cluster.

For machines in a machineset it is not currently possible to do this in CAPI as far as I'm aware. I have previously mooted the possibility of some CAPI object whose lifecycle spans multiple machines. Th

[2022-06-12 16:53] #1064 closed

[2022-06-13 19:21] kopiczko opened #1261 "Support Flatcar linux for nodes"
/kind feature

**Describe the solution you'd like**
I would like to be able to use Flatcar linux for the control plane and worker nodes with CAPO.

**Anything else you would like to add:**
I was already able to bring up a working cluster. There is also image-builder PR I'm working on https://github.com/kubernetes-sigs/image-builder/pull/907. I'd be happy to work on this.

[2022-06-14 06:35] jichenjc commented on #1261
CAPO should already support ignitions (OCP use it) though I am not sure we have such e2e test so far..

[2022-06-14 08:42] mdbooth commented on #1261
I think this would be a kubeadm feature? What patches might we need in CAPO to support this?

[2022-06-14 08:54] invidian commented on #1261
If Ignition is already supported, then hopefully it should be similar to CAPZ, where we only add templates + e2e tests.

[2022-06-14 08:57] kopiczko commented on #1261
I was already able to create a working cluster:

[code]

From CAPO side it's only about providing templates and documentation I think.

[2022-06-15 07:37] xinity opened #1262 "kubelet won't start on ubuntu 20.04"
/kind bug

**What steps did you take and what happened:**
creating an ubuntu 20.04 compatible image for CAPO, kubelet doesn't start, with a weird message:
`could not init cloud provider openstack: warning: can't store data at section global,variable tls-insecure`

**What did you expect to happen:**
kubelet to be perfectly up and running

**Anything else you would like to add:**
ubuntu 20.04 image

[2022-06-15 11:48] xinity opened #1264 "panic: runtime error: invalid memory address or nil pointer dereference"
/kind bug

**What steps did you take and what happened:**
`kubectl delete cluster capi-quickstart`

output of control manager is:
[code]

**What did you expect to happen:**
the CAPO cluster to be completely delete

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster API Provider OpenStack version (Or `git rev-pars

[2022-06-15 13:09] #1045 closed

[2022-06-15 13:13] apricote commented on #1105
The spec has been refactored to allow for more options. Please create new issues for any specific features that should be added.

/close

[2022-06-15 13:13] #1105 closed

[2022-06-15 13:16] lentzi90 commented on #1093
/assign @lentzi90

[2022-06-15 13:29] mdbooth commented on #1011
/assign me
/milestone v0.7

[2022-06-15 13:29] mdbooth commented on #1011
/assign mdbooth

[2022-06-15 13:38] seanschneeweiss commented on #1221
/good-first-issue

[2022-06-15 13:46] apricote commented on #1148
/remove-lifecycle stale
/kind feature

[2022-06-15 13:47] seanschneeweiss commented on #1148
/remove-kind bug

[2022-06-15 13:52] apricote commented on #1254
/assign ruifaling

[2022-06-15 14:06] apricote commented on #1259
We have an issue for the CAPO VM Retries here: #1116. For further problems you might be able to leverage [CAPI MachineHealthChecks](https://cluster-api.sigs.k8s.io/tasks/healthcheck.html) for recreating machines if they do not become ready within some timeout.

[2022-06-15 14:06] mkjpryor commented on #1143
This is still a problem. We have a workaround that works for our specific use case, but it uses mechanisms outside of CAPI to do it so is not really a fix.

[2022-06-15 14:29] apricote commented on #1103
/assign

[2022-06-15 18:29] kopiczko commented on #1261
Cross-posting here https://github.com/kubernetes/cloud-provider-openstack/issues/1923

OCCM doesn't start from helm chart with default values as of right now :(

[2022-06-16 03:17] jichenjc commented on #1210
@apricote check above comments, I think existing way can achieve the functions so I didn't submit a PR
waiting for validation on the way proposed above now

[2022-06-16 03:28] tranthang2404 commented on #1259
Because I can't  provision a Cluster with some timeout LB, VMs so I want to know a solution to make a ready cluster with one file manifest without do something.

Now, I see MachineHealthChecks can help to recreate the VM but it cannot recreate the LB.

[2022-06-16 03:29] tranthang2404 commented on #1259
Thanks, How about recreate LB. Does It have the same solutions?

[2022-06-16 13:43] raildo commented on #1210
Hey all, sorry for the late response. Unfortunately I was not able to uses the openStackCluster.Spec.ExternalRouterIPs.Subnet.UUID during the previous tests. I'm not sure if someone else can tests it as well, or if you guys want we can pair or try to setup some test env to give it a try.

[2022-06-16 15:32] mkjpryor commented on #1252
This makes a lot of sense. For me, I prefer a solution whose default behaviour is backwards compatible as it means we can merge it without making a new API version. But I am happy to implement either version.

@mdbooth and others - let me know if you have a preference.

[2022-06-17 02:01] jichenjc commented on #1262
your error likely comes from https://github.com/kubernetes/cloud-provider/blob/master/plugins.go#L167

I think some cloud provider settings might be wrong but with limitted info, this is only guess
you might want to check your cloud-provider (external??) settings and see anything interesting

[2022-06-17 02:15] jichenjc commented on #1210
ok, I will try this later when got some time, fully occupied now :(

[2022-06-17 07:04] zioc opened #1265 "Machine controller permanently moves Floating IPs over controllers"
/kind bug

I was attemtping to use CAPI/CAPO on an openstack platform that doesn't provides loadbalancer API, and expected to use floatingIP
to reach the API server.

For that purpose I was using following parameters in OpenstackCluster:
  disableAPIServerFloatingIP: false
  apiServerLoadBalancer: {}

It turns out that openstackmachine controller is permanently moving floating IP overs the master

[2022-06-17 10:55] jichenjc commented on #1265
we have this logic
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/1adc0ff42aea58a5a957ab9f22f3dcf4b73a9368/pkg/cloud/services/networking/floatingip.go#L125

which means the port will be checked with the floating ip and port ID ,
do you mind search for this log and see what it printed?
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/1adc0ff42aea58a5a95

[2022-06-17 11:08] xinity commented on #1262
@jichenjc for now the cloud provider is defined as : `openstack` if i use the external provider template, kubelet starts , but i can't scale up my control plane, because the `unitiallized:true` taint isn't removed

[2022-06-17 11:16] pierreprinetti opened #1266 "docs: CLUSTER_API_OPENSTACK_INSTANCE_CREATE_TIMEOUT is in minutes"
/kind bug

**What steps did you take and what happened:**
Set `CLUSTER_API_OPENSTACK_INSTANCE_CREATE_TIMEOUT` as if they were seconds, and it had no effect.

**What did you expect to happen:**
I expected instance creation to fail once the timeout was set to 1.

**Anything else you would like to add:**
This is a documentation issue: the docs should mention that the value is expected in minutes.

[2022-06-17 12:05] jichenjc commented on #1262
check this https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/templates/cluster-template-external-cloud-provider.yaml and
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/docs/book/src/topics/external-cloud-provider.md

external cloud provider is the future

[2022-06-17 13:06] #1266 closed

[2022-06-20 06:28] bavarianbidi commented on #1116
CAPZ reconciles machines, if they are in a transient error:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/0c85feca9ee6f8ba4e566b959bd50981d80a79eb/controllers/azuremachine_controller.go#L304-L324

[2022-06-20 10:31] jichenjc commented on #1210
opened https://github.com/gophercloud/gophercloud/issues/2425 for subnet ID into floating ip creation

for now, can you help to use `APIServerFloatingIP` as workaround so that you can select from 2nd subnet on the floating ip specificly?

[2022-06-20 12:29] zioc commented on #1265
``I may misunderstood, but from what I see in current controller code, as soon as a control plane machine get reconciliated, it attempts to associate the floating IP with the machine that is being reconciliated.

With a single controller, it will works properly as the condition that you were pointing is always true. But as soon as another controller VM gets reconciliated, it'll see that the floati

[2022-06-20 12:52] mdbooth commented on #1265
It sounds like we've got a problem of expressiveness here. We expect all the control plane nodes to be the same and deterministic, but that isn't the case when you've got multiple control plane nodes with only one of them having a floating ip. With our current model we should probably be restricting the control plane to a single node when not using a load balancer, because it looks like we can't s

[2022-06-20 18:35] zioc commented on #1265
I agree that having a single floating IP pointing to a specific control plane node is definitively not a production grade solution, and VRRP or BGP based options would be much better! For that purpose, I was wondering whether MetalLB could be deployed as a ClusterResourceSet and used for external API access? I haven't yet tried that option, but i'd like to give it a try if it makes sense.

Regardi

[2022-06-20 19:21] mdbooth commented on #1265
Unfortunately not directly that I'm aware. IIUC Metal LB provides service load balancers. i.e. It requires an apiserver to operate and therefore can't loadbalance the api VIP. I'd be delighted to be wrong about that, though, so if you know better please chime in!

...

That's the problem. You'd need something to trigger the machine reconciliation loop and, in ideal circumstances, nothing will do t

[2022-06-21 10:51] tranthang2404 opened #1269 "Cann't associate floating IP to Loabalancer"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I create a cluster with define subnet_id, network_id, external_network_id and not define NodeCIDR, but it make provision cluster stuck in reconcile Loadbalancer.
- Logs CAPO: ``` events "msg"="Warning"  "message"="Failed to associate floating IP xx.xx.xx.xx with port xxxyxy-xxxx Resource

[2022-06-21 11:09] phamchien94 commented on #1269
I am also facing this problem. Are there any parameters to deal with vlan (external) network id and vpc network both set?

[2022-06-21 13:30] apricote opened #1270 "Add v1alpha6 API types"
/kind feature

Now that v0.6 with the new API version v1alpha5 is released, we want to create a new API Version `v1alpha6`. This API Version will be published with the next CAPO version v0.7.

[2022-06-22 02:08] jichenjc commented on #1265
will this be a workaround unless we found other desired way to solve this through proposed VIP way?
at least it can provide a way to mitigate the problem from the context I read

[2022-06-22 02:09] jichenjc commented on #1265
I think we should add a check and warning on such for now .. yes , it's a problem

[2022-06-22 13:48] Frankkkkk commented on #1264
Same issue here:
[code]

[2022-06-22 21:20] mdbooth commented on #1264
Looks like ManagedSecurityGroups is set, but we haven't created a security group. We should definitely guard that.

[2022-06-23 03:33] jichenjc opened #1274 "Support different CNI plugin"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

we use calico by default now , e.g the security group is set to calico now
as we envolve, support multiple CNI is reasonable way to move forward

at least, I am thinking about add
https://github.com/kubeovn/kube-ovn for now ...

**Anything else you would like to add:**
[Miscellaneous

[2022-06-23 03:33] jichenjc commented on #1274
/assign

[2022-06-23 13:27] jichenjc commented on #1265
The replices of control plane is defined in KubeadmControlPlane
technically we can get it but seems we add such restriction doesn't make too much value

so I think it's more reasonable to just stick the FIP to the first VM (so check fp != nil) case
and warn user they need use LB or the floatingip can't guarantee the HA of controlplane case
of course we can assign the floating ip when we use MHC fi

[2022-06-24 04:44] bavarianbidi opened #1278 "Define a loadbalancer flavor name for the API server"
/kind feature

**Describe the solution you'd like**
Our IaaS-provider provides multiple flavors for loadbalancers. To make use of one of them, in the create-call the `flavor` must be given, e.g.:

[code]

Similar to #1221 we would like to make the API Server more configurable.

CPI Openstack already has support for this: https://github.com/kubernetes/cloud-provider-openstack/blob/master/pkg/openst

[2022-06-24 05:07] bavarianbidi commented on #1221
would be great to allign the names in the spec as good as possible with the already existing one in [CPI](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md#load-balancer)

[2022-06-26 19:26] #1270 closed

[2022-06-27 10:38] #1254 closed

[2022-06-27 12:14] lentzi90 opened #1280 "Panic in reconcile with log level 7 and node on IPv6"
/kind bug

**What steps did you take and what happened:**

- Set `-v=7` as an argument in CAPO's manifest and
- Add an IPv6 port in the OpenStackMachineTemplate
- CAPO crashes with `panic: key is not a string: 6`

**What did you expect to happen:**

CAPO should not crash.

**Anything else you would like to add:**

The issue comes from [this line](https://github.com/kubernetes-sigs/cluster-api-prov

[2022-06-27 12:16] lentzi90 commented on #1280
/cc @mdbooth as you probably knows this code best.

[2022-06-28 03:14] jichenjc commented on #1116
I like the CAPZ idea and I think we can follow CAPZ ..the question become how to define the trasient or persistent .

[2022-06-28 06:25] jichenjc commented on #1280
should be %d from
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/pkg/cloud/services/compute/instance_types.go#L70

[2022-06-28 07:09] jichenjc commented on #1280
from https://docs.openstack.org/api-ref/compute/?expanded=show-server-details-detail#show-server-details
the version seems to be int ..

[code]

[2022-06-28 07:17] seanschneeweiss commented on #1116
I'm out of office this week. So if anyone finds time this week already, I'm happy to join them next week.
Otherwise I can start with this after being back.

[2022-06-28 07:33] apricote opened #1282 "Cluster API v1.2"
Cluster API v1.2 [beta.0] and [beta.1] have already been released, the normal release is scheduled to happen within the next month. We should migrate CAPO to use CAPI v1.2(.0-beta.1), by following the [migration guide for providers](https://release-1-2.cluster-api.sigs.k8s.io/developer/providers/v1.1-to-v1.2.html).

I think it makes sense to split this into three (mostly independant) PRs:

- [x] U

[2022-06-28 10:05] lentzi90 commented on #1280
Thanks for working on this @jichenjc !
I think the error is not because of the format string type actually. It is that this logger does not use a format string at all!
Here is what I found in [the documentation](https://pkg.go.dev/github.com/go-logr/logr@v1.2.0#Logger.Info):

So we are passing it `string`, `float64` and `float64`, but it expects `string`, `any`, `string`, `any`, ...

There are som

[2022-06-28 11:59] mkjpryor commented on #1274
@jichenjc

Don't forget this flag that I added: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/api/v1alpha6/openstackcluster_types.go#L113

I added that so that I could use Cilium

[2022-06-28 12:02] mkjpryor commented on #1252
@mdbooth

I'm still keen to progress this as it is a blocker for our use case. I am still happy to make the changes and, as stated above, I have a preference for maintaining backwards compatibility by default.

[2022-06-28 12:49] jichenjc commented on #1274
ok, great ~ Thanks for the reminder~

[2022-06-30 07:47] Goend opened #1286 "Ability to mount additional volumes"
/kind feature

**Describe the solution you'd like**
openstack template  only has rootvolume, but i want to my own volume

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-06-30 09:00] mdbooth commented on #1286
Is there any reason you wouldn't just use a bigger root volume?

[2022-06-30 09:26] Goend commented on #1286
Because etcd has high requirements on the performance of the disk, on a disk, I am worried that other programs will affect it.And in our environment, we will give the etcd    high performance disk, but the system  disk  cannot use high performance  disk

[2022-06-30 09:39] mdbooth commented on #1286
Is this something you've tested? Did it fix the etcd problem? How would you configure the install image to mount the disk? What volume configuration did you use for improved performance?

This would be quite an invasive change. I can see the potential, but I'd want to be sure it's fixing a real problem before even thinking about the design.

[2022-06-30 15:09] amapi opened #1289 "provision VM on NON external network/subnet"
/kind bug

**What steps did you take and what happened:**
Unable to provision VM on INTERNAL network.

On our openstack network are like this

[code]

We do not use EXTERNAL network.

We only want to VM to be linked to subnet-0a,subnet-0b,subnet-0c.

bu cluster API absolutely want to create a NEW network. even with filter

[code]

it seams filter does not work

**What did you expect to happen:**

[2022-06-30 16:39] mdbooth commented on #1289
Do you get the same behaviour if you define ports instead of networks, btw? Either way, please could you share the OpenStack json of the resulting server?

[2022-06-30 16:43] amapi commented on #1289
sorry i cant send you the json, because the server is never spawn :(

and yes, i have same behavior with port, it is like i can only use external network :( but, its not an option on our infrastructure. We cant

[2022-07-01 02:11] Goend commented on #1286
This is a feature so I haven't tested it. The etcd community document recommends the use of ssd disk. We only need to support user disk mounting. As for how users use it, I think users can add partitions and initialization to the disk in the cloud.init file.

[2022-07-01 03:03] jichenjc commented on #1286
I knew the ETCD requirement .e.g SSD (OCP seems also has that)

basically I think we need 2 things
1) volume attach including other lifecycle actions
2) how to make the attach disk become k8s use

does cluster-api has #2 already e.g kubadm setup?

[2022-07-01 03:29] jichenjc commented on #1289
I remember we added `provider network` instead of `tenant network` before

https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/controllers/openstackcluster_controller.go#L410

is the line that we will query network instead of create them, did you have chance to check CIDR setting and
the logs in the pod that fit for those code?

[2022-07-01 06:23] Goend commented on #1286
I think step 2 is too hard to achieve, so it should be implemented by users themselves

[2022-07-01 06:38] Goend commented on #1286
Since we don't know how the user wants to mount the disk and how many  disk, we should probably be more general and not just consider etcd, since I don't know much about this, you can ignore it

[2022-07-02 14:19] #1280 closed

[2022-07-03 09:45] jichenjc commented on #1286
ok, again, I think the add volume still have value for some potential use cases, e.g
CSI local storage might be helpful , we create /dev/vdb so that the local storage operator might consume it ..

[2022-07-04 06:40] jichenjc commented on #1274
the idea is to e.g make different yaml for rules like this

e.g for default rule create default-rule.yaml
for all in, create all-in-rule.yaml
for calico , apply calico.yaml

so we have the flexibility to update and modify

[code]

[2022-07-05 00:43] jichenjc commented on #1286
I used the volume as source for local persistent storage source, this might be helpful
(so that we don't need CSI in some cases..) this might be a use case

[code]

[2022-07-06 12:28] braghettos commented on #913
I'm trying to enable port security but it is not taking effect:

[code]

The field 'port_security_enabled' is still False:
[code]

[2022-07-06 12:42] cunningr commented on #1116
Hi.  i am reading this thread trying to figure out how I can reset the osm `status` today.  We had an Openstack API outage, some compute nodes have been rebooted and several osm's have been detected `SHUTOFF`.

[code]

The instances have been recovered and are now up but the `OpenStackMachines` are stuck in this error state.

I am curious if there is anyway to recover those without deleting the Ma

[2022-07-06 12:46] erkanerol commented on #1116
@cunningr We started to use `kubectl patch --subresource='status'` command to remove `failureReason` and `failureMessage` from the CRs. `--subresource` flag is added to kubectl with 1.24 version. FYI.

[2022-07-06 20:31] cunningr commented on #1116
Thank you @[erkanerol](https://github.com/erkanerol)!  Apologies but I am little new to Cluster API.

Looking at the script above, we seem to be modifying all `machines` and not just the target cluster?  Our CAPI cluster is managing multiple workload clusters and I rather if we could just target a single cluster for remediation if possible.

Is it that we need to disable remediation for everything

[2022-07-07 09:01] erkanerol commented on #1116
The script I shared removes errors from CRs of a single WC in a specific namespace.  The remediation thing is to disable `MachineHealthCheck` controller temporarily while fixing machines. Otherwise, the controller can start deleting&recreating machines in the middle of the process according to `maxUnhealthy` value.

I want to also emphasize that it is just a workaround until we get a real fix from

[2022-07-15 07:52] bavarianbidi opened #1298 ":sparkles: bastion should be mutable"
/kind feature

**Describe the solution you'd like**
**tl;dr:** changing values in `OpenStackCluster.Spec.Bastion` should be possible without doing the _disable_/_enable with new spec_ foo

We know the fact, that it's currently possible to e.g. change the image of the bastion host by disabling the host and afterwards re-enabling the host with the new spec again.
But this circumstance doesn't really

[2022-07-15 07:54] bavarianbidi commented on #1298
cc @kopiczko / @erkanerol

[2022-07-15 07:55] tobiasgiese commented on #1298
We already discussed this in https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1070#discussion_r762989832

But let's discuss it here again with a larger audience

[2022-07-15 10:11] kopiczko commented on #1298
Just for the context why we would like to have it:

We have plenty clusters in different providers and we have bastions enabled at all times to make debugging possible. We have tooling built to be able to SSH to a cluster. The tooling doesn't know about the provider and we would like it to stay that way. And bastion enabling in CAPO is very provider-specific thing.

We use immutable OS for bastion

[2022-07-16 07:42] jichenjc commented on #1298
I am +1 to avoid such manual 3 steps in order to do an update to the cluster components like bastion
I Think it make sense to remove the older one then re-create the new one in case anything changed
just like LB or other resource that need

is your use case related to OS upgrade? which is older OS is immutable then sometimes later you want to upgrade the OS image due to compliance etc then gitops

[2022-07-16 10:35] tobiasgiese commented on #1298
So I think a possible solution is to check all bastion specs against the current bastion. If something has changed a re-creation should be triggered, [leaning on this comment from Vince](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/d48d575523c55c504d3380b01d642b1a7d8f5f38/pkg/cloud/services/ec2/bastion.go#L96).

I can to take a look at it
/assign

[2022-07-18 10:39] kopiczko commented on #1298
Yes once image is changed we'd expect bastion to be recreated.

[2022-07-18 19:13] kopiczko commented on #1261
There is no real support for Flatcar in image-builder. Some post-processing has to be applied to the QEMU image. I created an issue: https://github.com/kubernetes-sigs/image-builder/issues/937

[2022-07-18 21:56] seanschneeweiss commented on #842
/remove-lifecycle stale

Time is a bit rare at this moment but I'll hope to work on this very soon. If someone likes to takeover, please do not hesitate to do so.

[2022-07-20 08:58] Goend opened #1306 "[question]I want to set different az to every master node,Can it be done now or do I need to change the code to implement it?"

[2022-07-21 00:35] jichenjc commented on #1306
I didn't try this before but I think it's not supported ?
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/main/controllers/openstackcluster_controller.go#L284
we set the AZ to the whole cluster

And Seems we are using FailiureDomain concept in CAPI for the AZ settings, not sure if we make the AZ into openstackmachine level has any conflict to CAPI concept?

[2022-07-21 10:41] #1298 closed

[2022-07-22 08:21] Goend commented on #1306
ok,thanks,got it

[2022-07-22 08:21] #1306 closed

[2022-07-22 12:44] cwrau commented on #1264
We're hitting the same problem;

[code]

This has started after I created a cluster and immediately delete it, I suspect that's got something to do with it

[2022-07-22 16:30] kopiczko commented on #1261
Can you point me to places where:

* templates can be provided
* e2e tests should be added

[2022-07-22 16:30] kopiczko commented on #1261
There is also this issue https://github.com/kubernetes-sigs/image-builder/issues/939 but we can provider the dropin in the templates for the time being.

[2022-07-23 09:53] seanschneeweiss commented on #1261
The default value for the OpenStack image to use is defined here:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/f040fc433cccbfd654c636e66e8717373a2f294c/test/e2e/data/e2e_conf.yaml#L112
And used in the e2e test, e.g. here:
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/f040fc433cccbfd654c636e66e8717373a2f294c/test/e2e/suites/e2e/e2e_test.go#L686

Ad

[2022-07-23 16:09] mdbooth commented on #1261
What's the goal here? I don't think the OS installed is relevant to CAPO, so I'm not especially interested in adding e2e tests just for the purposes of showing it also works on CAPO.

Or are we talking about adding a new release template which uses Flatcar? In that case we'd probably want a test which uses that template, although it could likely run as a periodic rather than a presubmit.

[2022-07-25 08:19] Goend commented on #1286
Here are some ideas for etcd data disks in capi
https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20200423-etcd-data-disk.md

[2022-07-26 03:11] #1265 closed

[2022-07-26 03:13] Goend opened #1308 "capo pod crash when use trust user"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1.cloud config use trust user id
[code]

**What did you expect to happen:**
1.Pod is Running

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
cloud-provider-openstack
[code]
cluster-api-provider-openstack
[code]

**Environment:*

[2022-07-26 03:40] jichenjc commented on #1286
thanks for the sharing , I read the proposal and seems CAPI does support the infra already
so maybe from CAPO side we need honor those and provide related support for such use case..thanks :)

[2022-07-26 11:24] mkjpryor opened #1310 "Allow the use of flavor IDs as well as names"
/kind bug

**What steps did you take and what happened:**

Tried to make a cluster specifying a flavor ID, which failed.

**What did you expect to happen:**

It to work.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster API Provider OpenStack version (Or `git rev-parse HEAD` if manually built):
- Cluster-API ve

[2022-07-26 13:02] seanschneeweiss commented on #1308
Could you share your pod logs with us, especially the part where it crashes.

[2022-07-30 06:18] tobiasgiese opened #1314 "Improve logging with following CAPI guideline"
There is a new logging guideline in CAPI and following this guideline and making logs consistent with CAPI will improve UX.

Guideline: https://github.com/kubernetes-sigs/cluster-api/pull/6969 / https://main.cluster-api.sigs.k8s.io/developer/logging.html

and this is the CAPI implementation: https://github.com/kubernetes-sigs/cluster-api/pull/6150

/kind feature

**Describe the solution you'd like

[2022-07-30 06:25] tobiasgiese opened #1315 "Migrate to Ginkgo v2 during cluster-api v1.3 bump"
/kind feature

**Describe the solution you'd like**

Starting from CAPI v1.3, Ginkgo v2 will be used (https://github.com/kubernetes-sigs/cluster-api/pull/6906).
For bumping to CAPI 1.3 version, we should also migrate e2e tests to v2.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-07-31 21:33] mkjpryor opened #1316 "Do not set security groups on instances"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently, the managed security groups are added to the instance, not to individual ports. This prevents clusters that have managed security groups from having one NIC with security group rules and one NIC without, as the instance security groups are applied to the second NIC even if